[2016-09-19 04:09] marcosmoura opened #1 "Documentation templates"

[2016-09-19 04:09] #1 closed

[2016-09-19 04:10] marcosmoura opened #2 "Test"

[2016-09-19 04:11] #2 closed

[2016-10-15 00:56] mygnu opened #3 "initialization error"
[code]
gives you the following error
[code]

[2016-10-15 01:01] mygnu opened #4 "please implement date picker"
I've looked at a lot of _vue-material_ they are either old and not compatible with Vue@2 or incomplete and an inconsistent. i like the aim for this package

I would love to see date and time picker implemented as well

[2016-10-15 01:06] marcosmoura commented on #3
Hi Mygnu.

Can you try a different approach? Instead of register a single theme with
register() method try to, temporarily, use the registerAll with only one
theme, like:

Vue.material.theme.registerAll({
  default: {
    primary: 'cyan',
    accent: 'pink'
  }
})

Thank you for trying this project even before the finished documentation.

On Oct 14, 2016 21:56, "Mygnu" <notifications@github.com> w

[2016-10-15 01:11] mygnu commented on #3
[code]
works

[2016-10-15 01:12] marcosmoura commented on #4
Hi Mygnu.

Yeah. This is definitely on my roadmap. I will finish the documentation,
then I will release like as it is and then I will focus on new components.
You can take a look at the projects tab, then you go to New Components and
you'll see all items on my roadmap. It's ordered by the top priority yet
but I'll try as hard as I can to start with those pickers.

Thank you.

On Oct 14, 2016 22:01

[2016-10-15 01:13] marcosmoura commented on #3
I already know what's happening. I'll fix this ASAP. Thank you.

On Oct 14, 2016 22:11, "Mygnu" <notifications@github.com> wrote:

[2016-10-15 01:16] mygnu commented on #3
Hey @marcosmoura I have another question??
what other libraries i need to include to be able to work with vue-material i.e.
materialize.js || jquery.js etc all the other material libs require this. and you might want to add this to the docs as well.
Thank You

[2016-10-15 01:34] marcosmoura commented on #3
You don't need to include any other library. The focus of this project is
to have a standalone build with no external dependence, but aiming to
deliver the best experience without break the compatibility with the Vue.js
core. So you only need to import VueMaterial and you're good to go.

On Oct 14, 2016 22:16, "Mygnu" <notifications@github.com> wrote:

[2016-10-15 01:41] marcosmoura commented on #3
Also I want to make everything cleaner as possible, so the current
dependencies will be dropped in a near future. Everything that depends on
those three dependencies will be develop from scratch and in a "Vue
syntax". I will make Vue Material complete enough to be easy to integrate
with other tools, like vue-validator, for forms for example. :D

On Oct 14, 2016 22:34, "Marcos Moura" <marcosviniciu

[2016-10-15 02:21] mygnu commented on #3
that's awesome man. I'm creating a branch of my project now using vue-material and will implement as things become available..
PS I'm still learning but happy to help where I can.

[2016-10-15 03:01] marcosmoura commented on #3
Oh. Great to hear that. You can follow the updates on this URL too:
http://marcosmoura.github.com/vue-material

Thank you.

On Oct 14, 2016 23:22, "Mygnu" <notifications@github.com> wrote:

[2016-10-15 03:16] mygnu opened #5 "buttons in docs not displayed in firefox 49 and mobile"
Both on local dev server and in https://marcosmoura.github.io/vue-material/#/components/button
don't work in firefox desktop and also Firefox mobile. Chrome is fine on both platforms

[2016-10-15 16:47] marcosmoura commented on #5
Yeah. It still lack some tests. I'll fix this ASAP.

[2016-10-17 01:02] #3 closed

[2016-10-17 01:03] #5 closed

[2016-10-17 19:43] mdartic opened #6 "demo with tooltip doesn't work on Firefox ?"
Hello, and thank you for publishing your great work on material design !

I've tried your github.io, and I'm using Firefox 49.

When I go to https://marcosmoura.github.io/vue-material/#/components/tooltip , nothing really happens.

In fact, an error appear in the console : `i.classList.forEach is not a function` .

It works on Chromium.

Maybe it's not vue-material, maybe it's vuejs, I don't reall

[2016-10-17 20:10] marcosmoura commented on #6
Oh. I see. It lacks some tests, but I already know what is happening. That's because classList doesn't return a ```Array``` but a ```nodeList```. And nodeList types don't have a forEach method.
I'll fix this really soon.

Thank you for trying and report this.

[2016-10-17 22:57] mygnu opened #7 "https://marcosmoura.github.io/vue-material/#/components/avatar code examples swaped"
large and normal classes are in the wrong code example box

[2016-10-17 23:01] mygnu opened #8 "[request] Menu bar to be implemented next"
Can I please suggest that Menu bar to be the next in pipeline as it is required on almost all websites.

[2016-10-17 23:04] marcosmoura commented on #6
Fixed.

[2016-10-17 23:04] #6 closed

[2016-10-17 23:07] marcosmoura commented on #8
Menu bar? Like cascading menus? Or you mean the dropdown menu?
https://material.google.com/components/menus.html#menus-usage

[2016-10-17 23:12] marcosmoura commented on #7
Oh. Yeah. Already fixed.

[2016-10-17 23:12] #7 closed

[2016-10-18 01:05] myronliu347 opened #9 "How to use Themes?"
I am very interested in your theme control,  Can detailed introduction for me ？

[2016-10-18 01:50] marcosmoura commented on #9
Well. In fact you don't need to load anything. The "MdCore" module expose a theme engine. This theme engine generates on the fly all the styles that you need.
When you import VueMaterial using ```Vue.use(VueMaterial)```, you will be able to work with this theme engine.
In your code you can use ```Vue.material.theme.register``` to register your first theme (or default theme).
Like this:
[code]
When

[2016-10-18 01:52] marcosmoura commented on #9
Oh. I forgot to say that renamed this issue title. I think that your question might help another person.

[2016-10-18 01:58] mygnu commented on #8
I was just looking at the new components in projects. Did I miss something

[2016-10-18 02:01] marcosmoura commented on #8
Well. Both components ```md-menu``` and ```md-menu-bar``` are on my roadmap.
The first one will have a higher priority and will look like a ```md-select``` and the second have a behaviour like the Google Docs toolbar.

[2016-10-18 02:02] mygnu commented on #8
Awesome

[2016-10-18 12:20] juppdes opened #10 "Multi Select"
Sorry the question may be stupid, but there is the possibility of it using the "multiselect" already implemented?
Do you have any documentation explaining the properties of each component?

[2016-10-18 12:32] marcosmoura commented on #10
Hi. No, it's not stupid, don't worry.

No. Multi selection it's not there yet but I will prioritize because it's a must have. Also I am describing the API for each component to make it better to understand and I will release it in less than a week.
I will create today some milestones to make easy to track what is going to be developed next.

Thank you!

[2016-10-18 12:51] juppdes commented on #10
I thank you the attention and support!

[2016-10-18 16:52] madasebrof opened #11 "Getting CSS to work with vue-cli"
For the README.md

1. add

import 'vue-material/dist/vue-material.css'

to main.js

2. use

var VueMaterial = require('vue-material')
not
import VueMaterial from 'vue-material'

in main.js

to use with vue-cli (vue init webpack)

ps looks awesome!

[2016-10-18 17:19] marcosmoura commented on #11
Oh yeah. You're right. I think that the documentation wasn't clear enough. I will update this ASAP.
Thank you!

[2016-10-18 18:06] metamet commented on #8
Do you have the roadmap published anywhere? Unfortunately, the applicability of this is limited to me until [data tables](https://material.google.com/components/data-tables.html) are implemented.

[2016-10-18 18:13] marcosmoura commented on #8
Not yet. But I will publish the milestones this week. Just need to fix some bugs and then I will focus on this new components.

[2016-10-18 21:26] jeffstahlin commented on #11
@madasebrof you are a lifesaver. am new to Vue.js and could not figure out why the CSS was only partially working, I had not seen the part about adding the import to the css file. Was about to give up there.

I am currently using ```import VueMaterial from 'vue-material'``` and it seems to work just fine. Could you please explain why using require is the preferred method?

[2016-10-18 22:39] marcosmoura commented on #11
Both examples will work:
[code]
Or
[code]
You should have a task runner like Webpack with css-loader and babel configured, like on vue-cli.
I will update the documentation with this notes. I think that this will clarify.

[2016-10-19 00:54] madasebrof commented on #11
For some weird reason, I am having a hard time with the ES6 import syntax. Running node 5.5.0 on Linux. It seems to work for the normal Vue modules, but not for third party stuff. Need to do some more digging. Again, using 'vue init webpack your_project_name' defaults. I've noticed a bunch of other folks on the web seem to be having similar issues. Could be issue with named exports format, but if

[2016-10-19 13:11] marcosmoura commented on #11
@madasebrof What do you mean by "Vue modules"? Like Vue Router? Have you ever tried to update to node? I'm running with node 6 here and everything is fine with the default configuration and with the most updated version of of vue-cli

[2016-10-19 15:06] madasebrof commented on #11
Sweet. Will update to Node 6.

[2016-10-20 12:01] ktquez opened #13 "Fix Doc"
Hello Mark, blz
Thanks for excellent job in package!

I tried to register the components separately and how was documentation.
`Vue.use(VueMaterial.MdCore); //Required to boot vue material`
Then the components that need, e.g.
`Vue.use(VueMaterial.MdToolbar);`

But I looked at your code and the property only worked, at least in my project, with property starting with a lowercase letter, for example

[2016-10-20 12:48] ktquez commented on #13
Ahhh, in my project I'm using SSR, can possibly be so.
I'm waiting

[2016-10-20 14:07] juppdes opened #14 "Datepicker ?"
Hello friend, plans for the DatePicker?
how you're going to documentation?

[2016-10-20 14:39] marcosmoura commented on #13
@ktquez Yeah. You're right. This is really a  small problem in my package.  I'll change this ASAP.
I never tried those components with ssr, but I think that they will work. Can you give me a feedback about it if you try this before me?

[2016-10-20 14:42] marcosmoura commented on #14
@juppdes This is definitely on my roadmap. I'll fix all the bugs that I have found and then I will be focusing on new components. I will close this issue because we already have one related. #1

[2016-10-20 14:42] #14 closed

[2016-10-20 15:14] GaelS opened #15 "mdIcon not displaying properly"
Thank you for your excellent package, it's really helpful.

I have a question though. I am unable to get mdIcon working properly. Let's say I want to get a _home_ icon, I just get an uppercased text displaying 'HOME'. The css stylesheet is functionnal since I use other components from your package.

What am I missing ?
Thank you for your help !

[2016-10-20 15:19] marcosmoura commented on #15
Well. Maybe on the documentation I wasn't clear enough, but you'll need to include in you index file the Google Icons stylesheets. I have plans to support svg icons but for now it's only work with fonts.
What you need to do it's to only include this link in the ```head``` of your index file:
```html <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">```

[2016-10-20 15:27] GaelS commented on #15
Awesome, thanks !
Documentation could indeed be improved on that point ;)

[2016-10-20 16:07] ktquez commented on #13
@marcosmoura
Using with SSR had some problems but mainly by manipulating the DOM, but fix it using
the `jsdom-global`, e.g.
[code]
This fixes me.

[2016-10-21 18:54] sldobri opened #17 "Vue-material + Laravel gulpfile"
I saw that u use laravel, and I wonder compile the components using gulpfile is possible ??
I would love to use the vue material into a new project I'm implementing.

[2016-10-21 19:35] marcosmoura commented on #17
Well. You can use gulp with Vue Material. It's totally fine and easy. You can use the standalone build and include the ```vue-material.js``` in your HTML or use some other tools like babel or browserify to import the library directly inside your js code. This second option is the best because you can have more control of your dependencies.
If you want to build new components, contribute or change

[2016-10-21 20:22] #11 closed

[2016-10-21 20:27] #15 closed

[2016-10-21 20:27] #13 closed

[2016-10-21 20:30] #9 closed

[2016-10-21 20:31] marcosmoura opened #18 "Cards"
A card is a sheet of material that serves as an entry point to more detailed information.

Specs for [Cards](https://material.google.com/components/cards.html)

![Cards](https://material-design.storage.googleapis.com/publish/material_v_9/0Bzhp5Z4wHba3WFBLZjBNNGpnQzg/components_cards1.png "Cards")

[2016-10-21 20:31] marcosmoura opened #19 "Menu"
Menus display a list of choices on a transient sheet of material.

Specs for [Menu](https://material.google.com/components/menus.html)

![Menu](https://cloud.githubusercontent.com/assets/210413/4068377/515151ec-2e38-11e4-9b7c-548144f2a86a.png "Menu")

[2016-10-21 20:31] marcosmoura opened #20 "Spinner"
Progress and activity indicators are visual indications of an app loading content.

Specs for [Spinner](https://material.google.com/components/progress-activity.html)

![Spinner](https://material-design.storage.googleapis.com/publish/material_v_9/0B7WCemMG6e0VWkJiRjRLbzRNS3M/components_progress_and_activity.png)

[2016-10-21 20:31] marcosmoura opened #21 "Snackbars and toasts"
Snackbars provide brief feedback about an operation through a message at the bottom of the screen.

Specs for [Snackbars](https://material.google.com/components/snackbars-toasts.html)

![Snackbar](https://material-design.storage.googleapis.com/publish/material_v_9/0B7WCemMG6e0VSjZkendtc19iZ2M/components_snackbars.png)

[2016-10-21 20:35] marcosmoura commented on #19
Menus display a list of choices on a transient sheet of material.

Specs for [Menu](https://material.google.com/components/menus.html)

![Menu](https://cloud.githubusercontent.com/assets/210413/4068377/515151ec-2e38-11e4-9b7c-548144f2a86a.png "Menu")

[2016-10-21 20:41] marcosmoura commented on #8
The md-menu component it's already being implemented. Keep track on #19

[2016-10-21 20:41] #8 closed

[2016-10-21 20:42] #18 closed

[2016-10-21 23:24] sldobri commented on #17
I use macOS Sierra with, Laravel 5.3 and to compile the assets Elixir in my gulpfile.

[2016-10-23 10:26] joostlawerman opened #22 "Manipulate toggle buttons"
Is there anny way of manipulating the state of an toggle button for example:

    <md-button class="md-icon-button" @click="toggleBold" :class="{ 'md-toggle': this.state.bold }">
        <md-icon>format_bold</md-icon>
    </md-button>

It should be activated when the state bold is true... but it does not seem to work this way.

[2016-10-23 12:16] msoftware opened #23 "Do you have a grid component in pipeline?"
I like vue-material but I need a grid component to show tables. Do plan to implement something like this?

[2016-10-23 14:12] marcosmoura commented on #22
@joostlawerman just remove the "this" keyword in your template

[2016-10-23 14:17] marcosmoura commented on #23
Yes. The md-table is a must have. But I have other components prioritized, like menus, cards, progress, toasts and dialogs. Then I will develop the data table component. I think that this will fit for the 0.5.0 release.

Thank you.

[2016-10-23 14:28] joostlawerman commented on #22
@marcosmoura of course thank you seems I was not paying attention.

[2016-10-23 14:28] #22 closed

[2016-10-23 14:33] marcosmoura commented on #22
Oh. Don't worry.

[2016-10-23 16:02] Lukino2000 opened #24 "md-select text vs value"
Hi,

is there a reason for displaying value instead of the text in md-select?

i think it shoud behave like html select:
you click the "text" when dropdown is open (and this works also in vue-material)
and view "text" when the dropdown is closed (at the moment it display the value associated ad md-option.

thanks
/L2K

[2016-10-24 05:06] marcosmoura opened #25 "API Docs"
Describe the API of all components.

[2016-10-24 05:09] marcosmoura commented on #24
@Lukino2000 Yeah. You're right. The md-select have some bugs. I'm creating the md-menu component, and the md-select will inherit some properties and some code that will improve his behaviour. I will fix this text/value in the next version. Thank you for reporting this!

[2016-10-24 11:23] echr commented on #17
@sldobri just follow the instruction at [Getting Started](https://marcosmoura.github.io/vue-material/#/getting-started) , simply npm install all required dependency...
if you having trouble with the `import 'vue-material/dist/vue-material.css'` or want to combine the `vue-material.css` with your own css, you can edit your **gulp** file in elixir function and add `mix.copy('node_modules/vue-materia

[2016-10-24 12:31] sldobri commented on #17
@echr  my laravel files:
[code]

[code]

[code]

[code]

[2016-10-24 18:33] BernardoS opened #26 "Select component popup shows behind other components"
[code]

the select with id `movie` is mounted behind the second toolbar.
That is actually expected since it was declared first, so to solve it i'd expected that moving the select to after the toolbar would solve it, but it doesn't.
this happens:  `Missing input/select/textarea inside md-input-container`, since obviously i move it out of the input container element....

[2016-10-24 19:20] marcosmoura commented on #26
Yeah. This can't happen. The ```md-select``` component needs to attach the content in a dom element inside ```body``` tag. If the parent element have a ```overflow: hidden``` this will happen too. I'm creating the ```md-menu``` component and ```md-select``` will inherit and use some features that will fix those problems. You can track the progress on this two other issues: #24 #19

Thank you for r

[2016-10-24 23:57] #17 closed

[2016-10-25 00:18] plievone opened #29 "Low framerate"
Hi, vue-material seems very promising! Could you look into why framerate is quite low on mobile Chrome (Android 5)? For example if you compare opening
- https://marcosmoura.github.io/vue-material/#/components/sidenav

in mobile browser and toggling sidebar/drawer, and then compare it to some other vue.js material implementations such as
- http://quasar-framework.org/quasar-play/android/index.html#

[2016-10-25 00:30] marcosmoura commented on #29
Oh. I see. Sorry about that. I need to investigate this better but I think that the problem is happening when the toggle class apply a different box-shadow with other properties. I have noticed this behavior with tabs too. I will prioritize and fix this in the very next release.

Thank you for reporting this!

[2016-10-25 07:27] #19 closed

[2016-10-25 07:30] marcosmoura opened #31 "Keyboard navigation"
- Improve button focus
- Add focusable classes to components

[2016-10-25 07:33] marcosmoura opened #32 "Data Table"
Data tables display sets of raw data. They usually appear in desktop enterprise products.

Specs for [Data Tables](https://material.google.com/components/data-tables.html)

![Data Table](https://material-design.storage.googleapis.com/publish/material_v_9/0B3mOPoJlxiFhUTEwa21JUEtza0k/components_datatables_cards_tablecard.png)

[2016-10-25 07:35] marcosmoura commented on #23
The component will be developed in the next minor version (v0.3.0). You can track the progress on the following issue: #32

[2016-10-25 07:35] #23 closed

[2016-10-25 09:47] iraklisg commented on #17
following @echr advice, I still get the following error when runing `gulp`

[2016-10-25 09:57] iraklisg opened #33 "Laravel elixir: Module build failed: SyntaxError: 'with' in strict mode"
I didi the following procedure using Vue2 and a fresh Laravel 5.3 install

`npm install --save vue-material
`

**In my js entry file (assets/js/app.js)**

[code]

**In my css entry file (assets/css/app.scss)**

`@import "node_modules/vue-material/dist/vue-material.css";`

**In my gulpfile**

[code]

But I get the following error

[code]

[2016-10-25 21:27] plievone commented on #29
That's good to hear! Also ripple effects could be one source of performance problems. So could the documentation site have a global option (query parameter, local storage toggle, something else) to disable ripple effects easily for trying out in mobile. In any case, perhaps you could expose this line https://github.com/marcosmoura/vue-material/blob/b5bdea0/src/core/index.js#L23 via some option par

[2016-10-26 19:48] cheresier opened #34 "SELECT component: display issue in IE11"
When using the SELECT component in IE11, the scrollbars do not appear, and items spill outside the dropdown instead. I see this behavior both in my test page and in the official demo (https://marcosmoura.github.io/vue-material/#/components/select). See attachment for a screenshot.
![2016-10-26 15_47_50-vue material - internet explorer](https://cloud.githubusercontent.com/assets/18665877/19742575/a

[2016-10-26 20:12] marcosmoura commented on #34
Oh. Yeah, this is definitely a bug. A sad one, right?

The select component it's being rebuilt using ```md-menu```. This new menu component is already finished. I will start to rework select on top of this menu pretty soon. Both will be released in the next minor version (v0.3.0).

I'm sorry to make you wait for that. Meanwhile I will find a workaround for you. I will post it here.
Thank you for r

[2016-10-26 20:14] marcosmoura commented on #33
Hi @iraklisg!

I will try to simulate this error here and i will answer this later, ok?

Thank you!

[2016-10-26 20:20] cheresier commented on #34
Thank you for being so responsive, and, most importantly, thank you for building this library and giving us a way to make our apps 1000% better-looking with little effort!

[2016-10-26 21:03] marcosmoura commented on #34
@cheresier I have found the problem. IE 11 have too much trouble to render flexbox. On Edge those problems were fixed.
For now the workaround is not that good. You have to add a custom css with those properties:
[code]

I tested this on selects with few options and worked. With a lot of options, like the combo of fonts, the scrollbar was applied. This is not gonna happen on the new md-select.

Tha

[2016-10-26 21:04] cheresier commented on #34
Awesome, thanks again!

[2016-10-27 07:55] krisanalfa commented on #33
Hi @iraklisg, I'm using Laravel `5.3.21`, which is it uses Vue 2.x as default. I was struggling to make this awesome work implemented on my project. So here's my `bootstrap.js` file:

[code]

To load CSS, you may append this line to your `app.scss`:

[code]

Run:

[code]

Everything works fine now. Here's my `package.json` file:

[code]

[2016-10-27 08:33] pnishank commented on #33
worked for me thanks 👍 :) @krisanalfa

[2016-10-27 12:25] krisanalfa opened #35 "Grid Support"
I see that this package does not include grid system. It would be great if it supports grid system. Anyway, great work out there!

[2016-10-27 12:30] marcosmoura commented on #35
I didn't scheduled yet but will be developed after release v0.3.0. I already have an API in mind. Will be something like:
[code]

[2016-10-27 14:49] cheresier opened #36 "SELECT component: displaying selected text (rather than value)"
Hey Marcos,

This is more of a question than an issue. I am using the SELECT component, but unlike the example you have in your docs (https://marcosmoura.github.io/vue-material/#/components/select) my value attribute for the items is different from the item text. However, the control seems to display the selected value rather than the text once an item is selected. Is there a way to display the te

[2016-10-27 14:57] marcosmoura commented on #36
Hey @cheresier.

I'm sorry about that. This is a bug. The ```<select>``` from HTML have this behaviour that you described and the ```<md-select>``` will have it too.
Right now you can't do this, unfortunately. I will fix and report on this on the issue #24

Thank you! and sorry to make you wait a little longer to use this component properly.

[2016-10-27 14:57] #36 closed

[2016-10-27 15:00] cheresier commented on #36
Sorry for the duplicate. One other thing I noticed (just FYI) is this. In my example, if you select the item with value 0 this is how it displays:
![2016-10-27 10_58_56-program manager](https://cloud.githubusercontent.com/assets/18665877/19772518/7ffc8130-9c34-11e6-8a57-b4e403320e3d.png)

Probably because it evaluates as boolean false. I am guessing it will be fixed in the next iteration as well,

[2016-10-27 15:05] marcosmoura commented on #36
Oh. Don't worry about the duplicate. And yes. You're right about that. It's evaluating as a Boolean in a silly and wrong way. This will be fixed on the next release. :D

[2016-10-27 15:08] marcosmoura commented on #33
@krisanalfa Thanks a lot man. I will improve the documentation adding this Elixir part. As the Laravel community embraced Vue, this can help more user to figure it out how to work with Vue Material.

[2016-10-27 15:08] #33 closed

[2016-10-27 15:33] cheresier commented on #36
Sorry to bother again. Quick question (although I have a feeling that the answer to it may be obvious): is there a way to set the selected item programmatically? Something similar to the "selected" attribute on one of the options in the HTML select?

[2016-10-27 16:25] krisanalfa commented on #33
Hope I can contribute to it's development too, gotta have a couple time firstly to understanding this great work. But anyway, I am so glad to help, man.

[2016-10-27 20:51] juppdes opened #37 "Sizes (md-input-container)"
@marcosmoura  I'm not managing to scale the size of the input fields and others. How do I do ?

[2016-10-27 20:58] marcosmoura commented on #37
@juppdes I didn't get it. What do you need? To scale it horizontally to get a full size? Or do you want to increase the size of the font and based on that the container and the input itself would grow?

Like that? ![Text Field](https://material-design.storage.googleapis.com/publish/material_v_9/0Bzhp5Z4wHba3UHZpZjVsYjRHcXc/components_textfields_labels1.png)

[2016-10-27 21:03] juppdes commented on #37
Yes, horizontally resize the input size. Like size of 'Price', 'Location'.

[2016-10-27 23:08] marcosmoura commented on #37
Well. Right now, as you can see on #35, Vue Material doesn't have a Grid System implemented. Yet. You will need to do it by hand or plug in a grid system library. I would recommend those two (for now):
http://kenwheeler.github.io/structure/
http://flexboxgrid.com/

If you want to implement something by hand you can use this approach:
[code]

[code]

You can vary the size changing for one of the gi

[2016-10-27 23:08] #37 closed

[2016-10-27 23:10] marcosmoura commented on #35
You can check a temporary solution for grid system on #37

[2016-10-28 03:50] krisanalfa commented on #35
I think that is the best solution for now. But I'm still waiting for official support. Thank for your great job out there!

[2016-10-28 03:50] #35 closed

[2016-10-28 04:13] marcosmoura commented on #35
Sure! And it is only a few weeks of it's release. Thank you for waiting and be so early adopter on my project.

[2016-10-28 13:46] juppdes commented on #37
Thank you for help friend!

[2016-11-01 12:22] neeilya opened #39 "Custom theme colors?"
Hi, could you please describe how can I modify theme colors?
E.g. in material they have blue-grey theme.

![image](https://cloud.githubusercontent.com/assets/3954686/19889620/2782a7fe-a036-11e6-90cc-9fd82ea0f67d.png)

What if I want to use 800 instead of default 500?
Thanks!

[2016-11-01 13:24] deulos opened #40 "md-input not reactive when initial value empty"
The md-inputs do not acquire the value of the v-model if their initial value is empty. Example:

In template:
[code]

In code:
[code]

The simple input will update it's value after 2 secs but the md-input will remain empty.

This does not happen when foo has any value with length (not null nor empty string).

[2016-11-01 14:23] marcosmoura commented on #39
Yeah. Of course. Sorry about that. I'm developing some pages to describe the API better, but it's not finished yet. Meanwhile I will try to answer this:
When you register a theme, with ```Vue.material.theme.register```, for example, you can't pass custom hex colors (for now), but you can pass all the colors and hues from Google Material spec. Like this:

[code]
You can do this with primary, accent

[2016-11-01 14:30] marcosmoura commented on #40
Oh. Quite strange. I'll take a deep look at this and I will come back with a fix. ASAP.

Thank you for sending this.

[2016-11-01 14:36] deulos commented on #40
No problem, I gues is due to not watching the value, so the class taking the label above is not applied

[2016-11-01 15:11] neeilya commented on #39
Thanks for quick response and explanation.
Great job btw :)

[2016-11-01 15:18] deulos opened #41 "md-button ignores type prop"
The following md-button
`<md-button type="submit" class="md-raised md-primary">Save</md-button>`

Is rendered as
`<button type="button" class="md-button md-raised md-primary">Save</button>`

So the type is always rendered as "button"

[2016-11-01 19:39] deulos opened #43 "md-textarea with maxlength not writable"
Setting maxlength in md-textarea resets whatever it is typed when binded to non initialized data. Example:

`<md-textarea v-model="foo.description" maxlength="255"></md-textarea>`

[code]

Anything typed in the textarea is deleted within the next milliseconds, the problem dissapears when the attribute "maxlength" is removed.

On the other side, if you initialize the value it lets you write beyond

[2016-11-01 21:52] damienix commented on #40
I have the same problem with combination with vuex. It looks like md-input is never updated when you update value programmatically using a model.

[2016-11-02 00:16] dacodekid commented on #32
@marcosmoura do we have a release date for 0.3.0 on sight?

[2016-11-02 01:11] marcosmoura commented on #32
@dacodekid Yes. November 7. You can keep track of those dates in milestones. I'm expecting to launch a new milestone every 10~15 days. :)

https://github.com/marcosmoura/vue-material/milestones

Thank you!

[2016-11-02 01:13] dacodekid commented on #32
U beauty 👍  . Thx :)

[2016-11-02 21:29] Dennisoost opened #44 "Sidenav like vue-material site"
Hi!
So i was wondering if there is a (built-in) way to show the side nav like on the vue-material site?
https://marcosmoura.github.io/vue-material/#/
Can't seem to find it myself.

[2016-11-03 02:45] marcosmoura commented on #44
Sorry, but I didn't understand. You mean the expansion lists? The sidenav sticked on the desktop version? Or the header with the logo?

[2016-11-03 02:51] marcosmoura commented on #41
Hey. You're right. This is a ugly bug. Thanks for the PR and for reporting this.

[2016-11-03 03:02] mixedCase commented on #44
@marcosmoura In simpler terms, is the source code for the website uploaded anywhere to see?

[2016-11-03 03:06] marcosmoura commented on #44
@mixedCase Yes. Of course. It's on the ```docs``` folder of this repository. :)

[2016-11-03 03:07] #41 closed

[2016-11-03 03:08] marcosmoura commented on #43
Oh. Sorry. I will take a look at this! Thank you for reporting that.

[2016-11-03 04:21] marcosmoura commented on #44
Well. Right now Vue Material doesn't have any way (built in) to make the ```md-sidenav``` opened on desktop by default. I have plans to add this on the future along with other sidenav examples.
You can have the same thing adding a media query to your own css:
[code]

The idea is to push the content of your page creating a space to "hold" the sidenav.
The trick is here: https://github.com/marcosmou

[2016-11-03 04:27] mixedCase commented on #44
Thanks, but unfortunately no success. Nothing shows up in the space left by the padding.

Regardless, I simply reverted to a more performant solution I was previously using and did away with `md-sidenav`. Hope to see that functionality land! :)

[2016-11-03 04:29] marcosmoura commented on #44
Oh. I think I forgot another thing:
[code]

Try this for one more time, please.

[2016-11-03 04:31] mixedCase commented on #44
I have no way of importing the $material-shadow-2dp variable that I can think of.

[2016-11-03 04:34] marcosmoura commented on #44
Yep. You're right. You don't even need this shadow. :)

[2016-11-03 04:38] mixedCase commented on #44
I'm afraid I already rearchitected everything to use flexbox with the old solution and honestly too tired to retry making sure that my own css doesn't prevent md-sidebar from working. I apologize :( But thanks for your help!

[2016-11-03 04:39] marcosmoura commented on #44
Uh. Too bad! :(
I hope that you can try this later. I will try to prioritize this md-sidenav change.

[2016-11-03 04:39] #44 closed

[2016-11-03 04:41] #39 closed

[2016-11-03 14:04] iraklisg commented on #33
@krisanalfa sorry for the late reply, I just found the time to check your solution and I do confirm that everything works fine. @marcosmoura congrats for the polished work you've done so far

[2016-11-04 21:30] fiws opened #46 "do not style scrollbars by default"
it might be a personal preference, but i don't like that vue-material styles the scrollbars by default.

2 reasons:
* they do not fade out (like they do on chrome mobile)
* They are hard to change back.

i guess the fix for this, would be to just comment out https://github.com/marcosmoura/vue-material/blob/master/src/core/stylesheets/core.scss#L3

[2016-11-04 21:58] marcosmoura commented on #46
Thanks for reporting this.
You're right. Another reason: When using only a single component the scrollbars come for free with mdCore module. This is not good at all. This will change on 0.3.0.
I have some ideas to deal with scrollbars:

#### A css class:
[code]

#### A css class and a configurable property in mdCore component:
[code]
In this scenario the md-scrollbar will be added to ```html``` ta

[2016-11-04 22:03] fiws commented on #46
:+1: sounds good for me! Do you plan to implement all 3 solutions or just one? I think the css class and the component are a good idea.
The config property seems unnecessary. (just my opinion again) But I'm fine with it, if it is false by default.

[2016-11-04 22:10] marcosmoura commented on #46
I have plans to implement the first.
The config is good for the theming engine, but I need to think about on the impacts that this will cause, like toggling this property. In this case the mdCore should remove/add the class if the property change? The md-content component is a must have, but I don't think that needs to be shipped with a md-scroll class by default.

But without doubt the scrollbar

[2016-11-05 23:16] andreujuanc opened #48 "Error: Vue.use(VueMaterial)"
Hello,

I'm evaluating framework alternatives, and wanted to test vue, and came across this repo which is the one I liked the most.

In the process of making a cordova app, I made a small test, just one page, referenced vue worked fine. Click on button and hello world, But when I tried to add vue-material like: Vue.use(VueMaterial) I got: `plugin.apply is not a function`

I'm not familiar with vue

[2016-11-08 07:58] krisanalfa commented on #48
How about:

[code]

[2016-11-09 19:20] kristianmandrup opened #49 "Checkbox events only pass true/false"
I've been trying pretty much everything I can think of in order to listen to checkbox change events and set my VueX store accordingly

https://github.com/vuejs/vue-rx/issues/20

Please play nice and send the original `$event` along as well. I only get `true` or `false`.
Otherwise my only option is to watch the entire checkbox value collection:

https://laracasts.com/discuss/channels/vue/checkbox-e

[2016-11-09 19:55] kristianmandrup commented on #49
I made this [PR](https://github.com/marcosmoura/vue-material/pull/50), but sadly I must have done sth wrong, cos I get `$event` to be undefined when I try to hook in to my custom fork functionality.

[2016-11-09 19:57] kristianmandrup commented on #49
I also tried this but still no luck...

[code]

[2016-11-09 20:08] kristianmandrup commented on #49
Please see https://github.com/vuejs/vue/issues/4167

[2016-11-09 20:13] kristianmandrup commented on #49
Only way I was able to intercept checkbox change of value:

[code]

[2016-11-09 21:55] kristianmandrup commented on #49
Well, this works:

`<input type="checkbox" @change="onChange($event)" v-model="myVal"/>`

[code]

[2016-11-10 02:32] nothinggift opened #51 "right sidenav always showing"
[http://codepen.io/nothinggift/pen/BQovGZ](http://codepen.io/nothinggift/pen/BQovGZ)

you can scroll horizontally to see it

[2016-11-11 19:38] marcosmoura commented on #48
This fix worked for you?

[2016-11-11 19:41] marcosmoura commented on #49
Yep. This a Vue way to deal and pass ```$event```.

[2016-11-11 19:41] #49 closed

[2016-11-11 19:45] marcosmoura commented on #51
I see. This is a problem that needs more time to fix.
Why this happens:
Your container doesn't have an explicit ```overflow-x: hidden``` css rule. If you add this to your parent container (with id="app") the scroll will disappear. But this should be a Vue Material responsability.
I will fix this in the very next release. Meanwhile you can stick with this workaround.

Please tell me if this works f

[2016-11-12 01:44] nothinggift commented on #51
[http://codepen.io/nothinggift/pen/BQovGZ](http://codepen.io/nothinggift/pen/BQovGZ)

`overflow-x: hidden` not work

[2016-11-12 04:20] ktquez commented on #51
@nothinggift
Hey man, try in body
[code]

[2016-11-12 06:31] nothinggift commented on #51
[http://codepen.io/nothinggift/pen/BQovGZ](http://codepen.io/nothinggift/pen/BQovGZ)
I have revised a little , it works well.

[2016-11-13 03:13] donnygunawan93 opened #53 "Ask -> How to load on vuepack?"
I use this starter pack [here](https://github.com/egoist/vuepack)
I change this file to import vue-material [here](https://github.com/egoist/vuepack/blob/master/template/client/components/App.vue)

so the code like below, and the button not look like material design.

![untitled](https://cloud.githubusercontent.com/assets/10414213/20243420/01a54cce-a989-11e6-92d7-4c274d71324d.png)

[2016-11-13 03:26] cleverlycoding commented on #53
You should cut the code in the script tag and paste it inside `client/app.js` like this:
[code]

[2016-11-13 03:34] donnygunawan93 commented on #53
Already, but still the same.

[2016-11-13 03:41] cleverlycoding commented on #53
Can you share your code? I could take a look at it and maybe see what's wrong with it.

[2016-11-13 03:53] marcosmoura commented on #53
I know that this is bad, but something is wrong with VuePack trying to load vue-material.css file. Every single css file pass through a *post-css* loader and something is going 'crazy'.

You can try to force a specific loader (css-loader) manually on your app.js file, like this:

[code]

If this doesn't work for your you can to add a link tag on your HTML:

[code]

Tell me if the first solution wo

[2016-11-13 03:55] marcosmoura commented on #51
Glad to know that this worked for you. I will close this thread and reopen when I start to develop this enhancement.

[2016-11-13 03:55] #51 closed

[2016-11-13 03:56] #48 closed

[2016-11-13 03:57] marcosmoura commented on #10
Already implemented and will be shipped on the very next release (v0.3.0)

[2016-11-13 03:57] #10 closed

[2016-11-13 03:57] marcosmoura commented on #24
Already implemented and will be shipped on the very next release (v0.3.0)

[2016-11-13 03:57] #24 closed

[2016-11-13 03:58] marcosmoura commented on #26
Already implemented and will be shipped on the very next release (v0.3.0)

[2016-11-13 03:58] #26 closed

[2016-11-13 03:59] marcosmoura commented on #34
Already implemented and will be shipped on the very next release (v0.3.0)

[2016-11-13 03:59] #34 closed

[2016-11-13 04:22] donnygunawan93 commented on #53
@cleverlycoding  yes...still default install only... [here](https://github.com/donnygunawan93/vuetest)
@marcosmoura hmr showing black screen bundle failed
do you think this is related with this [issue](https://github.com/egoist/vuepack/issues/61)?

[2016-11-13 04:45] juppdes commented on #10
Thanks !!

[2016-11-13 10:42] wstam88 commented on #53
I have the same issue

[2016-11-13 12:49] marcosmoura commented on #53
I don't think that this issue is the problem. I will try to download VuePack and install Vue Material to see if I can fix this for you. :)

[2016-11-14 04:58] marcosmoura commented on #46
Already implemented and will be shipped on the very next release (v0.3.0)

[2016-11-14 04:58] #46 closed

[2016-11-14 05:36] marcosmoura commented on #43
Already implemented and will be shipped on the very next release (v0.3.0)

[2016-11-14 05:36] #43 closed

[2016-11-14 05:40] marcosmoura commented on #40
Already implemented and will be shipped on the very next release (v0.3.0)

[2016-11-14 05:40] #40 closed

[2016-11-14 07:52] 0xFireball opened #58 "Dialog"
Vue Material is by far my favorite Material Design library for Vue.

Angular Material has a very nice modal/dialog system; is adding a similar component to vue material on the  future roadmap?

thanks!

[2016-11-14 11:01] marcosmoura commented on #58
Yeah. Dialog will be present after release v0.4.0.

[2016-11-14 12:14] marcosmoura commented on #29
The problem was found and was related with box shadow transition. Unfortunately this will be delayed to v0.4.0 because needs more tests and the boost that this fix will provide will be applied to other components.

[2016-11-14 16:32] 0xFireball commented on #58
Awesome! I'm looking forward to it!

Is there support for making a menubar with dropdowns that work somewhat similarly to this?https://material.angularjs.org/latest/demo/menuBar

[2016-11-14 20:57] marcosmoura commented on #32
Already implemented and will be shipped on the very next release (v0.3.0)

[2016-11-14 20:57] #32 closed

[2016-11-14 21:40] 0xFireball opened #61 "[q] how to show (overflow) menu programatically?"
[q] how to show (overflow) menu programatically?
i want to show a dropdown-like overflow menu when a button is clicked. how can i do this with vue material?

thanks

[2016-11-14 23:00] DomenicRoti opened #62 "Demo is Down"
Hey, it looks like the Demo is down.

![image](https://cloud.githubusercontent.com/assets/1099200/20286334/7eb8d6cc-aa83-11e6-946a-6c076f7839ce.png)

[2016-11-15 01:26] marcosmoura commented on #62
Oh cr@p! Was an inconsistence with the new release script. It it solved now. Sorry for the inconvenience! :(

[2016-11-15 01:26] #62 closed

[2016-11-15 01:40] marcosmoura commented on #61
Well. It's not well documented yet. But you can achieve this with this syntax:

[code]

The ```md-menu-trigger``` attribute is the actual trigger. So you can add this in any element inside ```md-menu```. Like this:

[code]

You can see this on the documentation:
https://marcosmoura.github.io/vue-material/#/components/menu

Thank you!

[2016-11-15 05:29] DomenicRoti opened #63 "NPM Version Issue"
I can't download the latest version, I see v0.3.0 on https://www.npmjs.com/package/vue-material
but if I run `npm view vue-material versions` I get:

[code]

[2016-11-15 05:35] #63 closed

[2016-11-15 05:38] DomenicRoti commented on #63
Sorry - this my fault - I had my npm registry setup wrong...

[2016-11-15 06:04] 0xFireball commented on #61
It worked! Great!
I had one more issue:

I'm using a `v-for` like this:

[code]

My issue is that the list is not updating when I update the `cloudfiles` array with a `.push` call.

It works fine outside an `md-list`; oddly enough, I couldn't get this to work as above.

I'm not that experienced with Vue, so perhaps I'm just doing something wrong. However, I thought it might have something to due w

[2016-11-15 06:49] fat4lix opened #64 "md-input-container issue (v0.3.0)"
Hello, i've installed new 0.3.0 version. I use default 'select' template from demo, and i get errors in console:

All other components still works fine.

Any idea?

[2016-11-15 12:40] plievone opened #65 "A few docs quirks"
A couple of quirks in vue-material docs, perhaps it's ok to list them here for starters:
- https://marcosmoura.github.io/vue-material/#/components/button
  * ~Click any of the leftmost buttons labeled "default", and the two buttons with `.md-primary` switch their disabled state~ Working as intended, there's example code that is not visible in the "code" tab.
  * ~Perhaps needs a `key`, or some oth

[2016-11-15 13:19] marcosmoura commented on #64
Are you using the full build or the standalone component?

[2016-11-15 13:20] plievone commented on #65
There's also a curious bug where if you navigate to https://marcosmoura.github.io/vue-material/#/components/input with Chrome for Android and scroll downwards, the grey header of the card "Required and Errors" fills the bottom of the page until scrolled enough, then it snaps into correct size. Same happens on "Tabs" page with "Playground" card, and on "Card" page with "Full Control" card. Couldn't

[2016-11-15 14:44] fat4lix commented on #64
I use full build, and other components such as md-input, md-card, md-list working correctly.

Vue version 2.0.5

[code]

[2016-11-15 15:39] alioygur opened #66 "md-select bug"
I am using v0.3 and I have a problem with md-select component.

When I use the md-select component I getting an error like these

[code]

[2016-11-15 16:06] alioygur opened #67 "md-input bug"
I have an problem with md-input component.

I am getting an error like these when I use md-input with type number

[code]

[2016-11-15 20:58] miseeger opened #68 "Feature Request: Multi Column sort for Table"
Hi, just came across and thought that multi column sort would be the icing on your Table cake :wink:

[2016-11-15 22:38] javaday opened #69 "md-input issue (v0.3.0)"
The md-input component is not reactively updating its value when the model is updated unless the placeHolder property is set. Also when the placeHolder is set the value is updated, but the label is not displayed until the field is clicked.

[2016-11-15 22:47] javaday opened #70 "md-list issue (v0.3.0)"
The md-list component is not updating when the value of computed data changes. We have the following in a component template:

<md-list v-if="user">
...
</md-list>
<md-list v-else>
...
</md-list>

"user" is a computed value configured as follows:

computed: {
   ...mapGetters({
      user: 'currentUser'
   })
}

When "currentUser" is updated from null to an object the md-list is not re-rendered. W

[2016-11-16 00:01] 0xFireball commented on #70
@javaday I have noticed this issue as well.

[2016-11-16 00:02] 0xFireball commented on #61
Well, https://github.com/marcosmoura/vue-material/issues/70 is the same issue. I can close this one then.

[2016-11-16 00:02] #61 closed

[2016-11-16 00:27] marcosmoura commented on #67
Yeah. It is a bug. I will fix quickly!  Thanks!

[2016-11-16 01:03] marcosmoura commented on #64
Gotcha! If your v-model is invalid, doesn't exists or is null/undefined this error would come up. It's already fixed and will be delivered on the very next minor release.

Right now you can change your model value to an empty string to avoid this problem, but I will release the next version really soon.

Thanks!

[2016-11-16 01:03] #64 closed

[2016-11-16 01:05] marcosmoura commented on #66
Duplicated #72 #64

[2016-11-16 01:05] #66 closed

[2016-11-16 01:06] marcosmoura commented on #67
It was a problem on the md-input. Already fixed and will be on the next minor version. Sorry about that.

Thanks!

[2016-11-16 01:06] #67 closed

[2016-11-16 01:24] marcosmoura commented on #69
I see. You will get this if you use the md-input (or any other component that uses v-model) inside one of those components:
* md-card-actions
* md-card-content
* md-card-header
* md-card-header-text
* md-card-media-actions
* md-list
* md-toolbar

This is happening because of v-once being misused in all of those components. This is a bad bug. Will be fixed very soon.

Sorry about that!
Thanks!

[2016-11-16 01:28] marcosmoura commented on #70
Sorry about that. Was a problem with v-once. You can see the root cause here: #69

[2016-11-16 01:29] #69 closed

[2016-11-16 01:58] marcosmoura commented on #65
@plievone Let's discuss a little bit about those items:

1 - It was left there on purpose. If someone clicks there will see that the ```md-button``` is reactive enough. :)
2 - Yep. This is quite slow. I will change for some other "real" images. Thanks for reporting this. Here I have those images cached so I didn't notice that.
3 - This is new and bad! And is definitively a bug! I will take a look

[2016-11-16 02:02] 0xFireball commented on #69
Thank you!

[2016-11-16 02:22] 0xFireball commented on #70
@marcosmoura Unfortunately I'm still noticing a similar issue:

This is my code:

[code]

See the div with the comment above it that says to look at this note?

When that div is included, everything works as expected, `md-list` updates reactively, etc. When it's not, the `md-list` does NOT update reactively.

I have confirmed this issue by inspecting the DOM; without that extra div binding to the

[2016-11-16 02:23] marcosmoura commented on #53
Sorry about the delay to solve this. I was focusing on the new release.

I found the problem. It's not inside Vue Material project indeed. This is because of CSSModules. You can learn more about in this<a href="https://github.com/css-modules/css-modules"> link</a>. CSSModules it is a good thing but when enabled (by default) on VuePack was applying some rules against css that modifies them. And thi

[2016-11-16 02:24] #53 closed

[2016-11-16 02:32] marcosmoura commented on #68
@miseeger Well. This is not documented on the Material Design specs. I can develop something like that on the future. We must think in some aspects of the component:
* How can we fire an event to the parent component? With both sort options?
* If the user change the order to be 'desc' and the other column is in 'asc' order. Should we change both? Should be opt-in? Or we can let them separated?

Wh

[2016-11-16 04:14] marcosmoura opened #74 "md-select not being reactive"
The ```md-select``` component is not being updated when the ```v-model``` changes. Also the initial state of a select with multiple is not working.

[2016-11-16 04:15] #74 closed

[2016-11-16 04:20] marcosmoura commented on #58
@0xFireball Please ask about only one component per issue. This way is easy to track the answers and it's better to not have multiple subsjects.
But answering your question: Not right now. But will be developed in the next releases. :)

[2016-11-16 04:20] #58 closed

[2016-11-16 04:20] marcosmoura opened #75 "Dialog"
Dialogs inform users about a specific task and may contain critical information, require decisions, or involve multiple tasks.

Specs for [Dialog](https://material.google.com/components/dialogs.html)

![Dialog](https://material-design.storage.googleapis.com/publish/material_v_9/0B7WCemMG6e0VVGNnN3NvMGdoQTg/components_dialogs.png)

[2016-11-16 04:23] #75 closed

[2016-11-16 04:23] marcosmoura commented on #75
Wrong issue!

[2016-11-16 04:23] marcosmoura opened #76 "Dialogs"
Dialogs inform users about a specific task and may contain critical information, require decisions, or involve multiple tasks.

Specs for [Dialog](https://material.google.com/components/dialogs.html)

![Dialog](https://material-design.storage.googleapis.com/publish/material_v_9/0B7WCemMG6e0VVGNnN3NvMGdoQTg/components_dialogs.png)

[2016-11-16 04:24] marcosmoura opened #77 "Image Loader"
Images, including illustrations and photographs, may load in three phases.

Specs for [Image Loader](https://material.google.com/patterns/loading-images.html)

![Image Loader](https://material-design.storage.googleapis.com/publish/material_v_9/0Bx4BSt6jniD7M05lWkx3NTVncEE/patterns_loadingimages1.png)
![Image Loader](https://material-design.storage.googleapis.com/publish/material_v_9/0B7WCemMG6e0VN

[2016-11-16 04:29] marcosmoura opened #78 "Flexbox Grid System"
Responsive layouts in material design adapt to any possible screen size. This UI guidance includes a flexible grid that ensures consistency across layouts, breakpoint details about how content reflows on different screens, and a description of how an app can scale from small to extra-large screens.

Specs for [Flexbox Grid System](https://material.google.com/layout/responsive-ui.html)

![Flexbox G

[2016-11-16 05:16] egoist commented on #53
I've made CSS modules disabled by default in VuePack, now it should work without any hack. But there's also an alternative way to solve this when CSS modules is enabled:

[code]

[2016-11-16 05:53] mygnu commented on #4
hey @marcosmoura can you please prioritize this with the 0.05 release would be nice to have feature with dialogs (this would help me with my app)

[2016-11-16 06:01] marcosmoura commented on #4
Well. I don't know yet. To be honest this is not an easy and trivial component. Deal with dates is a difficult job. 
But don't worry. I will develop a time and date pickers.
Probably this will be developed after release 0.6.0. So I'm sorry for making you to wait a little bit to use those components.

[2016-11-16 06:03] marcosmoura commented on #53
Oh. That's great. I didn't event think about this style thing. And thanks for answering this so quickly. :D

[2016-11-16 06:06] marcosmoura commented on #70
Did you update to the new 0.3.1?

[2016-11-16 06:10] 0xFireball commented on #70
Sorry, I hadn't updated. I have confirmed that it is fixed.

Thanks for your quick help!

On Tue, Nov 15, 2016 at 10:07 PM -0800, "Marcos Moura" <notifications@github.com<mailto:notifications@github.com>> wrote:

Did you update to the new 0.3.1?

-
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/marcosmoura/vue-material/issues/70#iss

[2016-11-16 10:04] miseeger commented on #68
@marcosmoura This suddenly came into my mind :wink: And you see: I don't know the MD specs, either ... But to answser your points:

- Do you mean how to implement this technically or just on which event is to be listened? (if for listening: I'd do it on CRTL-Click)
- 'desc' and 'asc' changing should imho only affect the clicked column. But with multiple the states should be: 'asc','desc',off (off

[2016-11-16 12:32] marcosmoura commented on #70
Oh. Great. Was a silly misuse of v-once. Thank you!

[2016-11-16 12:32] #70 closed

[2016-11-16 12:37] alphaelf opened #79 "Uncaught TypeError: plugin.apply is not a function in Vue.js:3219"
i cant run it, i use laravel elixir:

[code]

[code]

[code]
where am i wrong ?

i found my answer in this issues #48

[2016-11-16 13:31] #79 closed

[2016-11-16 13:32] marcosmoura commented on #79
Duplicated #33

[2016-11-16 13:35] marcosmoura commented on #76
This will be anticipated to v0.4.0

[2016-11-16 13:37] alphaelf opened #80 "how about RTL support ?"
is possible to make components RTL by passing a variable?

[2016-11-16 13:42] marcosmoura commented on #80
If you change in the HTML tag to ```<html dir="rtl">``` you will see that some components will work as expected. But some other will not. Like Menus, for example. This will be implemented after release v0.5.0. Thanks!

[2016-11-16 14:08] javaday commented on #69
Thanks for the quick response!

[2016-11-17 01:49] DomenicRoti opened #81 "Select Position Issue"
Currenlty if open a select box (or a menu) it doesn't stay in position in relation to the page.

For example, you can open a select and scroll up or down the page but the the select box doesn't move with it.

[2016-11-17 01:57] marcosmoura commented on #81
This is a enhancement. I will address this to the next minor version but I'm already fixing it! Thank you for reporting this.

[2016-11-17 02:05] DomenicRoti commented on #81
Great, thank you.

[2016-11-17 02:17] marcosmoura commented on #81
Will be fixed along with Dialogs :)

[2016-11-17 05:11] marcosmoura commented on #81
Fixed <a href="https://github.com/marcosmoura/vue-material/commit/e065ad65ac8556b41e4649d97daf9090e006f13d">e065ad6</a>

[2016-11-17 05:11] #81 closed

[2016-11-17 05:15] marcosmoura opened #82 "Responsive Components"

[2016-11-17 05:15] marcosmoura opened #83 "Acessible Components"

[2016-11-17 05:16] marcosmoura opened #84 "Codepen Examples"

[2016-11-17 05:18] marcosmoura commented on #68
I see. I will think about that. Maybe on after the next release! :wink:

[2016-11-17 06:04] DomenicRoti opened #85 "Safari Tooltips Fly in from off screen"
The first time you render a tooltip in Safari they fly in from off screen.
The next they will render correctly.

[2016-11-17 07:18] ryanmagoon opened #86 "Button type not rendering properly"
When I have
`<md-button type="submit">Button</md-button`

The type on the rendered button is `button` instead of `submit`

This is a bug right? My workaround was this:
`<button type="submit" class="md-button md-raised md-accent">Login</button>`

[2016-11-17 07:36] plievone commented on #65
Thanks for a quick response! I will close this issue soon as important parts may be tracked in other issues. A couple of notes:
1. Yeah, was wondering about that, but as "code" tab didn't show the code, it might be common misconception until codepen (or similar) examples are used.
2. Good to hear! There's lot's of empty space there without those images and one may wonder what's up with the layout.

[2016-11-17 07:48] qurioust opened #87 "The blur method of 'md-input' not work"
Try to add a blur method to 'md-input' component, but it seems not work.
`<md-input type="email" v-model="email" @blur="fieldValidation"></md-input>`
Does not it support this usage?

[2016-11-17 08:53] plievone commented on #65
Here's a couple of screenshots for (6) on Android. Just scrolled downwards past the bottom, and the page shifted upwards, hiding the header and leaving a white bar at the bottom. The situation persists until scrolled to the top and past the top, when page returns to normal. This happens only on "Getting started" and "Typography" pages, both on main content and sidebar (when component list is expan

[2016-11-17 09:31] pauloramires opened #88 "Issue with md-table-pagination on an Electron app"
Hi,
while using the md-table-pagination component on an electron app I got the following error:
<img width="540" alt="electron-table-issue" src="https://cloud.githubusercontent.com/assets/1428629/20382744/563ef966-ac94-11e6-9f76-d5c782fdcf7c.png">
I have identified that this error is thrown by src/utils/getClosestVueParent.js, and that if the $parent argument is initialised as an empty object then

[2016-11-17 09:36] miseeger commented on #68
That'd be just great 😎 👍

[2016-11-17 09:44] kristianmandrup opened #89 "Please provide better access to event originator on event handlers and improve docs"
I'm pleased to see a lot of improvement since last time I checked (0.2.0)

However I still have trouble using event handlers efficiently such as for [mdCheckbox](https://github.com/marcosmoura/vue-material/blob/master/src/components/mdCheckbox/mdCheckbox.vue)

I also wish your code examples would better demonstrate this usage

[code]

You currently trigger the usual checkbox event `change` and `in

[2016-11-17 09:46] kristianmandrup commented on #89
Currently I have to do the following (rather ugly!)

[code]

[2016-11-17 12:37] linde12 opened #91 "md-table in combination with vuex causes crash"
I'm experiencing some issues with `<md-table>` when i create my Vuex store. Other elemes such as `<md-button>` and `<md-card>` work fine but the table gives me the following error:
[code]

If i wrap the table in a `<md-card>` add the class `md-table-card` to that card then it works fine. This makes me suspect that `getClosestVueParent` in `<md-table>` has something to do with it.

All i have to do

[2016-11-17 20:13] rwatts3 commented on #39
Hi thank you for providing details on this.

I have a similar / slightly separate question.  How so I use colors or what are the classes to use ?
So if I have a button and I want to change the color.

[2016-11-17 20:46] logol opened #92 "suggestion for Getting Started page"
Hey,

just a small suggestion for the [Getting Started](https://marcosmoura.github.io/vue-material/#/getting-started) page.

For people who want to try vue-material without using node.js or where _import_ is not available, it might be nice to know that besides

[code]

and

[code]

The following is needed to load vue-material to vue

[code]

Maybe you can add an additional section below the "_ES6

[2016-11-17 21:49] Morgul commented on #91
This looks like it's related to #88. Both issues are probably fixed by #90.

[2016-11-17 21:51] linde12 commented on #91
Ah, yes i looked at that issue and thought it was similar but i was unsure. I will try to apply the fix and come back with results

[2016-11-17 22:04] rwatts3 opened #93 "Question : grid system"
Is there currently a grid system for this project?

For example in Materializecss you can add a class of col s-6 ...

-V/R

Ryan

[2016-11-17 23:21] mygnu commented on #93
its in the pipeline please see #78

[2016-11-17 23:21] Stabzs opened #94 "Question/Enhancement: Tab with dynamic data"
All of the documentation examples illustrate static content.  In these situations, the resizing works perfectly..

However, I would like the ability to dynamically load data for a tab and then have the resize kickoff for the content.  My scenario is roughly as follows:

[code]

In this example, on render the custom inventory-tab component is instantiated and the property is bound.  Once user selec

[2016-11-17 23:23] mygnu commented on #4
No worries mate, I really appreciate your work. I have been using an abandoned vue1 project that I modified to vue2

[2016-11-17 23:26] mygnu commented on #94
I have also noticed this behavior, I was populating data using apollo-graphql, and you have to come back to the tab before it displays for the first time. I was thinking it was graphql issue

[2016-11-17 23:43] Stabzs commented on #94
@mygnu thanks for the additional confirmation.  In my case it is a simple $.ajax call, so the retrieval method doesn't seem to be related.

Also, manually triggering the event via: `window.dispatchEvent( new Event('resize') );` seems to have no impact.

[2016-11-18 05:06] stevieyu opened #95 "docs components input -> type is Password Reveal second click eye display error"
![kapture 2016-11-18 at 16 14 25](https://cloud.githubusercontent.com/assets/8325201/20423230/24a615da-adaa-11e6-86b7-6ea7e415a9a3.gif)

[2016-11-18 08:30] linde12 commented on #91
Hmm, i still seem to be getting it even after applying the fix to `getClosestParent`

I will verify again once #90 is in a build and if it still doesn't work i will be back with feedback

[2016-11-18 11:59] pauloramires commented on #91
Hi, I reproduced your case and tested it with #90,  got no errors. Have you rebuild the module after applying the patch?
However I will also be waiting to hear from Marcos to see if it is a proper fix.

[2016-11-18 12:10] linde12 commented on #91
@pauloramires Hey! I'm pretty sure that i did but something might have gone wrong. I have a repo called vue-test where this happens. But, yeah, i'll wait for the fix and we'll see if it works. For me this is no problem as i'm just testing vue with vue-material. I just thought i'd report it.

[2016-11-18 15:22] Stabzs commented on #94
After a lot of painful and unsuccessful experimentation, the best solution/hack I found is to add a `ref` to the tab you want to watch.  This allows you to expose the `updateTabData` method for that tab.

[code]

This feels pretty hacky and it would be nice if there was a more formal API for this.  However, it does properly resize the tab area with animations, which is great.

On a somewhat relate

[2016-11-18 19:13] javaday commented on #88
I just ran into this myself.

[2016-11-18 22:14] javaday commented on #88
After seeing the fix suggested by @pauloramires, I figured out that the root Vue component has an undefined $parent property. So I added "this.$parent = {};" to the root component's mounted handler and I don't get the error anymore.

So, this seems to be a viable work around until the Paulo's pull request is merged.

[2016-11-18 23:23] marcosmoura commented on #85
Uh. That's bad. I confirmed here. I will fix this ASAP!

[2016-11-18 23:28] marcosmoura commented on #86
Which version are you using? I'm testing with the latest and everything is working.
Codepen: http://codepen.io/vue-material/pen/WGavBE

[2016-11-18 23:33] marcosmoura commented on #87
Oh. Should support, right. I can confirm that the blur, focus, input, and keyup events aren't working. I will fix this ASAP.

[2016-11-18 23:37] marcosmoura commented on #88
Oh yeah. I will take a look at this. This will be fixed on the very next fix version.

[2016-11-18 23:39] marcosmoura commented on #89
I will take a look at this. Maybe I need to pass the event in a different way. I scheduled this to the next minor version.

[2016-11-18 23:43] marcosmoura commented on #91
Well. This is kinda duplicated. There is another problem beyond this. I think that the ```md-table``` is not passing the correct *instance* to the ```md-table-card```. I will fix that ASAP.

[2016-11-18 23:45] marcosmoura commented on #92
Hi @logol. I liked the idea, but this VueMaterial.default is not ideal. I will change this to VueMaterial only, with no default. This is definitely a bug on the build scripts (webpack setup). I will fix this ASAP. Sorry about that. :|

[2016-11-18 23:46] marcosmoura commented on #93
Yep. Will be done by the end of this month. :)

[2016-11-18 23:47] #93 closed

[2016-11-18 23:50] marcosmoura commented on #94
Oops! The ```md-tabs``` will be improved on the very next minor version. There is some performance issues, some animation problems that will be fixed too. Sorry to make you wait a little bit.

[2016-11-18 23:52] marcosmoura commented on #95
Yep. I can confirm that. I will change this ASAP. Sorry about that.

[2016-11-18 23:52] Stabzs commented on #94
No need to apologize!  You've done fantastic work and I appreciate it, thank you!  I just wanted to make certain I wasn't missing something and if not, bring it to your attention. Looking forward to the next minor version.

[2016-11-18 23:53] marcosmoura commented on #94
No. This is on Vue Material side. The ```md-tabs``` is a problematic component. Some concepts that were developed in others components will be used to make the tabs better. :)

[2016-11-19 00:00] Stabzs commented on #94
Fair enough :)  Looking forward to the improvements. If I can help, please let me know.

[2016-11-19 02:34] Cabbaggio opened #96 "md-input-container doesn't set the value"
Hello,
if you set the initial value of an md-input to null or undefined and then overrides it (asynchronous like an ajax) than the value of the md-input-container will not be set to the new value

example:

[code]

[2016-11-19 09:15] kristianmandrup commented on #89
Maybe just add an extra property on the `$event` like `srcInputElement`

[2016-11-19 11:16] v0y opened #98 "How to set focus on md-input?"
Hello,

Thank you for great work!

My question is: How to set focus on `md-input`?
I tried something like:

[code]

But it doesn't work

Any ideas? thanks!

[2016-11-19 19:35] stefanpkc commented on #98
in console: ```$vm.$refs.myref.$el.focus();```

I tried this in the mounted method: ```this.$refs.myref.$el.focus();```

On the component itself: ```<md-input ref="myref" v-model="initialValue"></md-input>```

Works for me.

[2016-11-19 20:05] stefanpkc opened #99 "svg support for Icons"
Would be awesome if svg could be possible with mdButton somehow.

Also, where can we find a list of icons that can be used right now?

[2016-11-19 21:01] stefanpkc commented on #96
I've reproduced it and you're partially right. The value is set. It's just not visible. On update of the input it should emit an event with the new value so the parent container gets notified. Then it can add the class md-has-value.

If you open your developer tools and do this: ```<div class="md-input-container md-has-value">```
you will see the value is visible.

[2016-11-20 00:24] Cabbaggio commented on #99
i think all of these icons are available https://material.io/icons/

[2016-11-20 00:29] stefanpkc commented on #99
Thanks!

Still missing some icons though ;-) would be better if we can choose ourselves by using svg so we are not limited. Would it be as simple as putting it in the slot?

[2016-11-20 08:24] logol commented on #92
okay good point, I think without ".default" it would be a bit more self explanatory

[2016-11-20 22:12] icehaunter opened #100 "md-input label not moving of input after model change"
Looks like a bug similar to #69 but my md-input is only in md-input-container (basically just like in the docs). I have a button to fill my input with predefined value, and after I set it, input's value updates, but corresponding label still overlays it, not moving up.

[2016-11-21 01:40] marcosmoura commented on #100
Which version are you using?

[2016-11-21 01:41] marcosmoura commented on #99
Well. Right now the Vue Material doesn't support SVG icons inside ```md-icon```. But will soon. I will prioritize this. Thanks! :)

[2016-11-21 01:51] marcosmoura commented on #87
Well. As you can see on the <a href="https://vuejs.org/v2/guide/migration.html#Listening-for-Native-Events-on-Components-with-v-on-changed">Vue.js migration guide</a> all the "native" browser events on custom components (like md-input) should be used with ```.native``` modifier:
[code]

[2016-11-21 01:51] #87 closed

[2016-11-21 01:52] #86 closed

[2016-11-21 01:58] marcosmoura commented on #98
If you want to set this when some button is clicked you can have something like that:
[code]

If you want this programatically this should be on the ```mounted``` function.

[2016-11-21 01:58] #98 closed

[2016-11-21 02:02] marcosmoura commented on #100
Sorry. I could confirm that. Will be fixed in the next fix version. Thanks!

[2016-11-21 02:05] marcosmoura commented on #96
See #100

[2016-11-21 02:05] #96 closed

[2016-11-21 02:05] #100 closed

[2016-11-21 02:10] marcosmoura commented on #95
Already fixed. Will be released on the very next fix version.

PS.: Thanks for this gif. Helped me a lot! :)

[2016-11-21 02:10] #95 closed

[2016-11-21 02:22] #88 closed

[2016-11-21 02:22] #91 closed

[2016-11-21 02:50] #85 closed

[2016-11-21 03:20] #92 closed

[2016-11-21 03:22] marcosmoura commented on #92
```Vue.use(VueMaterial.default)``` will no longer work. You should use ```Vue.use(VueMaterial)``` instead.

[2016-11-21 03:23] marcosmoura commented on #48
```Vue.use(VueMaterial.default)``` will no longer work on the next version. You should use ```Vue.use(VueMaterial)``` instead.

[2016-11-21 03:24] marcosmoura commented on #39
@rwatts3 Well. Right now you can only use colors from the Material Design Specs. I will develop a better way to change the colors for your own. :)

[2016-11-21 03:24] marcosmoura commented on #33
```Vue.use(VueMaterial.default)``` will no longer work on the next version. You should use ```Vue.use(VueMaterial)``` instead.

[2016-11-21 03:27] marcosmoura commented on #79
```Vue.use(VueMaterial.default)``` will no longer work on the next version. You should use ```Vue.use(VueMaterial)``` instead.

[2016-11-21 05:18] stevieyu opened #101 "docs input foucs placeholder display error"
![kapture 2016-11-21 at 13 17 20](https://cloud.githubusercontent.com/assets/8325201/20471469/ffc74726-afec-11e6-8a06-4f04e9eac047.gif)
https://marcosmoura.github.io/vue-material/#/components/input

[2016-11-21 05:31] #101 closed

[2016-11-21 05:31] marcosmoura commented on #101
Oops! I'm publishing now a new release to fix this regression. Thanks again for the gif and sorry about this problem.

[2016-11-21 05:42] marcosmoura opened #102 "Reactive themes"

[2016-11-21 06:59] Stabzs opened #103 ""Stuck" tooltips in v0.3.3"
When numerous elements in close proximity (for instance, a repeated list of 10 elements) have tooltips on them and you quickly move up and down the elements, the tooltips occasionally get stuck and do not automatically dismiss.

This issue is not present in v0.3.1 and only appeared when upgrading to v0.3.3.

[2016-11-21 07:02] Stabzs opened #104 "md-input-container does not respect theme"
Versions: v0.3.1, v0.3.3.

When a theme is applied to `md-input-container` or `md-input`, the theme is not applied.  This is currently present in the demo under https://marcosmoura.github.io/vue-material/#/components/input -> Themed.  In the demo, the two elements are supposed to be overridden to green and brown but they both retain the original color.

[2016-11-21 07:39] qurioust commented on #87
@marcosmoura Thanks a lot. 👍

[2016-11-21 09:13] RemeJuan opened #105 "Support themeing with hex values"
Is it possible to setup the theme using hex values, when I try it throws an A200 error

[2016-11-21 11:57] pauloramires commented on #88
Hi Marcos,
after updating to v0.3.3 I still get the 'Cannot read property '$el' of undefined' error.
I noticed that the culprit is the **md-table-pagination** component. If I remove it from the view, then the error is gone.

[2016-11-21 13:47] Stabzs commented on #105
Not currently. See https://github.com/marcosmoura/vue-material/issues/39

[2016-11-21 16:38] marcosmoura commented on #103
Oh. I coundn't reproduce that. Can you give me a codepen example?

[2016-11-21 16:42] marcosmoura commented on #104
O noticed that. The problem is that the directive change the element class and the ```md-input-container``` is reactive, so soon as the directive change the class the container changes his class to another. I will change that ASAP. The workaround is to wrap the elements in a extra div to fix the problem.

[2016-11-21 16:43] marcosmoura commented on #105
Like @Stabzs said this is not possible yet. It will be improved.

[2016-11-21 16:43] #105 closed

[2016-11-21 17:47] Stabzs commented on #103
So sorry, I absolutely should have included an example.  http://codepen.io/anon/pen/BQWmrQ

In this case, I've noticed it within a tabs component tab when there are a number of elements, in Chrome.  Just move your mouse back and forth over the letters with tooltips.  Eventually one will get stuck.  It feels like an interrupted animation.  The issue does not occur with v0.3.1.

[2016-11-21 17:49] Stabzs commented on #104
Thanks for the workaround.  Wrapping the `md-input-container` in a div and applying the theme to that div does indeed work!

[2016-11-21 19:24] stefanpkc commented on #99
Great!
btw, really great job on vue-material. It's so easy to import just the components you need. Thank you 😄 👍

[2016-11-21 22:56] achernyak opened #107 "Masking on input forms"
Are there any plans to implement a way to apply masks to input fields? I was not able to accomplish this by the normal route. I was trying to use `v-bind:value` and `v-on:input`. I also tried applying a computed field to just `v-bind:value` without `v-on:input`, and that seemed to have no impact.

[2016-11-21 23:30] marcosmoura commented on #107
Well. This will not be acomplished by Vue Material. You can create a directive for that. I recommend you to create a wrapper of this library: https://nosir.github.io/cleave.js/
You can also take a look here: https://github.com/vuejs/awesome-vue

[2016-11-21 23:30] #107 closed

[2016-11-22 03:47] #76 closed

[2016-11-22 12:17] alphaelf commented on #33
tanks marcos

[2016-11-22 12:47] achernyak commented on #107
@marcosmoura sorry, if I wasn't clear. I was not suggesting a creation of a mask through Vue Material. I was suggesting a way to pass a function that would run when the input value changes.

When I was applying a change through `v-on:input` to the value of `md-input`, It was getting overwritten by the `md-input-container` since the `onInput` function is defined separately inside the two components

[2016-11-22 12:58] marcosmoura commented on #107
Well. You can try two things:
- To use the native events modifier: ```v-on:input.native``` or ```:input.native```. Then you can fire your own function.
- To create a directive, like v-mask, and manipulate the value of the element. This is the best way since you can reuse this through your application and even make this as an open source library.

Remember that on Vue land the directives are intend

[2016-11-22 12:59] marcosmoura commented on #107
Oh. Just to add: v-bind will not work. You should use v-model instead.

[2016-11-22 13:00] achernyak commented on #107
Thank you so much for the help. I actually had no idea about the use of `.native`.

[2016-11-22 14:22] marcosmoura commented on #107
Yeah. It's a trick thing. I will add this to the new documentation.

[2016-11-24 22:30] marcosmoura commented on #103
(sorry about the delay to answer)
Oh. I see. This is a bad bug. And don't have a good workaround for now. I will fix that ASAP. Thanks a lot for the Codepen.

[2016-11-25 00:07] smizon opened #110 "Reporting a bug Tab width - v0.3.3"
Hello

Currently having issues with my tabs, and have identified the cause. When i use firebug to disable the width attribute, everything works great.

[code]

[2016-11-25 00:33] marcosmoura commented on #110
Hi @smizon. Can you give me some screenshot to see the problem? Or put some code on Codepen?

[2016-11-25 00:51] smizon commented on #110
Hello @marcosmoura ,

Sorry about that, First image show the issue with the width and location, which hides the content.
Second image shows removing the width fixes this

_Image with the **Issue:**_

![screen shot 2016-11-25 at 00 43 44](https://cloud.githubusercontent.com/assets/2208078/20611760/555a3136-b2a8-11e6-92a7-8c00ba1e5d1c.png)

_Image with **Issue Gone:**_
![screen shot 2016-11-25 at 00

[2016-11-25 03:37] marcosmoura commented on #110
Well. I didn't get it. Do you have md-tabs in one side and another content on the other side?
Like 2 columns? And the md-tabs is affecting you content on the right side?
Or you tried to apply another CSS in order to change the tabs to be displayed on the right side of the navigation?

[2016-11-25 04:06] DevEclipse opened #111 "How to make layouts? here?"
Im using the card component but on the documentation there are no layouts available and dialogs wil lthis be implemented? or is there a layout control but not documented?

[2016-11-25 04:34] marcosmoura commented on #111
What do you mean by layout? Like a CSS Grid System (with rows and columns)?

[2016-11-25 05:28] DevEclipse commented on #111
yeap

[2016-11-25 05:30] DevEclipse opened #112 "(in promise) TypeError: Cannot read property 'removeEventListener' of undefined(…)"
that error always emit in side nav with this code

[code]

vue methods:

[code]

![image](https://cloud.githubusercontent.com/assets/19868205/20615303/691082aa-b313-11e6-9aca-97396926b6b1.png)

please repro this

[2016-11-25 09:30] DevEclipse commented on #112
the problem was the mb button its removing a listener that is not defined

[2016-11-25 11:40] marcosmoura commented on #112
I see. Change the click function on your button and list item to ```click.native```. This works for you?

[2016-11-25 11:43] marcosmoura commented on #111
Duplicated #78 #93 #37 #35

[2016-11-25 11:43] #111 closed

[2016-11-25 16:24] DevEclipse commented on #112
it works its seems that the md button with a tooltop made it

[2016-11-25 16:28] jonataswalker commented on #9
@marcosmoura It looks like your pen is a bit buggy:

`Uncaught TypeError: Cannot read property 'installed' of undefined(…)`  on vue.min.js

[2016-11-25 17:16] marcosmoura commented on #112
Ok. Cool! :D
I will close this. If something wrong come up please let me know!

[2016-11-25 17:16] #112 closed

[2016-11-25 17:22] marcosmoura commented on #9
@jonataswalker Oops! Sorry. Fixed now! :)

[2016-11-25 17:41] DevEclipse opened #113 "Table with pagination gives an error Cannot read property '$el' of undefined(…)"
![image](https://cloud.githubusercontent.com/assets/19868205/20632520/1914813c-b379-11e6-99cb-928bec41242c.png)

Here is the code just copied all of it for testing it out

This is the code from the documentation in the website and pasted it on my template in .vue

[code]

then i also copied the data and methods in .vue file too inside script tag

its the same also but it emits an error
[code]

[2016-11-25 18:57] marcosmoura commented on #113
Which version of Vue and Vue Material are you using?

[2016-11-25 19:21] Cabbaggio opened #114 "error message if md-sort-by is not set"
Error Message: Uncaught (in promise) TypeError: Cannot read property 'removeEventListener' of undefined

http://codepen.io/anon/pen/mOMbwB

[2016-11-25 19:25] marcosmoura commented on #114
Oh. That's bad. I think the ```<md-table-head>``` is having a problem with the ```md-ink-ripple``` component. I will take a deep look. Sorry about that.

[2016-11-25 22:55] delueg opened #115 "Is a Range Slider component coming?"
Hello,

i want to ask if you  planning to implement a <input type="range" /> component for vue-material.

All Best

[2016-11-26 05:04] marcosmoura commented on #115
Yep. Will be developed. But unfortunately there's some other components or improvements to be made. So this will be scheduled for 0.6.0 or 0.7.0. Thank you.

[2016-11-26 09:18] DevEclipse commented on #113
the latest one

[2016-11-26 12:19] alphaelf commented on #80
i'll be waiting, tnx

[2016-11-26 18:10] Cabbaggio opened #116 "How can I clear SelectedRows in a table?"
After i deleted the selected rows in a table, the rows within the component are still selected.
Is there a way to clear the selected rows inside the table component?

Short example:
http://codepen.io/anon/pen/pNrebr

And i have annother question. Is there a reason why you return the selected rows as an object instead of an array?

[2016-11-26 22:18] marcosmoura commented on #113
I see. I will investigate this. Did you manage to get a workaround for this?

[2016-11-26 22:24] marcosmoura commented on #116
I will take a look at this too. Sorry about that. This component demands more tests.
Yeah. I had to convert the Array into an Object for performance reasons. I will expose a method to receive this as an Array again.

[2016-11-27 04:04] craigvantonder opened #119 "How can we style the buttons / icons within the table?"
Based on the table example: Within cards with Pagination and Inline Edit

I am trying to change the colour of the magnifying glass / search icon within that table so what I can show an active state on the button when toggling the visibility of a search input.

    <md-button class="md-icon-button" @click="toggleSearch()">
      <md-icon v-bind:class="{ 'md-accent': searchEnabled }">search</md-icon

[2016-11-27 04:10] craigvantonder commented on #113
I have the same thing when trying out this example.

[2016-11-27 05:43] DevEclipse commented on #113
No workaround made :(

[2016-11-27 16:21] Chitmin commented on #113
In my case, I add a line `if(!$parent) return false;` to getClosetVueParent.js, but you have to rebuild it. Otherwise, you'll have to find and add manually in minified 'vue-material.js'. Still, it's just a workaround. I don't know whats the source of this error.

[code]

[2016-11-27 20:11] sombriks opened #120 "require('vue-material/dist/vue-material.css') not working with browserify"
At the official docs it shows how to import the css definitions into the app

it however seems to work just for webpack

if the setup uses browserify, this approach will lead to error.

i've made this repo which samples the problem at this specific commit:
https://github.com/sombriks/simple-vue-material-setup/tree/8cba6cfc9ab4486b653457bf0926845ba1c1e20d

right now i'm looking for ways to make it

[2016-11-27 23:04] smizon commented on #110
I have applied a global CSS rule without 'scoped' enabled. Seems to be working now.

[2016-11-27 23:04] #110 closed

[2016-11-28 00:24] marcosmoura commented on #119
I will take a look at this ASAP. Sorry about that. :(

[2016-11-28 00:29] marcosmoura commented on #120
Well. Browserify *do not* support require of .css in Javascript files.
Instead of require you can have a <style> with the Vue Material file.
Like this:
[code]

[2016-11-28 00:30] #120 closed

[2016-11-28 00:30] #114 closed

[2016-11-28 01:29] sombriks opened #121 "add support for href on bottom bar item"
right now only v-on:click is supported

[2016-11-28 01:30] marcosmoura commented on #121
This is a good thing to add. I scheduled for the very next version.

[2016-11-28 07:21] craigvantonder commented on #119
No problem, someone suggested that I try a different class with !important but when I did it was then that I noticed that the class is not being applied to the icon when the component is being rendered. It just disregards it completely.

 By the way, thanks for the awesome set of components for Vue :-)

[2016-11-28 16:02] marcosmoura commented on #119
Can you place your code on the Codepen of JSFiddle?

[2016-11-28 16:14] craigvantonder commented on #119
Here we go: http://codepen.io/craigvantonder/pen/xRXVKN

[2016-11-28 17:41] marcosmoura commented on #119
I got it. It's a bug. There is a style on the `md-card` that is affecting the `md-table-card`. It's already fixed on the upcoming v0.4.0. The workaround, for now, is to add a custom class with the color of your theme. Like:
[code]

This is not good and shouldn't be deployed to production, but for now, you can move forward. After the release you can remove this class. Sorry about that.

[2016-11-28 17:41] #119 closed

[2016-11-29 08:42] tridcatij opened #122 "set selected in MdSelect"
First of all thank you for your incredible project!

It's not clear to me how to set default value for the select list. How to make 'LIKE' a default value in the example below?
[code]
[code]

Thank you!

[2016-11-29 13:59] bolerodan opened #123 "<md-select> Input field for filtering (space key prevented)"
First, love the work you are doing here, I use it in one of my projects, I come from Angular Material so all of this is extremely familiar to me and soon I hope to contribute to your work.

I tried implementing a search filter field that sits above the menu items in the select component. Similiar to Angular Materials structure. It works great, except that md-menu-content prevents the space key as

[2016-11-29 16:52] marcosmoura commented on #122
The correct code for this problem is:
[code]

[code]

This is not a Vue Material behaviour, but a Vue.js way to repeat items.
Thanks.

[2016-11-29 16:52] #122 closed

[2016-11-29 16:55] marcosmoura commented on #123
Thanks for the words.
Yeah. The ```<md-select>``` are intended to use the 'space' key event to confirm the selection. I have plans to implement the select header with a search behaviour. There is no workaround for now, sorry about that.

[2016-11-29 16:56] marcosmoura commented on #123
I will close this issue for now and reopen when I start to develop this improvement. Thanks!

[2016-11-29 16:56] #123 closed

[2016-11-30 00:33] eskrano opened #124 "Loader bar"
Hello . Your package have some loader bars?  @marcosmoura

[2016-11-30 01:48] DevEclipse opened #125 "Cards doesnt inherit the theme v-md-theme doesnt work"
Im trying to use themes on other components but it doesnt work is this implemented?

[2016-11-30 12:44] ChenZerong opened #126 "Why do u can render a Object in v-for [mdTabs]."
I recently started learning vue, I tried to component of the time, I found no way to use v-for the rendering of an Object data, I found your mdTabs components can be done, this is amazing, I checked the information and Read the source code are not the result, I would like to ask about ~

file: src/mdTabs/mdTabs.vue
![image](https://cloud.githubusercontent.com/assets/16299018/20752694/98cd46da-b73d

[2016-11-30 20:01] eskrano opened #127 "Md table errors"
see #88 but not works for me and i have error. Use vuex + vue-router + vue2 . When i turnoff vuex everything works.

[2016-12-01 00:21] marcosmoura commented on #125
I didn't get it. What do you mean? Can you give some examples?

[2016-12-01 00:24] marcosmoura commented on #126
I didn't understand what you're asking. Do you want to create a component aside vue-material? Or do you want to implement mdTabs dynamically with an object as a source?

[2016-12-01 00:26] marcosmoura commented on #127
Can you give me some examples? Please read the [issue](https://raw.githubusercontent.com/marcosmoura/vue-material/master/.github/ISSUE_TEMPLATE.md) template.

[2016-12-01 00:26] marcosmoura commented on #124
Duplicated #20

[2016-12-01 00:26] #124 closed

[2016-12-01 01:45] ChenZerong commented on #126
@marcosmoura  yeah, i want to implement mdTabs dynamically with an object as a source.

[2016-12-01 01:50] marcosmoura commented on #126
You can have something like that:
[code]

[code]

Please let me know if this works for you.
Thanks.

[2016-12-01 01:55] marcosmoura commented on #29
Well. Thiss is quite fixed. For the sidenav it's done. For the other components, since they need some other improvements, I will delay this a little bit. Notice that this lib is in constant development, so a lot of things will be improved/changed until the first stable version.
Thanks!

[2016-12-01 01:55] #29 closed

[2016-12-01 02:05] ChenZerong commented on #126
thanks~ it can work for me.
![image](https://cloud.githubusercontent.com/assets/16299018/20778994/9e4b2270-b7ac-11e6-878b-71525fe171dd.png)

But I read your source code, I would like to know is that in my component, how can I let my components like you, let an empty Object after adding the content update view, like your components.

![image](https://cloud.githubusercontent.com/assets/16299018/2077

[2016-12-01 02:11] marcosmoura commented on #126
Well. This is pretty much Vue.js logic here. There is no additional secret to make this object for being rendered. Please notice that this do not have any relation with Vue Material.
This object below will work exactly like the last example that I gave to you.
[code]

Please let me know if this works for you.
Thanks.

[2016-12-01 02:15] ChenZerong commented on #126
i try it, your last example can work for me. maybe my code have some unknow error, i think it by myself . thank you very much, vue-material is great! 👍

[2016-12-01 02:17] #126 closed

[2016-12-01 03:13] ThomasSoloist opened #128 "Can't use it when I finish read the "Getting Started""
html
[code]

main.js
[code]

And nothing happend...

[2016-12-01 03:30] marcosmoura commented on #128
For both cases you need to use the theme that you've created:

[code]

#### To use with Require.js:
Instead of calling the Vue Material script inside your HTML file you'll need to require it inside your script:
[code]

#### To use without Require.js:
In this case you need to call the Vue Material inside your HTML (like you did):

[code]

[code]

#### Or you can use some [vue-cli](https://github.co

[2016-12-01 04:30] ThomasSoloist commented on #128
![screen](https://cloud.githubusercontent.com/assets/12109558/20781899/dc3e0f92-b7c1-11e6-9779-5387734953dd.png)

@marcosmoura Thanks, but after I tried, It still not work for me. I didn't know where is wrong...

[2016-12-01 04:34] marcosmoura commented on #128
You didn't implemented like I said in the previous example. Take a look at the Require.js part. You should import Vue Material there too.
[code]
Also looks like that the CSS file it's not loaded. Can you take a look at this?

[2016-12-01 07:00] ThomasSoloist commented on #128
It works, thank you very much. And I have tried the vue-cli, it's very cool. Thanks! 👍

[2016-12-01 07:00] #128 closed

[2016-12-01 15:45] throrin19 opened #129 "Md-menu : whiteframe"
Hi,
I have a question about md-menu and md-whiteframe, it's possible to create a menu with a whiteframe ?

In the google guideline, menu are elevated and, in this case, menu must have a shadow. Actually, I can't find the possibility to add whiteframe on your md-menu component.

Thanks

[2016-12-01 15:55] albanm opened #130 "Add ability to get palette from the current v-md-theme directive"
I want to build custom components inside my project that can not be built purely from Vue Material base components (svg charts for example) but that should adapt to the same themes.

From what I see in the code maybe I should push something in Vue.material.styles ? This could solve a part of the problem, but ideally it should be possible to bind variables also.

[2016-12-01 16:35] marcosmoura commented on #129
But menus have a shadow. With a 2dp thin. Are you testing in which browser?

[2016-12-01 16:40] marcosmoura commented on #130
Well. What you want it to have a way to get the colors from the Vue Material theme engine, right? Right now this is not possible. As you can see [here](https://github.com/marcosmoura/vue-material/projects/3) there is an item on my backlog to develop this feature. This will be a way to declare a directive (or a component) and style your own custom component. But this is not prioritized yet. Sorry a

[2016-12-01 16:40] #130 closed

[2016-12-01 22:25] capttrousers commented on #53
FYI @marcosmoura  this issue comes up using generic webpack as well. your fix doing the following worked for me.
`import 'css!vue-material/dist/vue-material.css';`

[2016-12-02 01:09] huobaiyu opened #132 "md-icon-button does not work when run dev locally"
<div id="wrapper" v-md-theme="'default'">
        <md-toolbar>
          <md-button class="md-icon-button">
            <md-icon>menu</md-icon>
          </md-button>

          <h2 class="md-title" style="flex: 1">Vue Material</h2>

          <md-button class="md-icon-button">
            <md-icon>favorite</md-icon>
          </md-button>
        </md-toolbar>
        <br></br>
         <div clas

[2016-12-02 02:54] #25 closed

[2016-12-02 02:56] marcosmoura commented on #132
Hi @huobaiyu.

Are you using the Material Icons?
[code]

[2016-12-02 03:00] huobaiyu commented on #132
Yes. I have run  “npm install material-design-icons",but icons still not be shown.

[2016-12-02 03:02] marcosmoura commented on #132
No. That's different. You should import material icons directly as a link in you HTML. Like on the snippet that I gave. :D

[2016-12-02 03:31] huobaiyu commented on #132
In main.js file. I have add the following lines:
import VueMaterial from 'vue-material'
import 'vue-material/dist/vue-material.css'

import App from './App'
import 'bootstrap/dist/css/bootstrap.css'

Vue.use(VueMaterial)

Vue.material.theme.register('default', {
    primary: 'cyan',
    accent: 'pink'
})

[2016-12-02 03:32] marcosmoura commented on #132
No. You should add this line in your index.html:
[code]

[2016-12-02 03:34] huobaiyu commented on #132
After I added "<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">“ in index.html. It works. Thank you.

[2016-12-02 04:35] marcosmoura commented on #132
Cool!

[2016-12-02 04:35] #132 closed

[2016-12-02 08:13] throrin19 commented on #129
In your site and in my project, menu an select have no shadow. I test this on chrome linux 51.0.2704.106

[2016-12-02 08:15] Phanu282003 opened #133 "Please share the simple project"
Hello,

I tried to implement vue-mateiral with my web application around 2 days ago but I cannot do that, so It would be better If anyone share the simple project by using the vue-material to me please.

I am very new with vue-material.

Thanks,
Phanuwat

[2016-12-02 09:02] huobaiyu opened #134 "<md-bottom-bar > is not at the bottom of page"
bottom bar is not fixed at the bottom of html page.

### Steps to reproduce

### Which browser?

### What is expected?

### What is actually happening?

### Reproduction Link

<!-- You could start with this template: http://codepen.io/vue-material/pen/WGavBE.

[2016-12-02 12:35] marcosmoura commented on #129
Oh. That's strange. I will take a look at this in this particular version of Chrome.

[2016-12-02 12:36] marcosmoura commented on #133
Hi @Phanu282003.

I will create some examples on Codepen. Will be present on the 0.4.0 release that it's almost done.
Thanks!

[2016-12-02 12:42] marcosmoura commented on #134
Yep. I could provide some classes that would try to align the bottom bar on the bottom of your page but this maybe don't work for all cases. This is kinda responsability of your application for some reasons:
* If we have a class like 'md-absolute', with position absolute the alignment would not work properly depending of you application structure and/or the parent elements position.
* If we have a

[2016-12-02 12:42] #134 closed

[2016-12-02 13:05] cschweda commented on #133
+1

Looking forward to the new release. I'm using vue-material for the components but milligram.css for the grid layout.

Any plans to incorporate the Materialize grid as part of the package? (Or is this something I can drop right in with the Materialize.css? I guess I should try this first -- but I had been using Milligram.)

Thoughts?

[2016-12-02 13:25] sombriks commented on #134
@huobaiyu i use something like this on my solution, and it might work for you too

[code]

[2016-12-02 15:13] Sarpedion opened #135 "Progress bars with data table"
Greetings,

while I am aware that progress bars are planned with milestone v0.5.0  (#20), I was wondering if progress bars will also be incluced in some manner with datatables?

To be more precise on what I had on mind, I was thinking of something like shown here:
[Datatable with progress bar](http://codepen.io/anon/pen/BjvLVJ?editors=1010)

Clicking refresh button will start a progress bar beneat

[2016-12-02 16:20] eskrano commented on #124
@marcosmoura can u give example using this progress bars?

[2016-12-02 16:46] marcosmoura commented on #133
I don't have plans to integrate with Materialize or any other lib. I will create a grid layout based on flexbox for v0.5.0. Take a look here #78 #35 #23 #93

[2016-12-02 16:49] marcosmoura commented on #135
Yeah. That md-data-table was used as a source of inspiration. So, after the release of progress bars I will add to the table as well.

Thanks!

[2016-12-02 16:49] #135 closed

[2016-12-02 16:49] marcosmoura commented on #124
It's not implemented yet. Will be implemented on v0.5.0

[2016-12-02 16:51] marcosmoura commented on #53
That's great. I simplified the documentation. Will be available along with v0.4.0.

[2016-12-02 16:52] marcosmoura commented on #125
@DevEclipse ping

[2016-12-02 16:52] marcosmoura commented on #127
@eskrano ping

[2016-12-02 18:29] capttrousers opened #136 "md-input component has some of the styles but lacks others"
### Steps to reproduce
Either clone my repo, `npm install` and then `npm run dev` to see the initial page, or just checkout the relevant code as laid out in the "Whats actually happening" section. Theres not much code to get the vue-material module set up and running, its just not working as expected.

### Which browser?

most recent of each after running npm update, checking on windows and linux,

[2016-12-02 18:41] marcosmoura commented on #136
Thanks for that such detailed description.
The <md-input> SHOULD be used inside <md-input-container>. The default <input> element of HTML doesn't get ANY css. Only the <md-input> have the style. This should be like that because the <md-input-container> have all the behaviour and classes to toggle input and label states. If you don't want the float labels, you can use the md-inline attribute, like

[2016-12-02 18:44] capttrousers commented on #136
Sorry I dont understand.

When I put `import 'css!vue-material/dist/vue-material.css';` in my main.js file, and then use webpack to load it all up into the bundle, it looks like it's actually loading that css as simple <style> tags in the <head> of the html doc. But maybe it's not getting all the css or soemthing. What I want is the input label to kinda transition and appear above the input, when

[2016-12-02 18:49] capttrousers commented on #136
Also, im using the pug/jade preprocessor for the vue-loader somehow, so im not sure if that is affecting the vue-material components or not. Do i need to register those components in the parent component to use them? ie, in the app.vue component, do i need to register any of the vue-material components?

[2016-12-02 19:02] marcosmoura commented on #136
No. You don't need to do anything different that you already have. Try to link your css file like this:
[code]

[2016-12-02 19:14] capttrousers commented on #136
so that vue-material.css file is the one in the node_modules/vue-material/dist folder correct?
Can i just link it in the index.html file like that, or would I need to mess with the express routing, or possibly copy the vue-material.css file into my own build/ folder that is public?

[2016-12-02 19:19] marcosmoura commented on #136
Just link. But on build task you will need to copy.
Can you publish this in a URL? I can check this for you.

[2016-12-02 19:26] capttrousers commented on #136
Thanks for the help!
What should I publish in a URL?

[2016-12-02 20:03] marcosmoura commented on #136
You project. It is possible?

[2016-12-02 20:07] capttrousers commented on #136
I dont have a public facing server to host it on yet, so I will try a variety of options linking that css file to see if i can get it working, and update here. Thanks!

[2016-12-02 20:27] throrin19 commented on #129
I have the problem with Chrome OSX 54.0.2840.98 (64 bits). The shadow is visible on the show/hide of menu but disapear on hover

[2016-12-02 20:51] throrin19 opened #137 "Ripple can't create on right place"
Hi, I have another problem with the ripple effect.

I add my ripple on my element like your example :

[code]

Normally, the div `md-ink-ripple` is created in this div but, if I test my element in the navigator, this is the generated ripple :

[code]

In this case, my element is a component i create many times with different parameters in the same div, this is the cause of the bug?

Thanks.

[2016-12-02 23:42] sombriks commented on #129
in order to help to narrow down, my machine works well: http://imgur.com/a/cxjOa

[2016-12-03 00:50] marcosmoura commented on #137
The element that received the ripple directive have a position relative? It's not explicit on the documentation (yet) but this needs to implemented.

[2016-12-03 10:43] throrin19 commented on #137
It's my bad, with the `position : relative` it works fine

[2016-12-03 10:43] #137 closed

[2016-12-03 11:37] eskrano commented on #127
@marcosmoura i dont have example in this time. Delete the project. But i use base tables example (1st in docs)

[2016-12-03 14:55] marcosmoura commented on #137
Oh. Don't worry. Stay tuned. I will release a new version this weekend.

[2016-12-03 14:57] #133 closed

[2016-12-03 15:32] marcosmoura commented on #125
Closed due to no response.

[2016-12-03 15:32] #125 closed

[2016-12-03 15:33] marcosmoura commented on #129
I already know what is wrong. It's related to 'clip-path' animation. I will fix this asap.

[2016-12-03 15:37] marcosmoura commented on #127
Well. I see. It lacks some informations, so I will close this issue. If something related to vuex come up I will reopen/reference this issue. Thanks.

[2016-12-03 15:37] #127 closed

[2016-12-03 19:52] #65 closed

[2016-12-03 19:52] #94 closed

[2016-12-04 10:28] craigvantonder opened #139 "Using select in Vue modal example?"
I wanted to use the [Vue example modal](https://vuejs.org/v2/examples/modal.html) in conjunction with the [Material select component](https://marcosmoura.github.io/vue-material/#/components/select).

I found that when the select is used in this case then the drop down will appear behind the modal window, it's position fixed to the main window that is layered under the modal:

![Illustrating the is

[2016-12-04 10:38] craigvantonder commented on #84
Do you just need codepen links to component examples as with the docs or what do you need help with exactly and how might we go about it?

[2016-12-04 11:07] gudvinr opened #140 "Layout bug in examples"
### Steps to reproduce

- Go to [example page](https://marcosmoura.github.io/vue-material)
- Open some example with clickable elements (e.g. ripple, buttons)
- Push clickable elements

### Which browser?
Chrome 53.0.2785.143. Ubuntu 16.04 (64-bit)

### What is expected?

Predictable click without abnormal behaviour

### What is actually happening?
See screenshots
![vue-mdl-bug](https://cloud.githu

[2016-12-04 11:25] craigvantonder commented on #140
That default area looks odd, this is what mine looks like:
Chrome 54.0.2840.59. Ubuntu 16.04 (64-bit)

![Screenshot](http://i.imgur.com/DhMDO3d.png)

[2016-12-05 01:58] #129 closed

[2016-12-05 02:05] marcosmoura commented on #139
Hey @craigvantonder

Thanks for a such detailed description/Codepen.
I have found that the bug is related with the z-index indeed. I fixed this in your [Codepen](http://codepen.io/vue-material/pen/WoMqqg).

Look that this modal is a third party code. And, if you want, I will release a new version of Vue Material (v0.4.0) tomorrow with a brand new md-dialog component.

Thanks.

[2016-12-05 02:05] #139 closed

[2016-12-05 02:08] marcosmoura commented on #84
@craigvantonder I need every single example inside Codepen. A playable example of the same example in the Documentation. This shouldn't be created by hand, you know? Should be implemented using the Codepen API for better support.

Thanks for the interest in contribute with this project! :D

[2016-12-05 02:28] #121 closed

[2016-12-05 02:58] #113 closed

[2016-12-05 02:58] #116 closed

[2016-12-05 02:58] marcosmoura commented on #104
This will be fixed when the new Theme Engine comes.

[2016-12-05 02:58] #104 closed

[2016-12-05 03:31] #136 closed

[2016-12-05 03:32] marcosmoura commented on #140
I'm releasing a new documentation website. So this bug will be fixed. Thanks!

[2016-12-05 03:32] #140 closed

[2016-12-05 03:34] #103 closed

[2016-12-05 05:10] DevEclipse opened #146 "md-fixed in sidenav doesn't work 0.4.0"
![image](https://cloud.githubusercontent.com/assets/19868205/20874365/1748d89c-baec-11e6-988b-aca184d2cfaa.png)

![image](https://cloud.githubusercontent.com/assets/19868205/20874368/1d3cbf7a-baec-11e6-8e00-f99903b5ca8d.png)

[2016-12-05 06:50] mygnu opened #147 "new Layout tab demos/code doesn't work in chromium Version 53.0.2785.143 Built on Ubuntu"
### Steps to reproduce
open domo site in chromium on ubunu
### Which browser?

chromium v53.0.2785 --latest available on ubuntu
### What is expected?
tab data in demo and code tabs to be displayed
### What is actually happening?

![screenshot from 2016-12-05 17 48 59](https://cloud.githubusercontent.com/assets/4723535/20876013/29f48cda-bb13-11e6-9684-7b217bd00e08.png)
works like a charm in Firefox

[2016-12-05 06:54] marcosmoura commented on #147
I've found this bug. I fixed and I will release it ASAP.

[2016-12-05 06:55] marcosmoura commented on #146
Which browser? Have you fully updated VueMaterial?

[2016-12-05 08:10] throrin19 commented on #129
Yeah it works fine

[2016-12-05 08:16] DevEclipse opened #148 "Support for theming other components like cards 0.4.0"

[2016-12-05 10:03] throrin19 opened #149 "theme is ignored"
Hi, I've a problem with the application theme. I init vue-material like this :

[code]

But I have a problem for the inputs elements. On Focus, the inputs don't change their color. They keep their basic design as I had not selected them :

![capture du 2016-12-05 11-02-23](https://cloud.githubusercontent.com/assets/1394778/20880976/743c3efc-bada-11e6-9e40-692150d0b2dd.png)

Where is the problem ?

[2016-12-05 10:18] throrin19 commented on #149
Ok, it's my bad, I forgot to set the `v-md-theme="'default'"` on my appView

[2016-12-05 10:18] #149 closed

[2016-12-05 13:31] huhk-sysu opened #150 "Incorrect code example for Components - Dialog"
I found a wrong reference of code In the docs site for vue-material.

Check out the [Dialog Component](https://vuematerial.github.io/#/components/dialog).

![image](https://cloud.githubusercontent.com/assets/14769033/20886549/89bd8cf2-bb31-11e6-88df-916e3f38e311.png)

In the html example of "Prompt", I expect to see some code related to \<md-dialog-prompt\>. While it wrongly offer the example of \

[2016-12-05 15:23] Morgul opened #152 "Chips"
Chips represent complex entities in small blocks, such as a contact.

Specs for [Chips](https://material.google.com/components/chips.html)

![Chips](https://material-design.storage.googleapis.com/publish/material_v_9/0B7WCemMG6e0VV21LOUp1OGdrRTg/components_acux_chips_chipstxticon.png)
![Chips](https://material-design.storage.googleapis.com/publish/material_v_9/0B7WCemMG6e0VM1VORGxxWUx5U0E/componen

[2016-12-05 15:29] Morgul commented on #152
Just to give my use case here: I have need to adding arbitrary, user defined tags to an object, and then being able to filter by those tags later. The chips component feels like a perfect fit for this.

I might look at contributing this component myself, if it ends up blocking my project, but I'm unsure if you would want an `<input type="text">` to back it, or just a straight implementation with a

[2016-12-05 15:37] throrin19 opened #153 "Ripple lag on v-if large statement"
I've test to render in a basic html tab 1k of data rows whith a button whith the `v-md-ink-ripple` on it and this is the result in chrome timeline :

![capture du 2016-12-05 16-24-47](https://cloud.githubusercontent.com/assets/1394778/20890574/a11b32a2-bb07-11e6-9006-0d3782fb3dde.png)

All purple/red parts is the render of the `v-md-ink-ripple` on each tab line. If I remove the `v-md-ink-ripple`,

[2016-12-05 16:20] jtouzy commented on #78
Maybe you can look at http://flexboxgrid.com/ : Grid system based on flexbox grids (classes names are bootstrap-like, but it's very lightweight).
Just a suggestion :-)

[2016-12-05 16:24] abooysen opened #154 "Open side menu for large screens"
Do you have any plans to implement something similar to the Navigation layouts used by Material Design Lite (getmdl.io > Layout). I’m looking for the functionality where the side menu is shown for large screens but hidden for small screens. I see that you use custom css media queries in your demo site to achieve this effect. In getmdl.io, “mdl-layout--fixed-drawer” is added to the parent layout co

[2016-12-05 16:29] marcosmoura commented on #78
Hi @jtouzy

I like the idea. I will get some inspirations on [http://flexboxgrid.com](FlexboxGrid) and on [Structure](http://kenwheeler.github.io/structure/)
But the API that I want to develop will be something like that:

[code]

[2016-12-05 16:48] marcosmoura commented on #152
Hi @Morgul

Thanks for the suggestion. I would love to see a PR related to the md-chips components. But first we have to discuss I little bit of the API.
I was thinking here that the API could be something like that:
[code]

#### md-chips - Properties
| Name             | Type        | Description                                       |
| ------------   |:---------:| ------------------------------

[2016-12-05 16:59] jtouzy commented on #78
@marcosmoura
Do you want to have a fixed number of columns in a single row ? I think it could be better than a automatic columns division system by default, even if it could be great in some cases...

Something like :

[code]

[2016-12-05 17:01] sombriks commented on #78
Hi,

why not https://material.angularjs.org/HEAD/layout/options

[2016-12-05 17:02] marcosmoura commented on #153
Hi @throrin19

Yep. I know. The ripple code is not that good. I will recreate the ripple from scratch with performance in mind. Also I will drop the support for ripple directive in the near future. For your use case, I don't have a good workaround (for now). What you can do is:

* Create a custom button:
Instead of `<md-button>` component, you can use a custom buttom with the md-button class
[code

[2016-12-05 17:05] Morgul commented on #152
@marcosmoura I like that proposal. It should cover most of the use cases I can think of. I'll have to learn the new scoped slots, but from a quick read through, the seem to fit the use case well.

I probably won't be starting to work on this for the next week, we'll see. If you haven't seen a PR from me yet, and you want to implement this, ping me here, and I'll let you know if I've gotten anywher

[2016-12-05 17:17] marcosmoura commented on #154
Hi @abooysen

I have plans to develop that. It's on my [backlog](https://github.com/marcosmoura/vue-material/projects/1) (Layout components). The idea is to create some components like the [App Layout](https://elements.polymer-project.org/elements/app-layout) from Polymer.

I will not schedule this for now, but I will update this issue soon.

Thanks.

[2016-12-05 17:20] marcosmoura commented on #78
Yeah. Will have a way to specify the size, but I like the idea to pass the percentage. WIll be close to the Angular Material "flex" attribute.

[2016-12-05 17:22] marcosmoura commented on #152
Oh. That's really great! I want to release it on the [v0.6.0](https://github.com/marcosmoura/vue-material/milestone/7) which is scheduled for January 7!

If you want send me an email and we can discuss further.

Thank you!

[2016-12-06 00:51] javaday opened #156 "removeTooltips Throws Error in 0.4.0 and 0.3.3"
The removeTooltips function on line #9937 of vue-material.debug.js is throwing an error at line #9944.

This error is generated after a computed list in mapGetters is updated and the component is re-rendering. We were seeing this error in 0.3.3 and updated to 0.4.0 thinking that might fix it but it is still happening.

Also, this is in an Electron app.

The attached photo is a screenshot of the co

[2016-12-06 01:05] marcosmoura commented on #156
Hi @javaday

I see. I already know whats happening and I will fix it ASAP. Sorry about that.

[2016-12-06 01:06] #150 closed

[2016-12-06 01:07] marcosmoura commented on #148
HI @DevEclipse

What do you mean about theming cards? To provide a "red" background, for example? If the answer is yes: I will develop this for the next minor version. I will prioritize it.

Thanks!

[2016-12-06 02:49] jeimz143 opened #157 "Switch problem"
### Steps to reproduce

### Which browser?

### What is expected?

### What is actually happening?

### Reproduction Link

<!-- You could start with this template: http://codepen.io/vue-material/pen/WGavBE.

hi bro there is a problem with the switch page on your website and i cant review the code snippet.
https://vuematerial.github.io/#/components/switch. since i cant review the code, i tried to u

[2016-12-06 02:50] jeimz143 commented on #157
hi bro there is a problem with the switch page on your website and i cant review the code snippet.
https://vuematerial.github.io/#/components/switch. since i cant review the code, i tried to use the lower version switch but the problem is, The  switch was disabled. i just follow the instruction. please reply asap thanks :)

[2016-12-06 02:53] marcosmoura commented on #157
Uh. Sorry about that. I will fixx this ASAP. Some examples:
[code]

[2016-12-06 03:16] ragamuffinguil commented on #157
Hi dude same issue here, using the code above. Do we need to code something for it to work? the  switch button is always disabled.

[2016-12-06 03:18] marcosmoura commented on #157
Do you have the v-model variable in your data/computed? Are you running your code in which env? Browserify? Webpack? Another tool? Standalone? Which browser? Can you put part of your code on Codepen/JSBin?

[2016-12-06 03:27] jeimz143 commented on #157
@ragamuffinguil  try to add a value on your data/computed bro. :)

[2016-12-06 03:28] ragamuffinguil commented on #157
Yehey it works, thanks @jeimz143

[2016-12-06 03:28] marcosmoura commented on #157
@ragamuffinguil Did the data/computed thing worked for you? Do you have some suggestions to make the docs better? Can I close this issue?

[2016-12-06 03:29] marcosmoura commented on #157
Wow. You've commented first! Great! If something come up let me know! Thanks!

[2016-12-06 03:51] ragamuffinguil commented on #4
Hi @marcosmoura  same request as above ([please implement time and date selector](https://github.com/marcosmoura/vue-material/issues/4)). thanks in advance. ;)

[2016-12-06 05:21] vuchl commented on #4
Maybe you guys can check out this repo in the meantime :https://github.com/bastienGranger/vue-material-datepicker . It needs tweaaking but can be customized to fit into the theme.

[2016-12-06 05:37] vuchl commented on #152
Since you made a spec allready I could implement it today if you want

[2016-12-06 05:39] Morgul commented on #152
@vuchl If you're ready right now, go for it! I'm still several days out from having the time.

[2016-12-06 05:43] vuchl commented on #152
will see if I can squash it out over the ourse of the day. depends how much load work is

[2016-12-06 08:21] throrin19 commented on #153
Have you try to use another ripple like this ? https://github.com/surmon-china/vue-touch-ripple

After test in my app, this is the result with my large list :

![capture du 2016-12-06 09-20-29](https://cloud.githubusercontent.com/assets/1394778/20918038/57affa9c-bb95-11e6-8a5f-c14fcc781c79.png)

I think, if you have no time to rewrite and optimize your ripple, the best way is to use anoter ripple.

[2016-12-06 09:37] lzuccaro opened #159 "'disabled' property (md-select)"
Hi,

there's a problem with the 'disabled' property of the Select component. Even if 'disabled' is set to true, you can still select one of the options.

[2016-12-06 10:05] throrin19 opened #160 "textarea resize"
Hi,
I have a problem with the md-textarea component. If I go on an edit form with data in the textarea with multi lines, the height is not correctly calculated :

![capture du 2016-12-06 11-02-23](https://cloud.githubusercontent.com/assets/1394778/20921296/b2d90eaa-bba3-11e6-8c10-458e6d8f5aef.png)

This is the code of the current form component :

[code]

[2016-12-06 12:19] thoss opened #161 "big data in dialog content"
Hi,

I have a md-table in md-dialog element, if there is a huge amount of rows the content will be cut off and it is not possible to scroll

[Image](https://pl.vc/zopzp)

Tested with Google Chrome in v54

I will make a codepen if the latest version is supported.

[2016-12-06 12:47] marcosmoura commented on #153
I will develop a new ripple component and add a configuration to disable it.

[2016-12-06 13:06] Sarpedion opened #162 "Dialog applies backdrop to itself"
Greetings,

I am using the same code as provided in documentation (for custom dialog). When I open dialog, it applies backdrop to itself. Tested on Chrome Version 55.0.2883.75 m
By that I mean that it looks like:

![image](https://cloud.githubusercontent.com/assets/16826299/20926325/06470d4a-bbbc-11e6-8066-ef7f65f6bc81.png)

My current workaround is that I apply custom css style to dialog.

CSS:
[

[2016-12-06 13:07] marcosmoura commented on #152
Hi Guys. Of course. You can start today, tomorrow, 7 days from now. Don't worry. :D

[2016-12-06 14:19] petarjs opened #163 "mdTablePagination - No way to know if next page or prev page?"
mdTablePagination emits `pagination` and `page` events, but there's no way to know if we should move to the next page or the previous page (unless I'm missing something?).

Here's the code responsible for that:
https://github.com/marcosmoura/vue-material/blob/master/src/components/mdTable/mdTablePagination.vue#L73

The same method is called regardless of if it's the next or the previous button tha

[2016-12-06 15:27] vuchl commented on #152
i started today but got a bit into trouble. especially with the SASS Part. will share a repo later

[2016-12-06 15:50] breadlesscode opened #164 "[Feature request] shrinking toolbars"
Hi,

first of all, **I LOVE YOUR WORK!** And a big thanks for your daily work!

Would you implement shrinking toolbars?

Examples: https://material.google.com/patterns/scrolling-techniques.html#scrolling-techniques-behavior

I love this material design feature =)

[2016-12-06 15:53] sombriks commented on #164
indeed, this is a nice project and this is a marvelous feature.

hey maintainer, you should set up a [patreon](https://www.patreon.com/). So we could financiante a beer or two.

[2016-12-06 16:40] jonataswalker commented on #163
I'm exactly in the same situation.

[2016-12-06 17:18] rwatts3 commented on #93
I see this was closed and a new release for version `0.4.0` Just wondering if a grid system was implemented within this release ?

[2016-12-06 17:21] marcosmoura commented on #159
I will check this ASAP. Thanks

[2016-12-06 17:22] marcosmoura commented on #160
This happens when you type or on initia value?

[2016-12-06 17:23] marcosmoura commented on #161
I will check this ASAP.

[2016-12-06 17:24] marcosmoura commented on #162
This is strange. Are you using the theme correctly?

[2016-12-06 17:25] marcosmoura commented on #163
I will focus on improvements over pagination. I will fix this for the very next version. Sorry about that. Thanks!

[2016-12-06 17:32] marcosmoura commented on #164
Hi @breadlesscode @sombriks
Thanks for the words! :D

About the feature: Yes. I will be implemented. Like I said ins #154 I have plans to implement some core components to deal with application shell. And a shrink and the Flexible space feature will also be developed. I will try to address this to 0.7.0.

About patreon: Not for now. I want to make it almost stable and then I will think about that.

[2016-12-06 17:35] throrin19 commented on #160
On initial value

[2016-12-06 17:36] marcosmoura commented on #160
Oh. That's good to know. I will address this to the next version. Thanks!

[2016-12-06 17:44] marcosmoura commented on #93
Not. Will be in v0.5.0. Check out the [Milestones](https://github.com/marcosmoura/vue-material/milestones) Thanks!

[2016-12-06 17:49] petarslovic commented on #163
Awesome, thanks!

[2016-12-06 18:15] jonataswalker commented on #163
I've tested some modification locally and this was enough:

[code]

[2016-12-06 18:43] jonataswalker commented on #163
There's more:

[code]

[2016-12-06 18:45] Sarpedion commented on #162
It seems I have been applying it wrongly the whole time, although this is first time I had issue with it:

The way I was applying it was:

[code]

When I applied theme to the wrapping div, it worked fine:

[code]

Sorry for bothering you with this issue

[2016-12-06 18:50] marcosmoura commented on #162
@Sarpedion Don't worry. I will make some improvements over themes in the nexts versions, so issues like that will be fixed.

[2016-12-06 18:50] #162 closed

[2016-12-06 18:51] marcosmoura commented on #163
@jonataswalker Great! Can you create this as a PR? :D

[2016-12-06 18:53] petarjs commented on #163
@jonataswalker Just watch when incrementing / decrementing currentPage, so it doesn't go below 0 or above total number of items :)

[2016-12-06 18:59] Sarpedion opened #165 "Internet Explorer issue with compatibility"
Greetings,

I've been testing if my application works equally well on all browsers, and I've noticed the following issue on Internet Explorer 11. Google Chrome and Mozilla Firefox work extremely well and have no compatibility issues that I've noticed. Furthermore, I've checked on two different machines, and both had same issue.

The issue can be replicated by going to [tabs demo page](https://vuem

[2016-12-06 19:14] marcosmoura commented on #165
Wow. That's bad. IE 11 is bad but is a Vue Material target. I will take a look at this. Thank you for reporting that!

[2016-12-06 19:20] vuchl commented on #165
@Sarpedion can you try the demo page with the [`polyfill`](https://qa.polyfill.io/v2/docs/) from here?

[2016-12-06 19:32] jonataswalker commented on #163
@petarjs Yes, for sure, I'll handle it.

@marcosmoura The PR is on the way.

[2016-12-06 19:49] #157 closed

[2016-12-06 19:51] marcosmoura commented on #165
The problem is with the `Object.values` functions. I will replace it with another method. :)

[2016-12-06 20:02] vuchl commented on #165
well it's allready a polyfill. maybe looking for an alternative rather then implementing your self is a safe bet.

[2016-12-06 20:16] Sarpedion commented on #165
@vuchl I must be honest, I do not know how to use polyfill. I've just included it as a script on index.html, and I haven't noticed any improvement. Thanks for the advice anyways, I am going to read docs a bit on how to implement it. :)

[2016-12-06 20:18] vuchl commented on #165
@Sarpedion that should be enough I believe.

[2016-12-07 08:57] jtouzy opened #168 "md-tabs doesn't trigger @change event"
In the docs, md-tabs seems to trigger "change" event when a tab is changed:

![image](https://cloud.githubusercontent.com/assets/5709133/20960682/e08c46d2-bc61-11e6-8efd-5780d5b973e8.png)

But no event is triggered in mdTabs.vue

I can send a pull request to correct it. I think this is just a missing $emit() in the setActivateTab() method (forked project with correction works : event is triggered

[2016-12-07 10:25] throrin19 opened #169 "md-whiteframe"
Hi, It's possible to remove the specific design of the md-whiteframe ?

[code]

In my case, I use the whiteframe for an absolute element and this rules broke my design.

Otherwise, instead of having to create an element, why not go through a directive that adds depth-specific design to the element that uses it ?

Like this :

[code]

[2016-12-07 14:12] marcosmoura commented on #169
Yeah. I think will be better to remove this z-index. Although it can be overwritten in your use case.
I don't like the idea of having a directive, but maybe I can change the component to pass another property called "md-tag". In this case you can pass any tag name that you want and the whiteframe will render it.

[2016-12-07 14:16] marcosmoura commented on #168
Yeah. The tabs have been recreated on the latest version, and I think that I missed this event. Sorry about that. I would love to see a PR with this change. Thanks.

[2016-12-07 16:07] jtouzy commented on #168
The PR : #167

[2016-12-07 20:49] #163 closed

[2016-12-07 20:49] #165 closed

[2016-12-07 20:49] #168 closed

[2016-12-07 21:19] #169 closed

[2016-12-08 11:34] VicarEscaped opened #172 "Question: getInViewPosition scroll position"
Hi!
I have a question: does in getInViewPosition.js in position calculation included scroll position?
I have run into bag, than i have multiple menu/select components on page dropdown top position does not calculated properly.

[2016-12-08 11:44] #161 closed

[2016-12-08 11:45] marcosmoura commented on #172
Hi @VicarEscaped
Can you add a example on Codepen?
Thanks!

[2016-12-08 11:57] #160 closed

[2016-12-08 12:10] #159 closed

[2016-12-08 12:13] #156 closed

[2016-12-08 12:13] marcosmoura commented on #146
@DevEclipse ping!

[2016-12-08 15:36] throrin19 commented on #160
The bug is still there. In my case the formular is in an hideen/visible panel linke the sidenav.

[2016-12-08 15:38] throrin19 commented on #169
the whiteframe has still this design in the last version (`0.4.1`) :

[code]

In my elements i should use the `!important` flag but it's not the best slution

[2016-12-08 15:38] thoss commented on #161
Thanks for the quick implementation!

2016-12-08 12:44 GMT+01:00 Marcos Moura <notifications@github.com>:

[2016-12-08 15:39] marcosmoura commented on #160
Well. The fix watches the value inside the field and then do a quick update to the size. The watcher will update the field after this change. Can you put an example on Codepen?

[2016-12-08 15:52] marcosmoura commented on #169
You don't need `!important`. You can add a class to the element that you want and the apply your z-index.

[2016-12-08 16:05] #148 closed

[2016-12-08 17:25] DmitrySkripkin opened #174 "Input's name attribute is not set"
When I do that
[code]
I expect to have name attribute to be set for input created. I can see this behaviour for type, disabled, placeholder and others attrs.

My usecase was to use https://github.com/logaretm/vee-validate for validation. But name attr is required for it.

[2016-12-08 17:49] marcosmoura commented on #174
The name attribute is applying, as you can see here on [Codepen](https://codepen.io/vue-material/pen/ZBRoaw/).

[2016-12-08 20:14] capttrousers commented on #22
Piggy backing on this thread, @marcosmoura  is the md-button-toggle wrapper component necessary if we want a single toggle button? I could use the switch/checkbox component but I like the toggle button for my UI better. Or can we just do an <md-button> component and programtically add or remove the md-toggle button to get the same effect?

[2016-12-08 21:02] DmitrySkripkin commented on #174
Sorry, you are right. Name attr is ok, no idea how I lose it. Something is wrong when I try to use it with vee-validate, but that's anouther issue. Next time I'll check everything before creating an issue.
BTW thanks for updates.

[2016-12-08 21:13] DmitrySkripkin commented on #174
But funny thing is that I have fix for it. But since I don't understand the problem I'm confused.
Here is the fix I did:
https://github.com/DmitrySkripkin/vue-material/commit/a36ddff1c354f2fd66f686b91928f0d3047f0d67
I'll add Copepen in a few minutes to show the problem I run into.

[2016-12-08 21:25] DmitrySkripkin commented on #174
If you change something you'll see vee-validate errors below the input. And `filed: null` that's the problem. Works fine with plain html input. Or with fix I mentioned before.
https://codepen.io/DmitrySkripkin/pen/BQVqYM

[2016-12-09 08:33] throrin19 commented on #160
This is a simple example with the bug here : https://jsfiddle.net/bejgm8sx/

[2016-12-09 09:42] throrin19 commented on #174
To run vee-validate with the vue-materials forms compoents, you should add the ` data-vv-name` attribute. I see this attribute in this issue on problems between vee-validate and custom form components : https://github.com/logaretm/vee-validate/issues/118#issuecomment-261817224.

In my project, the code works fine whith this options :

[code]

[2016-12-09 10:00] throrin19 opened #176 "Documentation to contribute and build part"
It's possible to add a documentation to build the project locally ?

I want to contribute to this project in creation on new material components (spinner, datepicker, ...) and debug of existings components

Thanks :)

[2016-12-09 10:01] VicarEscaped commented on #172
Sorry for delay.
I can't reproduce this issue on codepen (there it works like a charm). I report then i can reproduce it. But for now we can close this issue.

[2016-12-09 10:07] #176 closed

[2016-12-09 10:38] delueg opened #177 "@blur v-on:blur not working on md-input and @change don't fire if change from somewhere else"
Hello,

i can't make it work to trigger something "onblur"-event.

And the @change event (the only one is working for me) don't fire if the v-model gets a change from somewhere else.

see here https://jsfiddle.net/delueg/mrmdo8y5/1/

Can somebody help me?

[2016-12-09 11:18] VicarEscaped commented on #172
I've dig into problem and, i think, i've found that caused issue.
When in [getInViewPosition.js](https://github.com/marcosmoura/vue-material/blob/master/src/core/utils/getInViewPosition.js#L8) calculating element positioning in viewport, calculation depends on window.innerHeight. And if there is a large content (7000px in my case), select dropdown will display always at top of page, beacuse in get

[2016-12-09 11:20] VicarEscaped commented on #172
probably #175 fix this

[2016-12-09 14:56] #146 closed

[2016-12-09 15:46] #174 closed

[2016-12-09 15:49] marcosmoura commented on #177
To fire native events in custom compontens you should use `.native` modifier:
`v-on:blur.native` or `@blur.native`

[2016-12-09 16:00] #172 closed

[2016-12-09 17:52] marcosmoura commented on #22
No. You will need to add the wrapper.

[2016-12-09 22:13] delueg commented on #177
Oh ok thanks. And about the @change "issue"

[2016-12-10 09:34] ChenZerong commented on #177
@delueg you can use `.native` modifier on `@change` :
`v-on:change.native` or `@change.native`  it's work for me.

[2016-12-10 10:03] ChenZerong commented on #177
Because the `@change` is a custom events by `<md-input>`, look here [source](https://github.com/marcosmoura/vue-material/blob/master/src/components/mdInputContainer/common.js#L55).

[2016-12-10 13:59] thoss opened #179 "drag and drop with sortablejs"
Hi,

I have tried to implement sortablejs within a md-list but it is not working with md- elements.
Is there any workaround to use such an sortable framework?
Are there plans to implement drag and drop ?

Thank you

[2016-12-11 11:56] lzuccaro opened #181 "md-table issues"
Hi,
I'm experiencing some issues with the md-table component.

1. The pagination ignores the 'md-total' prop, showing the value of Number.MAX_SAFE_INTEGER as total items.

2. Sorting doesn't work anymore.

Thanks for your support.

[2016-12-11 12:00] Sarpedion opened #182 "Question: Adding transition to card"
Greetings,

I am not quite sure if this is a right place to ask such a question, but is there any way to add a transition to card whose content is dynamically changing?
 To be more specific, I have a card that has a table content in it, and when I use paging to show more rows, rows just snap into a place without transition, while I would like to see a transition.

I've prepared a codepen that show

[2016-12-11 12:04] craigvantonder opened #183 "Populating input values within custom dialog closes the dialog?"
I wanted to try make a simple form inside of the new custom dialog and it is looking good so far but I have one problem, if I enter input into any of the input fields then it will close the dialog.

I was able to reproduce the issue in a simple fiddle: http://codepen.io/craigvantonder/pen/dOjBeg

Still trying to figure out what is triggering the event to close the modal. Any ideas on how I could s

[2016-12-11 12:15] stevieyu opened #184 "Dialog in the document in the Android system WeChat and uc browser to display the error"
https://vuematerial.github.io/#/components/dialog

![kapture 2016-12-11 at 20 06 18](https://cloud.githubusercontent.com/assets/8325201/21080402/f8b3577a-bfe8-11e6-821c-feef76ae9cd7.gif)

video link https://drive.google.com/open?id=0B1x81UAQyNzkQ3h2Q1BoeG5GWW8

[2016-12-11 15:22] marcosmoura commented on #182
The transition here is due to tabs component. The tabs automatically calculate the height of his active tab and create this transition. On the date you can also create a transition but you need to do it by hand. Here is how:
https://vuejs.org/v2/guide/transitions.html

Thanks.

[2016-12-11 15:25] marcosmoura commented on #183
Oh. That's crazy. Hahaha. I will check this ASAP. Thank you.

[2016-12-11 17:55] Sarpedion commented on #182
Oh thank you. I will try to implement it myself, thanks for the tip.
Closing now

[2016-12-11 17:55] #182 closed

[2016-12-12 01:48] #177 closed

[2016-12-12 01:50] marcosmoura commented on #179
Hi @thoss.

I didn't try anything like that, so I don't have a workaround for now. But I have plans to create the sortable list.

Thanks!

[2016-12-12 01:50] #179 closed

[2016-12-12 01:53] marcosmoura commented on #181
Hi @lzuccaro.

I will take a look at the pagination thing. Regarding sorting I'm using and testing constantly and I didn't have problems with it. Can you provide a Codepen example with this bug?

[2016-12-12 01:54] marcosmoura commented on #184
Hi @stevieyu

When this happens? Can you provide a detailed description?
Thanks!

[2016-12-12 02:32] stevieyu commented on #184
1. Find Android
2. Download WeChat or UC, recommended download UC
3. Open the https://vuematerial.github.io/#/components/dialog with WeChat or UC

WeChat apk download link https://play.google.com/store/apps/details?id=com.tencent.mm
UC apk download link https://play.google.com/store/apps/details?id=com.UCMobile.intl

These two software use more people in China,

[2016-12-12 04:48] marcosmoura opened #185 "Progress Bar"
Progress and activity indicators are visual indications of an app loading content.

Specs for [Progress Bar](https://material.google.com/components/progress-activity.html)

![Progress Bar](https://material-design.storage.googleapis.com/publish/material_v_9/0B7WCemMG6e0VWkJiRjRLbzRNS3M/components_progress_and_activity.png)

[2016-12-12 04:55] #20 closed

[2016-12-12 04:58] #147 closed

[2016-12-12 07:11] jtouzy commented on #181
I get into the sorted issue too, directly on the demo website:

First sort:
<img width="513" alt="capture d ecran 2016-12-12 a 08 07 53" src="https://cloud.githubusercontent.com/assets/5709133/21090779/4fd92eea-c042-11e6-8b0a-ccd018af3865.png">

Second sort:
<img width="507" alt="capture d ecran 2016-12-12 a 08 08 04" src="https://cloud.githubusercontent.com/assets/5709133/21090780/4fda8948-c042-1

[2016-12-12 07:14] marcosmoura commented on #181
I think I wasn't clear enough on the documentation example, but the sort don't do anything there. The sort functionality ONLY fire a event to when a user clicks on the `md-table-head`. I will change the documentation with better examples.

[2016-12-12 07:15] #181 closed

[2016-12-12 07:22] marcosmoura commented on #78
**Already in progress**

The API will be "simple", I think. The following options will be available:

* md-tag
* md-row
* md-row-xsmall
* md-row-small
* md-row-medium
* md-row-large
* md-row-xlarge
* md-column
* md-column-xsmall
* md-column-small
* md-column-medium
* md-column-large
* md-column-xlarge
* md-flex / md-flex="33" - Layout size
* md-gutter / md-gutter="8" - Layout 'padding' between lay

[2016-12-12 08:07] lzuccaro commented on #181
Thanks for the clarification.
With regard to the pagination issue here is what I see.

![screenshot from 2016-12-12 09-04-38](https://cloud.githubusercontent.com/assets/16936064/21092030/44961252-c04a-11e6-8224-bd2c36d8c86e.png)

[2016-12-12 08:09] marcosmoura commented on #181
Uh. Sorry about that. I will fix this ASAP for the next version. The workaround for now is to pass the 'md-total' with a valid number or text.

[2016-12-12 11:06] kristianmandrup opened #187 "Please add documentation for webpack 2"
Trying to grog [css-loader](https://github.com/webpack/css-loader) but rather confusing

[code]

The `vue` loader works, but in the css-loader docs it says to use the full `css-loader` name?
What is the correct way? I hate having to go through so many docs and trial and error in order to make a a few libs work together. Please help us having to go through all this trouble.
Thanks.

[2016-12-12 11:07] kristianmandrup commented on #187
I keep getting this error:

[code]

Fuck!

[2016-12-12 11:30] jtouzy commented on #78
Maybe you can add some directives like md-hide-xsmall, md-visible-xsmall... ?
It's not directly related to the GridSystem but rather to the Responsive mechanism.

[2016-12-12 16:33] Sarpedion opened #188 "Issues with MdTooltips"
Greetings,

I've noticed that switching between pages that have MdTooltips in them generates errors that can kill the session.
Unfortunatly, I have not been able to make a codepen that reproduces the error, but the issue can also be seen on documentation. The pages that contain tooltips in them are [Table](https://vuematerial.github.io/#/components/table) and [Tooltip](https://vuematerial.github.i

[2016-12-12 23:10] marcosmoura commented on #78
Yeah. Will be present as well. Thanks to remind me about that.

[2016-12-13 04:12] marcosmoura commented on #188
Hi @Sarpedion

The md-tooltips will be recreated on the next release. Sorry about that. Thanks!

[2016-12-13 04:12] #102 closed

[2016-12-13 12:12] huhk-sysu opened #191 "Separated html file for custom dialog"
By far, it seems that we have two ways to define the content of a dialog:
- Use the `md-dialog` directive and directly write html code in it.
- Use predefined dialog with `md-content-html`.

For the first solution, it would be hard to manage the content when the html code grows bigger and bigger. Especially, when we have several dialog with full content, the whole html code for the page would be i

[2016-12-13 12:27] Sarpedion opened #192 "Table selection - selection is removed on paging"
Greetings,

when I select data on a table, and then use paging to go to next page, upon returning to the page where I selected data, selection is removed.

A quick codepen demonstrating an issue:
https://codepen.io/Sarpedion/pen/pNxvPw

What I've noticed is that in data provided by selection, index always increases, even if I go to previous page.

Example, I selected first row on first page:

[cod

[2016-12-13 12:58] lhas opened #193 "Material Themes, "hue" property don't work with accent/warn"
It only works with primary.

### Steps to reproduce

### Which browser?

### What is expected?

### What is actually happening?

### Reproduction Link

<!-- You could start with this template: http://codepen.io/vue-material/pen/WGavBE.

[2016-12-13 14:09] marcosmoura commented on #191
Well. The first approach is the best one. You can write your own html in html/vue files. The second one is designed to output simple html content, like bold text. And you will miss the flexibility of writing your own markup.

If your html is getting bigger then you should think about splitting your application in small components. Maybe your dialog can be a component.

But if you still want to loa

[2016-12-13 14:09] #191 closed

[2016-12-13 16:46] rslhdyt opened #194 "[Question] Using vue-router definition in <md-list-item>"
I have installed this awesome `vue-material` in my vuejs project, also I use `vue-router` to manage app routing. In component list I want use `<router-link>` as `<md-list-item>` instead of using url properties in `<md-list-item url="URL">`.

this is posible and how can I implement it?

[2016-12-13 18:23] fusion44 commented on #194
To my knowledge it is not possible at the moment. As a workaround I use Javascript routing like this:

`<md-button @click="onSignIn">Sign In</md-button>`

[code]

[2016-12-13 20:22] marcosmoura commented on #194
The @Sarpedion solution is the way to achieve that. The Vue Material documentation use this approach.

Thanks!

[2016-12-13 20:22] #194 closed

[2016-12-13 20:23] marcosmoura commented on #193
Hi @lhas

I will check this. In my tests I didn't face this problem. The 0.4.0 version will come with an improved theme engine.

[2016-12-13 20:25] marcosmoura commented on #192
Hi @Sarpedion

The selection will be cleared by default on page change. The index bug is ugly. I will check this.
Thanks!

[2016-12-13 20:30] marcosmoura commented on #187
Hi @kristianmandrup

I can't check that. This is a Webpack 2 issue.
Try to change in the webpack config:
[code]

Thanks!

[2016-12-13 20:32] marcosmoura commented on #184
Hi @stevieyu

I will try to check the docs in UC Browser, but this project do not aim to support it. I will close this issue and reopen if something changes.
Thanks.

[2016-12-13 20:32] #184 closed

[2016-12-13 21:08] piotrgulbis commented on #78
Looking forward to this! Great stuff!

[2016-12-13 21:44] marcosmoura commented on #78
First part done in the [components/mdLayout](https://github.com/marcosmoura/vue-material/tree/components/mdLayout) branch.
Now I will develop the "responsive" part.

[2016-12-13 21:47] capttrousers commented on #22
I can't seem to get the toggle to behave like I expect, here's my code, but basically it applies the md-toggle class the opposite from when it should. When isParent returns true, the class is not applied, when it returns false, the md-toggle class is applied. The button component will not initially be toggled, and it is not when using the below code:

[code]

[2016-12-13 21:51] marcosmoura commented on #22
Can you add your example on Codepen?

[2016-12-13 21:59] capttrousers commented on #22
Hey @marcosmoura , I tried doing a jsfiddle, but I couldnt get the dependencies in. I see the template for codepen now, I will get that up and see if I can reproduce the issue, and open a new gh issue. Thanks!

[2016-12-13 22:30] capttrousers opened #195 "md-button-toggle unexpected behavior"
#22

### What is expected?
initial data test should be false, meaning md-toggle is not applied initially but after clicked it is.

### What is actually happening?
the class binding is behaving opposite of expected, when test is true, md-toggle is not applied, and vice versa

### Reproduction Link
http://codepen.io/anon/pen/mOzpyo

[2016-12-13 22:34] capttrousers commented on #195
Repro'd in codepen link above.

Hierarchy data value is 'none' thus the isParent method should return false initially, thus the md-toggle class should not be applied initially, but it is applied

[2016-12-13 22:42] capttrousers commented on #195
I dunno if this is an issue with the class binding of vue.js or with the md-toggle button / class itself. Or maybe it's just the opposite because the md-toggle class means the button is "off" so to speak

[2016-12-13 23:37] marcosmoura commented on #195
I've found the problem. Your logic is almost correct.
When you are using a method to check something on your HTML you should **always** call it as a function:
[code]
To omit the parenthesis you can create a computed property, so you'll be able to use `isParent` like a variable:
[code]

Thank you!

[2016-12-13 23:37] #195 closed

[2016-12-13 23:42] breadlesscode opened #196 "[feature request] autocomplete"
Hi,

autocomplete would be nice feature.

https://material.google.com/components/text-fields.html#text-fields-auto-complete-text-field

When would you implement this?

[2016-12-13 23:58] marcosmoura commented on #196
Hi. The autocomplete components it's on my backlog. I didn't prioritize yet, but will come after 0.5.0. Thanks.

[2016-12-14 01:47] DevEclipse opened #197 "Feature Request please allow Vee-Validate in md-input"
I think its also a good idea as an input component that has validations to

[2016-12-14 02:33] marcosmoura commented on #197
Hi @DevEclipse.

This is not going to be part of Vue Material for some reasons:
* The validation can be different across different projects
* The validation should be defined and created using other logics
* Will increase (a lot) the complexity of Vue Material input, textarea, select, checkbox, radio, switch and other components that use v-model
* Will increase the Vue Material build size
* If Vee

[2016-12-14 02:33] #197 closed

[2016-12-14 02:37] capttrousers commented on #195
Thanks for the clarification.
So I tried both ways, either with that md-toggle class check switched to a computed property and no `()` and as a method with the `()` and neither seem to work.
Repro steps with computed prop:
1. http://codepen.io/anon/pen/yVRKQe
2. hierarchy starts as 'none', demonstrated in the text below the button, button is not highlighted, and does not have the md-toggle class,

[2016-12-14 02:45] marcosmoura commented on #195
You only need to set the md-toggle class if you want to highlight when the page opens! So basically you don't need to change the class when the user clicks on the button because the md-button-toggle will do this for you.
Simply remove the ` :class="{ 'md-toggle': isParent }"` and you're good to go.

Thanks!

[2016-12-14 02:47] capttrousers commented on #195
Ahhh haha I'm an idiot. Thanks it works!

[2016-12-14 02:48] marcosmoura commented on #195
Don't worry! Glad to help. Please tell me if something wrong come up. Thanks!

[2016-12-14 03:10] rslhdyt commented on #194
@Sarpedion actualy I've try like your example. but more simple.

[code]
but unfortunately it is not working.

I'll use @fusion44 solutions, because I need a callback after page is reloaded.

Thank You All

[2016-12-14 03:14] marcosmoura commented on #194
The @fusion44 methos works, but dont let users to open the link in another tab.
I'm using this in the documentation Website:
[code]

[2016-12-14 03:26] rslhdyt commented on #194
Noted! @marcosmoura

[2016-12-14 07:12] strothj commented on #183
I'm also running into this problem. For me it's with a normal dialog prompt. I'm getting the same DOM child error in the console.

[2016-12-14 08:51] thoss opened #198 "Setting mdOptions delayed after mdSelect value (async Request)"
Hi,

if we get the mdOptions for a mdSelect after we set the v-model value, the option is selected in the list but the text is not dislayed in the mdSelect span.

Can you fix this problem?

Thank you for your project!

[2016-12-14 12:08] kpilard opened #199 "Best practise to change the font"
We want to change the font from Roboto to Notto Sans.

Is there a suggested way?

[2016-12-14 12:09] ghettovoice opened #200 "mdSwitch doesn't updates when value prop changed"
Hi. I have an issue with updating state of the mdSwitch after it was rendered on the page. Take a look at the test case example below. I initialize mdSwitch with value from parent data, after 2 sec I update parent
property value, mdSwitch updates only it's color, but the button remains in place.
Is it expected behaviour?
I think it lacks watcher for `value` property to update internal state and bu

[2016-12-14 12:27] marcosmoura commented on #198
Oh. That's bad. I will fix ASAP. I will create a loading option for this cases later.

[2016-12-14 12:33] kristianmandrup opened #201 "Problems with md-dialog and tabs"
I'm having "huge" problems getting my material components working properly and find it very hard to debug

https://github.com/kristianmandrup/vue2-apollo-scaphold

[code]

[code]

My login tab looks as follows:

[code]

But it seems to be displayed even though the tab is not active. It's a mess!
Any chance you could have a quick look?

Thanks.

[2016-12-14 12:33] marcosmoura commented on #199
Hi @kpilard

Just insert the [Noto Sans](https://fonts.google.com/specimen/Noto+Sans?selection.family=Noto+Sans:400,700) font and set it in your css:
[code]

Thanks!

[2016-12-14 12:33] #199 closed

[2016-12-14 12:35] marcosmoura commented on #200
Hi @ghettovoice

Yep. You're right. It's missing a watcher. I will fix this asap. Thanks!

[2016-12-14 12:40] marcosmoura commented on #201
Hi @kristianmandrup

Can you try to simulate this on Codepen? I didn't get the error only by looking at the code here.
Thanks.

[2016-12-14 13:17] baggachipz opened #202 "Custom theme colors"
First off, I want to say that this is an awesome package and is very well done. Thank you for creating this.

Now, the greedy part. It would be nice to be able to theme the colors in a more custom manner that deviates from the Material color guidelines; that is, what if I want my primary color to specifically be #3C73AA (for example)? I can't accomplish that with adjusting the hue on any of the su

[2016-12-14 13:25] marcosmoura commented on #202
Hi @baggachipz
I would love to see a PR with this improvement. This is tracked in my [backlog](https://github.com/marcosmoura/vue-material/projects/3). I was planning to develop this to the 0.7.0 version. A new theme engine is working now on the develop branch and will be delivered on 0.5.0, but without this core change.

This do not hurt the Material Guidelines, if you follow the color contrasts

[2016-12-14 13:28] kristianmandrup commented on #201
Turned out the problem was a missing closing `/` for the final `<md-tabs>` ie. `</md-tabs>`

[code]

And my `App.vue` using the default theme. Still it doesn't display with any material styling.
Can you spot anything I'm missing?

PS: I'm using webpack 2.

Would be nice if you would include example of (or document) a webpack 1 & 2 configuration/setup.

[code]

webpack 2 config

[code]

[2016-12-14 13:29] kristianmandrup commented on #201
<img width="702" alt="screenshot 2016-12-14 14 29 24" src="https://cloud.githubusercontent.com/assets/125005/21183773/c619a562-c209-11e6-949b-41fff5243363.png">

[2016-12-14 14:29] ghettovoice commented on #200
Ok! Thank you

[2016-12-14 16:14] DomenicRoti opened #203 "Cannot read property 'installed' of undefined(…)"
I'm using v0.4.1 with vue v2.1.6

It's causing this error:
`vue.js?3de6:3357 Uncaught TypeError: Cannot read property 'installed' of undefined(…)` which appears to happening here:

`function initUse (Vue) {
  Vue.use = function (plugin) {
    /* istanbul ignore if */
    if (plugin.installed) {
      return
    }`

That error is in chrome, but firefox it is similiar it says `TypeError: plugin is u

[2016-12-14 16:24] DomenicRoti commented on #203
Actually, I figured out it out, the syntax changed from

`Vue.use(VueMaterial.mdCore)` to
`Vue.use(VueMaterial.MdCore)`

[2016-12-14 16:36] marcosmoura commented on #203
Yep. I forgot to mention. I will update the documentation. Sorry about that! Thanks!

[2016-12-14 16:36] #203 closed

[2016-12-14 17:35] marcosmoura commented on #201
Hi @kristianmandrup

You can start the Webpack 2 config from the documentation [website](https://webpack.js.org/guides/code-splitting-css/) (still WIP)

-------

I'm not going to add Webpack 2 or related in the documentation **for now**:
* The APIs of the new webpack are not finished yet
* It's still on beta stage with a lot of breaking changes
* This is low-low priority
* Maybe on the future I ca

[2016-12-14 17:35] #201 closed

[2016-12-14 18:46] #200 closed

[2016-12-14 19:17] #183 closed

[2016-12-14 19:33] marcosmoura commented on #188
I fixed some console errors, but the tooltip component still need to be recreated for performance and maintenance reasons. I will close this now and then I will open another issue for that. Thank you!

[2016-12-14 19:33] #188 closed

[2016-12-14 19:37] marcosmoura commented on #192
This is a breaking change. The code of pagination rely on the table indexes. If the v-for changes then the indexes refresh and add +1 to the list. This is really wrong and shouldn't be like that. I will need to rethink about this component later.
I will address to the `v0.6.0`. Sorry for the inconvenience.

[2016-12-14 19:53] #198 closed

[2016-12-14 20:20] rafaelbrotas opened #204 "Vee-Validate"
First of all I would like to parabeze you for the great work!
I started working with vue-material today and I have little experience, so it's probably a problem I'm not identifying.

When I configure vee-validate with an element "input" it is working normally but when I use "md-input" vee-validate does not identify the field.

I'm sorry for the English, but I'm using the translator.

[2016-12-14 20:50] kpilard opened #205 "mdTableEdit as textarea"
Hello,

we need a way to edit a textarea in a table. The mdTableEdit only provides an input field.
I could implement it, but i have to know the api (own component or a property for mdTableEdit)

And the mdTableEdit is missing in the docs since v0.4.0. Is there a reason for it or have you forgotten it?

[2016-12-14 22:26] marcosmoura commented on #205
Hi @kpilard.

Yes. I didn't mentioned because it's not finished yet. I will improve the md-table component with the table-edit. J would love to see an improvement over this element, but I would recommend you to way until the next version.

Thank you.

[2016-12-15 02:38] DevEclipse opened #206 "<md-icon> component Icons on Material site not working properly"
for example i want to use "exit to app" icon

`<md-icon>exit to app</md-icon>`

would not reveal anything

another thing is that it parses the wrong icon for example

`<md-icon>shopping cart</md-icon>`

it will parse

`<md-icon>shop</md-icon>`

[2016-12-15 06:16] huhk-sysu commented on #206
try `<md-icon>shopping_cart</md-icon>`
use the underscore instead of space

[2016-12-15 07:08] leopard7777777 opened #207 "<md-table-pagination> totalItems error"
for example:

when this.mdTotal = 10

javascript console:
[code]

there is same bug in your demo api website

[2016-12-15 11:58] huhk-sysu opened #208 "enable aligning the head/cell content in table to center"
I wonder why there's left-alignment and right-alignment but no center-alignment.
I think center-alignment may look more beautiful.
How about using a property like `md-table-align = "left/center/right" ?

So far`my workaround is:
[code]
here's an example
![qq 20161215195823](https://cloud.githubusercontent.com/assets/14769033/21223188/da380e92-c300-11e6-8072-f241c63f1944.png)

[2016-12-15 12:20] marcosmoura commented on #206
@huhk-sysu already gave you the answer. I will update the documentation with better examples. Thanks.

[2016-12-15 12:20] #206 closed

[2016-12-15 12:24] marcosmoura commented on #207
#181

[2016-12-15 12:24] #207 closed

[2016-12-15 12:26] marcosmoura commented on #208
This is against the Material Design specification.

[2016-12-15 12:27] #208 closed

[2016-12-15 16:35] marcosmoura commented on #204
Hi @rafaelbrotas

Can you create a Codepen with your issue? I can't help without see the code.

Thank you!

[2016-12-15 16:36] #187 closed

[2016-12-15 16:36] marcosmoura commented on #193
@lhas ping!

[2016-12-15 18:58] rafaelbrotas commented on #204
Hello Marcos, how are you?
Note that vee-validate identifies the input field by "name" but in md-input it assigns "undefined" and consequently I can not assign the classes of errors. Thank you very much!
http://codepen.io/anon/pen/XNyoyV

[2016-12-15 21:38] marcosmoura commented on #204
You should add the ```data-vv-name="emailMD"``` property. This is on the latest release of vee-validate. It's flagged as a breaking change. Thank you!

[2016-12-15 21:38] #204 closed

[2016-12-15 23:18] kpilard commented on #205
Yes i will wait for the next version

[2016-12-15 23:31] SKILEARN opened #209 "index.js:1 Uncaught SyntaxError: Unexpected token import"
Hello, Am new to vue and I keep getting this error whenever I try using the index.js file from the NPM install.

[2016-12-16 00:29] capttrousers opened #210 "md-input type="date" the label doesnt keep the input wide enough"
### Steps to reproduce
using an md-input with type="date"
if there is no value set, no initial value, or the v-model data property doesnt have an initial value, click the input and choose something, and then click the X to clear it, then click anywhere else on the page to clear the input focus

### What is expected?
I'd expect the label and the "placeholder" of the date input type to maintain the

[2016-12-16 02:21] jeimz143 commented on #210
@capttrousers i believe its just your table element that makes your input date squeeze.
you should try some other way or use something like this example http://materializecss.com/grid.html

[2016-12-16 02:55] marcosmoura commented on #209
Hello @SKILEARN

Please provide your code. I can't help without one! Thanks! :)

[2016-12-16 02:59] marcosmoura commented on #210
Hi @capttrousers

Your table is affecting the size of your input. If you remove it you'll see that the problem goes away. I will release a new verison this week with a grid system, so, if you want, you do not need to use that Materialize grid that @jeimz143 said.

Thank you.

[2016-12-16 02:59] #210 closed

[2016-12-16 04:26] jeimz143 commented on #210
ill be waiting with your grid system :)

[2016-12-16 04:45] #78 closed

[2016-12-16 06:15] marcosmoura commented on #210
It's already available!

[2016-12-16 06:16] marcosmoura commented on #78
Already available! Enjoy!

[2016-12-16 06:26] craigvantonder opened #214 "Include cdnjs into workflow?"
Just wondering if we could consider to add cdnjs into the workflow of this package, it would be awesome if we had CDN links to make use and I think the cdnjs-importer would make it easy to update the CDN when you release new versions?

I just figure it would make it easier for noobs like me to get going with vue-material as I battled a bit :)

Also, making fiddles i've been using rawgit but it's p

[2016-12-16 06:28] marcosmoura commented on #214
Agreed! I will prioritize that! Will be released ASAP! Thank you!

[2016-12-16 06:38] jtouzy opened #215 "md-list-expand : toggle() method missing"
In the docs, the md-list-expand API have a toggle() method to expand the item.
This method is missing.

I didn't make a PR because i don't know if you want to implement this method (in md-list-item render function i think) or juste remove it from the docs.

[2016-12-16 06:54] mastermind23 opened #216 "layout page"
https://vuematerial.github.io/#/ui-elements/layout
when you click code, the panels collapses and you cant see the syntax, sure you can still click the copy button but still a missing class maybe on the example panels?

[2016-12-16 06:59] jeimz143 commented on #210
i can't see the code again... when i preview the code ..
https://vuematerial.github.io/#/ui-elements/layout

[2016-12-16 07:11] jtouzy commented on #216
@marcosmoura Fixed in PR #217

[2016-12-16 07:13] craigvantonder opened #218 "Cannot scroll down on the docs site in Firefox"
I'm having issues with the new docs site. Cannot scroll up or down.

Ubuntu 16.04 - Firefox 50.1.0

That being said, it works fine in chrome.

Notice these errors in the console in firefox:

+ Blocked loading mixed active content "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" [Learn More] vuematerial.github.io
+ Blocked loading mixed active content "http://fonts.googleap

[2016-12-16 08:09] thoss opened #219 "Only one line displayed in dialog content (IE 11)"
Hi,

there will only one line displayed in the dialog content, for example the [confirm dialog](https://vuematerial.github.io/#/components/dialog) of your documentation. (tested in IE 11)

Thank you

[2016-12-16 08:16] nictaylr opened #220 "some theme error"
[code]

I upgraded to v5, and updated code to use new theme API

[2016-12-16 08:53] jtouzy commented on #220
+1 Same error when updating to v5 and updated theme API.

I think this is related to :
``Vue.material.currentTheme``, in the ``MdTheme`` mixin : [see here](https://github.com/marcosmoura/vue-material/blob/master/src/core/components/mdTheme/mixin.js#L35)
But I don't see why Vue.material wouldn't be initialized when the App renders.

[2016-12-16 11:22] VicarEscaped commented on #220
Hi, everyone!
which Vue version do you use? I play with Vue version on [codepen](http://codepen.io/vue-material/pen/WGavBE) and get error on 2.1.6 version:

    at o.render (VM308 vue-material.js:9)
    at o.n._render (VM130 vue.min.js:6)
    at o.<anonymous> (VM130 vue.min.js:6)
    at Pi.get (VM130 vue.min.js:7)
    at new Pi (VM130 vue.min.js:7)
    at o.e._mount (VM130 vue.min.js:6)
    at o.I

[2016-12-16 11:45] odranoelBR commented on #220
Same error here !

[2016-12-16 12:24] rslhdyt commented on #220
I had same error when migrate to 0.5.0, Vue version 2.1.0

[2016-12-16 12:35] rafaelbrotas commented on #204
Thank you very much!

[2016-12-16 12:47] throrin19 opened #221 "Have you seen the material-components ?"
Hi, Yesterday, Google published the material-components in NPM. Now, we just integrate that into Vue to get full usable material components used the correct guidelines : https://github.com/material-components/material-components-web

[2016-12-16 13:19] huhk-sysu commented on #220
same error in vue-material@0.5.0 && vue@2.1.6
![image](https://cloud.githubusercontent.com/assets/14769033/21263995/bbe219b8-c3d4-11e6-977f-19cfcc8ff574.png)
when I write like below
[code]
the error show up like this
![image](https://cloud.githubusercontent.com/assets/14769033/21264084/4450e158-c3d5-11e6-8713-dc10c1517601.png)
![image](https://cloud.githubusercontent.com/assets/14769033/21264088/4

[2016-12-16 14:02] marcosmoura commented on #221
Yep. I saw it yesterday. But I will continue with the development of Vue Material. Thanks.

[2016-12-16 14:03] #221 closed

[2016-12-16 15:07] nicolas-bonnel commented on #220
Same as above with vue-material@0.5.0 && vue@2.1.6

[2016-12-16 15:16] marcosmoura commented on #215
Oh yeah. You're right. I will add this functionality later, but for now I've removed! Thanks!

[2016-12-16 15:16] #215 closed

[2016-12-16 15:39] marcosmoura commented on #210
I will fix this ASAP/

[2016-12-16 15:54] #216 closed

[2016-12-16 15:58] capttrousers commented on #210
@marcosmoura  when you release new versions, all we need to do to get the updated version is just `npm update vue-material` ? or maybe just `npm update` in order to get updates to any dependencies? or is there any other steps? Thanks!

[2016-12-16 16:00] marcosmoura commented on #210
There is no dependency attached with Vue Material. Only Vue.js itself. So `npm update` or `npm i --save` it's enough. For the new version (0.5.0) there is a breaking change, so you should follow the instructions on the changelog page. Thanks!

[2016-12-16 16:03] marcosmoura commented on #218
Gotcha! I've found the problem. It's due to a flexbox issue on Firefox. I will release the fix in a couple hours. Thank you!

[2016-12-16 16:03] #218 closed

[2016-12-16 16:06] marcosmoura commented on #219
When this happens? Only for the confirm Dialog on the documentation?

[2016-12-16 16:09] capttrousers commented on #210
Nice dude, well done, I'm very excited about the grid system.

[2016-12-16 16:11] capttrousers commented on #210
fyi, the link in the title of the changelog here https://vuematerial.github.io/#/changelog
that links to this page https://vuematerial.github.io/releases/v0.5.0/
says that link doesnt exist

[2016-12-16 16:12] marcosmoura commented on #210
It'll be fixed too! Thanks!

[2016-12-16 16:17] marcosmoura commented on #220
I'm checking that. I'm sorry about this!

[2016-12-16 17:10] BRKsDeadPool commented on #220
Same error! but still render the <md-whiteframe> for some reason

[2016-12-16 17:25] marcosmoura commented on #220
Already found the problem. Working on it!

[2016-12-16 17:51] #220 closed

[2016-12-16 17:57] marcosmoura commented on #220
Fixed! Was a problem on Vue Material instance affecting only non commonjs env. To fix I had to expose the instance inside Vue instances as well. No breaking changes though:
[code]

Sorry about this ugly bug!

[2016-12-16 18:10] marcosmoura commented on #214
I already have a CDN: https://unpkg.com/vue-material
I will add this to the docs. Thanks!

[2016-12-16 18:10] #214 closed

[2016-12-16 18:10] #193 closed

[2016-12-16 22:28] odranoelBR opened #222 "Slow on mobile"
Im having bad performance on mobile.
On the animations, input change, tabs change , ripple effects...

I tested on materializecss, just to check if im not wrong, and it is very fluid.

Im studing here to provide some help on css performance.

Btw Tks for the library, very good job.

[2016-12-16 22:39] 0xFireball opened #223 "i'm not exactly sure what's wrong here"
This is my error:
It worked fine in previous versions, my component is just a toolbar with a simple sidenav.
I have updated my code to work with the new theming in `0.5.x`.
[code]

[2016-12-16 22:39] 0xFireball commented on #223
Here's another stacktrace:

[code]

[2016-12-16 23:39] odranoelBR commented on #222
Duplicate of https://github.com/marcosmoura/vue-material/issues/29

[2016-12-16 23:39] #222 closed

[2016-12-17 00:11] 0xFireball commented on #223
Reinstalling Vue and Vue material solved the problem. I'm not sure what was wrong, but it's fixed now!

Vue Material is the best!

[2016-12-17 00:11] #223 closed

[2016-12-17 05:04] DevEclipse opened #224 "Allow Center-xs and Middle-xs just like in flexboxgrid.com"

[2016-12-17 10:06] huhk-sysu commented on #78
How about adding a helper property to set the element's `justify-content` like `space around`

[2016-12-17 16:12] leopard7777777 opened #225 "[0.5.1] <md-switch> doesn't work"
\<md-switch\> doesn't work

[2016-12-17 17:51] marcosmoura commented on #225
Give me some details, please. Thank you

[2016-12-17 19:24] ozgureffe opened #227 "After last update Vue-Material is not working!"
I was using 4.x version everything was OK. Today updated to 5.1 and any simple component gives error like below.
I created a clean sandbox with simple components to test, apart from my project but unfortunately it is same..

`vue.js?3de6:513 [Vue warn]: Error when rendering component <md-button>:
warn @ vue.js?3de6:513
Vue._render @ vue.js?3de6:2934
(anonymous) @ vue.js?3de6:2335
get @ vue.js?3de6

[2016-12-17 19:52] ozgureffe commented on #227
I updated full project and it is fixed now. I think problem was related with a dependency version . Issue can be closed, sorry.

[2016-12-17 20:08] ozgureffe opened #228 "active-tab as a prop in md-tabs component."
I think tab component needs a property to select active tab.
It will allow us to switch tabs programmatically without directly clicking tabs.
I am currenctly using $refs to achieve this. But it will be much easier if I can select active tab with its name, or id of it. And I think it is a common scenario to switch tabs like this.

`<md-tabs :active-tab="music">`

[2016-12-17 20:17] marcosmoura commented on #228
This property already exists. And it's inside the md-tab component as `md-active`.

[2016-12-17 20:18] #228 closed

[2016-12-17 20:19] #227 closed

[2016-12-17 20:54] Sarpedion commented on #225
I guess he is talking about error that pops up in [switch documenation](https://vuematerial.github.io/#/components/switch.)

![image](https://cloud.githubusercontent.com/assets/16826299/21289677/5a9c61d4-c4a3-11e6-88fd-de38c6d10cfc.png)

[2016-12-17 21:18] justinjkline commented on #225
I'm getting this error as well. It's both on Vue Material's website as well as when I upgraded to the latest version (0.5.1).

[2016-12-17 22:41] Morgul commented on #224
Just for reference, the section being referred to is here: http://flexboxgrid.com/#alignment

![image](https://cloud.githubusercontent.com/assets/770655/21290198/cd79550e-c476-11e6-94bf-8582147bd0ee.png)

![image](https://cloud.githubusercontent.com/assets/770655/21290202/ef3b8b12-c476-11e6-9f6d-4583ca8a96c7.png)

I think these would be useful additions, thought I think that could could pull off `

[2016-12-18 03:07] leopard7777777 commented on #225
as same as  @Sarpedion  say, can't render this component.
now, i use 0.4.3 and wait for next stable version.
i enjoy your project very much.

[2016-12-18 09:18] vesavlad opened #229 "Pagination component not working correctly"
### Steps to reproduce
1. Initialize the pagination component via binding the values to locally stored values (default ones)
<md-table-pagination
            :md-size="pagination.perPage"
            :md-page="pagination.current"
            :md-total="pagination.total"
            md-label="Rows"
            md-separator="of"
            :md-page-options="[5, 10, 15, 25, 50]"
            @paginat

[2016-12-18 11:17] nicolas-bonnel opened #230 "md-select documentation for emitted events"
The [documentation for select](https://vuematerial.github.io/#/components/select) states that there is one emited event upon change that is named `selected` where in the code there are 2 other events :

[code]

[2016-12-18 20:36] mycarrysun commented on #225
Love this project but I'm getting the same error:
[Vue warn]: Failed to mount component: template or render function not defined.
(found in component <md-switch>)
Getting this in both my application and on the docs pages.

[2016-12-18 22:59] odranoelBR opened #231 "Bug when change routes (vue router)"
When change routes, the error occurs.

[code]

Tks

[2016-12-18 23:55] bolerodan commented on #225
Seems to be a missing opening <template> tag in the mdSwitch.vue source.

[2016-12-19 02:38] sxxhlx commented on #227
Could you tell me how to update the full project ? I updated Vue-material just now ,and the same problem happend

[2016-12-19 02:41] ozgureffe commented on #227
run "**npm update**" in the same directory as your package.json

[2016-12-19 02:43] sxxhlx commented on #227
yeah thank ,I realized that just after I ask the stupid question

[2016-12-19 06:39] jeimz143 commented on #225
@mycarrysun
@marcosmoura
i have the same issue here  :(( need help

[2016-12-19 12:35] kpilard opened #232 "md-card doesn't fill md-layout"
http://codepen.io/anon/pen/ObdzLE

Is this intended or is the flex 1 missing?

[2016-12-19 15:18] bjarnik opened #233 "Theme issue (version 0.5.1) - Grey as background doesn't work"
Registering a theme with the background as 'grey' doesn't appear to have any effect.
Looking at the CSS the body is still set as #fff.

Tried other colors and they have the desired effect, is it possible that there's an issue specifically connected to the color grey?

[2016-12-19 15:23] marcosmoura commented on #233
Hi @bjarnik
No. The default is grey, with A100 as default. I will change this to be white as the default.
Thanks!

[2016-12-19 15:25] marcosmoura commented on #232
Just add a md-flex class to your card.

Thanks!

[2016-12-19 15:25] #232 closed

[2016-12-19 15:26] marcosmoura commented on #231
Oh. That's strange. In the Vue Material documentation there is a vue-router, and it's working fine.
Can you provide a Codepen with an example?

[2016-12-19 15:29] marcosmoura commented on #230
Hi @nicolas-bonnel
The input and change events are used only to update the v-model. But the selected event should be in the md-option, so will change this inside the documentation. Sorry about that.
Thanks!

[2016-12-19 15:30] marcosmoura commented on #229
Duplicated #192

[2016-12-19 15:30] #229 closed

[2016-12-19 15:30] marcosmoura commented on #225
Oh. That's really bad. I'm fixing this now!

[2016-12-19 15:33] marcosmoura commented on #224
Hi @DevEclipse and @Morgul

To center a element you can use the offset for now:
[code]
I will add another alignment property to fix this issue.
Thank you!

[2016-12-19 15:33] #205 closed

[2016-12-19 15:33] #209 closed

[2016-12-19 17:25] huhk-sysu commented on #231
It's really strange. I find this error when I try routing to a page, while the error doesn't happened when I am routing to another page in the same way. I have made some test and it seems that there's no association between the error and the content of the child page.

So far my workaround is:

[2016-12-19 18:01] huhk-sysu commented on #233
I wonder whether the hue can be set by my self.
I defined my theme in the following way:
[code]
I change the `background.hue` from `'A200'` to `'A700'`, and `500`/`700` later. But the `background-color` **dosen't change** at all.
![image](https://cloud.githubusercontent.com/assets/14769033/21323210/64f079a8-c657-11e6-8a1b-4b6b204a3015.png)
Interestingly the `color` change between (0,0,0,0.87) to (

[2016-12-19 18:10] huhk-sysu commented on #233
Can I set the hue as I wish? I tried writing code like
[code]
but I failed. It seems the hue is fixed to `'A100'`

[2016-12-19 23:22] bolerodan commented on #231
Are you sure it's md-button? It seems a bit misleading. CalculateIndicatorPos is a method within mdTabs. Do you have a tabs component on these routes you've been testing perhaps?

[2016-12-20 01:23] jeimz143 commented on #225
can you return the older version for a while it keeps me redirecting to the newer version  whenever i switch to the older version. thanks :))

[2016-12-20 09:48] hsfzxjy opened #234 "Responsive offset for md-layout"

[2016-12-20 09:58] VicarEscaped opened #235 "mdTabs with v-if cause error"
### Steps to reproduce

1. click "open modal" button
2. focus on input
3. click close

### Which browser?

Google Chrome 55.0.2883.87 m
### What is expected?
Modal closed without error
### What is actually happening?
in console i get error:

    at o.calculateIndicatorPos (VM2922 vue-material@0.5.1:8)
    at o.n [as calculateIndicatorPos] (VM2921 vue.min.js:6)
    at VM2922 vue-material@0.5.1:8

I

[2016-12-20 09:59] mubaidr opened #236 "[Query] Alternative to Bootstrap navbar element?"
I am trying to use `Toolbar` component [https://vuematerial.github.io/#/components/toolbar](url) as a replacement for bootstrap `navbar` but i cannot get it to behave like bootstrap `navbar`.

For example i want menu links in the navbar/toolbar to shrink to drop-down menu (hamburger icon) when on small screen but i cannot see if such functionality is available here. I did think of workaround to us

[2016-12-20 14:19] VicarEscaped opened #237 "Button provided in mdListItem is not clickable"
### Steps to reproduce

- open [list's docs](https://vuematerial.github.io/#/components/list)
- click on any icon button in list item
- button is not clickable

### Which browser?
Firefox 50.1.0 on Windows 7

### What is expected?
Button in list item is clicked.
### What is actually happening?
List item receive event

### Reproduction Link
[list's docs](https://vuematerial.github.io/#/components/l

[2016-12-20 15:42] sylvainpolletvillard opened #238 "mdSidenav method "show" should be "open" according to the docs"
According to the docs, mdSidenav should have an `open` method but when looking into the source code, it appears it is called `show`.

See: https://github.com/marcosmoura/vue-material/blob/master/src/components/mdSidenav/mdSidenav.vue#L29

![image](https://cloud.githubusercontent.com/assets/566536/21356822/45f45de0-c6d3-11e6-869a-c696bf08462e.png)

### Steps to reproduce

### Which browser?

### Wh

[2016-12-20 16:33] bolerodan commented on #236
Im not 100% sure if that typeof functionality is to Material Design spec, so in that case this seems like something you'd have to implement yourself with CSS and media selectors. But I could be wrong, it does seem a bit out of place for Material Design.

[2016-12-20 21:05] Morgul commented on #236
@mubaidr Out of the box, no, `vue-material` does not support responsive collapsing. You would need to put your content in a `<md-layout>` and use utility classes like `md-hide-{type}`, as you saw.

[2016-12-20 23:23] dmitov commented on #188
Hey @marcosmoura - this issue still appears on 0.5.1.

[2016-12-21 03:00] marcosmoura commented on #225
This will be fix too. The end of the year here in Brazil is a little hard, so I'm trying to find time to deal with those bugs. Sorry about that!

[2016-12-21 03:01] marcosmoura commented on #231
HI. Thanks for a such detailed description. This helped me a lot. I've found the problem and I will release a fix soon. Thank you!

[2016-12-21 03:01] amor520 commented on #225
+1

**i enjoy your project very much.**

[2016-12-21 03:03] marcosmoura commented on #238
Oh. Yeah. You're right. I will fix this ASAP.

[2016-12-21 03:06] marcosmoura commented on #237
Hi @VicarEscaped.
In fact the list item event will not be triggered if you click inside the icon. This is a common behaviour to have separated actions, one for the actual list item and another for the "secondary" action. But in Firefox it seems that the ripple effect is not working, so I will keep this issue opened to fix this bug.
Thanks!

[2016-12-21 03:08] marcosmoura commented on #236
HI @mubaidr.

The Material Design specs do not cover this scenario. The best option that you can have is to hide the items using a custom media query or using the `md-hide-small` class. You can have a overflow button with something like "more" options (or the less priority ones).

Thank you.

[2016-12-21 03:08] #236 closed

[2016-12-21 03:11] marcosmoura commented on #235
I've found this bug and the fix will come in the very next release. Sorry about that.
This is related to #231

[2016-12-21 03:12] marcosmoura commented on #234
This will come in the 0.6.0 version.

[2016-12-21 04:44] mhchen opened #239 "Links (<a> elements) in md-menu-item?"
First of all, thanks for your work on this project. Excited to be able to use a component library like Material in a lightweight framework like Vue.

Is there a right way to make it so my menu items are just straight up links to other pages (not router links)? I wrapped my <md-menu-item> in <a> tags which works but doesn't produce valid markup (ul > a > li):
[code]

Any plans to make it possible t

[2016-12-21 15:17] ascarpello opened #240 "Release version select doesn't work"
https://vuematerial.github.io/#/
I can't switch between docs versions, i can only see te last doc version (0.5.1)
![schermata 2016-12-21 alle 16 05 07](https://cloud.githubusercontent.com/assets/13118130/21394397/c7b899ac-c798-11e6-99db-56ccb753267d.png)

[2016-12-21 17:19] marcosmoura commented on #239
The md-menu-item accepts the href property. The output will be the `<a>` tag.
Thanks!

[2016-12-21 17:19] #239 closed

[2016-12-21 17:43] odranoelBR commented on #231
Tks @huhk-sysu for reproducing.
Tks @marcosmoura for the help!

[2016-12-21 18:01] marcosmoura commented on #240
Yeah. This is a sad bug. I will fix this asap.

[2016-12-21 18:34] rafaelbrotas opened #241 "Css Order"
How to import css after <style type="text/css" id="md-theme-default">?
Thanks!

[2016-12-21 18:47] marcosmoura commented on #241
The style tag is generated automatically by the the engine. Why do you need a css after?

[2016-12-21 18:52] rafaelbrotas commented on #241
I need to customize some components in specific cases and am creating a separate css file for this. It's possible? Thanks!

[2016-12-21 18:59] marcosmoura commented on #241
You can create another external css and reference it in your index file. But make sure that your styles have a higher specificity.

[2016-12-21 18:59] #241 closed

[2016-12-22 01:32] despird-zh opened #242 "the menu content separate from the menu trigger elements"
### Which browser?
Version 55.0.2883.95 (64-bit)

### What is actually happening?
the menu content separate from the menu trigger elements
![new](https://cloud.githubusercontent.com/assets/9362558/21412203/7114cc10-c829-11e6-8e5a-b92e9797086c.png)

[2016-12-22 02:00] despird-zh commented on #242
seems the menu content element ignore the scroll up/down event, and not re-calculate the new absolute position.

[2016-12-22 05:02] joshbotnet opened #243 "SSR compatibility"
Hey @marcosmoura and team, I'm integrating Vue Material with [Nuxt](https://nuxtjs.org) (which uses SSR) as per their `plugins` instructions and get `[Vue warn]: The client-side rendered virtual DOM tree is not matching server-rendered content.` so I created an issue over there if you want to have a look - might be good for both projects - [https://github.com/nuxt/nuxt.js/issues/76](https://github

[2016-12-22 11:48] joshbotnet commented on #243
Apparently Vue Material could be updated to work with SSR

[2016-12-22 12:15] marcosmoura commented on #243
This will be developed for the next version. Also I would love to see a PR with this fix. :D

[2016-12-22 12:16] marcosmoura commented on #242
Hi.

I will check that ASAP. Thanks.

[2016-12-22 22:41] brunnolou commented on #228
Ok @marcosmoura but how to switch tabs programmatically? Like with next and previous actions?

[2016-12-23 01:08] pipejesus commented on #233
Hi, i came across the same issue when trying to setup a "dark" theme. Seems like all backgrounds appear in a very light hue of selected color and setting 'hue' does not change anything.

[2016-12-23 02:50] marcosmoura commented on #228
There is no "next" and "previous" actions. You can set the "active" property dynamically by setting the "md-active" property of a particular tab:

[code]

[2016-12-23 10:11] VicarEscaped opened #244 "[Question] mdTablePagination's totalItems attribute is not reactive"
Shouldn't totalItems be a computed property instead of data attribute, so we can handle dynamic source for tables?

[2016-12-23 10:33] thoss commented on #74
I have still the same issue with `multiple` `md-select` in the latest build.

[2016-12-23 12:11] thoss opened #245 "md-select (multiple) not being reactive"
The `md-select` `multiple` component is not being updated when the `v-model` changes. Also the initial state of a select with `multiple` is not working.

[2016-12-23 13:40] marcosmoura commented on #245
Can you give me a Codepen example?

[2016-12-23 13:42] marcosmoura commented on #244
Related with #192

[2016-12-23 13:42] #244 closed

[2016-12-23 14:25] #242 closed

[2016-12-23 14:28] #238 closed

[2016-12-23 16:05] #235 closed

[2016-12-23 16:06] #237 closed

[2016-12-23 16:11] #225 closed

[2016-12-23 16:15] #230 closed

[2016-12-23 18:35] #233 closed

[2016-12-23 20:09] joshbotnet opened #246 "Merry Christmas @marcosmoura"
This isn't a bug or feature request - it's a greeting card 😝

Merry Christmas @marcosmoura 🎄 great project btw - thanks

[2016-12-23 20:11] marcosmoura commented on #246
hahahaha! Thank you!
Happy Holidays! :D

[2016-12-23 20:11] #246 closed

[2016-12-23 20:37] #240 closed

[2016-12-24 00:28] Caoimhin89 opened #247 "Center Toolbar Content"
How would one center buttons, text, or other elements within an md-toolbar element?

[2016-12-24 01:54] marcosmoura commented on #247
Just add a class to md-toolbar, like main-toolbar, and add the following css:
[code]

Thank you.

[2016-12-24 01:54] #247 closed

[2016-12-24 14:36] despird-zh opened #248 "when parent container width change the tab indicator display wrong width."
### Reproduction Link
http://codepen.io/despird-zh/pen/ENzXGO

<img width="474" alt="ec0e4c2b-4e99-47a9-bead-c27c12a4cc2e" src="https://cloud.githubusercontent.com/assets/9362558/21467447/35e2d75c-ca29-11e6-9770-ce277dfe67cd.png">
<img width="525" alt="5dead408-45b5-4345-a576-14d640f5ac4f" src="https://cloud.githubusercontent.com/assets/9362558/21467448/39a76fce-ca29-11e6-98b1-314052556230.png">

[2016-12-24 22:27] korylprince opened #249 "md-tooltip breaks with vue-router"
### Steps to reproduce

Codepen: http://codepen.io/anon/pen/pNmpEK

Click button to switch route.

Observe error in console and see application no longer works (clicking or md-tooltip.)

### Which browser?
Chrome/Firefox
Vue 2.1.6 (2.1.7 just released, but it looks like vue-material may have to be rebuilt to work with it)
Vue Material 0.5.1
Vue Router 2.1.1

### What is expected?

md-tooltip not t

[2016-12-25 02:27] ozgureffe opened #250 "Is there any possible way of adding themese with custom color?"
Hi. I wonder if is it possible to create palette and register as theme based on my custom color.
I mean can I use this service with vue-material => https://angular-md-color.com/#/

[2016-12-25 03:26] DevEclipse opened #251 "Everything became undefined after updating Vue to 2.1.7"
If you are the author of a plugin/component that ships a pre-compiled dist file:

It is recommended to re-compile the dist file using the latest versions of vue-template-compiler and vue-template-es2015-compiler. The new generated code is backwards-compatible, but code generated by older versions of the compilers may not work properly with the latest runtime.

Code generation changes that affect c

[2016-12-25 04:29] korylprince commented on #249
Okay, so good news is this is already fixed. I'm now realizing that when I was looking through the commit history that your merges from the dev branch were hidden behind the [...] so I didn't see the commit about fixing this issue.

I also see that there was already an issue (#188), which my issue appears to be an exact duplicate of.

I have rebuilt master and I don't have this issue on that versi

[2016-12-25 04:29] #249 closed

[2016-12-25 08:17] vouill commented on #251
I tried to update the repo in a fork, however its not as simple as :
`yarn upgrade vue-template-compiler@2.1.7 vue@2.1.7`

It works, however i do have some 'undefined' that appears  for few ms, enough to be noticeable, before the component gets fully rendered. Moreover when checking out the `npm run dev`, it seems the entry animations of the different components in the doc is bugged.

[2016-12-25 10:11] thoss commented on #245
Hi,

here is the [codepen](http://codepen.io/thoss/pen/BQexmm)

This example only works if the `users array` will be set in the `data property`

Or is there something wrong with the code?

Thanks and happy christmas!

[2016-12-25 14:30] fiws commented on #251
codepen repo: http://codepen.io/anon/pen/Ypbjqd

[2016-12-25 23:13] Sarpedion commented on #250
As far as I know, at this moment the theme engine does not allow to define custom theme colors, but it is scheduled for milestone 0.7.0  (#202).
If you really need to use a custom theme, you can fork the project and alter [palette.js file](https://github.com/marcosmoura/vue-material/blob/master/src/core/components/mdTheme/palette.js) and then rebuild the project and use it for yourself.

[2016-12-25 23:22] copitz opened #253 "md-menu md-size not respected on theme change"
After switching the theme with Vue.material.setCurrentTheme, the attribute md-size (in this case 6) is not taken into account anymore and the md-menu-content is shown in minimum size. I just saw that the .menu-content element loses the size class at this moment - maybe that's the cause?

[2016-12-25 23:37] copitz commented on #253
A workaround is to remove the [theme class binding](https://github.com/marcosmoura/vue-material/blob/master/src/components/mdMenu/mdMenuContent.vue#L4) in the component

[2016-12-26 01:18] marcosmoura commented on #250
Duplicated #39 #202

[2016-12-26 01:18] #250 closed

[2016-12-26 01:24] marcosmoura commented on #251
I will check that. The 2.1.7 is too new, but I will release a patch for this for the v0.5.2.

[2016-12-26 01:37] #245 closed

[2016-12-26 01:56] #248 closed

[2016-12-26 02:00] #253 closed

[2016-12-26 02:28] #251 closed

[2016-12-26 03:20] leopard7777777 opened #254 "[0.5.2] Please set <md-table-pagination> totalItems computed"
totalItems of mdTablePagination.vue return by data function.

i select mdTotal from db asynchronously. so i set mdTotal = 0 firstly, but totalItems won't refresh, the .md-table-pagination-next button is always disabled

so i suggest you set totalItems by computed function.

thx very much

[2016-12-26 03:27] marcosmoura commented on #254
Related with #192. Thanks!

[2016-12-26 03:27] #254 closed

[2016-12-26 04:43] huangyifu opened #255 "Embed radio input into the label tag, don't need id/name attribute"
`<label> <input type="radio"  /> Male</label>`

when click the label, radio can get the focus even has no id/name attribute.

[2016-12-26 11:58] marcosmoura commented on #255
This is correct way to create radio inputs:
[code]

[2016-12-26 11:58] #255 closed

[2016-12-26 14:22] copitz commented on #253
Awesome - thank you very much!

[2016-12-26 15:25] #234 closed

[2016-12-26 16:33] #224 closed

[2016-12-26 17:46] #231 closed

[2016-12-26 20:11] #21 closed

[2016-12-27 02:40] marcosmoura commented on #152
Already in progress!

[2016-12-27 07:20] despird-zh commented on #248
Hi marcosmoura, thanks for you update on this issue. today I tried 0.52 and I found another issue.
What happen:
When I embed the tabs into a card widget, the wrong width issue happens again, while if I move tabs out of card I will be ok.
http://codepen.io/despird-zh/pen/ENzXGO (I updated codepen)

![88ec9b17-4ebb-4927-baba-7db9bbc00d0c](https://cloud.githubusercontent.com/assets/9362558/21493708/d

[2016-12-27 07:26] despird-zh opened #258 "when parent container width change the tab indicator display wrong width."
original issue : [https://github.com/marcosmoura/vue-material/issues/248](url)

Hi marcosmoura,

thanks for your update on this issue. today I tried 0.52 and I found another issue.
What happen:
When I embed the tabs into a card widget, the wrong width issue happens again, while if I move tabs out of card I will be ok.
http://codepen.io/despird-zh/pen/ENzXGO (I updated codepen)

![88ec9b17-4ebb-492

[2016-12-27 14:19] thoss commented on #219
The confirm and prompt dialog

[2016-12-27 14:20] fabien-lg opened #259 "File Input - Rendering issue"
### Description
Rendering issue with HTML file input

### Steps to reproduce
1. Create an input with file type
`<md-input type="file"></md-input>`
2. There is a «box» visible at the left-side of the file input

### Which version?
Vue 2.1.7, vue-material 0.5.2

### Reproduction Link
http://codepen.io/FabienLG/pen/JbQrpE

### Suggestion
Maybe we should have something like this? http://codepen.io/she

[2016-12-27 14:51] marcosmoura commented on #259
Right now the file input is not supported. I will create this on the very next version. Thank you.

[2016-12-27 14:52] alexpitacci opened #260 "Keyboard event on md-select"
How can i use keyboard to search on md-select like the regular select form?

[2016-12-27 14:54] marcosmoura commented on #258
Sorry about that. The indicator rely on the parent size. I will change to another approach to make it more easy to detect the changes. Thank you

[2016-12-27 14:58] marcosmoura commented on #260
Right now this is not possible. A possible workaround is to add a input inside the select to filter the items. I will improve the select in the next versions. Thank you.

[2016-12-27 19:15] #152 closed

[2016-12-27 19:17] aagahi commented on #219
Same with
![Screen iOS 10.2](https://cloud.githubusercontent.com/assets/308452/21506565/5343b98e-cc71-11e6-8083-c85a09c109e9.png)

As a quick workaround I suggest using css:

`
.md-dialog, .md-dialog-content, .md-dialog-actions {
  background-color: white !important;
}
`

[2016-12-27 19:23] aagahi commented on #219
To clarify, the background property of `.md-dialog-content` is quiet fuzzy to me. I don't get why there are so many values for just a white background ;), but the issue same to be related to those values.

`linear-gradient(180deg,#fff 0,#fff 1px,transparent 0),linear-gradient(0deg,#fff 0,#fff 3px,transparent 0),linear-gradient(180deg,rgba(0,0,0,.12) 0,rgba(0,0,0,.12) 1px,transparent 0),linear-grad

[2016-12-27 19:28] marcosmoura commented on #219
This color is not for the background itself, but for the scroll border trick.

[2016-12-27 19:29] marcosmoura commented on #77
In development.

[2016-12-27 23:37] jancel opened #264 "[feature request] md-toast"
Feature Request

This feature would conform to the Material Design Toast specification (https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-usage)

It will help avoiding separate libraries being required for inconsistent messaging cross-platform when using Material Design

[2016-12-28 01:17] marcosmoura commented on #264
This is already developed and will be available on the very next version, as you can see it here: #21

[2016-12-28 01:17] #264 closed

[2016-12-28 01:28] despird-zh opened #265 "discussion on menu backdrop"
Hi Marcosmoura,

This is not an issue ticket, just a discussion about menu widget to meet my curiosity.

I know you add a backdrop layer(div) in the menu component and use it to close the menu content when user click outside of the menu content. this way is okey except when user click another menu.
let's imagine there are 2 menus A and B. when click A , the menu conten(A) shows. in this situation,

[2016-12-28 01:44] despird-zh commented on #265
Have you ever think add a popover component?

[2016-12-28 03:47] marcosmoura commented on #265
Thanks for raise this discussion.

The menu backdrop do not aim to be a "ghost" click to close the dropdown (although it have a click action), but provide a way to stop the user to interact with other elements and scroll the page. The idea is to have exactly the same behaviour of a native `select` tag. I know that `md-menu` is different of the 'md-select', but both have the same idea.

When opened

[2016-12-28 03:47] #265 closed

[2016-12-28 05:42] #77 closed

[2016-12-28 13:09] zapping opened #267 "Are tabs head swipable?"
Hi,
 Can you please take a look at this codepen https://codepen.io/zapping/pen/bBPyOz .

 I tried added the tabs component. But when the no. of tabs increases it does not seem to have a scroll option on desktop browser nor can the tabs be swipped on mobile.

 Have I missed/overlooked something? Can you please clarify on how the tab heads can be navigated in such a case i,e when you have lots of ta

[2016-12-28 13:25] knoxjoseph opened #268 "Swipe support for tabs header?"
Hi,

Just a question. Do tab (tab header) support swiping/paging in mobiles?

Thanks.

[2016-12-28 17:15] marcosmoura commented on #268
Duplicated #267

[2016-12-28 17:15] #268 closed

[2016-12-28 17:21] marcosmoura commented on #267
This is not possible yet! I will develop this in the next versions.
For now, a possible workaround on mobile devices, is to add a custom css:
[code]

Sorry about that. Thank you.

[2016-12-28 17:22] marcosmoura commented on #259
Already in development!

[2016-12-29 03:56] #259 closed

[2016-12-29 04:46] korylprince commented on #260
I think the solution you listed would fix this idea, but I figured I would add here: currently `md-select`s are skipped when tabbing through fields in a form. It would be great if this could be fixed as well.

[2016-12-29 04:55] marcosmoura commented on #260
@korylprince This will be developed here: #31

[2016-12-29 06:00] zapping commented on #267
np. Thank you for the work around.

[2016-12-29 21:44] schlaus opened #271 "Password input and tabbing"
This is about password inputs within an `<md-input-container>` that has the property `md-has-password`, ie. where the password input can be changed into a regular, unobscured text input with a button within the actual input. Currently, the button which reveals the value of a password field can be tabbed to, but the button gives no indication that it has focus. This can potentially cause someone to

[2016-12-30 04:36] Morgul opened #272 "How do you make a reactive sidebar like on the docs?"
What I'm going for is a sidebar that works like the documentation sidebar; it is present on larger screen sizes, but works like a normal sidebar on smaller sizes.

Right now, the only option I can see is to make the content a component, and then load it twice; one in a layout that's visible only on larger sizes, and the other in a sidebar that only shows up on small screens.

Would it be possible

[2016-12-30 05:11] Morgul commented on #272
I just saw #154. Would it be possible to get a brief example of the media query work around you're using on the docs site, as a work around for now?

[2016-12-30 06:03] Lynges opened #273 "css utility classes for color and custom build not working"
I was trying to put in a set of utility classes that would be available to color custom components with the theme colors.
So far as I can work out it would only take to add a few lines to core.theme. Something like this I think:

[code]

That would be cool to have and make it much easier to use the theme system.

AS I am on a project with a looming deadline I though that rather than wait for you t

[2016-12-30 08:41] sxxhlx commented on #231
`<router-link to="/center">

            <md-button style="color:white" class="md-icon-button">
                <i class="icon avatar-icon"></i>
            </md-button>
            </router-link>`

this code shows the same error

[2016-12-30 10:07] Sarpedion commented on #273
I had the same error as @Lynges had upon rebuilding project (I just added a custom theme, but error is present even if i don't change anything in source). I've solved it by reverting the `build` folder to previous version, and then rebuilding again, but I guess that is just a temporary solution.

[2016-12-30 12:33] kresogalic8 opened #274 "Creating custom themes"
Hey guys, I want to add a custom theme with custom hex colors... Can you explain to me how can I do that?

[2016-12-30 14:01] igor-ribeiro opened #275 "Swipe on Sidenav"
I got it to work, still need to make it more flexible and think about a solution for multiple sidenavs. But first, do you want it?

![ezgif com-447b40bb5e](https://cloud.githubusercontent.com/assets/5148753/21566198/c3943d36-ce87-11e6-9007-2cd81f620b9e.gif)

[2016-12-30 15:26] Sarpedion commented on #274
Hello, this question has been asked before: #39 #202 #250

[2016-12-30 17:51] odranoelBR commented on #275
I will use / like it.

[2016-12-30 19:58] malinosqui opened #276 "md-select do not work with vee-validate"
### Steps to reproduce

- Install package [vee-validate](https://github.com/logaretm/vee-validate/) with npm
- Put attributes in md-select element as the vee-validate recommend: `data-vv-rules="required" data-vv-as="field" data-vv-name="field"`
- Inspect element rendered

### Which browser?
Chrome

### What is expected?
The attributes are rendered in html select element

### What is actually happe