[2016-12-31 03:11] nothinggift opened #277 "input label not reset when set v-model variable empty"
`<md-input-container>
    <label>Initial value</label>
    <md-input v-model="initialValue"></md-input>
  </md-input-container>`

Input something and set initialValue empty,  the label will not reset , test on 0.5.2 .

[2016-12-31 04:54] stramec commented on #276
Hi

Your codepen was missing a couple of bits, the following works for me:

[code]

http://codepen.io/stramec/pen/jyNWRY

Hope it helps.

Cheers

[2016-12-31 11:49] throrin19 commented on #160
The bug is already present in the last version : https://jsfiddle.net/bejgm8sx/2/

[2016-12-31 13:10] ChangJoo-Park opened #278 "Broken expand list when resize"
### Steps to reproduce
Resize window with expandable list

### Which browser?

vue 2.1.8 with electron browserwindow

### What is expected?
Can't see expandable list when resize window

### What is actually happening?

https://www.dropbox.com/s/612k72ysdjdf0cz/%EB%AC%B4%EC%A0%9C.mov?dl=0

### Reproduction Link

<!-- You could start with this template: http://codepen.io/vue-material/pen/WGavBE.

[2016-12-31 15:01] malinosqui commented on #276
Hi @stramec you're right! This works, buts not with  `this.$validator.validateAll('form');`

Thanks for the answers.

[2016-12-31 17:45] nocquidant opened #279 "Display glitch switching page?"
I've just started experimenting with Vue and found your library, which is pretty much what I was looking for (Polymer app-layout equivalent). I mimic your docs app, but I encounter a display glitch when changing from one page to another. See attachment, right after following the link: "Votre commande". Is there a force relayout or something I could avoid?

![peek 2016-12-31 18-28](https://cloud.gi

[2017-01-01 02:21] stramec commented on #276
Hey @malinosqui

Not something I've done but are you passing the individual objects to the validateAll()? Looking at the api example doesn't look like you can pass the form as a whole.
[code]

http://vee-validate.logaretm.com/api#validator

Good luck with it!

[2017-01-01 05:20] lilien1010 opened #280 "import vue-material css file failed"
as the demo code you set
[code]

and the webpack is set  like below
[code]

but it always shows an error like
[code]

[2017-01-01 06:30] korylprince commented on #280
This is a problem with your webpack configuration, not vue-material. Can you post the whole thing? The fact that it's searching for the file at `node_modules/vue-material/dist/vue-material.js/dist/vue-material.css` instead of `node_modules/vue-material/dist/vue-material.css`  means something wonky is going on.

[2017-01-01 06:49] lilien1010 commented on #280
fixed! thanks

[2017-01-01 06:55] korylprince commented on #276
@malinosqui I don't think you're using the vee-validate API correctly.

`validateAll` only takes an object like the one @stramec uses above. You *can* use the `validate` method to specify a [scope](http://vee-validate.logaretm.com/examples#scope-example), but you have to specify a scope on the parent form first with `data-vv-scope`.

This would be for having multiple forms on a page with separate

[2017-01-01 07:02] korylprince commented on #277
I've seen this problem as well. I've created a codepen showing this issue.

Type some content into the input, then click the "Break!" button to set the `v-model` to `null`. The label doesn't move down to fill the input like it would if you deleted all the text manually.

[2017-01-01 08:22] korylprince commented on #277
@nothinggift, I submitted a PR to fix this issue, so as long as it looks good to @marcosmoura, this should appear in the next release. I'm also realizing I never actually pasted the codepen in my previous post. For reference, it is: http://codepen.io/anon/pen/XpraNV

[2017-01-01 08:36] korylprince commented on #273
I'm also having issues building the current master with the included build script, but should be able to build the latest stable (0.5.2):

[code]

[2017-01-01 08:39] nothinggift commented on #277
It's useful,thanks!

[2017-01-01 08:40] korylprince commented on #273
Also the error you're getting suggests you're trying to use your own webpack config. Most likely you're missing this section:

[code]

The extensions part allows you to import without file extension, which the project uses in a few places.

[2017-01-01 17:14] smith64fx commented on #152
The chips were merged. After that the merge was reverted. Is there a reason for this?

[2017-01-01 17:37] DevEclipse opened #282 "md-layout and md-card doesnt support transition-group move transitions"
### Steps:

create a component named "main-layout"
[code]
Try the main layout with md-card using another component ( Note: this is only an example)
[code]

[2017-01-01 22:40] ozgureffe commented on #21
Hi and thank you for your excellent work. I wonder when this component will available? Or is there any way to use it before you publish?

[2017-01-02 13:13] marcosmoura commented on #271
@schlaus The idea is to have a "focusable" state of the button. If you press tab it will highlight the button, and if the enter key is pressed, the button will fire the action. This is already scheduled here #31.

Thank you!

[2017-01-02 13:13] #271 closed

[2017-01-02 13:15] marcosmoura commented on #272
Hi. You can see it here: #44

I will develop this new component in the next versions.

[2017-01-02 13:15] #272 closed

[2017-01-02 13:20] marcosmoura commented on #273
Hi @Lynges.

[Syncronize](https://gist.github.com/CristinaSolana/1885435) your fork to get the latest changes. Always use the develop branch, because maybe there is something new or already fixed. Can you try this first? Thank you.

[2017-01-02 13:20] #274 closed

[2017-01-02 13:22] marcosmoura commented on #275
Yeah! It will be a very good feature. But, first, are you using a custom library, like Hammer.js? Or you built the feature by hand?

[2017-01-02 13:23] #276 closed

[2017-01-02 13:26] marcosmoura commented on #276
I can try to help with the vue-validate integration, but if something needs to be changed internally, I will make it with a low priority for [several reasons](https://github.com/marcosmoura/vue-material/issues/197#issuecomment-266925768): #197

[2017-01-02 13:31] marcosmoura commented on #277
PR merged!

[2017-01-02 13:31] #277 closed

[2017-01-02 13:35] marcosmoura commented on #278
Uh. That's bad. I will fix this for the next version. Right now there is no good workaround. Sorry about that. And thank you for a such detailed description (and the video).

[2017-01-02 13:46] marcosmoura commented on #279
@nocquidant Which version of Vue are you using? There is "async" data loading?

[2017-01-02 13:54] marcosmoura commented on #282
You are using it wrongly. You should use classes like this:
[code]

Try to add this in a Codepen. This new snippet works for you?

[2017-01-02 13:55] #280 closed

[2017-01-02 16:06] schlaus commented on #271
@marcosmoura Whoops, seems like I missed that. Glad to hear it's on the list!

[2017-01-02 16:07] marcosmoura commented on #271
@schlaus Don't worry! Thanks for reporting that!

[2017-01-02 20:29] 0xFireball opened #283 "changeTab removed?"
According to <https://vuematerial.github.io/#/components/tabs>, the `changeTab` method was removed recently.

Is this intentional or was it a mistake? Could you please consider re-adding the functionality for programmatically changing tabs?

Thanks.

[2017-01-03 00:12] ChangJoo-Park commented on #278
Thank you for response 👍  I'll wait for fix.

[2017-01-03 03:41] DevEclipse commented on #282
ill try that later im using animate css for transitions though the move thing doesnt work

[2017-01-03 07:27] uicestone opened #284 "Standalone css bundle for md themes?"
VueMaterial has a standalone css file (dist/vue-material.css), and will also embed <style> tags into HTML for md themes. These embedded style will rewrite any style in linked css file.

There's a situation that I'm using sass to write custom styles, combined into a css file but accidentally rewritten by md theme embedded styles.

Is there any possible that we can pack the theme style into a standa

[2017-01-03 08:23] marcosmoura commented on #284
This is not possible. The theme engine generates the css content inside the browser. So this is not a build task. What you can do is to change this in a fork. Sorry about that.

[2017-01-03 08:23] #284 closed

[2017-01-03 09:40] uicestone commented on #284
Thank you for providing the info.

[2017-01-03 11:10] nocquidant commented on #279
The vue version I use is: 2.1.6
My simple project is here: https://github.com/nocquidant/shopping-list
But actually, I thing this is the same behavior as on your site: https://vuematerial.github.io/#/
If you scroll down and change page, for a fraction of second, you can see the content scroll to the top (before displaying the next page).

Thanks,
--nick

[2017-01-03 12:20] igor-ribeiro commented on #275
No library

[2017-01-03 17:54] sk22 opened #285 "Error when rendering component <md-button>, <md-sidebar>, ..."
When trying to create a md-sidebar for instance, I get an error message.
Interestingly, this only happens when I'm using webpack, so I can't create a CodePen for it, since it works well there.

[code]
[code]

### Steps to reproduce
1. Set up a webpack project like mine: https://github.com/sk22/spg-tinf-sem03/tree/7fe21005b20a0fcee9f024b20e74b1fc7452a851/proj01
2. Uncomment the <md-sidenav> in `src

[2017-01-03 22:08] korylprince commented on #285
@sk22 I'm not seeing the issue you're posting. Here's what I did:

[code]

The only console error I get is because you've got index.js referenced in src/index.html when it shouldn't be (because webpack inserts bundle.js into the html for you.)

Other than that the application builds and runs fine. If I add an md-button with `@click="$refs.sidenav.toggle()"` it works as expected.

My guess is that

[2017-01-03 22:24] korylprince commented on #279
@nocquidant You're seeing this "glitch" because you have a `<transition>` on your `<router-view>` in App.vue.

If you remove the `<transition>` you will see this glitch goes away. If you want to keep the transition, you'll need to fix the transition classes (.md-router-enter, etc) in App.vue.

My guess is one of the properties being animated (my guess is `left`) is causing the weirdness you are se

[2017-01-03 23:11] Fedia commented on #285
Try Vue 2.1.5
The error is discussed here: https://github.com/vuejs/vue-loader/issues/547

[2017-01-03 23:19] Morgul commented on #44
Just to chime in, the `transform: translate3d(0, 0, 0);` does the trick perfectly. For now, it's a reasonable work-around.

[2017-01-03 23:38] sk22 commented on #285
@Fedia Oh my, thanks a lot! Updated to vue and vue-template-compiler `v2.1.8` and it works beautifully. Thanks!

[2017-01-03 23:38] #285 closed

[2017-01-04 00:26] capttrousers opened #286 "Floating Action Button positioning"
Two ideas for FAB's:

1. Basically the buttons that provide a menu of other action buttons, either when hovering on the button or clicking the button initially. The MD page says those are called speed dials which are already on list of components to make.

2. The Floating Action Buttons already provide an Absolute positioning class, where they have `style="position:absolute;"` and I think a Fixed

[2017-01-04 03:31] korylprince commented on #286
It's pretty easy to make your own speed dial:

http://codepen.io/korylprince/pen/EZxpxx

That's not a perfect implementation of the spec, but it wouldn't take too much mucking around with the CSS to get there.

It would be cool to have an `md-speed-dial` that encapsulated `md-button`s and took care of transitions and such though.

[2017-01-04 04:02] sergey-koretsky opened #288 "md-table-pagination and md-size - how to use"
Hi. it seems to me that md-size prop of md-table-pagination doesn't affect rows amount in md-table.

i.e: i have 20 rows to be displayed in md-table
[code]

then i create md-table like this:

[code]

But the amount of rows in the table is equal to all rows in data().
And if i change the "size" in pager it willn't  affect displayed rows amount.

[2017-01-04 06:31] korylprince commented on #273
@marcosmoura, for what it's worth I'm having the same issue on the develop branch. It looks like between 0.5.2 and now you've changed the configs in the build directory.

It successfully builds, but upon importing the built library and running in a browser, I get the same error @Lynges was getting.

I checked out the build directory from the v0.5.2. tag and rebuilt develop and everything worked fi

[2017-01-04 08:44] nocquidant commented on #279
Thanks for your help @korylprince, that was the transition effect.

[2017-01-04 09:15] marcosmoura commented on #279
Nice. Thank you @korylprince.

[2017-01-04 09:16] #279 closed

[2017-01-04 09:17] marcosmoura commented on #275
Nice. I would love to see a PR with this improvement.

[2017-01-04 09:54] Rvolume opened #289 ".container and other Styles"
Didn't find related issues, sorry if there is & sorry if question seems to be stupid.

Can you, please, tell me - how do you see CSS usage?

My problem is:
 - atm I need something like .container class from bootstrap / materialcss, but there's not much CSS grid-alike classes at vuematerial, most css docs are for concrete components.
 - MAYBE in a future I'll need something else from materialcss st

[2017-01-04 13:38] fabien-lg opened #290 "md-file does not update on user's «cancel»"
Hello,

I'm using the develop branch to test the new `md-file` input.
By the way, a huge thanks for the fast implementation!

### Steps to reproduce
1. Select a file
2. The model is properly updated (the watch on the model is triggered)
3. Click again on the file input, but this time, press «cancel»
4. The watch is not triggered and the model is not updated (seen in vue tools, the value doesn't ch

[2017-01-04 16:21] capttrousers commented on #286
Nice yea thats a good mock up. Where did you get those transition components?

Another cool component would be a general Collapsible div that can be triggered with events. We already have something like this with the `md-list-expand` but I havent tried that without another `md-list` inside. Also, from what I see, the expand component needs to be nested inside an existing `md-list` > `md-list-item`

[2017-01-04 19:45] korylprince commented on #286
The transition component is built into Vue itself, and the css I'm using is almost directly copied from the docs:

https://vuejs.org/v2/guide/transitions.html

As far as the rest, I think @marcosmoura is focusing on building components in the Material Design spec. I'm not seeing anything there that meets what you're describing. However I think just like the fab button example, it shouldn't be too

[2017-01-04 19:51] nkconnor commented on #192
any thoughts on how to fix the indexing issue? I can likely submit a PR if you point me in the right direction. thanks

[2017-01-04 19:51] korylprince commented on #289
Have you seen the layout section of the docs?

https://vuematerial.github.io/releases/v0.5.1/#/ui-elements/layout

[2017-01-04 20:13] capttrousers commented on #286
@korylprince , thanks for the reply, I never noticed the transition component in the standard vue.js library.

As for the collapsible component, from the material.io site, they list Expansion Panels as a separate component.

It looks like they behave the same as the `md-list-expand` component, and they're listed again in the List Controls section as an collapsible list component, so I guess maybe

[2017-01-04 20:36] korylprince commented on #286
@capttrousers No, it looks like you're right. When I skimmed over Expansion Panels I thought they just covered lists, but they look to be pretty generic.

It looks like @marcosmoura already has both speed dial and expansion panels on his list to do:
https://github.com/marcosmoura/vue-material/projects/6

[2017-01-04 22:01] sergey-koretsky opened #292 "[md-table] Wrong data in 'select' event after original data was changed"
Lets say we have smth like this: (just from my [previous issue](https://github.com/marcosmoura/vue-material/issues/288) )

[code]

**select** event handler for [md-table](https://vuematerial.github.io/#/components/table) and custom onDelete:

[code]
And if we select some rows then hit delete (triggering onDelete) the table will be redrawn correctly (without deleted rows in this.$data.rows) but fro

[2017-01-04 22:41] sergey-koretsky commented on #292
i think we have to 'unselect' that selected rows array which is passed each time with **select** event but that one is md-table internals and there is no any API provided for that

[2017-01-05 07:35] Rvolume commented on #289
Thanks for response. Yes, i saw it (but v 5.1 has working demos, surprisingly).
So the answr is - use md flex + offsets, no familiar containers.
Thanks!

[2017-01-05 07:35] #289 closed

[2017-01-05 15:03] Morgul opened #294 "Determine active tab of md-bottom-bar"
I'm struggling to figure out how `md-bottom-bar` is intended to be used. I can get it working just like the demo, however, I can't figure out how I'm supposed to tell which item is currently active. I would expect a property to be exposed (possibly with the ability to set a name on `md-bottom-bar-item`). (Alternative, a `switched` event could be added, that emitted the index of the item.)

Looking

[2017-01-05 18:06] marcosmoura commented on #286
Hi Guys. Sorry for the delay to answer. The Speed Dial will be the next component to be delivered. Also @korylprince, GREAT job on that codepen!!!

[2017-01-05 18:09] marcosmoura commented on #283
You shouldn't use the internal methods, because they can change. What you have to do to change the tabs dynamically is to use the `md-active` in each `md-tab`. This is the best way to change to a specific tab. I will try to create a method like that to the official API.

Thanks!

[2017-01-05 18:09] #282 closed

[2017-01-05 18:24] marcosmoura commented on #288
The should be done manually. The md-table only fire events when the user interacts with the table itself.

Why? Because I can't threat your data. Your data may have a lot of different formats. So you should create (maybe on your backend side) a pagination logic to update the `v-for` variable with the new page settings (in your case the `rows` variable.

Thank you.

[2017-01-05 18:24] #288 closed

[2017-01-05 18:29] #290 closed

[2017-01-05 18:32] marcosmoura commented on #292
You're right! The md-table still have some problems. I will update it asap. You can track the progress here: #192

[2017-01-05 18:32] #292 closed

[2017-01-05 18:37] marcosmoura commented on #294
Well. To set an active item you can use the `md-active` property, like you said.

Can be something like that:
[code]

To add a @click event you should always use the .native modifier: `@click.native="myMethod"`

[2017-01-05 18:37] #294 closed

[2017-01-05 18:54] #185 closed

[2017-01-05 19:05] marcosmoura commented on #99
In progress...

[2017-01-05 21:03] #99 closed

[2017-01-05 21:31] PascalBabey opened #298 "In the <md-input> key modifier (v-on:keyup.enter) not working"
Hi,

In the <md-input> element is the key modifier (v-on:keyup.enter) not working. I tried to add a input with the key modifier inside the <md-input>, but i didn't help.

Thanks for your help and your great layout.

[2017-01-06 01:10] korylprince commented on #298
You just need to use the [native](https://vuejs.org/v2/api/#v-on) modifier:

https://codepen.io/korylprince/pen/QdwoNr

This is not easily found... I wish the main Vue event docs talked about this...

[2017-01-06 01:15] korylprince commented on #286
@marcosmoura thanks! I modeled it after the speed dial in the google inbox app.

[2017-01-06 02:56] capttrousers commented on #286
no worries @marcosmoura hope you had a good holidays. what do you think about adding a fixed class to the Floating Action Button so they can be fixed on a scrollable page, like the Compose button in the gmail app or the directions button the the gmaps app? is it as simple as i think? if so i'd love to contribute

[2017-01-06 09:26] PascalBabey commented on #298
With the native modifier it's working. Now I do it like this:
 <md-input placeholder="Name" @keyup.native="add(value, $event)"></md-input>

  methods: {
      add: function(value, event){
            if (event.key === 'Enter')
            {
               //AddSomeThing
            }
          },
  }

Many thanks.

[2017-01-06 12:24] #298 closed

[2017-01-06 14:13] stevieyu commented on #184
@marcosmoura macOS 10.12.2 Safari 10.0.2 This also occurs
![kapture 2017-01-06 at 22 12 14](https://cloud.githubusercontent.com/assets/8325201/21720299/3e98768e-d45d-11e6-8180-265aa3d3628c.gif)

[2017-01-07 04:57] g0ld3lux opened #299 "Guide for laravel User For the Incoming Laravel Mix (laravel 5.4 and Up)"
Hope Someone Find it...
You Need to Install laravel 5.4
and npm install laravel mix

after that you need to create your own webpack.mix.js

[code]
resources/assets/js/app.js
[code]

resources/assets/js/bootstrap.js
[code]

resources/assets/js/components/toolbar.vue
[code]
resources/assets/views/welcome.blade.php
[code]

update your packages.json to include the following commands
[code]

Also Impor

[2017-01-07 05:02] g0ld3lux commented on #299
If you want to add this to docs, please let me know so i can create a pull request :) thanks

[2017-01-07 05:37] baddbrain commented on #184
Setting a `flex-basis` value fixes this for me:
`
.md-dialog-content {
    flex-basis: auto;
}
`

[2017-01-07 16:12] fiws opened #300 "theme not getting applied when using webpack context"
I recently updated from 0.2 to 0.5.X and noticed that no themes get applied at all.

I narrowed the bug down to my webpack configuration and specifically the `context` & `output.publicPath` options, but have not figured out where exactly the problem is.

### Steps to reproduce
1. Clone my repo: https://github.com/fiws/vue-material-bug-300
2. run `yarn install`
3. run `yarn dev`

### Which browser?

[2017-01-07 21:38] kayyyy opened #301 "Content is not rendered inside the Table Body"
### Which browser & Versions?
vue 2.1.0, vue-material 0.5.2, vue-resource 1.0.3. Chrome & Firefox in OSX

#### Table.vue
[code]
I get the Data successfully which is bind to `this.articles`. The Objects are also there as the Screenshot of the VueDevtools shows.

But the Content from the `v-for` loop isnt`t loaded inside the Table as you can see.

![image](https://cloud.githubusercontent.com/assets/

[2017-01-07 22:14] kayyyy commented on #44
+1 to have such a sidebar.

[2017-01-08 13:24] fabien-lg commented on #301
Hello,

2 ideas
- In your data, you define articles as an Object but you fill it with an Array, maybe that causes an issue ?
- This is what I currently use to fill a table, could you try it?
             `<md-table-body>
                <md-table-row
                        v-for="(row, rowIndex) in items"
                        :key="rowIndex"
                        :md-item="row">

[2017-01-08 13:44] marcosmoura commented on #286
I'm thinking in a special class for the fab, like md-fixed.

[2017-01-08 13:47] marcosmoura commented on #300
The theme engine works on your browser. So this is probably not related to your webpack config.
Did you set up your themes correctly (following the new docs)? Did you see the [Breaking Changes](https://github.com/marcosmoura/vue-material/releases/tag/v0.5.0)?

[2017-01-08 13:49] marcosmoura commented on #301
You cannot use `v-once` in the md-table component. The inner components like the `<md-table-row>` need the table instance to work. So to build a cheap table you can add v-once to the `<md-table-cell>`.

[2017-01-08 13:49] #301 closed

[2017-01-08 13:51] marcosmoura commented on #299
Hi @g0ld3lux

GREAT stuff! I will you to wait a little bit on that PR. I will create a "Advanced" section in the documentation with some extra guides, some performance improvements that can be made and some tricks that can be applied. I would like to add this guide in this section. :D

Thanks a lot!

[2017-01-08 14:46] #278 closed

[2017-01-08 14:47] ChangJoo-Park commented on #278
Thank you !!

[2017-01-08 15:13] stbaer commented on #243
@marcosmoura - why is it not working with ssr? Some info and I may attempt a pull request. Been trying to use it with nuxt.js but debugging from there is somewhat hard.

[2017-01-08 16:08] fiws commented on #300
i think so, i set no theme at all, so the default theme *should* be applied, no?

[2017-01-08 16:10] marcosmoura commented on #300
Yes. Can you upload  part of your code in Codepen?

[2017-01-08 16:12] marcosmoura commented on #243
Well. Right now the API rely on "window" and "document" to be rendered. I need to change every single component to make it work.

[2017-01-08 16:15] fiws commented on #300
[yea](http://codepen.io/anon/pen/dNYber), but its basically a hello world app. It works on codepen.

As I said, i think it is build related.

[2017-01-09 16:37] pablohpsilva opened #303 "md-table selecting the wrong elements"
md-table selected objects are wrong.

What I did:
Selected some objects and removed them. On the second selection, it looks like its getting the object n-1 instead of object on the n position.

n being the index of the element on the array.

![screen shot 2017-01-09 at 2 34 37 pm](https://cloud.githubusercontent.com/assets/2090635/21774213/f0006b62-d678-11e6-8a80-72170b4d8cac.png)

[2017-01-09 16:46] pablohpsilva commented on #303
The problem could be on this [line](https://github.com/marcosmoura/vue-material/blob/master/src/components/mdTable/mdTableRow.vue#L72)

[2017-01-09 18:40] marcosmoura commented on #44
#154 #275

[2017-01-09 20:43] mikeashi opened #304 "unfinished vue syntax output in browser"
So I am new to Vue and to vue-material ...and I am testing with vue-material however I noticed that there is  unfinished vue syntax output in browser so I used v-cloak to solve the problem but now I have another problem which is the styling of the  vue-material components takes a couple of seconds before rendering to view  so how can I solve that

[2017-01-10 01:21] marcosmoura commented on #304
You can't solve. You can only mask it. In fact this is not a problem. You can add a spinner to your page with a backdrop element. And when your application is fully loaded you can remove it. This is because some css is being downloaded before your scripts.

[2017-01-10 01:21] #304 closed

[2017-01-10 03:25] marcosmoura commented on #300
I will take a look at this and I report back, ok?

[2017-01-10 03:29] marcosmoura commented on #273
That's strange. Can you guys sync the repo again and check if something is still broken? Are you running it on which OS?

[2017-01-10 03:36] #153 closed

[2017-01-10 03:38] #219 closed

[2017-01-10 03:39] marcosmoura commented on #219
#184

[2017-01-10 03:41] despird-zh opened #307 "md-icon-button in md-card-actions lose theme effect"
Hi marcosmoura

Here is a issue, the md-icon-button components in md-card-actions lose theme setting, but move it out of the card actions, it works well.

codepen: http://codepen.io/despird-zh/pen/KawYKO

[2017-01-10 04:11] marcosmoura commented on #307
Oops. I will fix that ASAP.

[2017-01-10 04:13] #307 closed

[2017-01-10 04:15] marcosmoura commented on #303
I will recreate the pagination component and the logic behind the table selection as well. It's related to #192. Sorry about that.

[2017-01-10 04:19] pablohpsilva commented on #303
Wow... That #192 is a nasty bug. That's OK @marcosmoura . I'll try to figure out (and help) some other stuff while you're busy on that LOL.

[2017-01-10 04:23] marcosmoura commented on #303
Yep. That's why this needs to be rebuilt. :(

[2017-01-10 08:15] despird-zh opened #309 "Fail to boot up the app, after upgrading to 0.6.0"
hi marcosmoura,

I cannot boot up the app after upgrading to 0.6.0 ver. bellow is my webpack dependencies:  "dependencies": {
    "v-media-query": "^1.0.3",
    "vue": "^2.1.8",
    "vue-material": "^0.6.0",
    "vue-resource": "^1.0.3",
    "vue-router": "^2.0.3",
    "vuex": "^2.1.1"
  },
  "devDependencies": {
    "autoprefixer": "^6.6.1",
    "autosize": "^3.0.20",
    "babel-cli": "^6.18.0",

[2017-01-10 09:43] badbrainz commented on #309
Same issue here.

`Uncaught Error: Cannot find module "!!babel-loader!vue-loader/lib/selector?type=script&index=0!./mdTheme.vue"`

[2017-01-10 09:53] ascarpello commented on #309
Same issue.
Uncaught Error: Cannot find module "!!babel-loader!vue-loader/lib/selector?type=script&index=0!./mdTheme.vue"
vue-material.js: **7**

[2017-01-10 09:57] lzuccaro commented on #309
Same issue here. I had to rollback to 0.5.2.

[2017-01-10 09:59] petslane commented on #309
Same issue.
I installed  vue-material:
[code]
And inserted code to my app:
[code]
Getting error in console:
`vue-material.js:7Uncaught Error: Cannot find module "!!babel-loader!vue-loader/lib/selector?type=script&index=0!./mdTheme.vue"(…)(anonymous function) @ vue-material.js:7(anonymous function) @ vue-material.js:7t @ vue-material.js:6Object.defineProperty.value @ vue-material.js:6t @ vue-materi

[2017-01-10 10:04] oldskool73 commented on #309
Same here. Found that if I ...

```import VueMaterial from 'vue-material/dist/vue-material.debug';```

instead (note the '.debug') it works, if that helps anyone.

Only started using this project today, got updated about an hour after I started, then it broke... been a wild ride so far :)

[2017-01-10 10:11] e-cloud opened #310 "unable to control the expand state of the list item"
The current `md-list` composed with `md-list-expand` can display as a collapsable element.
But there is not other way to control the expand state except clicking on it.

Hope to have a way to control the expand state.

- What will it allow you to do that you can't do today?
  control the list expansion when route change
- How will it make current work-arounds straightforward?
  It seems no work-ar

[2017-01-10 10:15] huangyifu commented on #255
This is the better way to create radio inputs:
`<md-radio v-model="radio1"  md-value="1">My beautiful radio</md-radio>`

---template like this----
`<template>
  <div class="md-radio" :class="[themeClass, classes]">
    <label :for="id || name" class="md-radio-label" v-if="$slots.default">
    <div class="md-radio-container" @click="toggleCheck">
          <input type="radio" :name="name" :id="id"

[2017-01-10 11:37] marcosmoura commented on #309
Oh God. I'm sorry about that. I will fix it in a couple hours

[2017-01-10 11:40] marcosmoura commented on #310
I didn't understand that issue. Can you describe it better?

[2017-01-10 11:57] e-cloud commented on #310
Description updated.

[2017-01-10 11:59] marcosmoura commented on #310
I see. There is a option but it's undocumented. I will add this to the website.

[2017-01-10 15:13] jutin commented on #273
I have the same issue when using v0.6.0 in a Meteor project (MacOs Sierra). Here is the error that I receive:

[code]

 I rolled back to v0.5.2 and it works again.

[2017-01-10 15:32] marcosmoura commented on #273
It's fixed now. I'm releasing a new version right now!

[2017-01-10 15:32] #273 closed

[2017-01-10 15:33] #309 closed

[2017-01-10 15:43] marcosmoura commented on #255
Why?

[2017-01-10 15:59] alberanid opened #311 "can't load version 0.6.1"
Hi,
I've switched to the latest version (from a working 0.5.x), and I got:

    ERROR in ./~/vue-material/dist/vue-material.js
    Module not found: Error: Cannot resolve module 'Vue' in /home/da/ibt2/node_modules/vue-material/dist
 @ ./~/vue-material/dist/vue-material.js 6:83-97

I include vue-material with:
    import Vue from 'vue';
    import VueMaterial from 'vue-material';
    import 'vue-ma

[2017-01-10 16:34] marcosmoura commented on #311
Hi @alberanid

Have you installed Vue properly?

[2017-01-10 16:38] korylprince commented on #311
@marcosmoura I can confirm that I get the same message. If I import from vue-material/src/index.js and build vue-material into the bundle myself it works fine, but if I bundle the built js (normal and debug) from node_modules I'm getting the same message.

[2017-01-10 16:39] bolerodan commented on #311
Just chiming in here. I seem to be not having any issues. I have updated to 0.6.1, using the new components fine. Very strange.

[2017-01-10 16:40] marcosmoura commented on #311
@korylprince @alberanid
Running on which build system, OS, Vue version? Webpack, Browserify or Rollup? With babel or another transpiler?

[2017-01-10 16:44] korylprince commented on #311
@marcosmoura

Arch Linux,
Vue 2.1.8
Webpack 1.14.0
Babel (core) 6.21.0

I'm wondering if it's a case sensitive thing. I'm digging now to see if I can identify what is going on.

[2017-01-10 16:46] marcosmoura commented on #311
I'm running Arch Linux here too. With the same packages. I've tested in two different projects and created another based on Webpack 2. No problems :(

[2017-01-10 16:51] korylprince commented on #311
Okay, then it's almost got to be a webpack thing. Can you post what webpack config you're using for the projects?

[2017-01-10 16:54] marcosmoura commented on #311
Basically the Vue CLI template:
[code]

[2017-01-10 16:56] alberanid commented on #311
@marcosmoura : Ubuntu 16.04, npm 3.5.2, webpack 1.14.0.  If fails just tying to build the project, which. It's a standard config created by vue init webpack. Moving back to 0.5.2 make it works again.

Thanks for your help.

[2017-01-10 17:00] korylprince commented on #311
I've found something...

Here's my current webpack resolve section:

    resolve: {
        alias: {
            "vue$": "vue/dist/vue.common.js"
        },
        extensions: ["", ".js", ".vue"]
    }

If I add `"Vue$": "vue/dist/vue.common.js"` (notice capital V) to the alias section I can compile and run everything. So there does appear to be some sort of case issue.. Still digging...

[2017-01-10 17:04] marcosmoura commented on #311
Why do you need this alias?

[2017-01-10 17:08] alberanid commented on #311
@marcosmoura : I can confirm @korylprince finding.  But no idea why it fix the issue.

[2017-01-10 17:16] korylprince commented on #311
@marcosmoura It's from the Vue docs:
https://vuejs.org/v2/guide/installation.html#Standalone-vs-Runtime-only-Build

[2017-01-10 17:19] korylprince commented on #311
Okay, so I found what's causing the error message:

https://github.com/marcosmoura/vue-material/blob/aef7021375f0c55522b0942caca409a56192f56a/build/webpack/prod-lib.js#L50

Is there a reason why you're using `Vue` as the external instead of `vue`? Changing it to `vue` fixes the issue for me.

[2017-01-10 17:42] marcosmoura commented on #311
Releasing another update. Im so sorry about so many updates :(

[2017-01-10 17:42] #311 closed

[2017-01-10 18:09] marcosmoura commented on #311
@alberanid @korylprince The new version is working?

[2017-01-10 18:11] lzuccaro commented on #311
It works now. Thank you.

[2017-01-10 18:15] korylprince opened #312 "More build issues"
@marcosmoura You're going to hate me :(

So with the change you just made to externals, now using Vue and VueMaterial from <script> tags is broken. I've done some more research and I (think) know what the problem is, but not how to fix it (yet.)

The externals appears to search two places: in a global javascript variable, and for an imported package.

When externals is {vue: Vue} building with web

[2017-01-10 19:14] korylprince commented on #312
I now have a working solution, that I believe is the correct solution.

The webpack docs leave much to be desired but after reading [full configuration docs](https://webpack.github.io/docs/configuration.html#externals) here is the syntax that works for both module import and script tags:

[code]

When using export type umd, we can specify the external name for each type, allowing us to normally us

[2017-01-10 19:43] korylprince commented on #312
Also, one other question which I think is related. In index.js, you set window.VueMaterial.

I can't see anywhere in the entire source where you ever use it again; It looks like you coded this very close to the first release.

This doesn't seem to be a common practice among other Vue plugins. It defeats one of the purposes of using webpack and modules: keeping things contained. Webpack and friends

[2017-01-10 19:48] echr opened #313 "Error when change state "disabled" button after upgrade ^0.6.0"
Hi @marcosmoura , thanks before for the new components updates 👍 .

but since i upgrade the package to ^0.6.0, i've got error when enabling a disabled button by reactive data property. everything works fine in ^0.5.0

### Steps to reproduce
* md-button in **disabled** state
* try to enabled the button by change a computed property data.
* error happen when trying to enabled it

<img width="849" al

[2017-01-10 20:08] marcosmoura commented on #312
The externals trick worked flawlessly!
The window variable was created to work with the standalone build, to use the Vue.use(VueMaterial).
But with the new externals this become obsolete:
[code]

Thanks a lot @korylprince!!!

[2017-01-10 20:08] #312 closed

[2017-01-10 21:31] alberanid commented on #311
@marcosmoura : 0.6.2 works for me!  Thanks for the fix.

[2017-01-10 23:05] icehaunter opened #315 "Using md-tabs for application-wide navigation"
As per [Material Design spec](https://material.io/guidelines/components/tabs.html), "Tabs enable content organization at a high level, such as switching between views, data sets, or functional aspects of an app."
I think, this high-level content organisation is distributed between different urls. As such, I would like to use tabs in the header (i.e. in toolbar component) to organize application-wi

[2017-01-10 23:09] leogoncalves commented on #9
@marcosmoura, I was testing your lib, and I ended up falling into the following error:

**Uncaught TypeError: Cannot read property 'registerAll' of undefined**

The code is:

[code]
Any idea what it might be?

[2017-01-10 23:16] akubasa opened #316 "Vue.material.inkRipple = false not working"
I tried all variations, Vue.material.inkRipple = false in main.js
I also tried this.$material.inkRipple = false in instance, both values are not working.
this.material.inkRipple is false in Object but not working in browser, ripple effect is still working.

[2017-01-10 23:21] marcosmoura commented on #9
@leogoncalves This way to set up themes is not possible anymore. Take a look at the [breaking changes](https://github.com/marcosmoura/vue-material/releases/tag/v0.5.0) on the version 0.5.0.

[2017-01-10 23:36] marcosmoura commented on #315
You are not using it wrong. The md-tabs don't have a way to change routes or control HTML content based on them. With the tabs implementation that I create here is hard to reason about the route changes and templates inside them.

#### A possible workaround is:
* Create a empty tabs component with a @change event.
[code]

* Remove the empty content visually:
[code]

* Change the route programatica

[2017-01-10 23:36] #315 closed

[2017-01-10 23:39] marcosmoura commented on #316
Take a look at this [Pen](http://codepen.io/vue-material/pen/NdxXKy?editors=0010) here with the complete exemple. Thank you!

[2017-01-10 23:39] #316 closed

[2017-01-11 00:07] korylprince commented on #313
@marcosmoura I'll look into this if you haven't fixed it yet.

[2017-01-11 02:06] #313 closed

[2017-01-11 02:40] marcosmoura commented on #4
Sorry about the delay to develop this component, but other things was prioritized.
Already in development!!

[2017-01-11 02:52] korylprince commented on #300
@fiws Okay, so the error is actually pretty simple.

You're using the HtmlWebpackPlugin which inserts the built javascript into index.html. But you also included it with a script tag. So it is running your javascript twice.

You just need to remove the script tag from index.html and everything will work right.

[2017-01-11 03:28] mygnu commented on #4
All good mate. Great work overall!!!

[2017-01-11 03:33] korylprince opened #319 "md-speed-dial improvement"
The new speed dial is great!

However it is missing a particular feature.

From the spec:

Currently you can't have the speed dial to open on click, but have the morphed button become a clickable action, it only works to close the speed dial.

If you're willing, I'd like to add this feature in a new branch.

[2017-01-11 03:44] korylprince commented on #319
As far as implementation, I'm thinking to either pass a custom event when a click happens with the speed dial open, or using a prop to pass an event handler. I'm leaning towards the prop method.

What are your thoughts?

[2017-01-11 04:02] ozgureffe opened #321 "Snackbar disable timeout on hover."
Hi Marcos. Thank you so much for your work. Believe me, you are the savior.
I love vue-material and I am very pleased that it is getting better day by day.

I will be very happy if you fix/implement and stop the snackbar counter when hovering.

Thank you so much.

[2017-01-11 07:32] fergardi opened #322 "[Feature request] New components"
Hello!

First of all, loving your work, seriously. When a coworker discovered me vue, It was amazing, but I am more framework-friendly than a craft all by myself kind of person. I really enjoy making materialized vue apps. Some questions/improvements, thought:

Can the chips have an icon/avatar embed, like in https://material.io/guidelines/components/chips.html#chips-contact-chips?

Can the snackb

[2017-01-11 08:38] filpineda opened #323 "Select component md-menu-class"
First off thank you for this amazing project.

Now I've been trying everything and its been great, but I can't seem to to make the the "md-menu-class" property of Select component to work. What I was trying to achieve is to use md-align-trigger and md-size on the select options. An example implementation will be much appreciated.

Thank you in advance and again amazing job on this project.

[2017-01-11 12:31] ram-you commented on #243
@marcosmoura
We are moving forward in our project based on "vue-hackernews-2.0". We want to integrate "Vue Material" but with the SSR rendering problem  we can not use it. We hoped the solution with version 0.6 but now it is postponed to 0.7.
We praise the huge quantity and quality of your work and hope that the solution will not exceed 0.7.
Thank you very much.

[2017-01-11 12:40] marcosmoura commented on #319
Hi @korylprince

I didn't get it. Have you tried the `@click.native` modifier on the md-fab-trigger?

[2017-01-11 12:45] marcosmoura commented on #321
That would be a great addition. I will try to prioritize that. Thank you!

[2017-01-11 12:56] marcosmoura commented on #323
Hi @filpineda

the md-menu-class only apply a different class to the select container. What do you want to do with your select?

[2017-01-11 12:59] marcosmoura commented on #243
Hi @ram-you

The only problem with the SSR solution, to be developed, is the large amount of testing and adaptations to the codebase. That's why I postponed it, because I already had a lot of features ready to be released and the SSR feature was holding them. I will try to prioritize this to be on 0.7.0.

[2017-01-11 13:10] ram-you commented on #243
Thank you Marcos. I am confident that this will attract many more users. Because most of those who have migrated to Vue.js is mainly for server-side rendering. Thank you again and good luck.

[2017-01-11 13:11] marcosmoura commented on #322
Hi @fergardi

First of all, it's better to open a different issue per subject, to make it better to track and to not merge two or more discussions. But I will answer all of them here :)

**Can the chips have an icon/avatar embed**
Yes. This will be added as a new component: md-contact-chips

**Can the snackbar have customized theming using md-theme component?**
What do you mean? You want different

[2017-01-11 13:11] #322 closed

[2017-01-11 13:32] filpineda commented on #323
Hi @marcosmoura

I was trying to align the top of the select options container to the bottom of the select container by using md-menu-class="md-align-trigger" and to adjust the width of the select options container by using using md-size prop. I thought it would work since the md-select component uses md-menu as container of the select options iirc...

Is that possible to achieve using md-menu-cla

[2017-01-11 16:12] #323 closed

[2017-01-11 16:13] despird-zh commented on #258
hi marcosmoura,
seems this issue still exists. in 0.6.3

[2017-01-11 16:19] marcosmoura commented on #258
Yes. I can confirm that. That's really strange. :(

[2017-01-11 16:27] pablohpsilva commented on #196
@marcosmoura I've done one already. You can assign me to this task and I will try the component I have (because I developed it using version 0.5.2) on the new code base and, once I'm done with it, i'll create a PR.

I did not forget to create the css helper classes.

[2017-01-11 16:31] jevillard opened #324 "Materialize variable"
Hi Marcos.

How to access a variable Saas of Materialize in my VueS component ?

Thank you so much for your work.

[2017-01-11 16:35] marcosmoura commented on #196
Oh. That's amazing @pablohpsilva! I would love to see this PR! :D

[2017-01-11 16:36] zanchi opened #325 "Menu doesn't open inside list item in Firefox"
### Steps to reproduce
Have an `md-menu` inside of an `md-list-item`. It opens when clicked in Chrome 55 and Edge 25 but not Firefox.
### Which browser?
Firefox 50.1.0
### What is expected?
The menu should open inside the list item.
### What is actually happening?
Menu is not opening
### Reproduction Link
https://codepen.io/Zanchi/pen/ggPVKo

I found [issue 237](https://github.com/marcosmoura/vue-

[2017-01-11 16:39] marcosmoura commented on #324
Hi @jevillard

This project don't have any relation with Materialize.css

Thank you!

[2017-01-11 16:39] #324 closed

[2017-01-11 16:46] Sarpedion opened #326 "Error on table pagination"
Greetings,

when I use pagination on a table, following errors are shown in console:

![image](https://cloud.githubusercontent.com/assets/16826299/21856781/7ffe18f8-d823-11e6-86eb-d9ec9b4e23a1.png)

To reproduce errors, official [table documentation](https://vuematerial.github.io/#/components/table) can be used (the table with pagination). Error is thrown when paging to the second page, and then p

[2017-01-11 17:32] marcosmoura commented on #326
Related to #313

[2017-01-11 17:32] #326 closed

[2017-01-11 18:16] korylprince commented on #319
@marcosmoura So that didn't work (the click handler takes over the md-fab-trigger action), but putting a `@click.native` on the underlying md-icon totally works. Thanks for the clue! I'll post my working implementation for future users:

[code]

[2017-01-11 18:29] marcosmoura commented on #319
Please note that `md-open="click"` `md-mode="fling"` are the default options, so you can omit them. :)

[2017-01-11 18:43] korylprince commented on #319
Fixed! Thanks.

[2017-01-11 18:52] korylprince opened #327 "SnackBar container blocks clicks"
When a snackbar is up, the topmost snackbar container block click events from happening underneath.

This happens even for the blank space to the right and left of the snackbar.

I've got a PR coming in a minute to fix this.

[2017-01-11 19:08] marcosmoura commented on #327
Oh. Merged! Thanks!

[2017-01-11 19:09] #327 closed

[2017-01-11 19:25] BRKsDeadPool opened #329 "Ink Ripple don't work properly on microsoft edge"
Click on any button or card with ripple more than once, first time works fine, but then it stops.

### Which browser?
On microsoft edge and ie11

[2017-01-11 20:36] matthiasg commented on #4
You should look at http://element.eleme.io/#/en-US/component/date-picker for reference. Those selectors are pretty top notch.

An issue with most date and/or datetime selectors is the missing mobile support though. In a mobile scenario I would usually either expect the dialog to be full screen or (one devices with good support) use the built-in methods. Sadly those built-in methods, while looking

[2017-01-11 23:53] korylprince commented on #319
I spoke too soon. This doesn't actually fix the problem.

It appears to possibly be a race condition, or the click event on the icon only works on a very small area.

I'm not sure what exactly is happening, but it very rarely works on the first try. You can click very rapidly and move the mouse over the Fab, and eventually it will do the native click handler, but it is by far a working solution.

[2017-01-12 03:32] marcosmoura commented on #4
The only thing that I'm not planning to develop for the next version is the Date Range. As an preview. right now, the initial layout (might change during the development) is this:

Desktop Screens:
![screen shot 2017-01-12 at 01 27 03](https://cloud.githubusercontent.com/assets/1357885/21875867/4102d286-d866-11e6-9bee-959c7b578bec.png)

Mobile Screens:
![screen shot 2017-01-12 at 01 29 05](https:/

[2017-01-12 05:34] korylprince commented on #325
This appears to happen because the click event for the `md-menu-trigger` is not firing. I'm pretty sure this happens because firefox doesn't fire click events for sub-elements of `<button>`.

The problem ultimately occurs because putting a md-menu in an md-list causes the final rendering to be a <button> in a <button> and the inner-most button (menu trigger) click events do not fire.

The only way

[2017-01-12 06:37] web-surfer opened #332 "Sidenav fixed on large screens, hidden on smaller screens"
The main doc site for vue-material has a fixed sidebar when the screen is large, but then disappears (and is toggle-able) on smaller screens. How is this behavior achieved?

[2017-01-12 07:21] #332 closed

[2017-01-12 09:23] pluschen opened #333 "select label not reset when set v-model variable empty"
What is the proper way to reset select fields?
Issue similar to reset input label bug fixed in version 0.6.3.
See updated codepen http://codepen.io/anon/pen/qRZMbe, select label will not reset.

[2017-01-12 09:41] meanevo commented on #329
same issue here, safari/chrome

[2017-01-12 09:42] matthiasg commented on #4
looks great. please make sure that the year is selectable ... otherwise birthdate pickers get really unwieldy :)

the date range picker is definitely advanced and can be overcome with two pickers.

[2017-01-12 09:43] matthiasg commented on #4
what about date+time pickers ? any plans ?

[2017-01-12 11:45] brsHunterX opened #334 "Cannot read property 'toString' of undefined"
I updated my project today with version 0.6.3, but when I run it returns the following error:

`Uncaught TypeError: Cannot read property 'toString' of undefined
    at e.default (eval at <anonymous> (http://localhost:8080/app.js:1698:2), <anonymous>:7:5084)
    at eval (eval at <anonymous> (http://localhost:8080/app.js:1698:2), <anonymous>:6:31353)
    at RegExp.[Symbol.replace] (native)
    at St

[2017-01-12 12:24] pablohpsilva commented on #196
Soon enough @marcosmoura! LOL
I just have to have some free time to spare. I think I'll have that time tonight.

[2017-01-12 13:12] brsHunterX opened #335 "TypeError: Cannot read property 'appendChild' of undefined"
Another problem found in version 0.5.0 and above with the dialog component.

`vue.common.js?e881:435 TypeError: Cannot read property 'appendChild' of undefined
    at VueComponent.open (eval at <anonymous> (http://localhost:8080/app.js:1716:2), <anonymous>:6:31586)
    at VueComponent.boundFn [as open] (eval at <anonymous> (http://localhost:8080/app.js:600:2), <anonymous>:127:12)
    at VueCompone

[2017-01-12 13:19] pablohpsilva commented on #335
You have to use the Dialog structure:

[code]

[2017-01-12 13:37] #335 closed

[2017-01-12 13:42] pluschen commented on #160
The bug is still present in the last version 0.6.3

[2017-01-12 13:45] pablohpsilva commented on #335
It turns out the `this.openDialog('users-create-dialog')` on `mounted()` was breaking it. It was trying to open a dialog but the dialog itself was not mounted yet.

[2017-01-12 14:14] korylprince commented on #334
Unless you provide a codepen example or a link to your code, it's going to be almost impossible to find out what's going on.

Could you provide one of those?

[2017-01-12 14:18] korylprince commented on #333
I thought I had explicitly checked the select when it was fixed for md-input and it was working. I'll look into it.

[2017-01-12 14:42] pluschen opened #336 "textarea on init doesnt resize"
Textarea on init doesnt resize when populated with multiple lines or with longer text on init.
https://jsfiddle.net/bejgm8sx/2/ - only first line visible.
Closed issue: #160

[2017-01-12 15:04] pluschen opened #337 "select options are not hided when select is placed inside custom dialog"
When select component is placed in dialog, clicking outside the options doestn hide select options.
Even if you close dialog, select options remain still visible.

http://codepen.io/anon/pen/qRZPZr

[2017-01-12 15:21] korylprince commented on #333
@pluschen

Just so you know, when you updated your codepen for your other issue, you overwrote this one.

[2017-01-12 15:28] pluschen commented on #333
@korylprince
sure my fault :)

[2017-01-12 15:30] marcosmoura commented on #337
Oh. That's bad! I will fix it! Sorry about that!

[2017-01-12 15:35] #333 closed

[2017-01-12 15:36] pluschen commented on #337
@marcosmoura
Thank you, you are making exceptional job! :+1:

[2017-01-12 15:47] brsHunterX commented on #334
This is the problem, I update the lib, run the npm run dev command and when the page opens in my browser, it gets totally blank with this error on console it is impossible to know where the error comes from ...

[2017-01-12 15:49] brsHunterX commented on #334
However it only returns me the error in version 0.6.0 onwards, if I go back to previous versions it works perfectly.

[2017-01-12 16:06] korylprince commented on #334
Is this private code? Can you put your full project on GitHub so someone can try to replicate your issue? As it stands, there's nothing to go on...

[2017-01-12 16:10] brsHunterX commented on #334
Yes the project is from my company, which does not allow me to upload it in Github

[2017-01-12 16:49] marcosmoura commented on #334
I can't help you without see the part of the code.
Which version you were using? Which Vue.js version? Which OS? Which env? Webpack? Browserify? Standlone? Have you checked the breaking changes?

[2017-01-12 17:39] byrustamzade opened #339 "Menu can't be closed if menu is in sidenav"
when menu is in sidenav and open, it can not be closed on click sidenav.

[2017-01-12 19:38] jkirkland-cityoflewisville-com commented on #339
Same thing for <md-select> (which uses <md-menu>).  I have been trying to find a solution but so far no luck. The JQuery below prevents the menu from opening at all.

[code]

[2017-01-12 19:45] akubasa commented on #316
well, I am using .vue single file components,
but no matter where I place the this.$material.inkRipple = false, it is not working,
it is setting the value to false, but the ripple effect ist still working, am I missing something?

        mounted: function () {
            console.log("here1")
            this.$material.inkRipple = false;
        },
        beforeCreate: function () {

[2017-01-12 20:20] jkirkland-cityoflewisville-com commented on #339
This JQuery closes a menu in a sidenav, but only works once. After the first time, the menu will not re-open.

[code]

[2017-01-12 20:39] Fogerty opened #340 "Selection controls size"
Thank you for doing all of this :)

Will there be a size option for selection controls?
- Radio
- Switch
- Checkbox

[2017-01-12 20:47] jkirkland-cityoflewisville-com commented on #339
This one seems to work  :)  It allows `<md-select>` in sidenav with click-on-sidenav to close the `<md-menu>`

[code]

[2017-01-12 21:31] 0gk commented on #340
- Input

Is it possible to change the vertical size of the <md-input> element?

Great Library, I want to use it. But if I place elements in a column, is too much empty space between them.
Because of this, the form is less convenient to use, and I can not put all the items in the allotted space.

[2017-01-12 21:37] marcosmoura commented on #340
I will create the "dense" variations of some components, including the md-input and md-textarea. This will reduce the space between the rows.
About the radio, checkbox and switches, the specification tells that we should stick with those sizes, so no changes on that. :)

[2017-01-12 21:39] marcosmoura commented on #300
I will close this issue for now. If something comes up you can ask on the new [Gitter Channel](https://gitter.im/vuematerial). Thank you!

[2017-01-12 21:39] #300 closed

[2017-01-12 21:40] #68 closed

[2017-01-12 21:41] marcosmoura commented on #339
@jkirkland-cityoflewisville-com Thank you for the workaround, but I will try to fix it in a Vue.js way. It is a bug :(

[2017-01-12 21:42] fiws commented on #300
Thanks @korylprince that fixed it. I am pretty surprised that including all my js x2 did not cause any other major problems.. :O

[2017-01-12 21:44] marcosmoura commented on #332
Let's discuss it on the new [Gitter Channel](https://gitter.im/vuematerial). Thank you!

[2017-01-12 21:45] jkirkland-cityoflewisville-com commented on #339
Awesome. Thank you, Its a great library

[2017-01-12 21:45] marcosmoura commented on #316
Can you upload your code to a repo? Let's discuss this on the new [Gitter Channel](https://gitter.im/vuematerial). Thank you!

[2017-01-12 22:34] 0gk commented on #340
Thank you!

[2017-01-13 03:22] pablohpsilva commented on #196
You guys can check my progress on [this branch](https://github.com/pablohpsilva/vue-material/tree/mdAutocomplete). When I'm done I'll PR it.

[2017-01-13 10:27] jonataswalker opened #342 "getClosestVueParent error"
Using this component:
[code]
I get this error in an Electron app (I tried to reproduce in a pen but couldn't):

`TypeError: Cannot read property 'contains' of undefined(…)` which points to:

[code]
If I change to:
[code]
I get rid of the error.

[2017-01-13 11:02] jonataswalker opened #343 "getClosestPositionedParent error"
Using `<md-table-pagination>` I get this error navigating on pages:

`TypeError: Cannot read property 'parentNode' of null` which points to:

[code]
It makes more sense if checking for `element` at the beginning like:

[code]
Or a `try/catch`.

[2017-01-13 14:10] bolerodan opened #344 "MdInkRipple error in disabled watcher"
### Steps to reproduce
 Put a :disabled attribute on md-button and toggle it on and off. When putting disabled = true, everything is fine, md-ink-ripple is removed as per the code, however, putting :disabled to false will result in an error
[code]
### Which browser?
Chrome 55

### What is expected?
for md-ink-ripple to append itself back to its initial parent (in this case, md-button)
### What is

[2017-01-13 14:18] jonataswalker commented on #344
Related #343.

[2017-01-13 15:25] gazpachu commented on #203
@marcosmoura just a reminder about updating the docs. That's how I ended up here :)

[2017-01-13 17:14] elisangela89 opened #346 "Cannot read property 'indexOf' of undefined - md-select"
Hello,
I have the following error when I use select with property "multiple" and the md-option with v-for.
“Cannot read property 'indexOf' of undefined “
My component is as follows:
http://codepen.io/CARLA001/pen/bgeoKZ
And I'm calling this way:

`<template>`
` <div>`
       `<dsg-select` dsgpLabel="teste" :dsgpItens="dsgpItens"
                             :dsgpVmodel="dsgpItens" :dsgpMultiplo="t

[2017-01-13 20:44] jry2 opened #348 "Input fields rendering bug in IE11"
### Steps to reproduce
Open https://vuematerial.github.io/#/components/input in IE11

### Which browser?
IE11 (Windows 7)

### What is actually happening?
There are several problems when rendered in IE11:
- Scrollbars displayed for some fields.
- Wrong * placement.
- Wrong error placement.

Note that version 0.6.2 cannot be switched to 0.6.3 in IE11, I'm receiving "404 File not found" page.

![inp

[2017-01-13 21:49] korylprince commented on #343
This was already reported in #313 and fixed in PR #317 (using pretty much your code.) It should make it into version 0.6.4.

[2017-01-13 21:49] korylprince commented on #344
This was already reported in #313 and fixed in PR #317 (using pretty much your code.) It should make it into version 0.6.4.

[2017-01-14 00:38] prograhammer opened #349 "Props vs. Using Refs to call Methods."
Firstly...this is an excellent project! This is some really great work, probably one of the top Vue projects on Github in my opinion, please keep going!

Now here's my **thought / recommendation**: Do you think more props would be good in addition to the refs to get at the child methods? For example, let's say I use a child sidenav in my parent template like this:

[code]

Notice the prop `:open`.

[2017-01-14 10:19] jonataswalker commented on #343
I've missed that @korylprince. Closing.

[2017-01-14 10:19] #343 closed

[2017-01-14 18:48] bolerodan commented on #344
Maybe im reading the code wrong in PR #317 but does that seem to only do a null check and not re insert the md-ink element back into its parent? If I disable the the button, then re-enable it, the watcher for disabled will call init() because disabled will be false, then this.getClosestPositionedParent() with the new PR will return false thus not re-enabling md-ink ?

Perhaps I am reading that PR

[2017-01-15 13:02] bbrala opened #350 "Creating a sticky header"
I always say there are no stupid questions, but i might be wrong. Sorry.

[2017-01-15 13:33] allocenx opened #351 "Disabling theme"
How can i disable all theming configurations just like in angular material, $mdThemingProvider.disableTheme(), so i can create my own custom themes for components?

[2017-01-15 16:53] chrisnorwood commented on #310
So is there an option to expand the list item programmatically?  I'm trying to figure out how to expand, and select an 'active' list item on route change (similar to the sidebar list the docs website)

[2017-01-15 20:07] #350 closed

[2017-01-16 07:48] fergardi opened #352 "Theme font colors"
Hello!

I'm following the detailed coloring specification at https://material.io/guidelines/style/color.html#color-color-palette and found a little bug. For example, if I choose the TEAL color code, the main font-color (used in the toolbar text and primary icons) is white as specified, but if I choose the LIGHT-GREEN with 700 hue, the default value is black instead to the specification. It will be

[2017-01-16 14:55] mehyaa opened #353 "hide/close options api on md-select"
Hi,

Can you expose a close function that closes the inner menu or a ref to inner menu itself (cause it has one). I'm adding an optional li element inside the select and opening a modal with its click but the options menu stays visible (as expected). If there is a close api which i can trigger i can close the menu manually.

[2017-01-16 15:29] derkan opened #354 "Table pagination in demo problem"
At "**Within cards with pagination**" table example, click next page(`>`). Then click for previous page(`<`), you'll get error:
[code]

[2017-01-16 16:12] brsHunterX commented on #334
Sorry for the delay, but it seems that I discovered the problem, it happens that in the theme register I had some objects with the "hue" property declared and others without, this somehow generated this error. So I just added hue to all and the error stopped .

[2017-01-16 16:16] brsHunterX commented on #334
An example that reproduces the error:

Vue.material.registerTheme({
'theme1': {
  primary: {
    color: 'blue-grey',
    hue: 900,
  },
  accent: {
    color: 'white',
  },
},
'theme2': {
  primary: {
    color: 'deep-orange',
  },
  accent: {
    color: 'white',
    hue: 500,
  },
},
})

[2017-01-16 18:10] marcosmoura commented on #334
I will take a look at this ASAP. I will close this issue for now. thank you

[2017-01-16 18:10] #334 closed

[2017-01-16 18:12] marcosmoura commented on #342
Already fixed. It will come in the next release.

[2017-01-16 18:12] #342 closed

[2017-01-16 18:19] marcosmoura commented on #344
I will take a deep look into it. Thanks!

[2017-01-16 18:23] marcosmoura commented on #346
Some points:

- You cannot use something like `dsgpVmodel` to bind itens selected in your component. Vue.js works with one way bind.
- Why you need to create another component wrapping the `md-select`?

[2017-01-16 18:24] marcosmoura commented on #348
I will take a look at this. Vue Material still lacks some tests on IE 10 and 11. Thanks for reporting that.

[2017-01-16 18:32] marcosmoura commented on #349
Eventually the "ref" way of calling the inner methods will die. Of course that will work, but I will develop a better way using "event buses"
Why not using props? Because some components need to tell the parent that some action happened. Using the md-sidenav as an example:
[code]

This example kinda works. If the user clicks in the backdrop to close the sidenav, I can't update de "isOpened" variab

[2017-01-16 18:32] #349 closed

[2017-01-16 18:32] marcosmoura commented on #351
This is not possible right now. I will try to develop this for the next version.

[2017-01-16 18:32] juppdes commented on #346
Hello Marcos,

We are creating our own components, just referencing them to the Vision Material, to create internal parameter standards, nomenclatures, and to keep the base library always original, with fewer problems with version updates.

The problem occurs in md-select only in the "multiple" option, when it does not, it works normally.

Other components we are achieving quietly.

Is there any w

[2017-01-16 18:34] marcosmoura commented on #346
Can you create an example on Codepen with that error? The link that you sent is not working...

[2017-01-16 18:34] marcosmoura commented on #354
Related to #229

[2017-01-16 18:34] #354 closed

[2017-01-16 18:35] allocenx commented on #351
Thanks, im working on big project, a game web written in vue and i also wanna use material design so i've found yours which i must say really nice job done so far tho there are missing components, if i can help somehow writting missing stuff like disablingTheming can i make a pull request and take in consideration? While i;m developing my web hope you can have a pretty stable version with all mate

[2017-01-16 18:37] marcosmoura commented on #353
This is not going to be implemented. This cannot be done in the regular <select> and this library aims to be clean and the more close to the default components.

[2017-01-16 18:37] #353 closed

[2017-01-16 18:42] marcosmoura commented on #352
I tried your example on [Codepen](http://codepen.io/vue-material/pen/WGavBE) and the colors are white. I coundn't reproduce this bug.

[2017-01-16 18:44] marcosmoura commented on #351
Of course! You can submit any PR. If there is some "design patterns" missing or incompatible, I will do the Code Reviews and you can fix it and then I can merge. :)

[2017-01-16 18:47] #286 closed

[2017-01-16 18:48] #89 closed

[2017-01-16 18:50] #336 closed

[2017-01-16 18:54] allocenx commented on #351
Okey, thanks 👍

[2017-01-16 19:06] juppdes commented on #346
Marcos... i create a repo here..    https://github.com/juppdes/mdSelect-trouble
Please make clone and run npm install.
When run (npm run dev) you will see that the first select, which is not multiple, brings in the line just below the selected content correctly.
In the second select, which is multiple, it selects correctly in the child component, but does not bring the value to the parent componen

[2017-01-16 19:21] agwind opened #355 "Unable to set Hue for background and accent in theme"
I'm trying to create a dark theme and the code doesn't allow you to set a custom hue for background or accent:
http://codepen.io/anon/pen/KagLoJ

Hue is always overridden.

Below works for me, and I believe follows the intent.  Set a default Hue value for accent and background but only if you haven't provided it with your theme:

[code]

[2017-01-16 19:36] marcosmoura commented on #346
Please create upload your example at Codepen. It is hard to clone repositories only to see the code.
BTW, I created [one](http://codepen.io/vue-material/pen/oBzRRW) and the problem is with your markup. You were passing props in camel case instead of using dashes:
[code]

Take a look at the Vue.js [documentation](https://vuejs.org/v2/guide/components.html#camelCase-vs-kebab-case)

[2017-01-16 19:36] #346 closed

[2017-01-16 19:39] marcosmoura commented on #355
I will change that. The background is hardcoded. Sorry about that.

[2017-01-16 19:47] juppdes commented on #346
Marcos,In your codepen example, in the html part, can you display the contents of the variable pointed to in v-model (select)?

[2017-01-16 20:08] juppdes opened #356 "I can not access the md-select value"
In the codepen example, [SELECT](http://codepen.io/Jupp/pen/bgwPLX), I can not access the content returned from the md-select multi-selection in the HTML.
Please show me how to access the multiple content selected in the HTML part.

[2017-01-16 20:11] marcosmoura commented on #356
You're creating a wrapper component. You should use v-model for that.
Please follow the [documentation](https://vuejs.org/v2/guide/components.html#Form-Input-Components-using-Custom-Events) for custom components of Vue.js.

[2017-01-16 20:11] #356 closed

[2017-01-17 01:33] korylprince commented on #344
@marcosmoura

Currently in `init`, `this.parentElement` is always reset to `this.getClosestPositionedParent(this.$el.parentNode)`. Perhaps `this.parentElement` should only be set if it is not `null`.

I would do a PR, but obviously my last solution didn't fully solve the problem. I want to make sure I fully understand what's going on here.

[2017-01-17 07:45] mehyaa commented on #4
Hi,

This will be great, waiting for it 👍

[2017-01-17 08:01] mehyaa opened #357 "md-select options closed event"
Hi,

Can you emit closed event on md-select when user selects an option or click somewhere else?

[2017-01-17 08:37] fergardi commented on #352
You are completely right. I misunderstood the specification.

Thank you for your time.

[2017-01-17 08:37] #352 closed

[2017-01-17 12:34] marcosmoura commented on #357
Yep. I will do that! Closed and opened.

[2017-01-17 12:37] ascarpello opened #358 "Select component not focusable with tab key"
### Which browser?
Google Chrome v 55.0.2883.95 (64-bit) on Mac OS X Sierra
Firefox v 50.0 /  50.1.0 (64-bit) on Mac OS X Sierra
### What is expected?
Tabindex navigation between form fields
### What is actually happening?
tabindex attribute value is set to "-1"

### Reproduction Link
[http://codepen.io/asca/pen/ygVVXQ?editors=1010](url)

[2017-01-17 12:43] marcosmoura commented on #358
I see. This will be done in #31 and #260. I will close this for now and I report back. Thank you!

[2017-01-17 12:43] #358 closed

[2017-01-17 13:48] ascarpello opened #359 "md-select native html5 form errors with required attribute"
Hi, i have a simple form width some input and a select, all with the required attribute, but when i try to submit, the submit event not fire (if i fill or not the md-select) and i can't see the native html error handler to md-select and to all the required fields next to the select

### Which browser?
Google Chrome v 55.0.2883.95 (64-bit) on Mac OS X Sierra
Firefox v 50.0 /  50.1.0 (64-bit) on Mac

[2017-01-17 18:21] vms82 commented on #359
you didnt provided any data function for your v-models the following will fix your issue when added to the instance, also i suggest to go thrue vuejs.org docs and at least read the basics guide.
data() {
    return {
      movie:'',
      initialValue: '',

 }

[2017-01-17 19:41] SerjoA opened #360 "how do i know which button has been selected from md-toggle-button"
[code]

[2017-01-17 19:54] marcosmoura commented on #359
The snippet of @vms82 will fix your issue! Thank you!

[2017-01-18 01:12] bfrost2893 opened #361 "Table set height with fixed header option"
Awesome work so far!
Would it be possible to have an option on the table with a fixed height on the table and scrollable `tbody`? Material Design doesn't seem to say anything about it. But I find this is pretty common in most apps.

Thanks,
Brad

[2017-01-18 02:22] SkaterDad commented on #348
I'm seeing the same error message placement in Firefox 51.0b14.

Adding `left: 0` to the `<span class="md-error">` element fixes it on my machine.

[2017-01-18 02:52] SkaterDad opened #362 "TextArea error message not moving down"
### Steps to reproduce
Go to https://vuematerial.github.io/#/components/input and scroll down to the "Required and Errors" card.  The example of a textarea with error message below.

### Which browser?
Chrome on Android & Desktop, Firefox on Desktop, possibly more.

### What is expected?
I would expect the error message to shift down as the textarea height is resized.

### What is actually happeni

[2017-01-18 03:56] SkaterDad commented on #362
I did some hacking around in `mdTextarea.vue` in the `development` branch, and was able to fix this.

This is probably not a great solution, but it illustrates what _can_ be done.

The code between the `// NEW CODE` comments searches the parent element for a child with `md-error` in its classes, then attaches an event listener to the `textarea` element on `autosize:resized`.  It then sets a new `t

[2017-01-18 04:59] ackzell opened #363 "Table Docs - broken pagination?"
### Steps to reproduce
1. Open up the docs at the Table section:
https://vuematerial.github.io/#/components/table

2. Scroll to the _Within cards with pagination_ example

3. Click on the *>* button at the pagination controls for the _Nutrition_ table

4. Click on the *<* button

### Which browser?

Chrome Version 55.0.2883.95 (64-bit)

### What is expected?
Pagination controls allow to visualize

[2017-01-18 05:25] jeimz143 commented on #329
i have the same issue here :(

[2017-01-18 10:49] boustanihani commented on #14
A TimePicker would be also great :)

[2017-01-18 12:58] marcosmoura commented on #360
Please add your own actions there. In the future I will change it to fire some events, but for now:
[code]

[2017-01-18 12:58] #360 closed

[2017-01-18 13:04] mtpc opened #364 "[Feature request] Add badges"
See https://getmdl.io/components/#badges-section or http://www.material-ui.com/#/components/badge

[2017-01-18 13:20] SerjoA commented on #360
thanks

[2017-01-18 15:41] mounsterjavi opened #365 "md-list-item secondary button submits form"
Using a md-list with md-list-item inside a form with a secondary action assigned. Clicking the secondary action causes the form to submit.

could you add a default type="button" to buttons to prevent autosubmission of forms, thanks.

[2017-01-18 16:40] bolerodan commented on #365
Hmm, looking at the source code for md-button, the default type is indeed "button" which you can also override on that specific button. Looking at the examples of a md-list-item with a secondary button action on the docs, it does indeed have type="button".

I just tested this in a <form> of my own, and my md-button does not submit my form and does indeed have type="button" as default. What version

[2017-01-18 17:18] mounsterjavi commented on #365
Hi @bolerodan

the md-button is fine, the problem is using [expansion list](https://vuematerial.github.io/#/components/list), when the component is rendered the action button doesn't have type="button" attribute.

<li class="md-list-item md-list-item-expand" data-v-819e694e="">
<button class="md-button md-list-item-container">...</button>
</li>

https://jsfiddle.net/3h55pq9c/

[2017-01-18 17:34] bolerodan commented on #365
@mounsterjavi

Ah so more specifically, it's the expansion type. Also, it's always handy if you can just provide a fiddle right off the top (thanks for the fiddle afterwards though) as well as your vue-material version, web browser version etc so we're not dancing around sorting these things out.

Looking at the code it does indeed seem the expansion type is using createElement(button) and not pro

[2017-01-18 23:12] Shhu opened #366 "checkbox checked attribute"
Checkbox didnt update the "checked" attribute. When you submit a classic form with the checkbox components, the browser didnt send the checkbox because the checked attribute is missing.

http://codepen.io/anon/pen/WRRZJM

checked output is
`<input type="checkbox" name="my-test1" id="my-test1" tabindex="-1" value="false">`
and should be
`<input type="checkbox" name="my-test1" id="my-test1" tabindex

[2017-01-19 03:05] lee-frank opened #367 "[md-input] Cursor jumps to end of input after first edit"
### Steps to reproduce
Any input after the first input will move the cursor to the end of the textfield. Seems to occur in md-input with a v-model. So for example, in the vue-material input documentation, inserting any character before the string "My initial value" will move the cursor to the end of "value".

### Which browser?
Chrome, vue-material 0.6.3, Vue 2.1.8

### Reproduction Link
You can t

[2017-01-19 03:07] Chandler9Wilson opened #368 "dialog property `md-click-outside-to-close` bug"
Setting `md-click-outside-to-close` to `false` does not stop the dialog from closing when clicking outside the dialog.
* Here is a [codepen](http://codepen.io/Chandler9Wilson/pen/gggvmw) with the property on line 12

[2017-01-19 11:05] elisangela89 opened #369 "Custom theme,"
How do I register a theme where I can change the class properties too, for example: In the "default" theme the md-list classes will have the blue background color and the md-list-item classes will have the black background color. I tried the following code and I was not successful:

Vue.material.registerTheme ({
   Default: {
        .md-list: {
            background: "blue"
         }
         .

[2017-01-19 16:01] nue-melexis opened #370 "select list size"
Hi,

will there be any possiblity to make the select list the same width like the select element?
Could be a parameter to switch between "small as possible" and "match select"

BTW. great library

Best Regards,

[2017-01-19 16:13] marcosmoura commented on #361
This will be done in the feature. I'm not going to prioritize it now, but I will keep this on track. Thank you!

[2017-01-19 16:13] #361 closed

[2017-01-19 16:14] marcosmoura commented on #362
Thank you for the workaround. I will fix this issue using css, with a bottom position instead of top.

[2017-01-19 16:15] marcosmoura commented on #363
Duplicated #354

[2017-01-19 16:15] #363 closed

[2017-01-19 16:18] marcosmoura commented on #364
This will be done in the near future. Right before the <md-steppers> components.

[2017-01-19 16:22] marcosmoura commented on #367
You're right. Nasty bug!

[2017-01-19 16:24] marcosmoura commented on #368
You have to bind the value to the component:
`:md-click-outside-to-close="false"` instead of `md-click-outside-to-close="false"`. Note the colon...

[2017-01-19 16:24] #368 closed

[2017-01-19 16:29] marcosmoura commented on #369
You are doing it wrong. First you need to define the theme:
[code]

Then you use the theme attribute in the desired component.
[code]

Plase take a look in the theme documentation section: https://vuematerial.github.io/#/themes/dynamic-themes

[2017-01-19 16:29] #369 closed

[2017-01-19 16:34] #359 closed

[2017-01-19 16:43] marcosmoura commented on #370
Not right now. The <select> tag from html do not have such behaviour. If you have a really huge option text, the dropdown will have at most 80% of the select.

[2017-01-19 16:43] #370 closed

[2017-01-19 16:45] marcosmoura commented on #4
This thread here is only for date picker. I will develop the time picker in another branch and release version.

[2017-01-19 19:02] Chandler9Wilson commented on #368
Thanks for the quick response, I was trying to use a normal html attribute, for future reference I did not understand [dynamic props](https://vuejs.org/v2/guide/components.html#Dynamic-Props) were being used here. This was my fault I hope the link helps people in the future.

P.S. thanks for the great library

[2017-01-20 07:13] nue-melexis commented on #339
Hey,

I think this is the same like a select menu not closing inside a dialog.
This is because the z-index of the backdrop of the menu is smaller/equal the z-index of dialog-backdrop/sidenav-backdrop

Since this is done via css, it is not so dynamic.
I think you need to recalculate the z-index in JS (incrementing it for nested elements)

[2017-01-20 07:53] jtouzy opened #371 "[md-input] Can't listen native events"
On md-input, developers can't listen input's native events like "v-on:focusout", "v-on:keyup", because of the "md-input" wrapper. Can we $emit the events when they're sended ?

I think it could be a performance problem (too much $emit phase) so I prefer ask for the feature before proposing a pull request.

Maybe the developer can register events that he needs and md-input can registers them on the

[2017-01-20 09:19] nothinggift commented on #228
There is a issue
Set activeTab default to 1,click tab 2,and then set activeTab to 1,nothing would happen.

[2017-01-20 09:28] Shhu commented on #366
Same for `<select>` the html composant isnt synced and return an empty value.
Radio didnt work without a v-model (this one will be probably much more complicate)

Should i create an issue per component or its fine here cause its for the same use case?

[2017-01-20 09:35] fergardi opened #372 "Ink Ripple effect not dissapearing in mobile version"
The Ink Ripple effect dissapears on web version, but when on mobile/responsive versions it never dissapears.

To test it, simply go to https://vuematerial.github.io/#/components/ink-ripple and enable responsive view in the developer toolbar. Clicking on the text and image examples will show the problem. I don't know if this mobile version behaviour is intended, even in material design spec, but in

[2017-01-20 10:09] vivescere commented on #371
If I remember correctly, you can use @focus.native.

[2017-01-21 11:58] jonataswalker opened #373 "Stop scrolling `body` while ..."
... `<md-dialog>` is open. Could be:

[code]

[2017-01-21 17:37] razorfever opened #374 "Missing alignment features for md-layout"
First: you've got a nice thing going on here, thanks!

However, as an old Angular Material user I'm missing some features from their layout system like being able to assign two values inside a single layout-align attribute like in this interactive demo [here](https://material.angularjs.org/latest/layout/alignment).

It would also be extremely nice to be able to assign those missing 'justify-conten

[2017-01-22 04:18] donPuerto opened #375 "Do we have VUE CLI show casing marcosmoura/vue material framework?"
This framework is freaking awesome, but it is nicer to have dedicated VUE CLI using marcosmoura/vue material framework.

[2017-01-22 19:34] maesklaas opened #376 "md-hide inside md-toolbar"
Hi,

I have a toolbar with some buttons. Now i am trying to hide those on small screens.
Just using md-hide-xsmall doesn't work and adding md-layout in and or around the md-toolbar, changes te look of the toolbar.

Any suggestions on how to get this working?

Thanks

[2017-01-23 05:00] #371 closed

[2017-01-23 08:52] polunzh opened #378 "[md-radio]: md-value can't be assigned 0"
### Steps to reproduce
Set  `md-value`  to `0`, when binded model value is `0` the radio won't be selected.

### Which browser?
`chrome 55.0.2883.87 m (64-bit)`
`vue 2.1.8`
`vue-material 0.6.3`

### What is expected?
`md-value` can be assigned `0`

### What is actually happening?
I think the code:
[code]
the  `this.value` variable should be checked by another way.
[source code](https://github.com/

[2017-01-23 11:09] joelmandell opened #379 "md-file cannot open it with FileReader()"
I am trying to open a file with md-file component. It is with an v-model="file".
When trying to read fr.readAsData(file) it does not work...

 execute 'readAsDataURL' on 'FileReader': parameter 1 is not of type 'Blob'.

[2017-01-23 12:42] poovarasanvasudevan opened #380 "Sticky Toolbar Snippet"
Hello ,
  I am new to Vue, I seen all your example that uses sticky toolbar can you list the snippet for sticky toolbar that you used
My page has only one toolbar and a long content

` <div>
        <md-toolbar class="md-whiteframe-3dp ">

        </md-toolbar>

        <div class="container">
            <h1>Hello</h1>
            <h1>Hello</h1>
            <h1>Hello</h1>
            <h1>Hello</h

[2017-01-23 14:06] copitz commented on #344
@korylprince Your solution solved the problem but it is neither in current [master](https://github.com/marcosmoura/vue-material/blob/master/src/core/components/mdInkRipple/mdInkRipple.vue#L64) nor in [0.6.3](https://github.com/marcosmoura/vue-material/blob/v0.6.3/src/core/components/mdInkRipple/mdInkRipple.vue#L64)

@marcosmoura [Line 64 - 68](https://github.com/marcosmoura/vue-material/blob/maste

[2017-01-23 14:52] mehyaa opened #381 "selected/unselected events for md-table-row"
Hi,

Can you emit selected/unselected (or select/unselect) events on md-table-row. When using online datasource select event from md-table provides only items on the visible page, handling selected rows globally is more logical if rows emit select events.

[2017-01-23 15:27] delueg opened #382 "stop propagation on expandable list arrow icon"
Hello,

when i click on the expandable-list-arrow-icon the click event bubbles to the list-item itself. Can i prevent this somehow?

see here http://codepen.io/delueg/pen/oBwbyo

[2017-01-23 15:29] d3radicated opened #383 "Adding chips triggers form submit"
### Steps to reproduce
Add an `md-chips` component inside a form with a submit handler

### Which browser?
Google Chrome 55.0.2883.87

### What is expected?
Form should not submit when adding chips.

### What is actually happening?
Chip is added and triggers form submit.

### Reproduction Link
https://codepen.io/dEradicated/pen/VPWeQy

[2017-01-23 16:21] mathieutu commented on #379
@joelmandell it's normal and it's about Vue and not the material package.
If you search that on google, you can find many explanations and tips :
Mine :

[code]

[code]

You're welcome ! 😃

[2017-01-23 16:35] joelmandell commented on #379
Thx a lot man!
I tried to search for an example, but my google-skills aren't that well apparently 😃

[2017-01-23 16:42] mathieutu opened #384 "[Bug] Maxlength on input doesn't update when v-model update"
### Which browser?
Last version of Vue and vue-material, all browsers

### What is expected?
The counter of maxlenth should update when the value of the field is updated (not only when typing).

### What is actually happening?
It doesn't hold the change at all!

### Reproduction Link
http://codepen.io/anon/pen/YNQWGX

Thank's.

[2017-01-23 17:02] gazpachu opened #385 "[md-gutter][bug] Gutter not working in any way"
I've tried many different `md-gutter` definitions but none of them seem to be working.

http://codepen.io/gazpachu/pen/oBwzgY

[2017-01-23 19:14] marcosmoura commented on #373
I will change that. Thank you!

[2017-01-23 19:15] marcosmoura commented on #374
I will think about that. Maybe some classes. Thank you.

[2017-01-23 19:17] marcosmoura commented on #375
This will be developed. I'm going to close this issue, for now, but I will try to create this for the v0.9.0. For now you can use this initial boilerplate: https://github.com/marcosmoura/vue-boilerplate

[2017-01-23 19:17] #375 closed

[2017-01-23 19:18] marcosmoura commented on #376
Just use as a class and it'll work. <md-button class="md-hide-xsmall"></md-button>.
I wil add this to the documentation soon.

[2017-01-23 19:18] #376 closed

[2017-01-23 19:21] marcosmoura commented on #378
In the reproduction link I could check all the radio.

[2017-01-23 19:21] #379 closed

[2017-01-23 19:23] marcosmoura commented on #381
Sorry, but I didn't understand what you want. Can you explain better?

[2017-01-23 19:23] marcosmoura commented on #382
No. You can't. I will change that. Sorry about that.

[2017-01-23 19:25] marcosmoura commented on #383
I will fix that soon. Sorry about that.

[2017-01-23 19:26] marcosmoura commented on #384
Oh. That's bad. I will fix that ASAP. Sorry!

[2017-01-23 19:28] marcosmoura commented on #385
The gutter only works between columns. If you want an space before and after your content, you should do it manually.
Thanks!

[2017-01-23 19:28] #385 closed

[2017-01-23 19:29] marcosmoura commented on #380
This is not related to Vue.js nor Vue Material. This is a css trick.
Take a look at those examples:
http://cssreset.com/creating-fixed-headers-with-css/
https://css-tricks.com/scroll-fix-content/

[2017-01-23 19:29] #380 closed

[2017-01-23 21:10] #384 closed

[2017-01-23 21:36] gazpachu commented on #385
@marcosmoura thanks for the clarification but I am still unable to add gutters between columns. Maybe the examples are wrong? Could you please check them? Thanks

[2017-01-23 21:39] #383 closed

[2017-01-23 21:48] almaweb commented on #376
Hi,
I tried md-hide-large as class but doesn't work as it should because it hide element in small screen..
Thanks

[2017-01-23 21:49] #373 closed

[2017-01-23 21:50] #367 closed

[2017-01-23 21:54] #362 closed

[2017-01-23 22:08] marcosmoura commented on #366
I added the checked attribute to the input checkbox.
Please open another issue for each subject. It will be easier to detect changes and to track what should be done. :)

[2017-01-23 22:09] #366 closed

[2017-01-23 22:12] mathieutu commented on #384
Great! Thanks for the reactivity!

[2017-01-23 22:14] #357 closed

[2017-01-23 22:19] delueg commented on #382
No Problem - thank you for your great work.

I mean somehow it makes also sence to open the expandable list on click on the item in order of user experience. Maybe to make it configurable would be nice

[2017-01-23 22:51] #339 closed

[2017-01-23 22:54] #337 closed

[2017-01-23 22:56] #348 closed

[2017-01-23 23:05] marcosmoura commented on #385
The md-gutter only accepts 8|16|24|40 values.

[2017-01-24 00:00] polunzh commented on #378
Sorry.
I mean when the `v-model` initial value is `0`, the radio can not be selected by default.
Did I get anything wrong?

[2017-01-24 00:11] marcosmoura commented on #378
Oh. I see now. I will fix! Sorry about that!

[2017-01-24 01:47] #378 closed

[2017-01-24 04:38] polunzh commented on #378
thanks!

[2017-01-24 07:34] ozgureffe opened #388 "Vue Material crashes in Apple devices."
Hi.

After some reported issues, about my vue material powered web site I want to check vue material original site with Apple devices.

I do not own any apple devices. This screenshots are from [BrowserStack](https://www.browserstack.com) device simulator.

Browserstack allows only these 3 devices in their free subscription so I made tests -only with them.  Here are the results:

# **iPhone 5 with

[2017-01-24 07:55] mehyaa commented on #381
md-table emits select event with all selected items when an item selected or deselected. But i need a select and deselect event from the md-table-row being selected or deselected cause i want to manage the selected items. I need to preserve selected items between page changes and datasource changes etc.

md-table has a bug right now on managing selected items and this solution is more sutiable for

[2017-01-24 11:40] gazpachu commented on #196
Hey @pablohpsilva, I've reviewed your work. Good stuff, man! How far are you with the job? I need the autocomplete for my project but it makes no sense to build from scratch if you are almost done with it. Cheers

[2017-01-24 11:43] Shhu opened #389 "Using md-select without a v-model"
When using md-select without a v-model, the html <select> composant isnt synced and return an empty value.

Example :

[http://codepen.io/anon/pen/OWgrEB](http://codepen.io/anon/pen/OWgrEB)

[2017-01-24 12:00] Shhu opened #390 "[mdRadio] Using md-radio without a v-model"
Radio didnt work without a v-model :
[http://codepen.io/anon/pen/xgrmyq](http://codepen.io/anon/pen/xgrmyq)

[2017-01-24 12:04] mathieutu opened #391 "[BUG] Support :href in md-button"
[code]
The `:href` tag is not supported as a link, so we can't load link from variable.. 😢

if I do
[code]

I will have a simple `a href="myLink"` in html.

Thanks!

[2017-01-24 12:46] mathieutu commented on #299
And I run personally on laravel, and you really don't need all of that to use vue-material ^^".
Just the normal doc in laravel and vue-material is enouth...

[2017-01-24 12:48] sqal opened #392 "Pressing tab key on the tab component messes up the layout"
### Which browser?
Any

### What is expected?
When the tab content is focused and user hits tab key, the content should not switch.

### What is actually happening?
Layout is messed up

![img1](http://image.prntscr.com/image/b6c7b4c28e5843c38d771e53b2b99646.png)

### Reproduction Link
https://vuematerial.github.io/#/components/tabs>

- Click on the text in the first tab
- Click tab key
- You shoul

[2017-01-24 12:48] marcosmoura commented on #299
Closing it for now.

[2017-01-24 12:48] #299 closed

[2017-01-24 12:50] marcosmoura commented on #388
I will take a look, but I'm not going to add support for older iOS versions (older than 9) for now.

[2017-01-24 12:52] marcosmoura commented on #389
Sorry, but I didn't understand what you need.

[2017-01-24 12:56] marcosmoura commented on #390
Unfortunately the v-model is mandatory. What do you want to do with a radio without a v-model?

[2017-01-24 12:56] gazpachu commented on #276
Any luck integrating vee-validate? I've tried with vue-validator but I get `template syntax error - invalid expression: v-validate="minLength: 2, maxLength: 10"`. So, I'm going to try with vee-validate

[2017-01-24 12:58] mathieutu commented on #391
Ok, apparently this is apparently working, I don't know why I had this problem.
Sorry !

[2017-01-24 12:58] #391 closed

[2017-01-24 12:59] marcosmoura commented on #391
Take a look at this pen: http://codepen.io/vue-material/pen/apwMOQ

[2017-01-24 13:09] marcosmoura commented on #392
Oh. That is just crazy, hahaha. I'm going to fix that on #31
Thank you for reporting that. :)

[2017-01-24 13:09] #392 closed

[2017-01-24 13:38] emersion opened #393 "[SCSS] md-flex=false has no effect"
### Steps to reproduce

[code]

### What is expected?

Setting `md-flex` to `false` should make the layout not to grow to fill all the space.

### What is actually happening?

The layout grows, regardless of the `md-flex` value.

### Reproduction Link

http://codepen.io/anon/pen/ggRENx

[2017-01-24 13:44] emersion opened #394 "[mdDialog] Autofocus field in dialog"
Currently it's not possible to mark a field as automatically focused in a dialog (and outside, too). Worse, manually giving focus when opening a dialog doesn't work (it seems that the focus is given to the dialog's button when opened).

Adding a way to change this would be great.

[2017-01-24 14:39] gazpachu commented on #276
Fixed. I was missing the `data-vv-name`, which strangely, the docs mention it's an 'alternative' to the 'name' attribute...

[2017-01-24 14:49] Shhu commented on #390
I write an application with Laravel & Vue, i use blade base structure.
The purpose of  #366 #389 #390 is to allow the usage of vue-material in a non-SPA environement

Exemple :
<form action="..." method="post">
  <md-radio id="my-test1" name="my-test-group1" md-value="1">Yes</md-radio>
  <md-radio id="my-test2" name="my-test-group1" md-value="2">No</md-radio>
</form>

Actually if i want to do that

[2017-01-24 14:52] Shhu commented on #390
I write an application with Laravel & Vue, i use blade base structure.
The purpose of  #366 #389 #390 is to allow the usage of vue-material in a non-SPA environement

Exemple :
[code]

Actually if i want to do that, i have to create a component just for that. It would be great if the composant himself was "html compatible"

[2017-01-24 17:58] korylprince commented on #394
Generally you need to set focus using [nextTick](https://vuejs.org/v2/api/#Vue-nextTick).

So you would use something like:

[code]

That may not be exactly right. If you make a codepen reproducing your issue, I can take a look at it.

[2017-01-24 18:00] korylprince commented on #390
If you are looking for an html/style only version of material components, perhaps you would be better served with something like http://materializecss.com/ or https://getmdl.io/ .

[2017-01-24 19:45] johanbove commented on #371
I had the same question. Thank you for replying @vivescere . Can you please elaborate a little on how this would work? I'm trying this, but the event is not fired:

[code]

[2017-01-24 19:47] johanbove commented on #371
Never mind. I found the correct event notation; Thanks!

[code]

[2017-01-24 21:18] Morgul opened #395 "[Feature Request] Allow putting md-input inside of a md-toolbar"
Currently, if you want to put a `md-input` inside of a toolbar, you end up with unexpected behavior:

![image](https://cloud.githubusercontent.com/assets/770655/22266792/ed3a0a80-e246-11e6-9b72-8a9f0330d4e2.png)

What I would expect, is something more along the lines of:

![image](https://cloud.githubusercontent.com/assets/770655/22266949/918f73ea-e247-11e6-95e0-86dc7f715e68.png)

The issues that

[2017-01-24 21:28] Shhu commented on #390
The issue #366 is already fixed for checkbox, i dont see why vue-material shouldnt be improved to support non full vue apps.

Both materializecss and getmdl play poorly with vue. Vue-material is really nice to use and works great out of the box except for those vital basic 3 composants.

[2017-01-24 23:33] emersion commented on #394
Yeah, that's what I'm doing right now. This issue is about improving vue-material to make it easier.

[2017-01-25 00:54] Ealhad commented on #275
So, @igor-ribeiro, still no PR ? I must say I am looking forward to it 🙂

[2017-01-25 04:33] dohomi commented on #4
How @matthiasg mentioned, I'm looking for a datepicker for birthdays too. So it would be great if the year selection would be possible to go back many years without big hassle. Thanks the component looks very nice!

[2017-01-25 10:39] antonelepfl opened #396 "MdInkRipple laggy scroll"
### Steps to reproduce
I have just added the md-ink-ripple in a single page component and repeat this component several times from a parent component.
### Which browser?

Chrome 55
### What is expected?
If you scroll the page has lag
### What is actually happening?

### Reproduction Link

In this commit I had to remove it https://github.com/antonelepfl/usecases/commit/61c99f12c55852e92284d8a30926e

[2017-01-25 13:09] pablohpsilva commented on #196
@gazpachu I had to stop working for a few days. Now I'm putting my shit together and I'll finish it by tomorrow (that's the plan at least).

Thank you @gazpachu !!! :)

[2017-01-25 13:34] alesanfer opened #397 "How to get "currentPage" information of the md-table-pagination?"
Hi guys, ( @pablohpsilva )

How to grab the "currentPage" or "page" information of the md-table-pagination? I searched this on the documentation but not found this info.

i  saw that is emited an event about this in the index.js in the folder mdTable of the component but i dont know how to get this on.

thanks advance

[2017-01-25 13:48] jonataswalker commented on #397
If you have this:

[code]
Then:
[code]

[2017-01-25 14:16] alesanfer commented on #397
Hi @jonataswalker ,
This works, I think it would be nice to insert this information into the documentation about these events, they are very usefull.
thanks man

[2017-01-25 15:23] pablohpsilva commented on #397
Yeah @jonataswalker . There is no documentation about it [check it out](https://vuematerial.github.io/#/components/table). We have to add it.

[2017-01-25 15:50] d3radicated opened #398 "Pagination Error"
### Steps to reproduce
1. Go to demo of table component.
2. On the demo of "Within cards with pagination", go to the next page then back to the previous page.

### Which browser?
Google Chrome 55.0.2883.87

### What is expected?
No errors are shown. Other controls are working.

### What is actually happening?
After pressing the previous page button, an error occurs and all of the controls don't wo

[2017-01-25 15:56] Cadienvan opened #399 "[Feature Request] md-card should have md-flex support"
Hi,
first of all congratulation for the awesome library.
I'm testing it and, as a Vue.js newbie, I'm trying to achieve something simple with Vue Material.

I'm encountering a little problem related to cards.
In fact, I'm trying to have full-width cards even if inside content doesn't reach desired width.

Here is the piece of code related to the issue:
[code]

And here's my result:
![github](https:

[2017-01-25 18:04] ghettovoice opened #400 "Incorrect positioning of mdMenu content"
I was faced with the problem of incorrect positioning of the menu content inside mdMenu component.
mdMenu renders mdMenuContent component at the bottom of the application root element and
calculates position from the position of the menu switcher button relative to the viewport. https://github.com/marcosmoura/vue-material/blob/master/src/components/mdMenu/mdMenu.vue#L91
All works as expected when

[2017-01-25 19:19] jayminpanchal opened #401 "Bootstrap like nav-bar"
Thanks for the awesome library but i have some question I am new to this Vue-Material.

1. Can we integrate with the bootstrap?
2. How to achieve nav-bar like bootstrap. Bootstrap provides link in header and when the screen resizes it automatically converted to side nav can we achieve this things with this library? I have searched so much but could not find anything.

Thanks for help

[2017-01-25 20:06] Morgul commented on #401
TLDR; the answer is 'kinda'.

So, the components you're looking for are here:

* https://vuematerial.github.io/#/components/toolbar
* https://vuematerial.github.io/#/ui-elements/layout

In order to have the automatic collapsing, you need to do a little work, there's nothing built in to do it for you. You can use a `md-layout` inside of the toolbar, to layout it's contents. Then for the elements th

[2017-01-25 20:08] Morgul commented on #399
I've just taken to adding `style="flex: 1"` to achieve the same thing. It's small, it works, but having `md-flex` support would be very nice, indeed.

[2017-01-25 20:09] jayminpanchal commented on #401
Thanks @Morgul for your response. can you provide simple example of auto collapsing? It will be very helpful for me.

[2017-01-25 20:20] juppdes opened #402 "Accordion / Collapse"
Is there any component like Accordion / Collapse available?

[2017-01-25 21:19] gamtiq opened #403 "A typo in README"
There is a typo in `README.md`:

[2017-01-26 03:40] Phanu282003 commented on #398
I have the same issue also

[2017-01-26 06:28] dohomi opened #404 "documentation example extend with full featured form to show error message on submit"
The form section of the documentation does not show a full form in action. It would be great to show a form with required fields to show how the error actually is getting displayed on false input.

[2017-01-26 08:08] Cadienvan commented on #399
Hi @Morgul ,
indeed I could use inline style, but you can imagine I'd prefer not to.
I noticed some components have md-flex support, I guess it would be nice to have it on every element.

[2017-01-26 08:10] Cadienvan commented on #394
I guess best solution could be adding an option into md-dialog component called "md-target" which could automatically focus defined target on dialog opening..

[2017-01-26 08:49] dohomi opened #405 "[mdSelect] add min / max to mdSelect on multiple="true""
Please add min / max to `mdSelect` on user Input. Additional option should be disabled if the user tries to add too many values. Thanks!

[2017-01-26 10:08] Cadienvan opened #406 "[new] Color Palette Classes In Every Component"
I'm here to analyze something I think is missing in this library, Color Palette Classes in some components.

In fact, I see components which can be shown by using theme-defined color palette classes (default, primary, accent, warn, dense), but many others can't.

I found it frustrating when I want to show a custom form error (Maybe a span above my form with a detailed explanation of an error). Eve

[2017-01-26 10:18] Cadienvan opened #407 "[Feature Request] Prevent Auto-Collapse In Expansion Lists By Adding Collections"
Hi everyone,
as shown in your documentation here:
https://vuematerial.github.io/#/components/list
Vue Material gives you a chance to create expansion lists, which in fact is a great component to use for fancy md side menus.

What I think is missing is the possibility to define if, by clicking on an expandable item, other ones should close. I could easily find myself in a situation where I would al

[2017-01-26 10:38] Cadienvan opened #408 "[Feature Request] Clickable md-list left-sided icon"
Hi everyone,
I was using list component (https://vuematerial.github.io/#/components/list), and found a missing feature it could be nice to have:
Right now we can apply click effects only on right-sided icons, but applying same classes and HTML to the left-side breaks the view.

I'm using a portion of sample code provided in your guide:
[code]

If you try to replicate this code, you'll notice first

[2017-01-26 11:06] #401 closed

[2017-01-26 13:51] bojko108 commented on #402
Hi, I'm using "Expansion lists", you can see an example here: [https://vuematerial.github.io/#/components/list](https://vuematerial.github.io/#/components/list)

[2017-01-26 13:54] juppdes commented on #402
Hi, but you can put forms or other components in there ?

[2017-01-26 14:22] bojko108 commented on #402
Yes, I use it like this:

[code]

You can place the child elements in ```<md-list-expand>``` tag

[2017-01-26 14:31] juppdes commented on #402
Thanks @bojko108 !! Works fine !!

[2017-01-26 14:31] #402 closed

[2017-01-26 15:23] delueg opened #409 "Type error on "route-navigate" by @click on md-button"
Hello,

i get

Uncaught TypeError: Cannot read property 'offsetHeight' of undefined
    at VueComponent.getClickPosition

when i use an md-button to navigate to another route with vue-router

like

`<md-button @click="$router.push('/another_route')" md-theme="default" class="md-primary md-raised">navigate</md-button>`

i think it has something todo with the ripple effect wants to render on a butto

[2017-01-26 18:06] elisangelacarla opened #410 "expansion-list with more than two levels"
Hi,
can you give me an example of an expansion-list with more than two levels?
I tried the following code and it does not work:

[code]

[2017-01-26 18:53] elisangelacarla commented on #410
Please disregard, it works, it was just my own css that was interfering; thanks

[2017-01-26 18:53] #410 closed

[2017-01-26 21:21] marchev opened #411 "[Feature Request] Expandable input"
@marcosmoura First, I would like to thank you for your efforts and this great project!

I believe that the addition of an expandle input (as the one available in MDL's text fields: getmdl.io/components/index.html#textfields-section) would be a good and useful addition to the list of components in the module.

The most common use case is an expandable search field in a toolbar.

[2017-01-26 21:57] web-surfer opened #412 "v-model on input field --- moves cursor to end of input field"
### Steps to reproduce
Attach v-model to an input field like this:

    <md-input-container>
        <label>Username</label>
        <md-input v-model="username"></md-input>
    </md-input-container>

    data() {
        username: ''
    }
### Which browser?
- Latest version of Chrome
- IE 11
- NOT A PROBLEM IN: Latest Firefox

### What is expected?

### What is actually happening?
When you click

[2017-01-26 23:19] Morgul commented on #412
This looks like a duplicate of #367.

[2017-01-27 00:25] dohomi commented on #197
@marcosmoura One question about your future path of form validation: are you planning to have some built in validation? Because a form without validation is unlikely being used in production apps. Some recommendation inside of your docs would be great, because on the first view it looks you support some error validation through the display of the error classes. Thanks

[2017-01-27 23:52] rkirmizi commented on #116
Is there any solution or improvement about that?

[2017-01-28 19:45] jgiovanni opened #414 "[mdCheckbox] Multiple md-checkbox, bound to the same Array"
Is it possible to achieve multiple checkboxes, bound to the same array, like[ Vue's example ](https://vuejs.org/v2/guide/forms.html#Checkbox)currently? Or do we need to use the events? Can't seem to do this.
[code]
[code]

[2017-01-29 01:48] DevEclipse opened #415 "import 'vue-material/dist/vue-material.css' doesnt work and gives an error in webpack 2"
I can't import the css using webpack simple

i think its better if the css file is coupled in the vue-material.js rather than importing it separately

[2017-01-29 06:20] nirkki opened #416 "Char counter vertical position"
When using **md-textarea** with _maxlength_ -attribute the character counter doesn't stay on it's original position (at the bottom) when multiple lines are entered. Instead it moves up and gets mingled with the text itself.

[2017-01-29 08:05] stbaer commented on #415
Maybe the webpack css loader doesn't include the node_modules folder?

[2017-01-29 10:32] shelakel commented on #243
Hi @marcosmoura,

Out of curiosity I checked out this repo to get an idea of what would be involved in making it SSR compatible.

Besides the document and window global variables being undefined, the following 2 dependencies are not SSR compatible:

- element.scrollintoviewifneeded-polyfill imported by mdMenuItem.vue
- vue-style-loader

I reckon the cleanest approach would be to split server and b

[2017-01-29 13:22] jonataswalker commented on #344
My development is (kind of) stopped depending on `0.7.0` publishing. Same problem here.

[2017-01-29 19:57] romangit commented on #239
Hi Marcos,

It's not working
http://codepen.io/anon/pen/XpVJBO

[2017-01-29 23:06] BjoernKW opened #417 "[SCSS] [core] On iOS / Safari input fields are automatically zoomed upon selection"
### Steps to reproduce
Tap on an `<md-input>` field in Safari. The field is zoomed automatically moving the rest of the page out of the visible area.

### Which browser?
Vue Material 0.6.3
Vue.js 2.1.10
Safari 10.2.1
iOS 10.2.1

### What is expected?
When using a responsive meta tag such as `<meta name="viewport" content="width=device-width">` the page shouldn't zoom at all.

### What is actually

[2017-01-30 00:59] dohomi commented on #243
One thing to mention here as I saw this in another issue on `NUXT`. The upcoming `Vue 2.2` release will offer server and client support for `vue-style-loader`. Here is the reference where I found it: https://github.com/nuxt/nuxt.js/issues/12#issuecomment-275897911

[2017-01-30 19:19] romangit opened #418 "href in md-menu-item"
Hi Marcos,
I'm very grateful for your project.

You wrote

https://github.com/marcosmoura/vue-material/issues/239

But, It's not working
http://codepen.io/anon/pen/XpVJBO

[2017-01-30 19:39] marcosmoura commented on #390
@Shhu I'm going to change that. For now, you can create an empty v-model variable, just to make it work.

[2017-01-30 19:40] marcosmoura commented on #394
I will add that. It was in my mind, but I didn't implemented yet. Sorry about that.

[2017-01-30 19:44] marcosmoura commented on #395
You're correct. Should have a better styling. I will fix that.
I'm going to create a search-bar component too, but on the future.

I don't think so. You can still use md-layout inside the md-toolbar, for example.
[code]

Thanks!

[2017-01-30 19:45] marcosmoura commented on #396
This is really strange. The md-ink-ripple don't use any scroll events. Can you create an example on Codepen?

[2017-01-30 19:46] marcosmoura commented on #397
Oh. That's bad. I have to do it. Sorry about that.

[2017-01-30 19:47] marcosmoura commented on #398
Related to #399 #397 #192

[2017-01-30 19:47] #398 closed

[2017-01-30 19:49] marcosmoura commented on #399
The md-card "have" support to md-flex. You can use it like a regular md-layout:
[code]

I will add some better examples on the documentation website.

[2017-01-30 19:49] #399 closed

[2017-01-30 19:50] marcosmoura commented on #400
You're right, sorry. I will fix that.

[2017-01-30 19:53] #403 closed

[2017-01-30 19:54] marcosmoura commented on #404
That's why I want to create some Codepen examples with that, like described here #84. I'm closing this issue, but I will add this very soon.

[2017-01-30 19:54] #404 closed

[2017-01-30 19:55] marcosmoura commented on #405
I didn't understand. On mdSelect?

[2017-01-30 19:59] marcosmoura commented on #406
Hi @Cadienvan

I think that not every single component should have different variations of use. The md-chips, with red colors, for accent for example, could make the component a little bit ugly.
Which other components you think that could be improved?

[2017-01-30 20:08] marcosmoura commented on #407
I have to think about that better. An md-collection is hard to reason about and can lead to some errors. I agree that an "accordion" like component should be developed, but the best component for this is the **Expansion Lists**.

https://material.io/guidelines/components/expansion-panels.html

[2017-01-30 20:08] #407 closed

[2017-01-30 20:09] marcosmoura commented on #408
Fair. I'm going to develop this too. Thank you!

[2017-01-30 20:10] marcosmoura commented on #409
This is because of the new ripple component. I'm going to fix it.

[2017-01-30 20:11] Morgul commented on #395
@marcosmoura It was only after thinking about this that I realized that the answer really is to just use `md-layout` inside the toolbar. Perhaps an example of that added to the toolbar docs?

[2017-01-30 20:12] marcosmoura commented on #411
This is going to be created in another component, for search bars. I'm closing this issue, but I will develop this really soon. Thank you!

[2017-01-30 20:14] marcosmoura commented on #395
Sure. I will add that. But the themes still doesn't match. I will fix that an then a return back with the example. Thank you!

[2017-01-30 20:14] #412 closed

[2017-01-30 20:15] marcosmoura commented on #414
Not right now, but this is a great improvement. I'm going to do it.

[2017-01-30 20:15] marcosmoura commented on #415
Have you managed to fix this issue. Sorry about the delay to answer it.

[2017-01-30 20:17] marcosmoura commented on #416
This is related to #362. It's fixed and will be delivered in the next version.

[2017-01-30 20:17] #416 closed

[2017-01-30 20:18] marcosmoura commented on #417
This is a problem with the font size. I will fix that. The workaround, for now, is to set the font-size of all .md-input to 16px.

[2017-01-30 20:20] marcosmoura commented on #418
Oh. That's bad. I found the problem. I will fix in the next version.

[2017-01-30 20:25] marcosmoura commented on #344
I was sick for those 13 days and I didn't have time to deal with so many issues. Sorry about that. I will fix that really soon.

[2017-01-30 20:26] marcosmoura commented on #243
Yeah. There is some points that should be fixed in order to make the SSR support to work.

[2017-01-30 20:27] marcosmoura commented on #4
@dohomi This will be developed. :)

[2017-01-30 20:29] jonataswalker commented on #344
We are very grateful for your work @marcosmoura, sorry if it looked like some pressure. Indeed, there are so many issues but you a fast developer, impressive.

[2017-01-30 20:29] marcosmoura commented on #197
I don't have plans to develop a new validator component for now. But I'm planning to do some integrations with some libraries.

[2017-01-30 20:29] marcosmoura commented on #116
Not yet. I will prioritize that.

[2017-01-30 20:31] marcosmoura commented on #344
No. It didn't look like that. Don't worry. Stay tuned. The new version will be delivered really soon. :)

[2017-01-30 20:32] jonataswalker commented on #197
Same here, a smooth integration with Vuelidate.

[2017-01-30 20:34] marcosmoura commented on #197
I will try to integrate with vuelidate. :)

[2017-01-30 22:09] korylprince commented on #344
I've fixed this (I think) in the above mentioned commit, if you want to pull it. I used, in part the code from @copitz. In testing, this seems to completely resolve the issue.

[2017-01-30 22:31] korylprince opened #419 "Speed Dial hidden buttons still clickable"
With the current mdSpeedDial in develop, when the buttons are hidden, they are still clickable because opacity is just set to 0%, as opposed to a display: none.

Since mdSpeedDial is not released yet I can't give you a code pen, but here's a template you can use to see the issue:

`<md-speed-dial md-mode="scale" class="md-fab-bottom-right">
    <md-button class="md-fab" md-fab-trigger>
      <md-i

[2017-01-31 03:13] ralphchristianeclipse commented on #415
no solution for the import but i've copied and pasted the vue-material-css lol to the App.vue

[2017-01-31 03:14] ralphchristianeclipse commented on #415
i mean ive used

`<style src=".../node_modules/vue-material/dist/vue-material.css"></style>`

[2017-01-31 03:15] marcosmoura commented on #415
Can you post your webpack config somewhere? I can take a look.

[2017-01-31 03:17] ralphchristianeclipse commented on #415
here its just the default vue cli webpack-simple template with babel-polyfill

[code]

[2017-01-31 03:19] marcosmoura commented on #415
I will install the new webpack simple template and I will get back here with an solution.

[2017-01-31 03:22] ralphchristianeclipse commented on #415
oh alright, thanks :)

[2017-01-31 10:26] pablohpsilva commented on #196
OK, I need you guys help @gazpachu @marcosmoura @breadlesscode . The issue is: I'mm not getting why the autocomplete is not working like the `md-input` component. I did try so many ways and my final try can be seen [right here]() on my vue-material fork. The Autocomplete code is below. The use of `vue-resource` will be replaced with something else in the future. Keep in mind the code below IS NOT

[2017-01-31 11:33] Cadienvan commented on #406
HI @marcosmoura

I think that this framework should be flexible, so I think you shouldn't look at 'ugliness', but functionality.
Even if md-chips with an accent class could look a little bit ugly, it is a functionality that should be spread accross the whole library.

That's only my opinion, of course, but I think that limiting choices isn't a good idea..

[2017-01-31 11:35] Cadienvan commented on #407
Yes, maybe you could separate "Expansion Lists" and "Accordions" so they could behave in a similar way, they can respect Material Design Guidelines and even give flexibility..

[2017-01-31 15:03] mkurczewski commented on #374
Hi @marcosmoura, maybe [https://github.com/mkurczewski/grider](this) can help you.

[2017-01-31 17:24] cve opened #421 "Grey inputs on all themes in md-primary card background"
Hi,

first of all, thank you for your work. I try to make simple login form which is in "card" with primary background, but the inputs are gray instead of white. If I've misunderstood themes guide, could you please show me an example of how to make these inputs white?

p.s. how to stretch the card such as 100% of it's parent width without inline style but with flexbox of vue-material?

### What is

[2017-01-31 17:32] ghettovoice commented on #400
Ok! Thank you!

[2017-01-31 22:54] igor-ribeiro commented on #275
Sorry, guys. So busy at work. I will send a PR this week!

[2017-01-31 23:55] Shhu commented on #390
@marcosmoura Thanks ! I have created my own select, radio and checkbox for the moment.

Thanks for your great work.

[2017-02-01 01:10] dohomi opened #422 "feature request to add ":loading" to md-button"
Hi,
It would be great if you could add loading indicator for buttons after submit and wait for end of submit. Something like:
[code]

Thanks!

[2017-02-01 07:04] dohomi commented on #197
Currently run my forms with vuelidate without problems.

[2017-02-01 07:12] dohomi commented on #405
@marcosmoura yes on `mdSelect` for `multiple="true"` select fields and option to select `min` or `max` input values. I'll change the title of this issue again

[2017-02-01 07:16] g0ld3lux opened #423 "May I know what components are included inside Vue Material Core"
I know we can import components by piece

but i wanna know what is the core components

what does it include?

does it include layout? typography themes?

thanks for the reply

[2017-02-01 08:08] g0ld3lux commented on #299
i forgot to include here the sample sass file
[code]

[2017-02-01 08:22] Blizzke commented on #423
You can simply open up the folder in your node_modules, you have the source code:
<img width="274" alt="screen shot 2017-02-01 at 09 21 11" src="https://cloud.githubusercontent.com/assets/231572/22499557/e0a5d514-e85f-11e6-872f-fd3cdefd0b7b.png">

[2017-02-01 08:25] Blizzke commented on #351
+1 For me. I really love everything Vue-Material brings, but it is a pretty big inconvenience that it applies extra styling on the <body> level out of the box that seemingly cannot be disabled. I only need a couple components in an otherwise pretty big layout and it just overrides styling of many of the non-related areas.

[2017-02-01 09:00] scbizu commented on #367
It also causes the `Input with v-model` can not correctly write **chinese characters** . However, it works in FireFox .

[2017-02-01 13:21] marcosmoura commented on #405
Well. This is not an standard on native <select> tag. Although it seems to be a good thing to have an 'md-max' option to limit the selection. But I'm not going to do a seamless integration with Vuelidate, for now.

[2017-02-01 13:33] marcosmoura commented on #421
This is an good improvement to do. I'm going to fix that.
To fix your second question: http://codepen.io/vue-material/pen/MJVgEz

[2017-02-01 13:35] marcosmoura commented on #422
This is such a use case that can be developed by your own logic.

[2017-02-01 13:35] #422 closed

[2017-02-01 13:35] marcosmoura commented on #423
I'm going to write this on the documentation. On the future only the theme engine will be part of the core.

[2017-02-01 13:35] #423 closed

[2017-02-01 13:43] marcosmoura commented on #367
It's fixed and just waiting to be deployed along with the 0.7.0 version.

[2017-02-01 14:51] fergardi opened #424 "Md-layout not working with md-card-media-cover"
Hello.

I was trying to use md-layout with md-card md-card-media-cover, and it dissapears completely as soon as it gets under md-layout. I think it's something related to the recalculation of the image widht and height by javascript (console gives 0x0).

Working:
[code]
Not working:
[code]

Tested with Chrome 55+.

[2017-02-01 21:22] guyruisseau opened #425 "md-select blur"
Is it possible to handle an event when you go out from a md-select ?
I tried @blur and v-on:blur but it didn't work any idea?

[2017-02-01 21:37] korylprince commented on #419
Closing since PR was merged.

[2017-02-01 21:37] #419 closed

[2017-02-01 22:47] dohomi commented on #422
ok fair enough!

[2017-02-02 01:54] dohomi opened #426 "md-select inside md-dialog does not close properly on escape or click outside"
### Steps to reproduce
open dialog, open md-select and then try to close the select without choosing a value

### Which browser?
Tested in current Chrome on Mac

### What is expected?
closing a `md-select` with click outside or escape key

### What is actually happening?
click outside does close the dialog but not the md-select

### Reproduction Link
http://codepen.io/anon/pen/PWRJZG

[2017-02-02 04:24] ralphchristianeclipse opened #427 "Allow pinning of sidenav"
For example the sidenav would push the other content

[2017-02-02 12:26] kyoukhana opened #428 "Would be nice to have a template demo"
Just a feature template request.  Would be nice to have vue-material template that looks like the material design lite.

https://getmdl.io/templates/dashboard/index.html

[2017-02-02 13:08] marcosmoura commented on #427
Duplicated #44 #332 #51

[2017-02-02 13:08] #427 closed

[2017-02-02 13:09] marcosmoura commented on #428
Related to #375 #404

[2017-02-02 13:09] #428 closed

[2017-02-02 13:11] marcosmoura commented on #426
I'm testing with Chrome and Mac too and I could close the select. Which other steps did you do?

[2017-02-02 13:13] marcosmoura commented on #425
I will add that. In fact I will create an @opened and @closed event.

[2017-02-02 13:15] marcosmoura commented on #424
Can you try that:

[code]

[2017-02-02 13:17] marcosmoura commented on #381
I see. I'm going to develop a brand new table component with backwards compatibility. So after that I will fire those events. Sorry to make you wait that.

[2017-02-02 14:15] igor-ribeiro commented on #260
I think is good for `md-select` to always be filterable.

[2017-02-02 15:27] stbaer commented on #426
It's also not closing for me (Chrome/Mac). In  Codepen: Primary Button -> Select -> click outside => Options stay open, only dialog and backdrop are gone.

[2017-02-02 15:34] marcosmoura commented on #426
@stbaer This was fixed and will be on 0.7.0

[2017-02-02 16:51] igor-ribeiro commented on #267
I got it to work, only problem is the indicator.

[2017-02-02 17:28] igor-ribeiro commented on #267
Got it!

![tabs-header-scroll](https://cloud.githubusercontent.com/assets/5148753/22560552/311c721c-e95c-11e6-9a69-610666d3c9fd.gif)

[2017-02-02 19:25] igor-ribeiro commented on #321
Got this, want a PR?

[2017-02-02 21:43] #389 closed

[2017-02-02 21:55] #421 closed

[2017-02-02 23:46] arielcamus commented on #160
I can confirm the bug is still there. I am binding the textarea to that that is fetched after the template has loaded.

[2017-02-02 23:50] ivictbor commented on #343
Thanks! Before found this issue, created reproduce codepen http://codepen.io/anon/pen/KaRVog?editors=1111 , looks like it is the same

[2017-02-03 00:20] dohomi commented on #426
Great!

[2017-02-03 01:06] dohomi opened #431 "md-dialog-content with large form does not scroll"
### Steps to reproduce
Open "Form Dialog" and try to scroll down inside `md-dialog-content` or click the `md-button`
### Which browser?
VueJS latest, vue-material latest, Chrome latest on Mac OSX

### What is expected?
The `md-dialog-actions` should be visible by all times. The `md-dialog-content` should shrink down and be scrollable inside the view.

### What is actually happening?
The dialog is

[2017-02-03 05:41] korylprince commented on #431
@dohomi it's actually explicitly set to overflow: hidden. Looking at the commits, it's been that way since mdDialog was added. Changing it to overflow: auto seems to work without any side effects with my (minimal) testing.

[2017-02-03 05:58] dohomi commented on #431
@korylprince I've seen that and overwriting currently the `md-dialog` to `auto`. But this only solves that the container is scrollable but not, that the `md-dialog-actions` area is always visible at the bottom of the dialog. I am using `Angular Material` in a separate project and there it works quite well with forms inside of dialogs. https://material.angularjs.org/latest/demo/dialog If you check

[2017-02-03 06:17] korylprince commented on #431
@dohomi Yes, I see what you mean.

And taking a closer look at your codepen, I see that you're actually not using it quite right.

Here's a fixed version: http://codepen.io/korylprince/pen/MJGbZP

Basically, md-dialog-actions should be a sibling to md-dialog-content, not a sub-element.

And you've wrapped everything in a form (you're opening tag is actually "fom" ;) ), which also causes problems.

[2017-02-03 06:22] dohomi commented on #431
@korylprince thanks for your example fix.

Do you think it is a big effort let the first sibling be a `form` tag being more close to valid HTML expression? But thanks I'll use it in your proposed way. I know that there was a similar issue at the `Angular` framework and they added the ability using the first tag as a `form`

[2017-02-03 08:57] patombugua opened #432 "Table pagination prev button throws an error"
When you press the previous button everything crushes. Try opening the console. The error shows even in the docs

[2017-02-03 10:21] d3radicated commented on #432
Related to #398

[2017-02-03 11:29] peredulion commented on #4
Hello @marcosmoura i really appreciate your work. You have the best material design vuejs library on the web. Can we know in how much days you will release the next version with date/time picker ?

[2017-02-03 13:01] #426 closed

[2017-02-03 13:03] #431 closed

[2017-02-03 13:03] #432 closed

[2017-02-03 13:05] marcosmoura commented on #321
@igor-ribeiro Always, if you can. :)

[2017-02-03 13:06] marcosmoura commented on #260
@igor-ribeiro It will.

[2017-02-03 13:07] marcosmoura commented on #4
It's planned for 0.8.0. You can check the progress of all versions in the milestones section: https://github.com/marcosmoura/vue-material/milestones

[2017-02-03 13:15] ivictbor opened #433 "Any way to disable auto-change md-switch state"
Hi. vue-material is awsome!
But I faced with some task when I need to confirm changing `md-switch` state, for example using `yes`,`no` in `md-dialog`.
So I need to prevent automatic changing the state and then when user press `yes` in dialog set it programmably to `v-model` field.
I trued to use `$event.preventDefault()`, but in `$event` is boolean ( `0.6.3` version)

[code]
[code]
Is it bug? Have

[2017-02-03 14:51] copitz commented on #160
The problem seems to be the CSS transition - when disabled it works fine:

    .md-input-container textarea {
      transition: all 0s;
    }

So, likely a delay is required before calling autosize initially - see http://www.jacklmoore.com/autosize/#faq-hidden

[2017-02-03 15:23] leonfather commented on #4
Thank you

[2017-02-03 17:36] leonfather commented on #299
@g0ld3lux Where can we found this file webpack.config.js ?

[2017-02-03 19:21] igor-ribeiro commented on #433
What happens is, the component has an internal state, so, even if you manually update the value and pass it via props, every time you click on the switch it will update its internal state and will notify you. For now I don't think it's possible to do what you want, but I can be wrong.

[2017-02-03 19:26] igor-ribeiro commented on #433
The ugliest workaround:

[code]

[code]

[2017-02-03 19:30] mathieutu commented on #299
You should really read the documentation, because all of that has no link with the actual vue-material package.
https://laravel.com/docs/5.4/mix

[2017-02-03 19:51] g0ld3lux commented on #299
@leonfather you only need to copy it
[code]
you only need to copy it if the current set up of laravel mix is not fit for your project...

[2017-02-03 21:00] ivictbor commented on #433
Issue was in `emit` call from mdSwitch.vue,
[code]

[2017-02-04 01:34] korylprince commented on #431
@dohomi I'm not sure how simple it would be to fix. It's possible it could be accomplished with just css, but that's more of a question for @marcosmoura to answer.

[2017-02-04 07:55] deulos opened #437 "md-total attribute of md-table-pagination not being reactive"
### Steps to reproduce
Just create a `md-table-card` with a `md-table-pagination` and assign `:md-total` to a component var and initialize it to 0, then change it to whatever and the "next page" button will not be activated.

### Which browser?
Chrome browser, Vue 2.1.10, Vue Material 0.6.3 in Windows

### What is expected?
If initially I just set data and total items to 1 page and then update the

[2017-02-04 11:13] leonfather commented on #299
@g0ld3lux i get this error in terminal cp: node_modules/laravel-mix/setup/webpack.config.js: No such file or directory
I don't have laravel-mix in node_modules directory

[2017-02-04 11:31] ikskoder opened #438 "Incorrect position of character counter for textarea"
### Steps to reproduce
Just visit official demo page ([link](https://vuematerial.github.io/#/components/input)) and type some lines in the textarea with character counter.
Screenshot:
![1 2](https://cloud.githubusercontent.com/assets/25547100/22618049/e8c9e626-eadb-11e6-80db-c50cfbc7af2a.png)

### Which browser?
All of them are latest at the moment
- Google Chrome 56.0
- Mozilla Firefox 51.0
- Ope

[2017-02-04 11:46] ikskoder opened #439 "Incorrect position of validation message for input and textarea in Mozilla Firefox"
### Steps to reproduce
Just visit official demo page ([link](https://vuematerial.github.io/#/components/input)) using Firefox browser.
Screenshot:
![395](https://cloud.githubusercontent.com/assets/25547100/22618204/67856e7e-eadf-11e6-8fa0-62bd314af7b3.png)

### Which browser?
Mozilla Forefox 51.0 (latest)

### What is expected?
It should work in Firefox like it works in Chrome/Opera:
![396](https:

[2017-02-04 12:43] jtouzy opened #440 "[mdIcon] [core] Image cache"
I think an optimization can be made with md-icon with src-based images.
An http request is made each time an image have to be displayed, and browser cache is never used.

I have one case with md-list, each item contains an md-icon with src, and the page is really slow to load because of this :

![capture d ecran 2017-02-04 a 13 38 57](https://cloud.githubusercontent.com/assets/5709133/22618538/53a

[2017-02-04 20:58] #325 closed

[2017-02-04 20:58] #365 closed

[2017-02-04 20:58] #400 closed

[2017-02-04 20:58] #418 closed

[2017-02-04 21:04] marcosmoura commented on #408
Due to the button size and the icon placement, the md-list-action, if placed as the first child, will be aligned as an md-avatar.

[2017-02-04 21:04] #408 closed

[2017-02-04 21:12] marcosmoura commented on #437
The md-table have a lot of problems. I will create a new one from scratch, and this issue will be fixed. I will close it for now, and when I release the new component I get back here with an feedback. Sorry about that. :(

[2017-02-04 21:12] #437 closed

[2017-02-04 21:12] marcosmoura commented on #438
Duplicated #416

[2017-02-04 21:12] #438 closed

[2017-02-04 21:13] marcosmoura commented on #439
Duplicated #362

[2017-02-04 21:13] #439 closed

[2017-02-04 21:15] marcosmoura commented on #440
The md-icon does have a cache. But what I think it's happening here is that during the first render, all list-items are evaluated in a batch. So the cache breaks. I will fix this ASAP.

[2017-02-06 07:17] fergardi commented on #424
Still no luck.

http://codepen.io/fergardi/pen/NdzoOd

Thanks.

[2017-02-06 09:53] leonfather opened #443 "Hello marcos moura, There is no pricing table in vue-material ?"
### Steps to reproduce

### Which browser?

### What is expected?

### What is actually happening?

### Reproduction Link

[2017-02-06 10:18] Samuell1 commented on #415
@ralphchristianeclipse you need to add loader for .css files for webpack

[code]

[2017-02-06 10:23] alphaelf opened #444 "Themed custom styles"
hi,
my question is about theme engine.
is possible to themed extra style in vue components?

like in `Example.vue` file:
[code]

or better way add some helper class like:
`md-primary-background` and `md-primary-color`  or `md-primary-theme` that have both color and background.

how about  this?

[2017-02-06 13:26] alphaelf commented on #80
i use [rtlcss.com](http://rtlcss.com/) to RTL main `vue-material.css` and it work fine.

[2017-02-06 14:43] mzupancic19 opened #445 "md-button takes a while to make a table responsive"
I've got table with 100 cells in my table.

Table example:
`<md-table-row v-for="(row, index) in filter.rows" :key="index" :md-item="row">
    <md-table-cell class="center-content">
        <md-switch v-model="row.status" class="md-warn"></md-switch>
        <md-button v-on:click="removeRow(index)" class="dark-gray"><md-icon class="dark-gray">delete_forever</md-icon></md-button>
    </md-table-cel

[2017-02-06 15:56] ghost opened #446 "[mdDialog] DOMException: Failed to execute 'insertBefore' on 'Node' (md-dialog)"
I have a simple component like this, which contains  a `md-dialog`:

[code]

The `myObj` computed property is retrieved from the vuex store. It has a boolean property, named `condition`. If I navigate from a route where `myObj.condition` is `true`, to another, where `myObj.condition` is `false`, I get the following error:

The error is because of the `md-dialog`. If I remove it or surround it with

[2017-02-06 20:41] marcosmoura commented on #382
I'm not going to implement this in the list-item. There will be a new component called md-expansion-list for this kind of job.

[2017-02-06 20:41] #382 closed

[2017-02-06 20:42] marcosmoura commented on #443
No. And this is such an unusual use case.

[2017-02-06 20:42] #443 closed

[2017-02-06 20:43] marcosmoura commented on #444
Not right now. In the future the theme engine will support sass or post css.

[2017-02-06 20:43] #444 closed

[2017-02-06 20:44] marcosmoura commented on #445
Can you provide an Codepen example?

[2017-02-06 20:49] marcosmoura commented on #446
I see. I will take a look at this. It seems that the component it's being executed before the v-if evaluation, so I need to postpone the creation of the fake element.

[2017-02-06 20:53] marcosmoura commented on #424
The problem is not related to md-layout, but the way that md-card-media-cover try to load the image. Right now only works for images inside the same domain, due to some cross domain requests. I will change this behaviour.

[2017-02-07 04:14] #329 closed

[2017-02-07 04:14] #344 closed

[2017-02-07 04:14] #372 closed

[2017-02-07 04:14] #409 closed

[2017-02-07 09:44] mzupancic19 commented on #445
http://codepen.io/anon/pen/zNLJwv

Here it is.

[2017-02-07 14:11] #395 closed

[2017-02-07 14:12] xrr2016 opened #448 "vue-material.js?ec92:6 Uncaught DOMException: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The source width is 0."
my code
[code]
I dont understand why it happened,and swiper did not render.

[2017-02-08 01:15] nucamoz opened #451 "Is there parallax effect?"
Hello guys. Thank you for awesome code.

All is perfect but I can't see parallax effect. Is there is one? May be it's in plans? Thank you.

[2017-02-08 01:18] marcosmoura commented on #448
This is because your image is not on the same domain. The getImageData method rely on a Canvas solution, and, for security, the browser don't allow reading images from external sources. I will fix that. Related to #424

[2017-02-08 01:18] #448 closed

[2017-02-08 01:18] marcosmoura commented on #451
Parallax effect?

[2017-02-08 01:19] #433 closed

[2017-02-08 03:49] willin opened #452 "tab using problem"
i have 2 problems using  md-tabs

## Q1:  how to use tab with vue-router?

is there a runable example?

## Q2: how to get current active table label?

[code]

[2017-02-08 04:32] marcosmoura commented on #452
The first question is duplicated: #315

The second question:
[code]

Thank you.

[2017-02-08 04:32] #452 closed

[2017-02-08 04:35] marcosmoura opened #453 "Structure elements"
* App Shell
* Shrink Navigation
* Scrolling Effects

[2017-02-08 06:34] dohomi opened #454 "md-select not working with click on md-option since v0.7.0"
### Steps to reproduce
Select any option inside of `md-select`

### Which browser?
current Chrome on Mac OSX

### What is expected?
Md-Select should select an option if click on it
### What is actually happening?
Only click on multiselect on the checkbox itself. On single select the `md-select` component does not work any more

### Reproduction Link
https://vuematerial.github.io/#/components/selec

[2017-02-08 06:38] #454 closed

[2017-02-08 06:53] adam-hanna opened #455 "Dialog buttons are no longer working in 0.7.0"
### Steps to reproduce
Insert a dialog modal. You can even view the ones in your [doc](https://vuematerial.github.io/#/components/dialog). Click on the modal to open it. Then, click on the ok or cancel buttons. Nothing happens and modal stays open. In you doc, the "custom" dialog is working, but none of the others are.

### Which browser?
Chrome Version 56.0.2924.87 (64-bit)
vue-material 0.7.0
vue

[2017-02-08 07:33] fergardi opened #456 "MdLayout md-flex-{size} not working after 0.7.0"
It broke my responsive layout after new css. Allways uses the md-flex-xsmall over others.

Go to https://vuematerial.github.io/#/ui-elements/layout to check.

Glad to hear commits again from you!

[2017-02-08 07:35] fergardi commented on #451
Would be a cool feature to add, such as there is a md-image-cover for images.

http://www.w3schools.com/howto/tryhow_css_parallax_demo.htm

[2017-02-08 07:52] fergardi opened #457 "Example needed for md-list-item using router-link"
Hello.

When using vue-router router-link custom element and md-list-item from md-list component inside a sidenav component, how can achieve the best result?

http://codepen.io/fergardi/pen/rjZYYZ

[2017-02-08 08:11] VicarEscaped commented on #455
This is happend only on `md-dialog-alert`, `md-dialog-confirm`, `md-dialog-prompt`.
Custom dialog button works like a charm.

[2017-02-08 08:12] Samuell1 opened #458 "Search for select or chips"
Example from Angular Material: http://codepen.io/anon/pen/oBPomg or Autocomplete component https://material.angularjs.org/latest/demo/autocomplete

[2017-02-08 08:22] mubaidr commented on #455
None of the buttons are working fine for me. Sidebar menu button, form submit button, speeddial buttons are broken for me after upgrading to 0.7.0. Reverting back to older build for now.

[2017-02-08 08:22] mubaidr commented on #456
Confirmed! Md-layout tags are broken and buttons are also not working for me.

[2017-02-08 08:26] VicarEscaped commented on #455
This is happens beacause firing a `@click`  event, if change event to `@click.native` it works

[2017-02-08 08:28] VicarEscaped commented on #455
#454

[2017-02-08 08:46] VicarEscaped commented on #457
hi, @fergardi
[code]
Is that you looking for?

[2017-02-08 09:52] jdheeter commented on #456
Confirmed, all layout elements revert to xsmall configuration.

[2017-02-08 12:13] fergardi commented on #457
Perfect, thank you. Integration with vue-router should definitely be in the docs.

[2017-02-08 12:23] dohomi commented on #451
I think @nucamoz means somethink like this one: https://vuetifyjs.com/components/parallax

[2017-02-08 12:41] marcosmoura commented on #451
Yeah. I know. I think that parallax is cool, but working with scroll events can be a performance issue. I think that, on the new structure templates (on #453) this can be achieve, but on the feature. I will close this issue for now and I will open it later.

[2017-02-08 12:41] #451 closed

[2017-02-08 12:42] marcosmoura commented on #455
Already fixed. I will release a fix today... Sorry about that.

[2017-02-08 12:42] #455 closed

[2017-02-08 12:44] marcosmoura commented on #456
Confirmed too! :(
I already know what is wrong and I will fix and release it today.

[2017-02-08 12:46] marcosmoura commented on #458
This is already tracked here #196

[2017-02-08 12:46] #458 closed

[2017-02-08 12:47] marcosmoura commented on #457
It will. I will fix that on the website. :)

[2017-02-08 12:51] thomasd opened #459 "Examples page for v0.7.0 not working in IE11"
### Steps to reproduce
Open https://vuematerial.github.io/#/ in IE11

### Which browser?
IE11, vue-material v0.7.0 only

### What is actually happening?
It seems that Promise.js polyfill for IE is missing in build.

![grafik](https://cloud.githubusercontent.com/assets/23284/22737874/643fb55c-ee05-11e6-889b-4864f2037967.png)

[2017-02-08 12:56] guyruisseau commented on #425
Tanks you

[2017-02-08 12:56] #425 closed

[2017-02-08 13:00] marcosmoura commented on #459
I will take a look. I think I missed some configurations when upgrading to Webpack 2.

[2017-02-08 13:34] qorsmond opened #460 "Not able to use select component on examples page for v0.7.0"
### Steps to reproduce
Open https://vuematerial.github.io/#/components/select

### Which browser?
Chrome 56

### What is actually happening?
I am not able to select options in the select component.

When I click on an option it does nothing:

![image](https://cloud.githubusercontent.com/assets/4716711/22739361/f91b655a-ee13-11e6-85a7-4d969aacfb6b.png)

[2017-02-08 13:36] marcosmoura commented on #460
Duplicated #454

[2017-02-08 13:36] #460 closed

[2017-02-08 13:41] qorsmond commented on #460
Damn did not see that one. Tnx!

[2017-02-08 13:50] waspinator opened #461 "Ink ripple only works once on Firefox 51"
### Steps to reproduce

### Which browser?
Firefox 51 on macOS 10.12

### What is expected?
Ink ripples should work more than once

### What is actually happening?
After the first ink ripple, the element just flashes dark with no ripple.

### Reproduction Link
![example](http://g.recordit.co/5hePmKgUG2.gif)

[2017-02-08 13:59] dohomi opened #462 "regression on md-input with release of 0.7.0"
### Steps to reproduce
I have all `vue-material` `md-input-container` with `md-input` inside of custom components wrapped to display error messages based on `vuelidate`. After updating to `0.7.0` I receive an error on my custom components and Vue stops compiling.

### Which browser?
Every browser, newest Vue and vue-material 0.7.0

### What is expected?
Custom component should be able to wrap `md-

[2017-02-08 14:01] marcosmoura commented on #462
Can you create an example on Codepen?

[2017-02-08 14:06] thomasd commented on #461
I see the same effect on IE11 in vue-material v0.6.3 also.

[2017-02-08 14:32] dohomi commented on #462
I tried but unfortunately it seems to be nested inside of the `NUXT` framework additionally. The basic example worked but I will try to add some more complexity. The only thing I know for now is, that on `vue-material 0.6.3` the exact same code works without error.
http://codepen.io/anon/pen/wgEYBN

[2017-02-08 14:38] dohomi commented on #462
I will close this issue for now.. I need to check again my code maybe I overlooked something.

[2017-02-08 14:38] #462 closed

[2017-02-08 14:48] marcosmoura commented on #460
Don't worry!

[2017-02-08 15:14] Samuell1 commented on #461
Samue issue. Firefox 51.0.1 Windows

[2017-02-08 15:19] jonataswalker commented on #462
Same error here, to solve I've changed my initial setup from `mounted()` to `created()`.

[2017-02-08 16:12] romangit opened #463 "href in md-menu-item still not working"
Hi! In new version v0.7.0 not solved the problem
[418](https://github.com/marcosmoura/vue-material/issues/418)

[2017-02-08 16:19] dikesh opened #464 "md-select not working"
When I click on any selection from dropdown, nothing is happening. Even after click on selection, md-select remains opened.

Even on [demo website](https://vuematerial.github.io/#/components/select) also md-select is not working.

[2017-02-08 16:49] fergardi opened #465 "Forked contribution"
Hello.

I would like to contribute to your project. Was thinking about adding one or two small components, but it's my first time contributing to an actual project and wanted to do it right. Planned to do the "mdStepper" and "mdSearch", for example, in order to know better about VueJS, VueMaterial, GitHub, Forks and Pull Requests.

I forked your repo, created a new branch called "components/mdName

[2017-02-08 17:06] marcosmoura commented on #464
Duplicated #454

[2017-02-08 17:06] #464 closed

[2017-02-08 17:09] marcosmoura commented on #465
I would love to see contributions, of any type! This project is ours! \o/
If you want, there is an channel on Gitter that we can use to discuss some ideas for new components and/or improvements!

Thank you for the interest to help here!

[2017-02-08 17:09] #465 closed

[2017-02-08 18:04] jtouzy opened #467 "[md-dialog] Presets not working"
Since v0.7.0, we can't get events from md-dialog presets (alert, confirm).
The @click event was not updated.
I submitted a PR to fix this : #466

[2017-02-08 18:09] jtouzy commented on #467
Ok already done in fe1d3ce977fb49d77db8b6301895c9dc9ef02088.

[2017-02-08 18:09] #467 closed

[2017-02-08 21:23] #463 closed

[2017-02-08 21:33] #461 closed

[2017-02-08 21:36] #459 closed

[2017-02-08 21:54] #424 closed

[2017-02-08 22:05] #457 closed

[2017-02-08 23:27] #456 closed

[2017-02-09 01:39] dohomi opened #469 "[mdList] Multiple expand on demo page does not show all elements"
### Steps to reproduce
Open demo page: https://vuematerial.github.io/#/components/list and use the last demo with multiple expand. The outer list content is not scrollable though not all elements of the expanded list are visible to the user
### Which browser?
current Chrome and Mac OSX

### What is expected?
If there are more elements to display need to show some overflow:scroll
<img width="466" a

[2017-02-09 01:53] despird-zh opened #470 "router-link with "md-button" tag not work"
vue-material version: 0.7.1

Reproduce it:
step1: following is a workable link.
`<router-link to="/components/button" class="md-raised md-primary">Router Link</router-link>`

step2: add tag="md-button" it won't work, but in version@0.6.3 it works fine.
`<router-link tag="md-button" to="/components/button" class="md-raised md-primary">Router Link</router-link>`

PS. thanks to marcos, great work don

[2017-02-09 02:17] dohomi opened #471 "add "fullscreen" option on MdDialog for "xs" devices"
Hi @marcosmoura

I think a `fullscreen` option on `MdDialog` would be very useful for smarthpone usage. This is the description from the `AngularMaterial` library:
`
fullscreen {boolean=}: An option to toggle whether the dialog should show in fullscreen or not. Defaults to false.
`

[2017-02-09 04:35] VicarEscaped opened #472 "MdListItem not hoverable and clickable"
### Steps to reproduce
Go to List section in docs.
### Which browser?

Firefox 51.0.1
Chrome 56.0.2924.87
### What is expected?
All mdListItem hoverable and clicable
### What is actually happening?

Only `Link`, `Button`, `Router View` items are clickable. And expandable.
### Reproduction Link

[Link](https://vuematerial.github.io/#/components/list)

[2017-02-09 05:29] d3radicated commented on #472
I think it is intended that only `Link`, `Button`, and `Router View` items are clickable. Though, list items should all be hover-able. I also think that they should have mouseenter and mouseleave events (like in Google Inbox).

[2017-02-09 07:01] fergardi commented on #472
I think this is intended too. The inkRipple in md-list-items that were informational-only with no actions attached was causing me some huge performance problems, and for no purpose. Only the actionablelist-items should be actually clickable.

[2017-02-09 07:22] VicarEscaped commented on #472
@d3radicated @fergardi  that make sense. thx.

[2017-02-09 07:22] #472 closed

[2017-02-09 07:46] d3radicated commented on #470
Also, click events don't work on "md-button". It can be fixed by using the native click event (`@click.native="fn"`).

[2017-02-09 08:29] thomasd commented on #461
Now Ink-Ripple effect is not working anymore at all with Firefox 51.0.1 (Windows) on demo site  https://vuematerial.github.io/#/components/ink-ripple (v7.0.1)

It does however work on Chrome 56.0 as expected.

[2017-02-09 08:32] thomasd commented on #459
It is still the same problem after update to v0.7.1 on IE11.
Altough I cannot verify that the examples page is really using the latest version of vue-material?!

[2017-02-09 08:39] Samuell1 commented on #461
@thomasd for me is working

[2017-02-09 09:37] ralphchristianeclipse commented on #470
yes same with me using
`js
<router-link tag="md-button" :to="{name: 'path'}">Doesnt Work</router-link>`

[2017-02-09 09:46] aagahi opened #475 "[mdRadio] does not support null value for model"
Having
[code]

Raise
[code]

I guess value is still null and as specified by [the spec](http://www.ecma-international.org/ecma-262/5.1/#sec-11.4.3
), typeof null is 'object'.
so the current code won't work in case of null value
https://github.com/marcosmoura/vue-material/blob/develop/src/components/mdRadio/mdRadio.vue#L34

So maybe the good old test against this.value as is used to be in 0.6.3 was

[2017-02-09 10:33] Samuell1 opened #476 "Remove dependence of Google CDN for fonts, icons"
Hey, if i need offline mode i cant use CDN, its a any way to drop google cdn and use dependencies or include in assets?

[2017-02-09 10:57] jonataswalker commented on #476
You download the desired font from Google, go to https://www.fontsquirrel.com/tools/webfont-generator and generate web fonts. Then load a CSS file with something like this:

[code]

Attention for `url` path.

[2017-02-09 12:06] Samuell1 commented on #476
@jonataswalker yes, but i mean include it in vue-material plugin

[2017-02-09 12:12] jonataswalker commented on #476
Well, I guess there's no reason for this - since you can do it by yourself.

[2017-02-09 12:36] marcosmoura commented on #470
I will take a look. Right now, as a workaround, you can use:
[code]

[2017-02-09 12:38] marcosmoura commented on #471
This is planned. I will add this soon, after the changes related to #82

[2017-02-09 12:38] #471 closed

[2017-02-09 12:39] Samuell1 commented on #476
But better will be included in, because its dependency for plugins

[2017-02-09 12:40] d3radicated commented on #470
According to Vue Router's [documentation](https://router.vuejs.org/en/api/router-link.html), the navigation triggers on the click event. Since it's been deprecated on the `md-button` component, it doesn't trigger anymore.

[2017-02-09 12:40] marcosmoura commented on #475
Fair. I will fix it soon.

[2017-02-09 12:45] marcosmoura commented on #476
In fact it's not better. Loading font from external sources is better because you load less resources. If you're creating an offline app, this is a logic that should be done in the application side. Right now, if you don't load any external content, the library will work well without any issues (only the font that could no be Roboto, of course)

[2017-02-09 12:45] #476 closed

[2017-02-09 13:24] dikesh commented on #260
Thanks for the great project @marcosmoura . But right now I am kind of stuck without searchable dropdown as I am having long lists to be filled in it.

[2017-02-09 13:46] jonataswalker commented on #373
I don't see this issue solved in v0.7.0. Need a repro?

[2017-02-09 13:53] thomasd commented on #461
@Samuell1 I cleared the cache several times, still the same.
I also tried it via this http://codepen.io/vue-material/pen/WGavBE
But still not working.

![grafik](https://cloud.githubusercontent.com/assets/23284/22785625/6216990a-eed5-11e6-837a-7c5b5375cca5.png)

You can see that vue-material is indeed v0.7.1 (loaded via unpkg.com)
Very strange, but it seems it's only happening to me???

[2017-02-09 14:14] stbaer commented on #243
How would you like to tackle it? Maybe we could already get it started.

[2017-02-09 15:35] Samuell1 commented on #461
for me is fine
![2017-02-09_16-33-56](https://cloud.githubusercontent.com/assets/3110002/22790219/c422ae6c-eee5-11e6-9d36-7293bbd449bd.gif)

[2017-02-09 16:28] vivescere opened #477 "Ripple not working on desktop with touchscreen"
The latest version released is great, but a fix for the ripple effect (https://github.com/marcosmoura/vue-material/commit/d74b2ac0f1aa9ff671c2429d02ad0b4ec8ad1172) is not working as expected.

You determine which events to use with `const hasTouch = 'ontouchstart' in document;`, but it will return true if a computer has a touchscreen.

I think you could fix it, since a browser has to send a `Touch

[2017-02-09 17:36] Struwigcd opened #478 "[mdInput] Text input doesn't accept spaces when used inside menu"
### Steps to reproduce
Use the md-input with type="text" inside md-menu's md-menu-content area

Also affects md-input type="password" and md-text-area

Typing spaces get ignored on these fields

### Which browser?
Chrome 56

### Reproduction Link
[codepen](http://codepen.io/struwigcd/pen/PWydOK)

[2017-02-09 17:38] marcosmoura commented on #478
Can you create a Codepen with the issue?

[2017-02-09 17:38] Struwigcd commented on #478
updated with link

[codepen](http://codepen.io/struwigcd/pen/PWydOK)

[2017-02-09 17:38] marcosmoura commented on #477
I will take a look at this. The problem is that I don't have a touchscreen monitor, so maybe this will be kinda hard to fix.

[2017-02-09 18:06] d3radicated commented on #470
Temporary Workaround

[code]

[2017-02-09 19:32] vivescere commented on #477
I fixed it by storing whether the last two events are from the touchscreen or the mouse. I store two of them in case someone opens the dev tools.

[2017-02-09 21:22] alberanid opened #480 "[mdInput] in a md-list that contains a md-list-expand, can't be focused by mouse"
### Steps to reproduce

A md-input inside a list items with an expansion can only be focused using the keyboard; using the mouse, only the accordion is affected.

It may be a corner case that you don't want to support, but I was using it and worked on 0.6.3 :-D

(anyway, thanks for the amazing framework :+1: )

### Which browser?

Vue 2.1.8, Vue Material 0.7.1, Linux, Chromium 55.0 and Firefox 51.

[2017-02-09 22:54] Akhawais opened #481 "Vue Material components don't render inside Vue single file components"
Whenever I try to use Vue Material components inside a .vue file, they seem to load fine (Checked via Vuejs Devtools) but they don't render anything in the DOM.

[code]
Test.vue

[code]
app.js

Using Laravel Mix to compile everything (which is basically a wrapper for Webpack)

Any help would be appreciated

[2017-02-10 05:48] d3radicated commented on #481
You forgot to import Vue Material itself.

[code]

[2017-02-10 08:03] mehyaa opened #482 "[mdTable] Setting md-total disables pagination on md-table-pagination"
Hi,

On md-table-pagination setting md-total to a value changes the "Many" text to the value but it disables next and previous page actions.

Not setted:
![image](https://cloud.githubusercontent.com/assets/1491850/22818684/252784a8-ef77-11e6-923e-c729f9e6fe46.png)

Setted:
![image](https://cloud.githubusercontent.com/assets/1491850/22818695/2cbaa0b0-ef77-11e6-8e74-69da1d8a4cbf.png)

I'm updating d

[2017-02-10 09:25] mehyaa opened #483 "Error on Snackbar when closed by timeout"
Hi,

I'm using snackbar in a dinamically loaded component and when snackbar is closed by timeout it fires this error:

![image](https://cloud.githubusercontent.com/assets/1491850/22819077/2482c812-ef79-11e6-911f-536ab1913eb9.png)

It does not fire any error when closing by clicking close button.

[2017-02-10 12:10] Akhawais commented on #481
Hey, I'm already including Vue & Vue Material. I forgot to add in my includes at the top of the app.js file. I have done so now - sorry for the confusion.

The CSS is included in my sass file. I've also tried adding a <style> element that points to the vue-material CSS and that doesn't work either.

If I inspect the components in Vuejs Devtools, I can see that the components are loaded successfull

[2017-02-10 14:40] pluschen commented on #277
still present in version 0.7.1

[2017-02-10 15:58] marcosmoura commented on #480
I will take a look at this...

[2017-02-10 16:00] marcosmoura commented on #481
Have you tried a simple `<md-button>` only? Maybe there is something wrong with your `v-for="chunk in entries"`

[2017-02-10 16:01] marcosmoura commented on #483
I see. I will take a deep look at this. Can you upload some example to Codepen?

[2017-02-10 16:28] Akhawais commented on #481
[code]
Using a button only, it seems to render fine.

---

It seems that if I hard-set the contents of `entries` directly in the Vue file, all the components seem to load fine. It's only when AJAX is used to load the contents of `entries` does this issue occur.

Since the AJAX successfully sets `entries`, and Vue creates the MD components based on that - is there a further step I need to do in ord

[2017-02-10 16:34] marcosmoura commented on #481
No. Instead of using `data`, try to use `computed` properties:
[code]

Please note that this is not related to Vue Material itself, but only the Vue Syntax.

[2017-02-10 16:34] #481 closed

[2017-02-10 16:47] fiws opened #484 "weird hover behaviour of speed dial on demo page"
### Steps to reproduce
1. Go to https://vuematerial.github.io/#/components/speed-dial
2. Click any of the buttons appearing after hover
3. try to hover over them again

### Which browser?
Tested on Chrome and FF

### What is actually happening?

[this](https://gitlab.fiws.net/fiws/test-acdc/uploads/94ae2540c87e9cbe4118b5dda73e2e9c/vue-material-speed-dial.mp4)

[2017-02-10 22:12] praneetloke opened #486 "The last example in the docs for the List component is missing the code for Multiple Options and Multiple Expand"
### Steps to reproduce
- Go to the [List](https://vuematerial.github.io/#/components/list) component docs page and scroll-down to the last example card.
- Click on the `Code` tab and you will see that the code list is only for the Single Expand. Both Multiple Options and Multiple Expand demo code listings are missing.
### Which browser?
N/A

### What is expected?
The code for [this list](https://g

[2017-02-11 05:22] danielduhh opened #487 "md-table sort ???"
What's the deal with md-table md-sort-by? The component doesn't work on https://vuematerial.github.io/#/components/table.  Am I reading something incorrectly? The demo "With cards with pagination" should sort when md-table-head is selected.. right? I've tested w/ Firefox, Chrome & Safari

Here is my example that doesn't work as well

[code]

[code]

Im running vue-material@0.7.1 on vue@^2.0.1

[2017-02-11 11:03] iwan-wijaya commented on #482
I'm having the same problem, it's a bug https://github.com/marcosmoura/vue-material/issues/437

It looks like the `totalItems` property isn't updating
https://github.com/marcosmoura/vue-material/blob/master/src/components/mdTable/mdTablePagination.vue#L51

For a temporal fix you can copy the component and add a computed property or a watcher.

[2017-02-11 11:24] fergardi opened #488 "Android <meta theme-color> suggestion"
Hello.

I like the new "Change the browser window color inside Chrome for Android based on the current theme." feature. It's very cool when seeing the android APK toolbar change colors based on the theme. But the android data toolbar should be slighly darkened, following Material Design specs. Can you add a darken(10%) function to the meta theme-color hex color, to match this kind of behaviour?

!

[2017-02-11 13:14] renanhangai commented on #202
Well, since i really needed this feature, I forked this project and implemented a simple solution: renanhangai/vue-material@0e90cce that creates a new method called `Vue.material.registerPalette`.
I think it is a nice solution as you already support a palette variable.

Usage:
[code]
But i would really like to see it on the main branch. I can make a PR if it would be of any help.

[2017-02-11 15:03] ralphchristianeclipse opened #489 "Transition Group Tagged with md-layout gives getBoundingClientRect error"
### Steps to reproduce
1. Create transition group
2. Assign md-layout as tag
3. Put cards inside the transition group keyed by index

### Which browser?
Version 0.7.1 Google Chrome 56
### What is expected?
Works well without receiving bugs and stopping vue rendering
### What is actually happening?
Works but got errors and stops vue rendering and all components stopped working
and gives the error o

[2017-02-11 16:40] matthinc opened #490 "Unable to use 'ö' in Chips-Component"
It's impossible to use the Letter 'ö' in the Chips-View.
If 'ö' is the first letter of a word the view doesn't react. If 'ö' is in the middle of a word the view behaves like <return> was pressed. 'ä','ü' and 'ß' are working fine.

Tested with Chrome and Safari in MacOS 10.11

[2017-02-12 08:55] TRTHHRTS opened #491 "New property for md-table - empty-data-message"
Hey. It's an awesome library! Thank you for it.
I have a suggestion to improving md-table.
It would be greate if it is possible to add an empty data message when there is no data in the table, like `<md-table empty-data-message='There is no data'>...</md-table>`.

[2017-02-12 16:56] Quantastical commented on #487
I am wondering the same. I tried adding the necessary properties to do the sorting and the only thing I'm seeing is the headers toggle the little arrow icon. The actual data in the table doesn't sort.

I checked in Safari and Chrome and the tables in the pagination demo don't actually sort. Not sure what I'm missing.

[2017-02-12 17:11] rkirmizi commented on #487
It is not working right now but you can easily implement it. my data is coming from the api and i am keeping them in stocks var. You can see sort events in the vue developer tool. I've implemented both server side sorting & client side sorting. Below what i've done for client side sorting for my situation (using lodash) and kudos to @Samuell1 :
template:
[code]
methods:
[code]

[2017-02-12 20:38] delueg opened #492 "[mdInput] calculated height on start"
Hello,

when the md-textarea already has a set value from v-modal the height of the textarea will not calculate correctly.

https://jsfiddle.net/rgdoyjcs/

is it possible to trigger the height calculation?

[2017-02-12 20:49] abelovic commented on #202
@marcosmoura - Can you consider @renanhangai solution above? I need this as well and it seems simple enough to implement :)

[2017-02-12 21:44] capttrousers commented on #487
Yea I believe the sorting function of your data list needs to be implemented outside of md-vue, like @rkirmizi did with the lodash _.orderBy() method. If your data object is sorted, the table should update automatically because of it's reactive nature

[2017-02-12 21:57] capttrousers opened #493 "how to implement a global dialog modal that will trigger and open/close from a specific list item"
Imagine there is a list of items, actually using the md-table components, similar to the demo at the [bottom](https://vuematerial.github.io/#/components/table) with an edit item button. Then there is also a global button that can be used to add new items.  Clicking either the edit item or add new item buttons will trigger a modal dialog that contains a form of inputs for the various details of tha

[2017-02-12 22:11] Quantastical commented on #487
Makes sense now. Seems this same pattern is in place for the table pagination.

[2017-02-12 22:17] rkirmizi commented on #487
Think so. The events are there & waiting for your action :)
Here is my usage:
Template:
[code]
js:
[code]

That's all and it's working :)

[2017-02-13 01:52] marcosmoura commented on #486
I will add that ASAP.

[2017-02-13 01:54] marcosmoura commented on #489
Can you create a example on Codepen?

[2017-02-13 01:56] marcosmoura commented on #490
I could make them work here. Can you upload your code to an repository or Codepen?

[2017-02-13 01:58] marcosmoura commented on #492
It's definitely a bug. I will fix that in the next version.

[2017-02-13 02:25] marcosmoura commented on #445
I couldn't reproduce this behaviour in your code. I even change the list to 200 items and the performance was acceptable.

[2017-02-13 02:25] #396 closed

[2017-02-13 05:26] creeperyang commented on #456
Quick fix 👍

[2017-02-13 05:33] zapping commented on #267
Oh, thats nice!! Does it mean that this will be available on the release sooner, thx.

[2017-02-13 06:30] d3radicated opened #494 "md-input of type number allows letters"
### Steps to reproduce
1. Go to Components > Input in the docs.
2. Type a letter.
### Which browser?
Mozilla Firefox 51.0.1
### What is expected?
Input will not parse letters.
### What is actually happening?
Input allows letters. It also breaks label rendering when unfocused.

### Reproduction Link
[Imgur](http://i.imgur.com/VM0QuVg.gifv)

[2017-02-13 07:38] #477 closed

[2017-02-13 09:00] pluschen opened #496 "input label not reset when set v-model variable empty - back again"
after update to 0.7.1 - bug is still there
http://codepen.io/anon/pen/KabBOa

solved once there: #277

[2017-02-13 09:03] matthinc commented on #490
The problem was this line

`@keydown.native.prevent.186="addChip"`

I think, it could be dangerous to use keycodes directly due the many different keyboards out there. I just created a pull request to remove that line, because it really makes the component unusable for the most people.

[2017-02-13 09:39] leMaur commented on #492
I got an error about textarea when I minify the code!
`Uncaught TypeError: Cannot read property 'height' of undefined at HTMLTextAreaElement.s`

My setup is:
- Laravel 5.3
- elixir 6.0
- elixir-webpack-official 1.0.2
- Vue.js 2.0.1
- VueMaterial 0.7.1

Someone had the same problem?
I'm not sure is VueMaterial md-textarea component instead the autosize plugin.
Any idea?

P.S.
Thank you @marcosmoura

[2017-02-13 11:24] fergardi commented on #491
You should handle this using basic VueJS. It will be more maintanable and legible.

[code]

And change the "loading" state based on data load, when necessary.

[2017-02-13 11:25] fergardi commented on #488
Never mind, this has to be done with Cordova, not this library. Works as expected.

[2017-02-13 11:25] #488 closed

[2017-02-13 11:59] fergardi opened #497 "Themed MdChips"
I know MD specs says that all chips should be lightgrayed, but we have so nice theming customization right now it would be a shame not to use it on all elements, including MdChips, dont you think? A small theme.scss could be added to inherit the .md-primary .md-accent and md-warn to the chips.

Just my 2cents.

[2017-02-13 13:28] fergardi commented on #497
Resolved with #498.

[2017-02-13 13:28] #497 closed

[2017-02-13 14:46] kpilard opened #499 "[mdTheme] Access md-theme color"
Hello,
is there a way to access the current md-theme color?

Something like `this.$material.currentTheme.primary[500]` or `this.$material.colors.deepOrange[100]`

[2017-02-13 16:13] marcosmoura commented on #491
This is such an specific use case. Some other applications would need a different type of message, show a form if there is no data or redirect the user to the "create" page. The example from @fergardi will work for you.

[2017-02-13 16:13] #491 closed

[2017-02-13 16:17] marcosmoura commented on #494
I couldn't reproduce this issue on Firefox. Even on Firefox Mobile this works fine

[2017-02-13 16:19] marcosmoura commented on #496
I found this bug yesterday. It's already fixed here: a8cc160

[2017-02-13 16:19] #496 closed

[2017-02-13 16:21] marcosmoura commented on #499
This is not exposed by any Vue Material API. What you can do is to import the src file, that is inside
`node_modules/vue-material/src/core/components/mdTheme/palette.js`
I will create a way to expose this to the final build.

[2017-02-13 16:31] d3radicated commented on #494
What version is your Firefox? I have 51.0.1 (x32).

In Google Chrome 56.0.2924.87 (x64), it works flawlessly.

[2017-02-13 16:51] marcosmoura commented on #494
I've tested on 49.0.2 (64-bit) and 51.0.1 (64-bit). Both on MacOS Sierra machines. Worked just fine. :(

[2017-02-13 18:36] u12206050 commented on #243
Looking forward to the release of this feature. Finished an entire project after switching from Angular 2 thinking that everything is already in place for SSR, but am just waiting now for ssr in vue-material. Nice work on the components though, I must say it was very intuitive to use.

Just thought I would also share a workaround fix that we used on another component to get ssr working, since the

[2017-02-13 19:14] marcosmoura commented on #267
@zapping Yep!

[2017-02-13 19:16] #483 closed

[2017-02-13 21:17] marcosmoura commented on #470
It's **fixed** on develop branch and will be delivered soon.
It's important to notice that is not possible to use `md-button` as tag and expect `<a>` as output.
The best workaround for this (but still odd):
[code]
In this case the output will be:
[code]

[2017-02-13 21:17] #470 closed

[2017-02-13 21:48] derekschlesselman commented on #494
I can confirm this issue exists in Firefox 51.0.1 (64-bit) on Windows 7. It appears Firefox handles number inputs differently as it allows for letters to be entered and then marks the field invalid.

[2017-02-13 21:54] jhhood commented on #381
I'm trying to figure out how to be able to throw a select event without having to add the check boxes on each row. I'm guessing this is one in the same request. What I'm trying to do is paginate a huge list of items and if the user selects a single item, it opens a new page with more details of that item. However, Id also like to be able to put some buttons in one of the columns so I need to be ab

[2017-02-13 21:55] marcosmoura commented on #494
There is some implementations that could prevent this behaviour. Since this a browser feature, I will close this issue.

[2017-02-13 21:55] #494 closed

[2017-02-13 23:14] srodriki opened #500 "md-snackbar not accessible through $refs"
### Steps to reproduce

1. Have a vue component that uses md-snackbar in its template, just as [shown in the documentation](https://vuematerial.github.io/#/components/snackbar).
2. Click on the "Open Snackbar" button

### Which browser?
Chrome (latest version) for MacOS, Firefox (latest) for Mac OS. Haven't tested on others

### What is expected?

The snackbar should open when the user clicks on t

[2017-02-13 23:43] marcosmoura commented on #500
You wrote the ref and the position wrongly:
[code]
Should be:
[code]
:)

[2017-02-13 23:43] #500 closed

[2017-02-13 23:53] srodriki commented on #500
Oh man.. so sorry. Looks like I suffered from tunnel vision there. Hope next issue (if ever) is a real problem. Thanks so much for enlightening me

[2017-02-13 23:55] marcosmoura commented on #500
Don't worry! It happens! :D

[2017-02-14 01:58] joshbodine21 commented on #415
I have the same issue. Webpack fails when I import the css per the installation guide, and I too have the default vue cli webpack-simple template with babel-polyfill. It would be nice if it was packaged and not necessary to import separately.

[2017-02-14 02:22] dohomi opened #501 "[mdTable] performance issue on MdTable and md-selection"
Hi,
I am using MdTable at the moment and discovered some performance issues on 'MdTable' with `md-selection`

I checked on chrome debugger to search for a peak and found it in following piece of code:
[code]
On your documentation the page https://vuematerial.github.io/#/components/table seems to be heavy too, the scrolling seems to be a bit un-smooth.

I'm not sure where the issue belongs, but is

[2017-02-14 02:46] dohomi commented on #501
Here a screenshot of the profiling capture of the https://vuematerial.github.io/#/components/table page. I'm not sure how to investigate further but maybe someone else has an idea?
<img width="455" alt="screen shot 2017-02-14 at 10 44 41" src="https://cloud.githubusercontent.com/assets/489221/22912892/c761bf80-f2a2-11e6-9ef6-6ac218ca8af0.png">

[2017-02-14 02:56] dohomi commented on #501
Similar behaviour exist inside of the sidebar while click on expandable list elements. The spike inside of the Chrome profiling is quite high.

[2017-02-14 06:31] fortil opened #502 "md-theme-blue in sidenav not work"
I have the next code in `main.js`

[code]

In `App.vue <template>`  and `<style>` I have exactly the example code of the [Documentation Web Page](https://vuematerial.github.io/#/components/toolbar) but when I open the SideNav this is transparent background and when I see the DevTools the components aren't assigned styles for themselves of vue-material.

You can to see the next picture.. I believe

[2017-02-14 07:37] fergardi commented on #502
You need to actually register the name of the theme you want to use in your main.js, [just like in the docs](https://vuematerial.github.io/#/themes/configuration).

[code]

[2017-02-14 09:38] mathieucivel opened #503 "md-switch change event do not return state"
Hello,

On 0.7.1, the `onSwitchChange` event is fired with a `MouseEvent` parameter, not the model state as stated in the doc.

https://jsfiddle.net/o1owm09r/3/

It works as intended on 0.6.3.

[2017-02-14 10:23] mathieucivel commented on #503
As a temporary workaround, using the `input` event works.

[2017-02-14 15:49] eackland opened #506 "update form 0.6.3 to 0.7.1 sidenav stops working"
I updated the version and the sidenav i had working fine with version 0.6.3 doesn't work. Also i had a nested accordion menu which worked fine but doesn't in the new version...

### Steps to reproduce

### Which browser?

### What is expected?

### What is actually happening?

### Reproduction Link

[2017-02-14 16:33] pluschen opened #507 "[mdTabs] doesnt init first tab when placed in md-dialog"
You have to click (the first tab) manually to see first tab content.
Any resize issue?
http://codepen.io/anon/pen/qRggRB

[2017-02-14 16:39] marcosmoura commented on #506
Can you provide some code examples?

[2017-02-14 16:40] marcosmoura commented on #507
Yes. Exactly this! I will fix. Also related to #258

[2017-02-14 20:19] fortil commented on #502
You're right, I forgot to register the theme.
I'm sorry 👍

I've an ask, do you know anything tutorial of vuematerial?
Thanks

[2017-02-14 20:55] fortil commented on #502
Another question.

THe children components doesn't had attribute $ref of father component. Then, I thought to include vuex in the logic, but when I try to put state in father component not work.

Template App.vue (whe I put a model in ref not work, too)
´´´
<Toolbar></Toolbar>
<md-sidenav md-theme="blue" class="md-left" ref="$store.state.openSidenav" (or  ref="openSidenav")>
:
</md-sidenav>
´´´
<s

[2017-02-15 04:59] fortil opened #509 "How to acces to children refs?"
Hi

The case is; I have **/App.vue**, **/components/sidenavbar.vue** and **/components/toolbar.vue**

When I cliked in some component in toolbar, I need that **sidenavbar.vue** workup. I resolved of this form:
In **toolbar.vue** trigger a `this.emit$('toggleSidenav')`  then in **/App.vue** I recive this event and make `this.$children[2].$refs.sidenav.toggle()`, that obviously it's a bad solution.

[2017-02-15 09:25] george-dragnea opened #510 "Use vue variable in md-select option"
Thanks for all your work on this project.

Here is the problem: http://codepen.io/georgedragnea/pen/egXgaB
When I change the "Currency", the text from select("Currency display") should update. It's get updated if I click on it, but not automatically.

[2017-02-15 11:11] nicolas-bonnel commented on #310
Hi,

I managed to expand the list as follow :
 * add a `ref` property to your `md-list` element, for instance `<md-list class="md-dense" ref="menu">`
 * expand the item you want by calling `toggleExpandList()`. The item can be accessed in the `$children` property of your list. To expand the first item with my previous example : `this.$refs.menu.$children[0].toggleExpandList()`

Accessing `this.$re

[2017-02-15 11:47] VicarEscaped commented on #510
Hi, @george-dragnea. Then first `mdSelect` change, you need to tell second `mdSelect` to change `selectedText`.
[Here](http://codepen.io/anon/pen/GrevjL) is some dummy example.

[2017-02-15 11:51] romangit opened #511 "md-button does not support v-on:click event handling"
[code]

[2017-02-15 11:53] VicarEscaped commented on #511
Hi @romangit . Try use `@click.native` or, in your case, `v-on:click.native`

[2017-02-15 11:58] VicarEscaped commented on #509
Hi, @fortil . If **sidenav** and **toolbar** components does not bound together, you can implement an EventBus or use [this](https://github.com/cklmercer/vue-events). That allow you to emit and receive events in any component of you app.

[2017-02-15 12:01] romangit commented on #511
Hi @VicarEscaped . Thank a lot

[2017-02-15 12:01] #511 closed

[2017-02-15 13:13] george-dragnea commented on #510
@VicarEscaped thanks for your support. I thought that was a bug.

[2017-02-15 13:13] #510 closed

[2017-02-15 13:55] copitz commented on #115
I've got a vue material slider component ready using [noUiSlider](https://refreshless.com/nouislider/) - let me know if you want me to contribute it

[2017-02-15 14:39] VicarEscaped opened #513 "[mdCard] does not recalculate own height in mdDialog"
### Steps to reproduce
1. Goto [codepen](http://codepen.io/anon/pen/mRoXRP)
2. Click on *click me*
### Which browser?

Chrome 56.0.2924.87
### What is expected?
`mdCardContent` inside mdCardExpand has no height
### What is actually happening?
`mdCardContent` has height of all children

### Reproduction Link

[Link](http://codepen.io/anon/pen/mRoXRP)

[2017-02-15 16:06] VicarEscaped opened #514 "Question about mdSidenav"
Hi, @marcosmoura!
I have a question about `mdSidenav`, especially about *md-right*.
If I use `mdSidenav` with *md-left* it works as expected: sidenav does not appear until i trigger it.
But if i use *md-right* it add extra space at right side.
I'm quite bad at css, so maybe i need some layout to display it properly?

[2017-02-15 16:14] zapping commented on #267
Hi Marcos,
Can you please take a look at this pen, http://codepen.io/zapping/pen/bBPyOz , and let me know what I missed? The add button on top needs to be clicked twice for the first tab to appear and also the tab needs to be clicked for the content to appear. Same is the case with the delete button too.

Is there a way to customize the tab headers so that a small delete button can be added to eac

[2017-02-15 17:11] jqEmprendedorVE commented on #202
I'm really appreciate that what realized @renanhangai

[2017-02-15 17:17] bruunoromero commented on #484
Created a PR #508

[2017-02-15 19:45] fiws opened #515 "can md-tab be used without md-tabs?"
Title says it. I would simply like the selected tab as an event – no content. :)

[2017-02-15 20:05] #509 closed

[2017-02-15 20:08] marcosmoura commented on #514
The only thing that you'll need is to have a parent element with an overflow-x: hidden. There is no other way for Vue Material to guarantee this behaviour under the hood.

[2017-02-15 20:08] #514 closed

[2017-02-15 20:09] praneetloke commented on #506
@eackland I had the same problem at first. But in my case it turned out that the menu trigger button needs the `.native` modifier since 0.7.1. The same solution applied to a few more components too actually, starting from 0.7.1. Also, as @marcosmoura pointed out, please fill out the bug template in your comment.

[2017-02-15 20:11] marcosmoura commented on #515
No. I mean. Not right now. I will add this in the future.
Workaround: #315

[2017-02-15 20:11] #515 closed

[2017-02-15 20:11] joshbodine21 commented on #415
Any chance the CSS will be coupled with Vue.user(VueMaterial) so as not to have to include it separately and run into the webpack issue?

[2017-02-15 20:13] marcosmoura commented on #506
@eackland Your problem is similar to @praneetloke?

[2017-02-15 20:14] praneetloke commented on #487
Correct. The table components seem to assume that you are doing server-paging/sorting. They are not client side actions. You are given hooks to do those yourself.

This is true as of 0.7.1. Not sure if @marcosmoura is planning to change its behavior before release.

[2017-02-15 20:16] #484 closed

[2017-02-15 20:16] #489 closed

[2017-02-15 20:18] praneetloke commented on #482
@mehyaa and @iwan-wijaya I hit the same problem too just now. It seems that, to get around this, you can set the total to the string 'Many' or a really high value. I prefer the former. The issue is that the criteria for the `disabled` attribute doesn't recalculate when its dependent properties are changed through paging.

See https://github.com/marcosmoura/vue-material/blob/master/src/components/m

[2017-02-15 20:20] marcosmoura commented on #415
No way. This shouldn't be done like that. That's because the library works in any environments.
Also, the documentation website is built on top of Webpack 2.

[2017-02-15 20:20] #415 closed

[2017-02-15 20:22] #490 closed

[2017-02-15 21:01] #493 closed

[2017-02-15 21:39] jonataswalker opened #516 "[DOCs] - Components - List"
* Go to the documentation API
* Components => List
* Scroll to Controls box
* Take a look at the ***CODE***

It's a code of some other box.

[2017-02-15 23:40] praneetloke commented on #516
Duplicate of #486.

[2017-02-15 23:42] praneetloke commented on #394
The official VueJS guide has an example of how to do this with [custom directives](https://vuejs.org/v2/guide/custom-directive.html). I recommend going with that.

[2017-02-16 02:25] fortil commented on #509
@VicarEscaped  Thanks

I use [v-on with Custom Events](https://vuejs.org/v2/guide/components.html#Using-v-on-with-Custom-Events) but not work.

I have the next code.
**App.vue**
[code]
In **Toolbar.vue**
[code]
And in **Sidenavbar.vue**
[code]

The comunication between Toolbar.vue -(click with $emit)-> App.vue work!, but the easy comunication (I thought) App.vue -(with properties doesn't work)-> S

[2017-02-16 02:41] fortil commented on #509
I solved!!

In **Sidenavbar.vue** I put
`<md-sidenav md-theme="blue" class="md-left" ref="sidenav" :md-visible="open">`
And in js section
[code]
But I don't know why do not work this.$refs.sidenav.toggle() in this context.

Thank you!!

[2017-02-16 08:09] Samuell1 commented on #394
I using this, input only needs `v-focus`

[code]

[2017-02-16 09:17] web-surfer commented on #506
Having the same problem with my sidebar. Have a nested accordion menu in the sidebar that no longer works.

@praneetloke where did you add the `.native` modifier? Where are the 'menu trigger buttons' for list items?

[2017-02-16 10:03] jonataswalker commented on #516
True.

[2017-02-16 10:03] #516 closed

[2017-02-16 10:18] alvarolemos opened #519 "v-on:click not working on md-button"
I'm trying to call a function after clicking a `<md-button>` with `v-on:click`, but it's not working. When I try the same thing with a ordinary `<button>`, it does work.

Here's a CodePen: http://codepen.io/anon/pen/WRWxzP

Thanks for the great work! :D

[2017-02-16 10:29] jonataswalker commented on #519
Try `v-on:click.native`. See https://github.com/marcosmoura/vue-material/releases/tag/v0.7.0

[2017-02-16 10:40] alvarolemos commented on #519
Thanks dude, worked like a charm!

[2017-02-16 10:43] #519 closed

[2017-02-16 12:38] romangit opened #520 "router-link within md-menu doesn't work"
Hi!

I need a router-link within md-menu, I try

[code]
http://codepen.io/anon/pen/dNLNOO

It doesn't work and looks awful, thanks

[2017-02-16 12:42] cawa-93 commented on #520
See this #470

[2017-02-16 13:44] romangit commented on #520
@cawa-93 Even this workaround doesn't work https://github.com/marcosmoura/vue-material/issues/470

[2017-02-16 14:10] zapping commented on #267
Hi Marcos,
 Please ignore the last one, realized that @click.native="addTab()" is the way to go.

Thanks.

[2017-02-16 14:56] marcosmoura commented on #520
I will take a look at this issue. It seems that the mdMenuItem is preventing the click.

[2017-02-16 16:08] praneetloke commented on #506
@web-surfer I had to add it to the @click(or v-on:click) handlers. For list items, the event handlers are in the list items themselves. If you post a codepen link, I could help you better.

[2017-02-16 20:26] fortil commented on #196
@pablohpsilva Hi

Thanks for you code!! I think that these framework is wonderfull..

I have a error with your code @pablohpsilva , when I try use like as component, it generate a error ` Cannot create property 'isFocused' on boolean 'false'`
I'm new in Vue, I'm start 6 days ago and I don't know what **util** can do, then I don't know why `this.parentContainer.isFocused` when parentContainer is a

[2017-02-16 21:41] fortil commented on #196
I'm sorry, I resolved the problem with <md-input-container> before template. :D

[2017-02-17 05:46] ardoramor opened #523 "[core] Custom component examples"
Great library with a lot of features. I'm still evaluating it on two projects. I do feel it is a bit restrictive but that may be due to me being new to it. For example, inability to tap into library's configured variables or dictate them yourself (but that is on the roadmap). Yet, things like dialog open/close from are superb!

Anyway, my question is if you would be able to provide a tutorial on h

[2017-02-17 08:23] nothinggift commented on #202
I used this package for my one project, it's awesome, and recently i need to make a theme solution， so i write a [loader]{https://github.com/nothinggift/sass-themes-loader} for webpack,  maybe it can help you.

[2017-02-17 08:32] Birssan commented on #116
Having the same problem.
I tried to get my hands dirty and fix the problem in the Table/TableRow components, first there the `data` attribute in the Table component is not correctly updated when removing a row.

In mdTableRow.vue

[code]

Should be

[code]

From what I saw, when you delete a row from the table, that's always the last mdTableRow element which is removed after Vue updated all the ro

[2017-02-17 09:09] philochou opened #524 "[md-bottom-bar-item + href] does not support md-icon-src property"
[code]

a > md-icon component expected md-src but was md-icon-src

[2017-02-17 11:30] Andkoo commented on #448
I am loading an image from my src/assets/images folder, yet I still get the same error. This is so frustrating.

[2017-02-17 11:40] jdrydn commented on #492
Looking forward to this being fixed 😄  Only (noticeable) bug in my new CMS rebuild is this 🎉

[2017-02-17 15:11] VicarEscaped opened #527 "[mdCard] with mdTabs inside calculate wrong content margin"
### Steps to reproduce
1. Open card expand
2. Switch tab
3. Close expand
### Which browser?

### What is expected?
Expand area close and display expand trigger
### What is actually happening?

Expand area calculate wrong content margin if tabs content has different content height.
### Reproduction Link

[Link](http://codepen.io/anon/pen/jyorMp)

[2017-02-17 15:32] alexche77 commented on #164
Hi! I was wondering, it says this feature is implemented, how do i use it in my project? :D

thanks! :+1:

[2017-02-17 19:29] cawa-93 opened #528 "[mdToolbar] in md-table-card ignore md-primary css Class"
### What is actually happening?
`md-toolbar` in `md-table-card` ignore `md-primary` css Class, but colored if using `md-accent`

### What is expected?
It was expected identical behavior when using any CSS class

### Reproduction Link
https://jsfiddle.net/kozack/vtxvLsoj/1/

[2017-02-17 19:51] cawa-93 opened #529 "[mdMenu] Disabled md-option can be selected"
### What is expected?
In SELECT are some options with the attribute "disabled." These options change self opacity, but can still be selected and change the view

### What is actually happening?
When you click on an element that has an attribute "disabled" should not happen anything.

### Reproduction Link
https://jsfiddle.net/kozack/y7owLuz1/

[2017-02-17 20:27] diskman opened #530 "Error TS7016: Could not find a declaration file for module 'vue-material'"
Hi I try to use vue-material on project which use typescript.  When I try to register plugin 'vue-material'

[code]

the errors in shown

[code]

My tsconfig.json

[code]

[2017-02-17 23:38] diskman commented on #530
it seems that problem was because of  "noImplicitAny": true, switching to false resolved problem

[2017-02-18 17:34] Leshgan opened #532 "md-button @click do not work"
I'm trying this code
http://jsbin.com/hejulu/edit?html,js,output
What is wrong with my code?

[2017-02-18 19:14] MarkSimUM commented on #532
@click.native will work

[2017-02-18 19:41] cawa-93 commented on #532
@marcosmoura, I noticed a lot about this issue. It may be necessary to add the solution in the documentation? As an example of one of?

[2017-02-18 21:31] Skrutten opened #533 "[mdTheme] Accent always uses A200, cant chage hue"
Hi,

It seems like hue for accent is allways "A200".
Also tried the codepen from the site and I get the same error:
http://codepen.io/vue-material/pen/WGavBE

[2017-02-18 22:11] Samuell1 commented on #532
@cawa-93 its not issue but on components needs to be click with native

[2017-02-19 06:19] Leshgan commented on #532
Thanks!

[2017-02-19 06:19] #532 closed

[2017-02-19 17:11] Leshgan opened #534 "md-button with md-icon in md-table"
When using md-button with md-icon inside it's ok.
But when the same button inside table, its losing style.
Example here http://jsbin.com/hejulu/edit?html,output

[2017-02-19 21:21] albanm commented on #459
Same error when running the development server on the latest develop branch.

[2017-02-19 22:16] vizo commented on #533
Looks like it's on purpose...  https://github.com/marcosmoura/vue-material/blob/master/src/core/components/mdTheme/index.js#L70

[2017-02-20 05:12] zapping commented on #267
Hi Marcos,
 Can you please check the first 2 comments on the post https://github.com/marcosmoura/vue-material/issues/267#issuecomment-280055906

Thanks.

[2017-02-20 07:21] Birssan commented on #534
Yep same here, i've been meaning to make a PR for this.
You need to override the margin on the icon element like this.

[code]

[2017-02-20 10:17] yairpe opened #537 "[core] white page on Android browser"
Hi, thanks for w great library

The only thing stopping me to use it now is that it shows a blank page on an older Android browser 4.4.2

[https://vuematerial.github.io](url)

Looks like a bug.

Any ideas?

Thanks

### Steps to reproduce

### Which browser?

### What is expected?

### What is actually happening?

### Reproduction Link

[2017-02-20 15:09] Samuell1 opened #539 "Cursor pointer is missing on checkboxes and radio buttons"
Examples:
https://vuematerial.github.io/#/components/checkbox
https://vuematerial.github.io/#/components/radio

[2017-02-20 19:06] igor-ribeiro commented on #267
@zapping I found the problem. https://github.com/marcosmoura/vue-material/blob/master/src/components/mdTabs/mdTabs.vue#L100 Adding/removing keys to an object like that it's not guaranteed the Vue will keep track of changes. I changed to `this.$set()` and `this.$delete` and it worked. @marcosmoura Where do you want me to push the fix?

For now you can hack it adding `ref="tabs"` to `md-tabs` and `t

[2017-02-20 21:20] marcosmoura commented on #524
It's fixed now. Will be available on the very next release.

[2017-02-20 21:20] #524 closed

[2017-02-20 21:22] #530 closed

[2017-02-20 21:30] jtouzy commented on #539
Just submitted PR to fix this

[2017-02-21 04:00] hellofornow commented on #160
I was able to resolve this with a lame workaround:
[code]
Make sure to trim the model before using it elsewhere.

[2017-02-21 04:54] zapping commented on #267
@igor-ribeiro thank you for the work around. On the other query can the tab header be customized so that I can add a close icon to it.

 Also can you let me know how to specify the font colors for the tab headers.

Thanks.

[2017-02-21 07:33] copitz commented on #160
@hellofornow, I also managed to fix it with a MutationObserver:

[code]

[2017-02-21 08:42] Andkoo opened #542 "md-inline on md-input container does absolutely nothing"
am I using it wrong, or is it a bug?
[code]
but adding flex: 1 to my md-input-container solved the issue..

[2017-02-21 09:34] cawa-93 opened #543 "How create global notify function with md-snackbar"
I would like to create a global function or method that would take one parameter - the text. And shows a snackbar with this text

[2017-02-21 11:05] jevojipi commented on #243
Hello. Any news on that matter? Also trying to get it work with NUXT. Both are GREAT projects, would be happy if they play well together.

[2017-02-21 11:05] igor-ribeiro commented on #267
@zapping For now, I guess neither one is possible.

[2017-02-21 13:07] zapping commented on #267
@igor-ribeiro and @marcosmoura np guess will try your work arounds for now and wait for the updates.

It will be good if you can plan something for these customization because it will be helpful for dynamic tabs. Like along with the label in the header it would be nice to add some status indicators like * in case contents of a tab has been modified. If a closed/inactive record has been opened in a

[2017-02-21 13:29] Samuell1 opened #544 "[mdInput] Fast typing in input is laggy"
Hey, if i type in input faster its laggy, i check what function doing it and most `validateProp` and `updateFromParent`, How to solve this i need something special on v-models or?

![2017-02-21_14-27-08](https://cloud.githubusercontent.com/assets/3110002/23166722/051facb6-f842-11e6-9bfb-e59ffedcaac7.gif)

[2017-02-21 16:00] Samuell1 commented on #544
I found some weird things, this lags for inputs its doing select input

[2017-02-21 17:05] marcosmoura commented on #528
This is intentional. The md-toolbar inside md-table-card should follow the background color regardless its class.

[2017-02-21 17:06] marcosmoura commented on #529
Wow. This is a bad bug.

[2017-02-21 17:08] marcosmoura commented on #537
It wasn't tested on Android 4.x yet.
For now it only supports Lollipop or greater. I will fix that in the future.

[2017-02-21 17:10] marcosmoura commented on #539
The native checkbox and radio doesn't have cursor pointer.

[2017-02-21 17:10] #539 closed

[2017-02-21 17:12] marcosmoura commented on #542
You can't use inline inputs with placeholder. You should have a label instead.

[2017-02-21 17:12] #542 closed

[2017-02-21 17:14] marcosmoura commented on #543
You'll need to create this logic in the root instance of your Vue Application. And you should trigger some action (in vuex for example) to change the text and toggle the visibility of your snackbar

[2017-02-21 17:14] #543 closed

[2017-02-21 17:14] marcosmoura commented on #544
I will investigate this issue. This is quite strange.

[2017-02-21 17:16] #506 closed

[2017-02-21 17:17] #503 closed

[2017-02-21 17:19] marcosmoura commented on #502
The ref property is not reactive. That's why is not working. Instead of using mutations, use actions.

[2017-02-21 17:19] #502 closed

[2017-02-21 17:21] Samuell1 commented on #544
@marcosmoura i found if many options are rendered for select that starts laggy

[2017-02-21 17:26] marcosmoura commented on #267
@igor-ribeiro Can you create another PR for this issue?

[2017-02-21 17:26] Samuell1 commented on #539
@marcosmoura on mobile? or desktop?

[2017-02-21 17:28] marcosmoura commented on #202
GREAT stuff @renanhangai. I will do the code review and if everything is alright I can merge for the 0.8.0. o/

[2017-02-21 17:37] Samuell1 commented on #448
Same error if i testing on localhost, Its fix on the way?

[2017-02-21 18:17] praneetloke commented on #469
Same as #486?

[2017-02-21 20:31] albanm opened #546 "[SCSS] md-flex-small ignored when md-flex-medium is defined"
Hello,

For example:

    <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-medium="30"></md-layout>

The xsmall and medium parameters are applied, but not the small one. It is because the class md-flex-small-50 does not take precedence over mx-flex-medium-30. The order of the rules is wrong in vue-material.css.

The weird part is that the order of includes is correct in mdLayout.scss but

[2017-02-22 03:30] capttrousers opened #547 "[mdSelect] in a md-dialog scrolling issue"
### Steps to reproduce
open dialog
open select menu
scroll to bottom and keep scrolling with PgDown,or a scroll mouse wheel, or 2 finger scroll on touch pad
select window keeps scrolling with page, while dialog stays fixed in middle of screen

### Which browser?
Chrome

### What is expected?
Scrolling to the bottom of the select menu in the dialog window would finish the scrolling window and then

[2017-02-22 07:12] fergardi opened #548 "About material design guidelines"
Hello.

This is more a question than a issue.

While developing new components based on material design guidelines, I face the following information, for example:

[code]

How does SP/DP translates to CSS font-sizes, font-weight, etc properties? I want to maintain heterogeneity with the rest of the components' font sizes and I'm curious how to do so. Can you elaborate a simple guide in the CONTRIB

[2017-02-22 07:35] Samuell1 commented on #544
@marcosmoura I created example: http://codepen.io/Samuellsk/pen/ygmQdx, if you have good pc its less laggy but on worse pc is laggy