[2017-06-12 23:10] jerakode commented on #243
@drozdzynski this code is not working. How did you set this up?

[2017-06-13 00:50] bitencode commented on #728
I was going to open an issue on this, but found this one, so I'll add to it instead.
It looks to me like the class definitions for @media break-points are in the generated CSS file in the wrong order.
For example, in my markup I have the following (using Pug):
[code]
The resulting markup looks like this:
[code]
That all looks fine, however, when the browser width is "small" the definition of `md-f

[2017-06-13 00:57] philBrown opened #821 "Icon buttons in table cells not aligned correctly"
### Steps to reproduce

Create a table containing an icon button, eg

    <md-table>
      <md-table-body>
        <md-table-row>
          <md-table-cell>
            <md-button class="md-icon-button md-raised">
              <md-icon>star</md-icon>
            </md-button>
          </md-table-cell>
        </md-table-row>
      </md-table-body>
    </md-table>

### Which browser?

Only tried in

[2017-06-13 01:26] bitencode commented on #728
I did some more testing, and of course, I'm partially wrong in the last comment.  `small` is the only one that doesn't work right - it *always* is in the CSS at the end so never takes affect.  The others all work properly, so if you user `large`, `medium`, `xsmall` it will have all the break-points set properly.

[2017-06-13 04:35] zapping commented on #820
SSR is being tracked in #243

[2017-06-13 06:17] drozdzynski commented on #243
@jerakode I wrote it in march, so now this is able to not work, I stop working with this library, so I don't know how to make it work now.

[2017-06-13 09:19] Ken-Yang commented on #795
I have the same issue too. It only works with 2.2.6.
Here is my dependency.

[code]

[2017-06-13 09:59] hiporox commented on #777
Same issue here

[2017-06-13 10:13] jerakode commented on #243
@drozdzynski cool, ok. Any advice what framework works nice with Nuxt, beside Vuetify? I am so struggling right now with that.

[2017-06-13 10:14] jerakode commented on #820
Not sure is this is SSR related.

[2017-06-13 10:25] elbarto132 commented on #815
Of course you can't see what i mean on a gif which has even been speeded up ;)
I made a Video: https://youtu.be/KvD7HQALOhA
After every click you can see that it takes some time until the content is shown, and the fade in transition looks like it's rendered with 10fps, same with the menu transition and the ripple effects.
This here for example runs totally smooth: https://vuetifyjs.com/vuetify/qui

[2017-06-13 22:41] sebastianmacias commented on #243
@jerakode what's wrong with Vuetify?

[2017-06-14 00:34] ram-you commented on #243
@sebastianmacias
Vuetfy.js seems to be very promising but it is still in "Pre-release" phase and it still lacks a lot of functionality so not yet "Production ready".

[2017-06-14 01:03] dohomi commented on #243
@ram-you same as `vue-material` all current implementation of material design didn't reach 1.0 yet. There are a couple of libraries out but in my opinion - if SSR is required - use vuetify. The gitter channel is very active @jerakode. I don't want to highjack this conversation just want to give my personal opinion. I was using vue-material in the beginning but due to the use of NUXT I had to repla

[2017-06-14 02:57] tsunamilx commented on #174
The name attribute is not set in my case, as I see in the source, there is no name attribute is applied.

Source from the latest master (#c8a6445768a1028512c04a0760ca77ac4d5c8abc)
[code]

[2017-06-14 04:09] JoiWilliam commented on #795
@Ken-Yang Maybe you can try to build develop brach, it worked well.
@pablohpsilva I also got this issue when i use npm to install(version 0.7.1), please check it, thanks!

**package dependencies:**
[code]

[2017-06-14 08:17] Bolandish opened #822 "Build Master -> No name attribute on inputs"
When i build the Master-branch its not adding the name-attribute to the input.

Html:
![image](https://user-images.githubusercontent.com/7235443/27121496-ebd1367c-50e7-11e7-8f1a-34b529692ae1.png)

From element-inspector
![image](https://user-images.githubusercontent.com/7235443/27122323-9e319a08-50ea-11e7-88e1-5e7eddd81fb8.png)

[2017-06-14 10:08] Samuell1 commented on #822
In Vue on inputs doesnt exists `name` only `v-model`

[2017-06-14 11:04] jerakode commented on #243
@sebastianmacias I don't need 600kb of Vuetify just to use 2-3 component.

[2017-06-14 11:08] jerakode commented on #243
@dohomi so, basicaly, vue-material is not working fine with Nuxt, right?

[2017-06-14 14:20] dohomi commented on #243
@jerakode please check the source: https://github.com/vuetifyjs/vuetify/blob/master/dist/vuetify.min.js
https://github.com/vuetifyjs/vuetify/blob/master/dist/vuetify.min.css
And this is before gzip. In my app the whole source with Vue Vuex Vuetify and some other vendor packages after gzip is roughly 110kb on NUXT
If you tried already `vue-mdc` maybe try `muse-ui`, in the release notes it states th

[2017-06-14 15:40] yurykabanov opened #823 "[mdTable] select is broken if rows were updated"
### Steps to reproduce
1. Click `click me` button (loads new data)
2. Try to select all/some element

### Which browser?

Vue 2.3.x (latest)
Vue Material 0.7.1 (also I've forked repo and built fresh version to fix #795, bug still present there)

### What is expected?
New elements will present is the selected list, old elements will not.

### What is actually happening?

Selected elements are mixed

[2017-06-14 15:58] heyitskippy commented on #823
same here
can't properly add or remove row from the table

[2017-06-14 16:08] JelleBlaauw commented on #274
Please add this functionality asap. It is really annoying to having to override all style values with `!important`

[2017-06-14 17:07] jerakode commented on #243
`vue-mdc` seems very early stage, I can't make it work at all. No docs, no help. I tried original `mdc`, but was able to load only CSS version.

`muse-ui` looks very nice, I forgot about it. Will try.

The blank original vuetify/nuxt starter weights over 700kb. When clean Nuxt starter in approx 150kb. Haven't tried gzip tho.

[2017-06-14 18:14] martinandersen3d opened #824 "[SOLVED] Tabs: Vue material Md Tabs on change & click event + Eventbus"
After lot of headache, finally got most part to work, here is a solution for all the Tabs problems:

All works, but "event.target" gives varied results, see the console log. Else from that the getActiveTab and setActiveTab:0  works perfect, since they are not effected.

Enjoy ;-)
[code]

[2017-06-14 18:19] martinandersen3d commented on #824
But how on earth do i get the emitted event from  the event bus?  This doesnt work:
`
mounted() { // Recieve
            eventBus.$on('change', (data) => {
                console.log(data)
                }
            );
}//mounted

`

[2017-06-14 20:11] mchasles opened #825 "How to use md-icon/md-src with custom svg file and webpack ?"
I'm including custom svg icons using md-icon component and copying my svg files to the build directory (thanks to 'copy-webpack-plugin')

In my webpack plugins conf:
[code]
In my component template:
[code]
It works but I'm wondering if it's the right way to do it ? Is there a cleaner way ? I mean without copying svg files...

Thanks !

[2017-06-14 20:58] inful commented on #821
Confirmed in safari 10.1 (via codepen)

[2017-06-14 23:26] vgulatee commented on #299
Wait so can we use this to setup a vue bootstrap admin template

[2017-06-15 02:35] Ken-Yang commented on #823
@yurykabanov , I have the same issue too.
The workaround is to downgrade your Vue version to 2.2.6, or build this repo from dev branch by yourself.

[2017-06-15 03:59] zapping commented on #821
`.md-button.md-fab .md-icon, .md-button.md-icon-button .md-icon {position:relative}` adding this to css will align the icon.

[2017-06-15 09:22] alansutherland commented on #459
this is most likely an issue with vue not vuematerial. It does not support IE11 by default. I went round in circles, trying babel polyfills etc until Linus from vue pointed out I was missing my .babelrc file which compiles es6 in to js that IE11 can understand. Check this link out for more info https://forum.vuejs.org/t/ie-11-still-not-working/11834/5

[2017-06-15 09:37] juanfabrega commented on #728
Hi -- I'm experiencing the same issue. Currently md-flex-small does not take effect on any component. The rest of the breakpoints seem to work great. If anybody has any workarounds that would be fantastic!

[2017-06-15 14:41] Raghavendracs93 opened #826 "md-radio dynamic selection"
How to dynamically make radio button select?

[2017-06-15 17:07] primadi commented on #728
@juanfabrega just for workaround issue, you can use css :

[code]

[2017-06-15 20:27] pablohpsilva commented on #802
Hello again! :D
You're using two UI frameworks on the same project? Wow... That's bold!

OK, I believe I can try to fix it :D

[2017-06-15 20:39] pablohpsilva commented on #821
I fix it on develop branch =]
Soon this fix will be available

[2017-06-15 20:39] #821 closed

[2017-06-16 02:10] iyedg commented on #823
Downgrading to Vue 2.2.6 worked for me too

[2017-06-16 04:16] zapping commented on #826
You should be able to do this using v-model and md-value.

1. Set values to the radio using md-value in your template.
2.  Then set v-model accordingly your script to select the radio.

https://codepen.io/zapping/pen/vZyrJm

[2017-06-16 05:33] CatsMiaow commented on #662
#### vue-material/index.d.ts

[code]

[2017-06-16 09:00] cars10 commented on #765
I am having the same issue. Any update on that? I do not want to import everything.

[2017-06-16 10:43] CatsMiaow opened #827 "md-radio: How to repeat md-value?"
[code]
Error: Missing required prop: "mdValue"
<br/>

[code]
md-value is "item.value" string
<br/>

Is there a way?

[2017-06-16 10:53] Samuell1 commented on #827
You need to bind it if you want to use it
`<md-radio name="selected" v-model="selected" :md-value="item.value">{{item.name}}</md-radio>`

[2017-06-16 13:06] CatsMiaow commented on #827
@Samuell1 Thank you. object not allowed, but resolved.

https://codepen.io/anon/pen/BZQeZY

[2017-06-16 13:06] #827 closed

[2017-06-16 14:50] cw4inctec commented on #777
Same issue - any progress on this?

[2017-06-16 17:28] mubaidr commented on #765
@cars10 Developer is focusing on major version (i think rewrite).

[2017-06-16 17:46] juanfabrega commented on #728
Hi @primadi, thanks so much for your help here!

I'm not sure I fully understood your suggestion. Any chance you could walk me through what these blocks are accomplishing? Also, are you suggesting I place these within the scoped style of my component? Thanks again!

[2017-06-17 21:51] capttrousers commented on #631
I'm hitting a similar issue, not sure if it's by design or a type on the css, but for md-hide-small-and-up combined with md-hide-xsmall theres a 60px gap from screensize width @600px - 660px where the xsmall hidden div is showing up due to this breakpoint:

[code]

[2017-06-17 23:35] capttrousers commented on #728
+1

also this seems to be a duplicate of #546

[2017-06-18 03:13] guanzo commented on #772
If you need to provide an argument to md-gutter, than the documentation is outdated

Example of code found on the "layout" page
[code]

[2017-06-18 04:19] guanzo commented on #794
I'm having the same problem, there's definitely a weird interaction with `router-link` inside `md-list-item`. In your codepen, you neglected to add the vue-router library.

Here's how it looks with vue-router: https://codepen.io/guanzo/pen/PjWBQX

Vue:
[code]

HTML:

`<li class="md-list-item">
   <i aria-hidden="true" class="md-icon md-primary md-theme-default material-icons">home</i> <a href="#/"

[2017-06-18 14:11] #826 closed

[2017-06-18 14:14] pablohpsilva commented on #825
Hello! @mchasles ! How are you?
Dude, thanks for opening this issue.

If you're using the default config from vue-cli, you could place your images in the assets folder (like you did) and use the tilde operator, like this:

[code]

Webpack will take care of image handling for you so you don't have to copy it.

[2017-06-18 14:14] #825 closed

[2017-06-18 15:27] nicoschmitt commented on #808
Same issue here.

[2017-06-18 17:14] patrixd commented on #595
I have a similar issue. The weird thing is that it happens only when I have a md-menu in the view that calls to the md-dialog and after I go back to the view. Very weird.

[2017-06-19 05:31] zapping commented on #794
@guanzo Can you try including your `<router-link>` in a `<span> or <div>` that should work. Like this

[code]
or

[code]

or add this to your css
[code]

[2017-06-19 10:22] Hidejec commented on #817
add `-webkit-overflow-scrolling: touch;` on the element with scroll. Do NOTE that it doesn't work if you put it in your CSS file. You need to use Inline Style for this.

[2017-06-19 11:24] vitorcominato opened #828 "Maxlength doesn't work with input type number"
I'm with some trouble setting maxlength to a input type number.
The maxlength appear, but it doesn't limit when i type in the input field, as you can see below

"vue": "^2.2.6",
"vue-material": "^0.7.1",

![printissue](https://user-images.githubusercontent.com/1869108/27282825-152554f2-54c8-11e7-81f1-af035823b855.png)

[code]

[2017-06-19 11:45] #629 closed

[2017-06-19 14:25] tote88 commented on #631
I'm experiencing the same issue as @capttrousers . There is a gap between 600px and 660px where hide-xsmall and hide-small-and-up md-layouts are both shown.

[2017-06-19 14:46] DavidBradbury commented on #631
The ridiculousness is not in the values themselves, but using hardcoded values and leaving them without any comments or documentation. I understand people are putting these things together in their free time, but that isn't really a reason to make things harder on all the other collaborator's. That's just lazy. Set a variable, explain what it does, and then use that in other areas instead of copyi

[2017-06-19 17:33] d3radicated commented on #828
Since `md-input` is just a wrapped `input` element, the `maxlength` property is ignored on inputs with number type by design. More info [here](https://stackoverflow.com/a/18510925).

[2017-06-19 17:56] vitorcominato commented on #828
Thanks!

[2017-06-19 17:56] #828 closed

[2017-06-19 20:08] digitalhydra opened #829 "[mdSidenav] Bug in sidenav docs"
Hey guys I think there is a issue in the docs, the sidenav won't close and the options are not clickable.
that happen upon loading, it was working 2 days ago, so maybe a new update get the bug.
https://vuematerial.github.io/#/

[2017-06-19 21:40] lucasfernog opened #830 "mdTablePagination mounted() warning"
Vue development mode warning:

[Vue warn]: Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on the prop's value. Prop being mutated: "mdPageOptions"

found in

---> MdTablePagination

`this.mdPageOptions = this.mdPageOptions || [10, 25, 50, 100]`

[2017-06-19 23:25] Toomean commented on #829
https://github.com/vuematerial/vue-material/blob/1e0178ceb3e06fb75f306e99ce7fb0cbc958737c/src/components/mdSidenav/mdSidenav.scss#L18

This line breaks sidenavs

[2017-06-20 05:36] Hidejec opened #831 "[mdTheme] Register Default theme is not working after updating the package."
I just updated the package because I saw the documentation has changed. I got very excited and after the update, the first thing I noticed my default background color is not applied.

[2017-06-20 07:57] mchasles commented on #825
Hello, thanks for your reply !

Indeed I'm using default vue-cli config. Unfortunately, what you suggested did not work for me, I'm probably missing something...
So I kept with my way of doing it copying my svg files but I found out that it was already set in vue-cli config copying my svg files in the "static" folder (https://vuejs-templates.github.io/webpack/static.html). So I did not need the Co

[2017-06-20 12:15] bmondolot commented on #777
I had the problem with the 0.7.1 tag, but the 0.7.2 (released yesterday) seems to fix the problem.

[2017-06-20 13:11] ishitatsuyuki opened #833 "Website using development mode"
The current version of the docs site is using the development mode. This degrades performance.

[2017-06-20 15:17] capttrousers opened #834 "[mdIcon] v-html in md-icon"
https://github.com/vuematerial/vue-material/blob/b992c27a3b6407ae2fc836345dc91bcd32c1f379/src/components/mdIcon/mdIcon.vue#L2

Would it be more prudent to use the {{ }} mustache notation to interpolate the string value of the icon rather than v-html?

I was just reading [this article on XSS](https://blog.sqreen.io/xss-in-vue-js/?utm_campaign=Revue%20newsletter&utm_medium=Newsletter&utm_source=revu

[2017-06-20 16:33] webpackages opened #836 "Components - Onboarding not working."
`<md-boards :md-auto="true" :md-infinite="true" :md-duration="5000" :md-swipeable="true">
              <md-board id="slide1">
                <p>Text one.</p>
              </md-board>
              <md-board id="slide2">
                <p>Text two.</p>
              </md-board>
              <md-board id="slide3">
                <p>Text three.</p>
              </md-board>
            </md-boa

[2017-06-20 22:01] nathantsoi commented on #4
ping. @marcosmoura

[2017-06-21 00:10] cilqnd commented on #829
Switching the version in the header from 0.6.3 to version 0.7.1 will allow you to click sidenavs.

[2017-06-21 02:03] heliosnarcissus opened #838 "Does this support Modals?"
#feature question
Just want to know if it supports modals as I didnt find the keword in the main site.

[2017-06-21 02:26] Morgul commented on #838
Yes, the component is called ["dialog"](https://vuematerial.github.io/releases/v0.7.1/#/components/dialog). :)

[2017-06-21 02:26] #838 closed

[2017-06-21 08:21] bannewng opened #840 "[core] Unable to load Vue Component to a vue-webpack2 project"
Hi,

I am trying to include vue-material in a vue & webpack2 project.

main.js
[code]

Also included in index.html
[code]

While I was trying to display on App.vue..

[code]

I got the following warning
![warning from console](https://user-images.githubusercontent.com/14172209/27374012-e2980774-569c-11e7-9ba2-540d40f3a9a6.png)

![Able to load CSS](https://user-images.githubusercontent.com/14172209

[2017-06-21 10:41] Fleeck commented on #830
Same issue here.

[2017-06-21 13:50] husseinjahan opened #841 "Pagination not work in 7.0.2"
### Steps to reproduce
browse to
https://vuematerial.github.io/#/components/table

### Which browser?
all browsers

### What is expected?
next page button must be active

### What is actually happening?
nextpage is inactive

[2017-06-21 14:05] delueg commented on #475
How can i go along with this error for now?

[2017-06-21 14:05] digitalhydra commented on #829
I did, but in most components redirect back to the bugged version, the bug it's  not critical mainly it's just annoying.

[2017-06-21 14:28] hlavki opened #842 "Vee-validate confirmed validation doesn't work in 0.7.2"
### Steps to reproduce

Click on working example and try to edit email box. Then edit confirm email. When confirm email is same as original email, there is no error. When you try this in non working example (same code, only upgrade from 0.7.1 to 0.7.2), error is still there.

#### Working example:
https://jsfiddle.net/hlavki/xexpq0g7/

#### Non working example:
https://jsfiddle.net/hlavki/k1wg2j2f

[2017-06-21 14:55] buccfer opened #843 "Doc showing 0.6.3 version."
https://vuematerial.github.io/releases/v0.7.2/#/ returns a 404.

[2017-06-21 15:00] Morgul commented on #843
I can confirm this. @pablohpsilva can you take a look?

[2017-06-21 15:16] Morgul opened #845 "`md-label` value is not reactive"
See discussion in #573.

[2017-06-21 15:17] Morgul commented on #573
The new tracking issue for this is #845.

[2017-06-21 15:17] #573 closed

[2017-06-21 15:22] Morgul commented on #639
I'm going to close this. You can track the carousel component in #549, or ask for advice on making your own on our slack channel:

https://join.slack.com/vuematerial/shared_invite/MTgzMzU2NDQ5ODkwLTE0OTQ4MDI3MDAtNWYyZjhkNzEzMA

[2017-06-21 15:22] #639 closed

[2017-06-21 15:25] Morgul commented on #641
@faforty Currently, `md-select` has some very poor behavior. I'd recommend following the current issues:

* #260
* #592
* #764

This will let you track our progress on fixing them.

[2017-06-21 15:25] #641 closed

[2017-06-21 15:28] Morgul commented on #643
A date picker is part of the material design [spec](https://material.io/guidelines/components/pickers.html#pickers-date-pickers) and therefore on our roadmap. You can track the progress in #4.

[2017-06-21 15:28] #643 closed

[2017-06-21 15:30] capttrousers commented on #643
@Morgul this issue is about a calendar view, not a datepicker input

[2017-06-21 15:33] Morgul commented on #643
Ah, I misunderstood. In that case, then yes, that is outside the scope of the project. :smile:

[2017-06-21 15:40] Morgul commented on #647
I'm going to close this issue. If you feel that there's an actual change that needs to be made to vue material (better css scoping, probably), please open a separate issue.

[2017-06-21 15:40] #647 closed

[2017-06-21 15:40] Morgul commented on #651
Duplicate of #644.

[2017-06-21 15:40] #651 closed

[2017-06-21 15:41] cilqnd commented on #829
@digitalhydra
https://vuematerial.github.io/releases/v0.7.1/#/

[2017-06-21 15:43] Morgul commented on #653
You can change this by overriding the `linkActive` class:

http://router.vuejs.org/en/api/options.html#linkactiveclass

[2017-06-21 15:43] #653 closed

[2017-06-21 15:44] Morgul commented on #657
I'm going to close this. @Harveytwo if you're still having issues, please reopen. :smile:

[2017-06-21 15:44] #657 closed

[2017-06-21 15:50] Morgul commented on #662
@akaSybe Right now, there isn't any typescript support on the roadmap, but we will discuss internally. I _personally_ feel that the core developers' time is best spent on fixing our backlog of issues and implementing missing components, _however_ we would gladly accept a pull request to add types.

[2017-06-21 15:51] Morgul commented on #665
This has been fixed.

[2017-06-21 15:51] #665 closed

[2017-06-21 15:52] Morgul commented on #669
We should probably change the behavior to be compatible with normal html5 file inputs.

[2017-06-21 15:54] #675 closed

[2017-06-21 15:57] Morgul commented on #676
@wxqee Was your issue fixed by #625? If not, please reopen this issue.

[2017-06-21 15:57] #676 closed

[2017-06-21 16:00] Morgul commented on #679
@leonfather That certainly is a solution. You can also apply custom CSS.

[2017-06-21 16:00] #679 closed

[2017-06-21 16:05] Morgul commented on #683
The issues with `md-input type="file"` are being tracked in #669. As for the rest, I definitely support being as close to regular `input` elements as possible

[2017-06-21 16:06] #684 closed

[2017-06-21 16:10] Morgul commented on #697
@brunocalou could you put in a pull request for this?

[2017-06-21 16:12] Morgul commented on #736
I'm going to close this, as any typescript support will be tracked in #622. :smile:

[2017-06-21 16:12] #736 closed

[2017-06-21 16:46] pablohpsilva commented on #843
The doc is updated. Only that select is wrong. I don't know what happened with that select, but I'll look into it ASAP.

[2017-06-21 16:51] pablohpsilva commented on #842
I'll look into it ASAP

[2017-06-21 16:57] pablohpsilva commented on #840
Hello!! :D
Could you please show us your App.vue?

[2017-06-21 20:19] Samuell1 commented on #475
Its fixed long ago, https://github.com/vuematerial/vue-material/pull/693

[2017-06-21 22:03] assolsmile opened #848 "Docs and demo site is broken"
The documentation isn't usable, versions can't be changed. Please check the https://vuematerial.github.io.

[2017-06-22 00:32] MichaelFedora commented on #736
@Morgul it seems you referenced the wrong issue :wink:

[2017-06-22 01:26] liuxue0905 commented on #848
Change the size of browser, or visit the demo site by mobile phone. The Layout function do not work.

[2017-06-22 03:13] tidus30691nexus5 commented on #842
0.7.2 not render name attribute  of element so can't work with vee valid but 0.7.1 it render.
please check and fix it.
![error](https://user-images.githubusercontent.com/28834552/27415815-7239860a-5733-11e7-9459-3f800393bd1a.png)

[2017-06-22 05:46] superbogy commented on #848
same to me

[2017-06-22 07:45] heyitskippy commented on #848
same

[2017-06-22 07:55] heyitskippy commented on #645
What about fixed header? I don't want to use jQuery for this in my project.

[2017-06-22 10:19] petarpanicVIU opened #849 "Defining and setting a custom theme is not working"
### Steps to reproduce
Define a custom theme and set it afterwards globally with Vue.material.setCurrentTheme;

### Which browser?

Vue Material 0.7.2, Vue 2.3.4, every browser.

### What is expected?
The body element should have the theme set as a class.

### What is actually happening?
The body element is either empty or set to default theme

The last version that worked perfectly fine was 0.7.0

[2017-06-22 10:49] #704 closed

[2017-06-22 10:50] #803 closed

[2017-06-22 11:01] pablohpsilva commented on #645
I started it a few weeks ago but I had to take care of bug fixes.
I'll resume my work on that ASAP :)

[2017-06-22 11:08] pablohpsilva commented on #842
New release was lunched today with these changes :)

[2017-06-22 11:08] #842 closed

[2017-06-22 11:09] pablohpsilva commented on #848
New release was lunched today with these changes :)

[2017-06-22 11:09] #848 closed

[2017-06-22 11:11] pablohpsilva commented on #836
Hello @webpackages !
I'm not 100% sure what's up with that but I'll take a look into it ASAP. Thanks for opening this issue! :D

As a quick fix, I believe you could import the mdBoards straight from vue-material source on your node_modules and use it :)

[2017-06-22 11:13] pablohpsilva commented on #833
Thank you for opening this issue @ishitatsuyuki !
We left it in development mode so users could use tools like [vue devtools](https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=en) to see events, and how data was being manipulated. It's a plus considering the documentation :D

[2017-06-22 11:13] #833 closed

[2017-06-22 11:17] pablohpsilva commented on #849
We'll look into it ASAP. Thank you @petarpanicVIU :D

[2017-06-22 11:17] pablohpsilva commented on #841
I'll look into it ASAP. Thank you @husseinjahan :D

[2017-06-22 11:28] pablohpsilva commented on #845
The latest version has that fix. Check it out:

![jun-22-2017 08-25-50](https://user-images.githubusercontent.com/2090635/27431960-b09f258a-5724-11e7-837c-1d4ecec61bbd.gif)

[2017-06-22 11:28] #845 closed

[2017-06-22 15:04] bmondolot opened #851 "Tag 0.7.3 breaks simple md-select"
### Steps to reproduce
Go to the demo site : https://vuematerial.github.io/#/components/select
Click on one of the select element (the simple one, not the multiple selection ones)
Click on one of the value in the dropdown list

### Which browser?

At least Firefox and Chrome

### What is expected?
The value is changed on click

### What is actually happening?
Nothing happens (nor the drop down lis

[2017-06-22 15:43] daviddelucca commented on #841
@pablohpsilva  I have the same problem. The last version that pagination is working is on 0.7.1 - version 0.7.3 is broken too.

[2017-06-22 15:50] daviddelucca opened #852 "md-chips is not working on 0.7.1"
I'm using VueJS 2.2.6 and VueMaterial 0.7.1 because I need pagination working but chips is not working.

The value typed on chips is added to array but is showing an empty string.

On version 0.7.3 `md-chipś` is working but pagination not (same for version 0.7.2).

![printscreen](https://user-images.githubusercontent.com/5162985/27443396-43239296-5749-11e7-9d7a-aedd49a50fd4.png)

[code]

[2017-06-22 15:58] daviddelucca commented on #851
Or you could try select another version on header - switch version 0.7.3 to another one...it's not working :(

[2017-06-22 20:50] filipesarturi commented on #851
Same here :/

[2017-06-23 06:21] lasernite opened #855 "Menu component page is broken in docs"
https://vuematerial.github.io/#/components/menu is pulling up blank.

[code]

[2017-06-23 09:59] de5peratelighter commented on #851
Last working version of basic md-select is within 0.6.3 release.
https://vuematerial.github.io/releases/v0.6.3/#/components/select

b8f1f2e doesn't seem to resolve the issue for 0.7.3 version if applied manually, but I might be missing something;(

[2017-06-23 11:35] pablohpsilva commented on #855
I'll fix it ASAP. Thank you!

[2017-06-23 11:41] pablohpsilva commented on #852
I'll look into it ASAP, but, AFAIK it is working. Check it out:
![jun-23-2017 08-39-44](https://user-images.githubusercontent.com/2090635/27480751-b71c4200-57ef-11e7-99cc-b13bc9ed4684.gif)

[2017-06-23 12:26] devistar opened #857 "md-select not working. Nothing happens when you click an option item"
See at https://vuematerial.github.io/#/components/select
Same happens locally.

[2017-06-23 12:27] pablohpsilva commented on #857
Fixed on #856

[2017-06-23 12:27] #857 closed

[2017-06-23 12:27] pablohpsilva commented on #852
Probably fixed on #856

[2017-06-23 12:27] #852 closed

[2017-06-23 12:27] pablohpsilva commented on #855
Fixed on #856

[2017-06-23 12:27] #855 closed

[2017-06-23 12:27] pablohpsilva commented on #851
Fixed on develop and #853

[2017-06-23 12:27] #851 closed

[2017-06-23 12:27] #843 closed

[2017-06-23 12:28] pablohpsilva commented on #836
Fixed

[2017-06-23 12:28] #836 closed

[2017-06-23 12:32] #830 closed

[2017-06-23 12:35] devistar opened #859 "md-autcomplete not working using list"
When I type a string, it returns a blank block. There are no results. when there should be. I also lose the focus of the field.

[code]

[code]

[2017-06-23 12:43] pablohpsilva commented on #859
Try this:
[code]

[code]

[2017-06-23 12:48] devistar commented on #859
The results are displayed however there is no filtering, nor navigation with the arrows, nor possible selection. Is this normal? Should this be managed by the developer ?

[2017-06-23 13:00] bmondolot commented on #851
The problem is indeed fixed in 0.7.4

Thanks !

[2017-06-23 14:52] Samuell1 commented on #859
@devistar filtering and other things for data you need to manage yourself

[2017-06-23 19:47] jbonachera opened #861 "default md-input debouncing rate may be too long"
Hello !

I'm using an md-input in a login form, and when a user submit the form (using the keyboard), the model used in md-input often appears to be empty.

I searched around a bit, and it appears that the debouncing done in md-inputs since https://github.com/vuematerial/vue-material/pull/674 is causing this: if the user waits a bit before submiting the form, all is good.

I did not expect an inpu

[2017-06-23 20:41] shvelo commented on #841
The row count selector doesn't work too.

[2017-06-23 22:30] Samuell1 commented on #861
Debounce is only temporary to fix this issue: https://github.com/vuematerial/vue-material/issues/544

[2017-06-23 22:42] thomasbrunier opened #862 "[mdRatingBar] component missing in npm"
Hi there,
I installed vue-material with npm, but I can't find any mdRatingBar component inside the node_modules folder.

when I call `<md-rating-bar v-model="ratingValue" disabled></md-rating-bar>`, I got the following error :
`[Vue warn]: Unknown custom element: <md-rating-bar> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`

Working

[2017-06-23 23:42] Morgul commented on #861
300ms is probably too long, you're right. I feel like we should probably drop it to the minimum possible value that doesn't have the lag issue.

Additionally, we might want to ping the vuejs guys on the forum, to see if they have suggestions. Also, it may be that we need to have it fire on the leading and trailing edge, with a maximum time value. So, there's a lot of knobs we can turn here to impr

[2017-06-24 11:52] pablohpsilva commented on #862
I'll check it out ASAP. Thank you for opening this issue :)

[2017-06-24 11:55] pablohpsilva commented on #861
Hello! On v0.7.4 I dropped it to 100ms minimum. If debouncing is troubling you, you could set it to 0 :D

Like @Samuell1 said, soon this will be removed.

[2017-06-24 11:55] #861 closed

[2017-06-24 11:56] pablohpsilva commented on #841
I believe @d3radicated fixed it on v0.7.4 guys. Could you please have a try and feed me back ?

[2017-06-24 12:10] d3radicated commented on #841
The issue I fixed is for the `md-table` selection. I'll try to look into this. :D

[2017-06-24 23:39] dedayoa opened #863 "md-back-continue property on stepper md-step not working in 0.7.0"
### Steps to reproduce

### Which browser?
Vue 2.3.3, Vue Material 0.7.0, Chrome 58.0

### What is expected?
By setting md-back-continue on the last md-step, it should modify the "FINISH" to the string I assigned to md-back-continue

### What is actually happening?
"FINISH" is not modified. the property does not seem to have any effect.

### Reproduction Link

[2017-06-24 23:46] #863 closed

[2017-06-25 09:54] Ken-Yang commented on #823
@iyedg this issue has been merged to master now. you can upgrade your Vue version to the latest one and install vue-material 0.7.4.

[2017-06-25 15:46] Muscot commented on #243
I tried out a solution, that seems to work. I'm not sure if it's good or a bad :-) , what do you think?

My vue-material nuxt plugin:

if (!process.BROWSER_BUILD) {
  const jsdom = require('jsdom')
  const { JSDOM } = jsdom
  const dom = new JSDOM(``)
  global.window = dom.window
  global.document = dom.window.document
  global.Element = dom.window.Element
}

var Vue = require('vue')
var VueMateri

[2017-06-25 19:14] brunocalou commented on #697
@Morgul sure #864

[2017-06-25 21:46] durino13 opened #865 "[mdSelect] not displaying selected value if the selected value is stored as an integer in the model"
My md-select button is not displaying correctly the selected option, if the value in the model is stored as integer, but it works OK, if the value is stored as a string.

### Steps to reproduce

### Which browser?
Chrome Version 55.0.2883.87 (64-bit)

### What is expected?
The select box will display the correct selected value, when a form is displayed, not a placeholder text ..

### What is actua

[2017-06-26 02:31] gywgithub opened #866 "Is the official website hacked?"
Open [https://vuematerial.github.io](url)  and jump  [http://www.vuematerial.io/](url)   ?

[2017-06-26 02:34] marcosmoura commented on #866
Nope. It's working fine here!

[2017-06-26 02:35] #866 closed

[2017-06-26 07:11] JobJob commented on #848
Demo site seems down, it redirects to `http://vuematerial.io/` whose DNS address can't be found.

[2017-06-26 10:29] Samuell1 commented on #865
I think its because `.toString()` https://github.com/vuematerial/vue-material/blob/master/src/components/mdSelect/mdOption.vue#L41

[2017-06-26 11:03] didimitrie opened #867 "Docs website throws DNS error (vuematerial.io)"
Trying to access the docs on http://vuematerial.io/, getting a DNS error. Hope all is well! PS: sorry if wrong spot to report this.

[2017-06-26 11:08] Samuell1 commented on #867
Quote from Vuematerial slack:

[2017-06-26 11:15] jan1993 commented on #867
When is the site expected to be back?

[2017-06-26 11:22] didimitrie commented on #867
hopefully as long as it takes for them dns record changes to propagate.

[2017-06-26 13:10] daviddelucca commented on #841
@pablohpsilva
Still not working on 0.7.4.

[2017-06-26 13:35] oschettler commented on #867
Hopefully the DNS update goes through quickly. For me it helped to temporarily add the line
[code]
... to my /etc/hosts. The IP address is the one of _vuematerial.github.io_

[2017-06-26 15:06] marcosmoura commented on #867
I switched back. Still available at vuematerial.github.io

[2017-06-26 15:06] #867 closed

[2017-06-26 15:17] AgustinVargas11 commented on #867
Still not available.

[2017-06-26 15:18] djayd commented on #867
Yeah. Not available for us either. Is it possible to fork this and run the docs locally?

[2017-06-26 15:34] AgustinVargas11 commented on #867
@djayd yes

[2017-06-26 15:35] Samuell1 commented on #867
@AgustinVargas11 @djayd https://vuematerial.github.io is working for me, try flush dns in cmd `ipconfig /flushdns`

[2017-06-26 17:42] emalihin commented on #867
actually the web server returns 301

< HTTP/1.1 301 Moved Permanently
< Server: GitHub.com
< Content-Type: text/html
< Location: http://vuematerial.io/

[2017-06-26 17:51] Samuell1 commented on #867
@emalihin use https://vuematerial.github.io/

[2017-06-26 18:21] c941010623 opened #868 "Docs website throws DNS error (vuematerial.io)"
not work

[2017-06-26 19:08] iyedg opened #869 "Row deletion does not update md-table data / computed properties"
When deleting an element form an array linked to md-table, the selectedRows data field and the numberOfSelected computed property do not update accordingly.

[Codepen reporoduction](https://codepen.io/iyedg/pen/WOodro)

**Screenshot from my actual project**
![bug](https://user-images.githubusercontent.com/2780980/27555725-b4f9c2b4-5aaa-11e7-8777-657e184903d9.gif)

Currently on **Vue 2.3.4** and **

[2017-06-26 22:23] capttrousers opened #870 "[mdSteepDial] click issue when not expanded"
https://codepen.io/anon/pen/qjVdxp

Scroll down to the bottom to find the speed-dial.

What should happen:
- Clicking any of the buttons that fall underneath the expanded speed dial should be allowed if the speed dial is not expanded.

What happens:
- The buttons that are directly under the speed-dial are not clickable as the container div is as big as the button list will be when expanded and blo

[2017-06-26 23:36] pablohpsilva commented on #869
Fixed on PR #871

[2017-06-26 23:36] #869 closed

[2017-06-26 23:42] pablohpsilva commented on #859
@devistar the filtering should be done by the developer because there's no guarantee way of telling how autocomplete should filter your data.

I'll check the issue with the menu

[2017-06-27 00:13] #859 closed

[2017-06-27 00:53] d3radicated commented on #868
It should be working now.

[2017-06-27 01:11] JobJob commented on #868
It isn't

[2017-06-27 01:12] JobJob commented on #868
Maybe I need to clear my dns cache?

[2017-06-27 01:13] d3radicated commented on #868
@JobJob, yep. Just clear it and it will show up.

[2017-06-27 01:17] JobJob commented on #868
Umm, it's still not up for me - it (`https://vuematerial.github.io`) redirects to `http://vuematerial.io/` but the address can't be resolved. Maybe the DNS change is still propagating?

[2017-06-27 01:19] d3radicated commented on #868
Maybe, have you tried re-opening the browser?

[2017-06-27 01:21] JobJob commented on #868
Yeah, anyway, I'll wait, looked up the DNS on a DNS Lookup  website and it was there. Thanks for your help, sorry about the noise.

[2017-06-27 01:21] d3radicated commented on #868
@JobJob, no problem. We'll just wait for @c941010623 if it shows up for him to close this issue. :D

[2017-06-27 03:26] w550 opened #872 "[mdTooltip] Multiline Tooltip"
[code]

[2017-06-27 05:40] Hidejec opened #873 "[mdTable] Option to align right the md-selection checkboxes."
Is there a way to align the checkbox to the right of the table? Can you please implement this option thanks.

[2017-06-27 06:35] tidus30691nexus5 commented on #868
chang DNS:
8.8.8.8
8.8.4.4
if not accept page

[2017-06-27 07:11] JobJob commented on #868
It's up for me now btw, I think it was just a delay in the dns propagating.

[2017-06-27 08:08] Hidejec opened #874 "[mdCheckbox] indeterminate"
### Steps to reproduce
1. Create an md-checkbox component with an id.
2. Using javascript, get the element by id.
3. Set the indeterminate to true.
4. `var checkbox = document.getElementById('test-checkbox');`
    ` checkbox.indeterminate = true;`
5. Nothing happens.

### What is expected?
I'm expecting to see the checkbox on its indeterminate state.

[2017-06-27 08:25] Fleeck opened #875 "[mdOnBoarding] within dialog has no content"
### Steps to reproduce
1. Use onboarding within dialog and open it.
2. You have to click or resize on order to see content

### Versions
Vue 2.3.3, VueMaterial 0.7.4, Chrome 59

### What is expected?
Content seen initially

### What is actually happening?
Content is not seen until user either clicks on directions or resizes window

### Reproduction Link
Reproduced here: https://codepen.io/artur_js

[2017-06-27 09:28] c941010623 commented on #868
i find problem !!
when i use http://vuematerial.io/releases/v0.7.3/#/
it work ok
but
http://vuematerial.io/releases/v0.7.4/#/
not work

[2017-06-27 10:08] Samuell1 commented on #868
@c941010623 main release v0.7.4 is without `/releases/v0.7.4/#/` on http://vuematerial.io

[2017-06-27 10:26] husseinjahan opened #876 "router-link on md-button not work"
### Steps to reproduce
I've changed to PROP of router-link in button doc page but nothing happens, but when i changed the a href tag it works.
In general router-link when tag is a custom component link md-button or md-option doesn't work. UI is OK but routing does not happen.

### Which browser?
I checked all browsers and i use Vue 2.

### What is expected?
We expect  when we use this code, it ren

[2017-06-27 13:29] lfpoelman commented on #863
How did you resolve this issue? I'm currently having the same issue.

[2017-06-27 13:48] dedayoa commented on #863
I didn't. I decided against using the component.

On 27 Jun 2017 14:29, "Lennard Poelman" <notifications@github.com> wrote:

[2017-06-27 19:16] martinandersen3d commented on #876
`  <md-button class="md-icon-button iconStyle"   @click.native='setRoute("projects")'>
    <md-icon >ondemand_video</md-icon>
    <md-tooltip md-direction="right">My Projects</md-tooltip>
  </md-button>

    methods: {
        setRoute(id){
            this.$router.push(id)
        },//setRoute
`

OR....

<router-link to="/components/button1" >
<md-button>
Router Link
</md-button>
</router-link>

[2017-06-27 20:01] c941010623 commented on #868
2016-last 15' macbook pro use safari
will get

404

File not found

The site configured at this address does not contain the requested file.

If this is your site, make sure that the filename case matches the URL.
For root URLs (like http://example.com/) you must provide an index.html file.

Read the full documentation for more information about using GitHub Pages.

GitHub Status — @githubstatus

[2017-06-27 21:21] c941010623 opened #877 "This framework can use in phonegap?"
I use one page in phonegap
And it don't work
How can I do?
Have a sample?

[2017-06-28 08:33] husseinjahan commented on #876
Thank you @martinandersen3d , I've did the same thing you suggested first.
but it's not solution, it's a trick, what if we use md-card, md-option and other components?

[2017-06-28 09:22] martinandersen3d commented on #876
look in some of the threads in here, i remember one that looks something like <md-something @click=" {  router.push("/myurl")} ">  please write here when you find it

[2017-06-28 09:24] martinandersen3d commented on #876
<md-button @click.native="$router.push({ name: 'project'})">Project</md-button>

https://github.com/vuematerial/vue-material/issues/785

[2017-06-28 09:40] martinandersen3d commented on #876
you are probably going to use this sooner or later:

<md-button id="somename" @click.native="myMethod">Project</md-button>

    methods: {
        myMethod(event){
                alert(event.target.id) //will output "somename"
        }
    },//methods

above is ES6 syntax

[2017-06-28 10:15] hypercub3d commented on #841
Version 0.7.4.
The paginator seems to have an issue when the component is loaded from cache.

So let's say I have a table component loaded on route A. If I load the page on route A, then navigate to route B, and then back to route A, the paginator's forward and backward buttons are disabled.

It shows the correct number of items, and the correct row count, but I'm unable to navigate to a different

[2017-06-28 10:44] Samuell1 commented on #841
@hypercub3d same issue i have too

[2017-06-28 12:43] Hidejec opened #878 "How to change state of checkbox dynamically?"
I want to check the checkbox programatically.

[2017-06-28 14:53] dennishu001 commented on #579
Adding md-fixed does make the sidenav work again, however it doesn't solve the program of scrolling to bottom.

[2017-06-28 16:13] d3radicated commented on #878
Just change the value of the `v-model`.

[2017-06-28 20:31] Xeoncross commented on #115
Not supporting range-slider is a big deal breaker for me. Here is a basic CSS-only slider if anyone is interested in how it might work: https://codepen.io/Xeoncross/pen/dRJmpj

[2017-06-29 04:11] Hidejec commented on #878
It's not working

[2017-06-29 05:11] Hidejec commented on #878
It's not working if I put it inside a function.

[2017-06-29 05:19] d3radicated commented on #878
You mean a method function? It's working fine.

[Codepen](https://codepen.io/anon/pen/yXpQQX?editors=1010)

[2017-06-29 06:00] patoezequiel opened #880 "[mdToolbar] Text inside ".md-title" classed elements wraps inside "md-toolbar" when the content is too long"
### Steps to reproduce
1. Put an element, let's say a `h1` header, with the `md-title` class inside a `md-toolbar` element.
2. Set the `flex` CSS property of the `h1` element with the value `1` (this prevents the `h1` element from wrapping and breaking the toolbar's layout).
3. Write a long title inside the `h1` tags.
4. The text inside the `h1` header now wraps and goes multiline when the width o

[2017-06-29 06:48] Hidejec commented on #878
Ooops sorry, I found the problem why it was not working. It turns out that my code just have some logical issues. BTW Thanks for helping, it made me sure that this is indeed working.

[2017-06-29 06:48] #878 closed

[2017-06-29 10:19] tidus30691nexus5 commented on #877
yes it can . You can creat project with phonegap cli ( https://github.com/madesane/phonegap-vue-2)
and add more framework and use it normal.
:D

[2017-06-29 11:29] Klainer commented on #815
+1

[2017-06-29 12:49] bertmsk commented on #478
The bug still exists

[2017-06-30 02:30] Muyv opened #882 "How do I change background color for Snackbar?"
### Steps to reproduce
Snackbar's background color is always in black,  there's no any effect when I change default theme or use scoped theme.

### Which browser?
Latest chrome.

### What is expected?
Change the background color according to scoped theme or provide a attribute to do this.

[2017-06-30 06:15] Samuell1 commented on #882
Snackbar doesnt have other color then black in material specs https://material.io/guidelines/components/snackbars-toasts.html#

[2017-06-30 06:16] zapping commented on #875
A similar fix might help #697 ?

[2017-06-30 07:20] Muyv commented on #882
@Samuell1 Ok, I'm gonna find other way

[2017-06-30 07:20] #882 closed

[2017-06-30 07:36] Samuell1 commented on #882
@Muyv you can overwrite css i think, but accent, primary, warning snackbar will be cool

[2017-06-30 07:38] copitz commented on #115
@Xeoncross you can use my component for this if you want: https://github.com/netresearch/continnous/tree/master/src/md/mdSlider

I already had a short discussion with @marcosmoura about that and he was interested in this component as well - however I didn't have time yet to create a pull request for that - maybe you have? ;)

![image](https://user-images.githubusercontent.com/882663/27725707-d8582

[2017-07-01 13:48] pablohpsilva commented on #822
This was fixed on develop branch. It is not yet on masters :)

[2017-07-01 13:48] #822 closed

[2017-07-01 13:50] #877 closed

[2017-07-01 19:15] c941010623 opened #884 "[mdMenu] bug!"
i use 0.7.4 and 0.7.3 and 0.7.2 all have this bug
you can try it
http://vuematerial.io/releases/v0.7.2/#/components/menu
and click any one menu then
press TAB then press ENTER
then
press ESC ESC ESC (faster) and the error will show

docs.320e0ba5.js:3 Uncaught DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.
    at HTMLDivElement.t (http:

[2017-07-02 15:21] Matt-Dionis commented on #98
I'm noticing the need for `setTimeout` as well. In my case I want to autofocus an md-input when an md-dialog is opened:

[code]
[code]
The above works, but I'm not sure why I need the `setTimeout`. I tried replacing `setTimeout` with `this.$nextTick`, but that does not work.

[2017-07-03 10:52] arvanoid commented on #399
In order card works properly it also needs md-column which overrides `flex-direction: column` set by default md-layout

[code]

[2017-07-03 19:27] dionysiosarvanitis opened #886 "[mdCheckbox] error styling"
Is there any way to append validation error to checkbox similarly to text input? Any plan to support it?

[2017-07-03 21:11] gabrielbonner opened #887 "Maxlength not enforced on md-dialogue-prompt"
I'm expecting to see a character limit enforced for prompts, like in the fourth example here -http://vuematerial.io/#/components/dialog

However in my codepen (with the exact same code from above) you'll notice that there is no character limit - https://codepen.io/anon/pen/dReRwd

Even if I add `:maxlength="prompt.maxlength"` to the element, still nothing.

Thoughts?  :)

[2017-07-04 03:57] zapping commented on #887
The property is `:md-input-maxlength` can you try with this one and check.

[code]

[2017-07-04 04:49] zapping opened #888 "[mdInput] Add min-length similar to the max-lenght property"
Can min-length be added to input, textarea and prompt-dialog? Well this can be custom coded without much effort but if you think its feasible then it will be a good to have feature. The min-length should have a validation as well similar to required.

[2017-07-04 06:31] gabrielbonner commented on #887
@zapping Thanks, I'll try it on Wednesday, we have a holiday tomorrow in the US.

[2017-07-05 00:36] ordazgustavo opened #889 "[mdSidenav] issues"
Hi, Im experiencing some issues with the sidenav:
1. When I use `router-link` and try to bind a click event to the `md-list-item` that event does not work nor creating a method.
[code]
2. Also, I tried to use a fixed sidenav (`md-fixed`) but for some reason anything inside the sidenav can be clicked.

[2017-07-05 02:17] ordazgustavo opened #890 "Typo in the Stepper component documentation"
You have a typo in the Stepper documentation

The documentation says `md-back-continue` to change the 'CONTINUE' button text but it is actually `md-button-continue` (I already tried it) just like the back button. :)

[2017-07-05 02:39] dungla4 commented on #706
Excuse me, is this issue solved or not? I check with vue-material 0.7.4 and still not working

[2017-07-05 04:43] yordis opened #891 "[SCSS] Add some features from Layout section of Vuetify"
From the section `Layout` on https://vuetifyjs.com/layout/pre-defined we could copy some of the ideas, like `spacing` and specially have some predefined layouts ❤️

### What will it allow you to do that you can't do today?
`Spacing` and some other features allow me to be consistent on my layouts

### What potential bugs and edge cases does it help to avoid?
Most of them design consistency

[2017-07-05 06:47] zapping commented on #889
Seems like an issue https://codepen.io/zapping/pen/GmVapv . I tried adding a sidenav to the Setting and Backup menu. But for me the sidenav contents as such do not display.

[2017-07-05 11:30] zapping commented on #889
The issue with Sidenav not showing up was due to horizontal scrollbar. Also the md-list-item has a z-index set to 2 but the sidenav and sidenav-backdrop has z-index 100 and 99. Hence the md-list-item was hidden behind the sidenav-backdrop. Adding the following css fixed it.

[code]

[2017-07-05 11:34] zapping commented on #889
@ordazgustavo Please check the pen https://codepen.io/zapping/pen/GmVapv . The Settings and Backup menu option has the sidenav set. The click event works for the `md-list-item` both within and outside the sidenav.

[2017-07-05 14:36] ordazgustavo commented on #889
Thank you @zapping, I'll try that. Yesterday I read that in orden to bind click events to nested components was using `@click.native` as you did

[2017-07-05 17:27] gabrielbonner commented on #887
@zapping Yay, that worked, thanks.  Maybe updating the docs on the fourth example [here](http://vuematerial.io/#/components/dialog) would be in order so that other people don't have the same issue?

Thanks for your help.  👍

[2017-07-05 17:28] #887 closed

[2017-07-05 22:08] sunziping2016 opened #894 "[mdTable] does not respond properly when binding data changes"
I'm using vue-material^0.7.4.

It seems someone has forgotten to update the data filed `index` in `mdTableRow.vue`, which causes the `mdItem` watcher at line 57 actually messes up the data field `data` in `mdTable.vue`.

[2017-07-05 22:54] sunziping2016 commented on #894
Add this line just before Line 119 in `src/components/mdTable/mdTableRow.vue` may fix this bug.

    this.index = this.parentTable.data.length;

But it relies that the `key` of `mdTableRow` are set to the row index.

[2017-07-06 04:36] zapping opened #895 "[mdAutocomplete] Issues with md-autocomplete"
There are some issues with the autocomplete component. Have added a pen here with the component. https://codepen.io/zapping/pen/GmVapv

### Steps to reproduce
1. When the component is initially loaded the label appears raised even though the v-model is not assigned a value. But when it receives a focus and then a blur, without typing a value, then label transitions back to just above the input cor

[2017-07-06 08:09] rajneesh290 commented on #683
use (ngModelChange)="method()"

[2017-07-06 11:56] xiechao1211 commented on #768
"vue": "^2.3.3",
 "vue-material": "^0.7.4",
i find the same question,can not import the individual components.

[2017-07-06 12:16] Nirazul opened #896 "header-item slot for mdTabs is not in latest release (0.7.4)"
### Steps to reproduce
The header-item slot for mdTabs is not in the latest release of `vue-material@0.7.4` as stated in the documentation.
According to this [PR](https://github.com/vuematerial/vue-material/pull/596) I thought that it would be in the next release. However, it's not...

### Which browser?
All browsers

### What is expected?
Ability to populate a slot for a custom mdTabs header.

##

[2017-07-06 12:29] Bolandish opened #897 "If manuel adding the value its not editable (md-input)"
When i manually adding the value-attribute on md-input its not possible to edit the value.
Check my video : https://www.dropbox.com/s/49d6gp6hyb2kzxr/can%27t%20delete.mov?dl=0

[2017-07-06 14:24] jdjd1118 opened #898 "Vue-material 0.7.4 md-input-container input font-size set to 1px and label does not move above input box."
### Steps to replicate
Set up md-input-container

### Which browser?
Tested in Chrome 59.0.3071.115 and Firefox 54.0

### Label should move above input when entered and text should show.

### What is actually happening?
Label does not move and text is set at 1px in CSS.

### Reproduction Link
https://jsfiddle.net/e0zr5gp7/5/

[2017-07-07 03:46] zapping commented on #898
You have used the default html `<input type="text">` please replace it with Vue-Material input component  `<md-input type="text">` and try.

[2017-07-07 03:59] zapping commented on #897
If you can give the code or a pen it will be great. Unfortunately by seeing the video its tough to guess your code. But I tried adding an md-input with the following to a pen

[code]
It seems to be working well. The code is in this pen https://codepen.io/zapping/pen/bBPyOz. Try manually changing the value of 'Label in tag' md-input component.

[2017-07-07 04:07] zapping commented on #768
@pablohpsilva, a pen has been added to a similar issue #889

[2017-07-07 07:26] raahede opened #899 "Typo in docs - getting started"
When importing individual components, the docs refer to lower camel case names

http://vuematerial.io/#/getting-started

[code]

They work with upper camel case names
[code]

[2017-07-07 10:41] hypercub3d opened #900 "Webpack and vue-material. Tree shaking and optimization."
Hi,

I am using vue-material in a project and using webpack-bundle-analyzer, I can see that it adds around 219Kb to the bundle size.

I have tried importing the individual components as per the instructions, and it does not seem to affect the bundle size in any way. It remains the same as if I just imported all of vue-material.

I'm using around a third of the components from the vue-material pack

[2017-07-07 11:38] jdjd1118 commented on #898
Wow I feel stupid :)  Thanks a lot.

[2017-07-07 11:38] #898 closed

[2017-07-08 01:37] mycarrysun commented on #417
Any progress on this issue? Launching an app on Aug 1 and need a solid fix. By the way Marcos - love your work.

[2017-07-08 08:17] j4k0bk opened #901 "[mdButton] fix documentation"
Button Toggle - no documentation on how to apply it to a model. Please describe this, as the documentation on Button Toggles is very vague.

[2017-07-08 16:08] Mini256 opened #902 "Documentation mistake！"
Hello, Sir : I think you make some mistakes in the documentation,

First of all,Please turn to [the page of stepper](http://vuematerial.io/#/components/stepper)  ,the PROPERTIES 'md-back-continue' should be corrected to ‘md-button-continue’.

And why did you not write down "import 'vue-material/dist/vue-material.css'" or "require('vue-material/dist/vue-material.css')" in the  ''[Getting Started](h

[2017-07-09 19:29] jackolo opened #903 "Disabled md-select color is not grey"
Disabled md-select font color is not grey, like for example disabled md-input is.

[2017-07-10 12:41] aws2-18 commented on #299
Hey,

I have this error:

Mix.initialize();
   ^

TypeError: Cannot read property 'initialize' of undefined
    at Object.<anonymous> (/home/vagrant/Code/stream/webpack.config.js:9:4)
    at Module._compile (module.js:570:32)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:32)
    at tryModuleLoad (module.js:446:12)
    at Function.Module._load (module.js:

[2017-07-10 12:49] garymcm commented on #814
Looks like you are using VeeValidate, too. It seems the element must have both .md-error and .md-input-container invalid to work, or .md-error must be a child of a .md-input-container ([CSS](https://github.com/vuematerial/vue-material/blob/master/dist/vue-material.css#L1475)).

I created my own radio group inline style and copied the relevant CSS to make it work.

[2017-07-10 13:57] devistar commented on #895
Yes md-autocomplete component is bugs.

[2017-07-10 19:12] bendo01 commented on #841
vue-material: 0.7.4
vue: 2.3.4

i think i found the bug
on https://github.com/vuematerial/vue-material/blob/master/src/components/mdTable/mdTablePagination.vue

on data
[code]
it suppose
[code]

[2017-07-11 10:39] twojustin opened #906 "Card theme background color is not showing when md-card-actions is within md-card-expand"
The theme background color does not show up for `md-card-action` when `md-card-expand` is  its parent.  From browser dev tool, the default white background color is still being applied on the md-card-actions when it's inside md-card-expand.

### Steps to reproduce
[code]

### Which browser?
Vue 2.3.4
vue-material 0.7.4
opera, chrome, firefox

### What is expected?
the background-color of the theme

[2017-07-11 12:07] fleumari commented on #37
@marcosmoura How did you scale the input? I was trying quiet a few methods but it didn't work.

[2017-07-11 16:36] lexwebb commented on #613
Any update on this? Having a large amount of issues with this myself.

[2017-07-12 02:04] hypercub3d commented on #841
@bendo01 I tried this change, and it does not seem to fix the problem for me.

[2017-07-12 07:16] mehyaa opened #908 "md-select not allow Boolean"
Hi,

Can you add nullable boolean (true, false, null) value support for md-select? Right now it allows only string, number or array.

[2017-07-12 08:34] vietlong90 opened #909 "[mdSelect] do not display image"
Hi,
I'm using md-select to display option with image and text. But when I select an item, It's only show the text, the image is hidden. How can I show the image and text together?
Thanks

`<md-select v-model="lang">`
`        <md-option value="eng">`
`          <span><img src="../../static/flags/4x3/gb.svg" style="width: 20px;" /> English</span>`
`        </md-option>`
`        <md-option value="j

[2017-07-13 09:20] bmondolot opened #910 "Md-select multiple reset"
Md-select with the multiple properties keeps track internally of the previous selected values even when the v-model is reset/changed outside of the md-select

### Steps to reproduce
Click on a md-select with the multiple attribute and select some items
Reset the v-model of the select with an empty array
Click on the md-select to show the list of items

### Which browser?
All browsers

### What is

[2017-07-13 19:19] vizv commented on #686
Check `margin-bottom` of `md-list-expand`, it gives `0` instead of the `scrollHeight` of `md-list-expand`, and that's why it looks like already expanded on open.

I have a similar issue for the `margin-bottom` of `md-list-expand` may relate to your problem. A PR should come soon.

[2017-07-14 11:41] MysticSheik opened #912 "[mdTheme] Issue with setting background color in default theme"
Hi, I'm trying to set the background to a dark color to create a dark theme but it doesn't seem to work. No matter what I set the background to, it still gives me a Grey A100 background with black text it seems like. So it seems like the theme

Browser is latest version of Chrome using latest version of Vue Material.

[Codepen](https://codepen.io/anon/pen/pwYRPv)

[2017-07-15 18:54] kirbyfan64 commented on #730
On update on this?

[2017-07-16 16:37] Thaina opened #913 "md-layout not bind to event"
### Steps to reproduce
Making `md-layout` with `v-on:click` event or `v-on:drop` event

### Which browser?
Chrome 59

### What is expected?
`md-layout` converted to `div` so it should react to event like div

### What is actually happening?
`md-layout` does not react to those vue event. change that element to normal div make it work

[2017-07-16 19:37] d3radicated commented on #913
Use `@click.native` instead.

[2017-07-17 01:16] Thaina commented on #913
@d3radicated What about `ondrop` `onpaste` and so on? Is it would work too?

[2017-07-17 01:20] d3radicated commented on #913
Just add the `.native` modifier for any event on `md-layout`. I think it should work.

[2017-07-17 01:33] Thaina commented on #913
@d3radicated Thank you very much

[2017-07-17 01:33] #913 closed

[2017-07-17 06:43] tfsimondouglas commented on #698
Try add that in the head so it fires right away. Do not wait for jQuery to be "ready"
[code]

[2017-07-17 06:50] tfsimondouglas commented on #688
For those googling hard-out for a solution see here: https://github.com/vuematerial/vue-material/issues/250

[2017-07-17 06:55] tfsimondouglas commented on #250
I'm having this issue right now. I will report back if there is a work around using https://www.npmjs.com/package/path-override-webpack-plugin

[2017-07-17 11:25] zapping commented on #698
If you use v-cloak to the main vue div then you could avoid the former styles flashing before the class gets removed.

https://medium.com/vuejs-tips/v-cloak-45a05da28dc4

[2017-07-17 11:31] zapping commented on #912
You can track the issue in tickets #355 and #782

[2017-07-17 18:32] dixonwille commented on #841
@bendo01 you were close. But `this.mdTotal` can be string. I just added a line in `$nextTick` that will update `totalItems` appropriately on component load.

[2017-07-18 02:41] tsunamilx commented on #910
Same issue here, my workaround is to use "v-if" to destroy-then-recreate it, something like:
[code]

[2017-07-18 06:01] tangdw commented on #765
Vue.use(VueMaterial.MdCore)
Vue.use(VueMaterial.MdSpinner)

uppercasing the first letter

[2017-07-18 06:06] cars10 commented on #765
Thanks! That works. Maybe consider updating the docs?..

[2017-07-18 08:23] CatsMiaow commented on #720
https://codepen.io/anon/pen/gRJGew

[2017-07-18 19:08] CrustyJew commented on #841
@dixonwille if I'm not mistaken, that still has an issue if you are dynamically loading data. The total size used for the pagination disabling buttons is only calculated once when the component is mounted, but the property can change afterwards.

[2017-07-19 08:50] Okipa commented on #414
How would you manage to currently handle the checked checkbox values ?
I tried to use the @change event but in case of a page by page survey (on page for a question), I have to collect the answers and to reload them if we go back on a question page. I am kind of stuck here ...

[2017-07-19 11:09] giovanniorigins commented on #414
@Okipa so far, I've managed to find a workaround by manually building the checkboxes like this
[code]
[code]

This way it has the functionality of regular vue checkboxes with vuematerial design

[2017-07-19 14:17] c941010623 commented on #912
body{
  background: black;
}

[2017-07-19 15:05] levthedev commented on #841
Just chiming in here to say that I love vue-material but I can't use it until pagination works for me.

Currently, copying and pasting in the pagination example from the docs produces a table that shows all of the items at once and won't let me change the number of rows per page or click to the next or previous page.

[2017-07-19 15:55] Samuell1 commented on #841
@levthedev for me works fine, do you define all options for pagination?

[2017-07-20 08:40] Okipa commented on #414
Nice stuff @giovanniorigins, I will try it soon !

[2017-07-20 11:41] MysticSheik commented on #912
@c941010623 That only changes the background. The text still defaults to black instead of white, and manually overriding every single element to change the text color to white is a huuuuge pain :/

@zapping Thanks c:

[2017-07-21 03:34] dennishu001 opened #916 "[mdAutocomplete] Problem with IME in autocomplete in Chrome"
Open the input component demo page in Chrome. Try to use an IME such as Windows Chinese input editor in autocomplete input, it will just take each character and will not compose.

The IME works fine in normal text input field.  Any suggestion?

[2017-07-21 04:13] Hiroki1116 commented on #299
I have a question about `mix.js( )`.
Is it allow to change the entry point from
`mix.js('resources/assets/js/app.js', 'public/js');`
to something like
`mix.js('resources/assets/js/lib/*.js', 'public/js/lib.js');`
 and
`mix.js('resources/assets/js/others/*.js', 'public/js/others.js');`?

These line lead to an error, which makes me believe `mix.js( )` accepts only one entry point.
With gulp and brow

[2017-07-21 08:07] Okipa commented on #681
+1 for this feature !

[2017-07-21 10:23] vitaly-t commented on #4
4 month later - no update.

[2017-07-21 12:47] oswaldofreitas commented on #4
it shouldn't be difficult, I did it in one week only here https://vulma.org/#/docs/datepicker.
if you guys want, you can copy code from that ok?

[2017-07-22 03:06] mi1971 commented on #4
I've changed to vuetify. It has the pickers, and is really nice to use. Development seems to be very active.

[2017-07-22 05:02] matthew-carroll opened #918 "[mdTheme] Change list item non-title text"
I've altered the default theme to have a dark background and white text.  The first line of my md-list-items is white, however, line 2 and line 3 of my md-list-items remain dark so that they can't be seen on the dark background.

How should one go about making the non-title text of list items light instead of dark?

[2017-07-22 11:43] DavidHavl commented on #4
@mi1971: I am happy for you, but for me that is a no no. I have been working on business critical application and have tried vuetify at first but had to rewrite everything to vue-material as it was not working the way I needed it in many respects. Too much magic that get's in the way.

[2017-07-22 13:36] lucasfernog opened #919 "[mdSelect] with custom mdOption layout - wrong displayed text"
### Steps to reproduce
Create a mdSelect with extra inner text on mdOption.

### Which browser?
Chrome 59.0.3071.115
Vue ^2.3.4
VueMaterial ^0.7.4
Windows 10

### What is expected?
The text displayed on mdSelect input is only my mdOption primary content (e.g. "Option Text" [codepen example])

### What is actually happening?
`this.$refs.item.textContent` at `setParentOption()` from mdOption causes

[2017-07-23 16:57] levthedev commented on #841
@Samuell1  All options are defined, yeah. I've gotten it to mostly work now, with the only remaining issue being that the next page button is disabled except right after a full page refresh. So for example, if I navigate to another router view and then click back to my component with pagination, the next button is disabled until I do a page refresh.

[2017-07-23 22:17] anaraqueltomas commented on #772
@pablohpsilva I also wen't with the documentation and arrived to the conclusion that `md-gutter` by itself wasn't working, then I tried to find the problem. I believe that when there are multiple types per prop, in which simultaneously `Boolean` and `String`, a simple prop name declaration won't work as `true`.

from [vue-material.debug.js](https://github.com/vuematerial/vue-material/blob/master/d

[2017-07-24 02:38] tsunamilx opened #920 "Start to worry about this repo"
From the date of last commit of this repo, it was a month ago, and I hardly see any response from the maintainers among the hundreds of issues in the month.

It doesn't feel right especially when the repo is such popular..

So I wonder what's the status of this repo?

[2017-07-24 02:45] d3radicated commented on #920
@pablohpsilva, the current maintainer of this repo, has been sick recently and can't tend to the issues and PRs at the moment. @marcosmoura, the creator of Vue Material, is rewriting it from scratch. You can see his progress [here](https://github.com/vuematerial/vue-material-experiments).

[2017-07-24 02:56] d3radicated commented on #901
You can't bind `v-model` to `md-button-toggle` nor the `md-button`'s inside it.

[2017-07-24 03:00] marcosmoura commented on #920
I'm going to give the currenty status really soon!

[2017-07-24 03:00] #920 closed

[2017-07-24 03:03] tsunamilx commented on #920
OK thanks for the update.

[2017-07-24 05:59] marcosmoura opened #921 "Vue Material Current Status"
This is not an issue, but the current status of the library.

First of all I want to **THANK YOU** all of you who used Vue Material. It is being a major pleasure to see that this project have more than 3.7k stars here in GitHub. See this project being mentioned by Vue's core members at Vue Conf, being used in Chrome Extensions, company products and websites is more rewarding that any hobby! Equall

[2017-07-24 06:03] marcosmoura commented on #920
#921 See here a HUGE text explaining everything!

[2017-07-24 06:03] marcosmoura commented on #598
#921

[2017-07-24 09:52] #906 closed

[2017-07-24 09:55] pablohpsilva commented on #841
The issue was fixed on #914 according to @dixonwille and @Samuell1 :D
Thank you everyone! :D

[2017-07-24 09:55] #841 closed

[2017-07-24 09:56] Samuell1 commented on #841
@levthedev you need recompile after PR

[2017-07-24 09:58] #849 closed

[2017-07-24 10:23] pablohpsilva commented on #919
Well look into it ASAP. Thank you!! :D

[2017-07-24 10:23] pablohpsilva commented on #918
Well look into it ASAP. Thank you!! :D

[2017-07-24 10:24] pablohpsilva commented on #916
Well look into it ASAP. Thank you!! :D
Could you please provide a codepen or something to express the bug? That would make much easier get help from others developers.

[2017-07-24 10:25] pablohpsilva commented on #912
Theming issues: #912 #782 and #355
We'll look into it ASAP. Thank you!! :D

[2017-07-24 10:27] pablohpsilva commented on #910
This seems a very quick fix. I'll look into it ASAP.
Thank you! :D

[2017-07-24 10:29] pablohpsilva commented on #909
Hello @vietlong90 :D
Dude, I'll check it out ASAP. I'll check the material.io guideline to see if it's OK.

Thank you!

[2017-07-24 10:30] pablohpsilva commented on #908
Hello @mehyaa :D
I think I can. I'll check it out ASAP. Thank you!

[2017-07-24 10:30] pablohpsilva commented on #903
We'll look into it ASAP. Thank you!! :D

[2017-07-24 10:32] pablohpsilva commented on #902
Hello @Mini256 . Wow! Thank you !
Part of the issue I believe it was fixed by @githrdw. I'll double check and fix the `import .css`.
Once again, thank you! :D

[2017-07-24 10:33] pablohpsilva commented on #901
We'll look into it ASAP. Thank you!! :D

[2017-07-24 10:36] pablohpsilva commented on #900
Hello @hypercub3d ! :D
Rest assured we're working hard on vue-material to make it great and optimization is one of the things we're aiming.

For now, I can say I'll take a look and see if I can do something to enhance and fix this issue, but I can't make promises, OK?

Thank you for caring and opening this issue. You rock! :D

[2017-07-24 13:26] dennishu001 commented on #916
Thanks for looking into the issue.  Just let you know, it seems to work fine in Firefox.

To duplicate the issue, you will need to have an IME installed. In  Windows 7, you can download google pinyin from here: http://tools.google.com/pinyin/ It'll probably be in Chinese. Just click the big blue button on the top right it'll start downloading.  After installing, you can activate it by clicking the

[2017-07-25 01:29] c941010623 commented on #916
i also have some problem +1
i use chinese

[2017-07-25 15:39] buccfer opened #922 "MdAutocomplete issues"
1) Input loses focus when the dropdown list appears.
2) Arrow down/up doesn't work to navigate the results.

[2017-07-25 15:43] rapkyt commented on #922
[Duplicated](https://github.com/vuematerial/vue-material/issues/895)

[2017-07-25 17:05] MysticSheik opened #923 "[mdFile] Issue w/ Image Uploading"
### Steps to reproduce
[code]

[code]

### Which browser?
Latest version of Chrome

### What is expected?
When submitting the form, the thumbnail field should containt a file and not be null.

### What is actually happening?
The <input> field rendered by Vue when using MdFile has a type of text instead of file which may have something to do with the problem, but I'm not sure.

[2017-07-26 03:16] shangxinbo opened #924 "@dragstart on md-list-item is not work"
I want to drag the list in md-list,but @dragstart on md-list-item is not work.but @click is work.Why?

[2017-07-26 09:34] pablohpsilva commented on #922
Hello @buccfer :D
Closed this issue because its duplicated.

[2017-07-26 09:34] #922 closed

[2017-07-26 09:35] pablohpsilva commented on #923
Hello @MysticSheik ! Thank you for opening this issue :D
I'll look into it ASAP.

[2017-07-26 09:38] pablohpsilva commented on #924
Hello @shangxinbo :D
Currently there isn't a drag evento on md-file component. That's why its not working.
Read the [docs](http://vuematerial.io/#/components/file) for clarifications.

[2017-07-26 09:38] #924 closed

[2017-07-26 09:41] pablohpsilva commented on #899
:O
Thank you @raahede ! We'll fix it ASAP

[2017-07-26 19:15] Bolandish opened #925 "v-on:click on table-row"
Is it possible to add a click listener for a md-table-row ?
Maybe an alternative way to do it ?

[2017-07-26 20:31] Samuell1 commented on #925
yes, you can use `@click.native="someAction()"`

[2017-07-27 12:00] petarpanicVIU opened #926 "When opening a snackbar while it's already open, the snackbar doesn't close and then open"
### Steps to reproduce
Try to click the open the snackbar button in the docs or just try opening the snackbar multiple times in the code.

### Which browser?

Every browser, every OS, every vue, the latest vue-material which is 0.7.4 at this point.

### What is expected?
Close the old snackbar and show the new one as that is the 'Material' way.

### What is actually happening?

The snackbar either

[2017-07-27 12:58] #925 closed

[2017-07-29 01:11] calebsander opened #930 "Using md-autocomplete logs lots of warnings about "Avoid using non-primitive value as key, use string/number value instead""
### Steps to reproduce
Just use an md-autocomplete element and give it some data to search through. In development mode, at least, Vue will look repeated warnings saying, "Avoid using non-primitive value as key, use string/number value instead".

### Which browser?

Using Chrome 59, Vue 2.4.1, and Vue Material 0.7.4

### What is expected?
No warnings logged

### What is actually happening?
I think

[2017-07-29 06:27] ansonhorse opened #931 "[mdStepper] change md-elevation and the stepper doesn't change"
Could you guys show me the right way to use md-stepper?

### Steps to reproduce
[code]
### Which browser?

Chrome 59.0.3071.115
### What is expected?
the stepper goes to step 2
### What is actually happening?

still on step 1

[2017-07-29 07:20] ety001 opened #932 "How to clear the input when to click the "close" button in a prompt dialog?"
Is there a grace way to clear the input when to click the "close" or "done" button in a prompt dialog?

[2017-07-29 21:40] calebsander commented on #932
If you attach the input to your model by adding `v-model='inputField'` (or any other field name), you can just do `this.inputField = ''` and it will clear the input.

[2017-07-29 22:14] dedayoa commented on #923
Well, I'm currently using md-file to upload images ok. When it comes to file upload, you have to pay attention to the following
1. set your content-type to multipart/form-data
2. Make sure you are posting (or puting) a form, using FormData()
3. On the server side, make sure you can actually handle file uploads.

I use...
[code]

[2017-07-30 03:06] ety001 commented on #932
@calebsander , thank you for your reply, I have tried this way, Buy it seems to no effect.
The code is here. [https://jsfiddle.net/3wf443Lw/](https://jsfiddle.net/3wf443Lw/)

[2017-07-30 03:25] calebsander commented on #932
Hmm, I have never worked with `md-dialog-prompt` before, so I'm not sure why that doesn't work. I got it working by calling `this.prompt.value = ''` before opening the dialog rather than after closing it. See this fiddle: https://jsfiddle.net/wuybmmho/.

[2017-07-30 04:24] ety001 commented on #932
Maybe this is the most grace way to clear input value for now.

[2017-07-30 10:34] pablohpsilva commented on #930
Hello! Thank you for opening this issue.
Since the new Vue version I'll update vue-material vue package and fix small issues like these.

[2017-07-30 10:34] pablohpsilva commented on #926
Thank you for registering this issue and fixing it on PR #928 LOL
You rock dude! :D

[2017-07-30 10:34] #926 closed

[2017-07-30 11:18] pablohpsilva commented on #910
Hello! The `v-model` only gets the selected value from the `md-option` component.
It really doesn't do much. What I can do is clean `md-select` internal state when a `md-option` is destroyed.

[2017-07-30 11:53] #910 closed

[2017-07-30 12:09] #930 closed

[2017-07-30 12:30] #908 closed

[2017-07-30 12:43] #903 closed

[2017-07-30 13:01] #902 closed

[2017-07-30 13:04] #899 closed

[2017-07-30 13:18] pablohpsilva commented on #900
I've updated webpack and its dependencies, set new rules and the .css bundle went from 138kb to 102kb. The javascript bundle went from 222kb to 220kb.

I'm planning on spend more time optimizing vue-material. Rest assured about it.

[2017-07-30 13:18] #900 closed

[2017-07-31 02:52] LeonKendy opened #942 "tabs"
### Steps to reproduce

### Which browser?

### What is expected?

### What is actually happening?

### Reproduction Link

[2017-07-31 02:52] #942 closed

[2017-07-31 04:43] zapping commented on #932
@ety001, Actually the value does get cleared when you give `this.prompt.value=''` in the `onClose()` function. You can test it with the following code
[code]
 The console does show an empty string. If you comment out `this.prompt.value()=''` statement then the console will show the actual value entered. But when the prompt is opened again the input does show the previous value. If you do not want

[2017-07-31 14:15] markus-s24 opened #943 "[mdTable] mdTablePagination.vue: Computed property subTotal is written"
Warning 'Computed property "subTotal" was assigned to but it has no setter.' results from readonly computed property "subTotal" being written in watch method "mdTotal(val)":

this.subTotal = sub > val ? val : sub;

[2017-07-31 15:51] #932 closed

[2017-08-01 12:55] alexMugen opened #944 "[mdTable] md-size doesn't set by default"
### md-size not setting value by default

Hello, first at all , thank you for the md-pagination :+1:  !
Then i think it have a bug with md-pagination

i write this below :
`<md-table-pagination
        md-size="5"
        :md-total="agencies.length"
        md-page="1"
        md-label="Lignes par page"
        md-separator="sur"
        :md-page-options="[5, 10, 25, 50]"
        @pagination="pagi

[2017-08-01 15:26] alexMugen commented on #944
I found something else :
When i set my md-total dynamically  like `:md-total="agencies.length"`, the arrows for changing pages are disabled and when i set in static like `md-total="30"` it's work

[2017-08-01 17:14] rodrigoAbril opened #945 "[mdInput] labels for md-input overflow when the text is too long FIX INCLUDED"
### Steps to reproduce
add lots of text to a label

### Which browser?

all

### What is expected?
for height consistency, it should hide the rest and show the text with ellipsis

### What is actually happening?

just overflows horribly

### Reproduction Link

you can see the [issue and simple fix here](https://codepen.io/anon/pen/MveYNo)

(edit) Would love to do it all with flex-box but it would

[2017-08-01 19:00] vitorcominato commented on #931
The prop "md-elevation" is to set the elevation of the container for each content and the horizontal header.
Is the effect of elevation on the container.

[2017-08-01 19:08] vitorcominato opened #946 "md-stepper: Is there a way to change the steps with JS?"
How can i change a step on my methods?
Is there a way of doing that?

[2017-08-01 21:49] rodrigoAbril commented on #946
Hi @vitorcominato
You can try asking in the slack channel i think it will be faster than the issues section
https://join.slack.com/vuematerial/shared_invite/MTgzMzU2NDQ5ODkwLTE0OTQ4MDI3MDAtNWYyZjhkNzEzMA

[2017-08-02 06:14] zapping commented on #931
@vitorcominato  Have a look at this pen, https://codepen.io/zapping/pen/xLOjBp . This should get you started.

[2017-08-02 06:15] zapping commented on #946
@vitorcominato Please check this issue #931

[2017-08-02 10:59] #946 closed

[2017-08-02 14:26] jdrake3 commented on #288
The point is, I think, that if I have 6 rows in my data, and size is set to 5 I shouldn't see 6 pages of data, I should see 2.  You know the total, and you know the size, so do the division.

[2017-08-02 15:53] Samuell1 commented on #288
@jdrake3 you can change pagination count with simple if

[2017-08-03 07:26] ansonhorse commented on #931
@vitorcominato Thanks!
@zapping Thanks!  And I'm wonder how can I find the methods of this component? It's not listed on the documentation, [http://vuematerial.io/#/components/stepper](url)

[2017-08-03 08:17] jakubbilko opened #947 "[mdTheme] Body has incorrect class when using custom theme"
### Steps to reproduce
Register a new theme and set it as the current one.

[code]

### Which browser?
Tested on Chrome 59.0.3071.115

### What is expected?
`body` should have an `md-theme-myTheme` class.

### What is actually happening?
`body` has the `md-theme-default` class, furthermore there are two theme `style` elements injected into the `head`: `md-theme-myTheme` and `md-theme-default` caus

[2017-08-03 08:38] vannesachan commented on #840
Got similar issue.
When I include the vue component/element. i.e.
`<md-button> button </md-button>`
it couldn't be displayed, nothing change. But when I try to do it as
`<div class="md-button"> button </div> `
it could be display properly.
Yet, not all element can be displayed properly when use it as class, e.g. toolbar.

I suspect that i couldn't load the javascript component.

my main.js is like

[2017-08-03 10:05] hanxue opened #948 "Implement footer in vue-material"
Vue-material does not have any `footer` layout classes. I would like to see footer classes similar to MDL (Material Design Lite) [https://getmdl.io/components/index.html#layout-section/footer](https://getmdl.io/components/index.html#layout-section/footer)

![image](https://user-images.githubusercontent.com/760008/28916909-56b1e06c-7876-11e7-9b14-efdccb7a3160.png)

[2017-08-03 15:55] zapping commented on #931
@ansonhorse  Actually its been resolved in the issue #905. Its reached to the dev branch and its yet to be pulled to the master.

[2017-08-04 04:15] zapping commented on #840
@vannesachan you don't need the Vue.use(VueMaterial.MdButton) statement since the entire VueMaterial plugin in included in the previous statement. If you intend to include individual components then do check these issues which has the details #11 and #899.

You might want to try changing the case in the use() statement. As mentioned in the latest issue #899

[2017-08-04 07:01] vannesachan commented on #840
@zapping  Hi, I also tired using Vue.use(VueMaterial) only. got the same issue

[2017-08-04 14:06] zd1010150 opened #951 "[mdRipple] incorrectly calculating the position of ink ripple in Chrome"
demo: http://jsbin.com/wicupomoma/edit?html,css,js,output
In chrome,scroll the page to the end ,and then click button in the bottom of page , you will find the button doesn't have ink ripple animation.Because the code of ink ripple doesn't get the correct position of ink ripple
[code]

The solution is very easy ,just get the correct the scrollTop and scrollLeft in all browsers,

[code]

[2017-08-05 00:24] zd1010150 commented on #951
This issue just occurs in  some specific versions of Chrome browsers.I will check this version of my chrome browsers at home .

[2017-08-05 11:13] leo108 opened #952 "[mdSelect] `change` event was triggered if md-select's default value is not null"
### Steps to reproduce

Relate a `md-select` component with a data by `v-model`, if the data is not `null`, it will trigger a `change` event after mounted.

But if click a `md-option` with `null` value, it will trigger a warning

### Which browser?
vue 2.3.3, vue-material 0.7.4

### What is expected?

`change` event should not be triggered after mounted.

### What is actually happening?

The `md-s

[2017-08-05 15:55] argarak commented on #896
I took a look at the history of src/components/mdTabs/mdTabs.vue (in the `develop` branch) and it appears that commit https://github.com/vuematerial/vue-material/commit/500e5b5beac99421b2440b976918a30b404b424f has removed the header-item functionality. I'll submit a PR to put it back shortly.

[2017-08-06 00:59] zd1010150 commented on #951
chrome 59.0.3071.115

[2017-08-06 05:13] decksterr opened #953 "`change` event triggers twice when clicking on a md-radio's label"
### Steps to reproduce
Click on a label from the ```md-radio``` component

### Which browser?
Google Chrome 59.0 and Firefox 47.0 with vue 2.3.3, vue-material 0.7.4

### What is expected?
Change event should trigger once

### What is actually happening?
Change event triggers twice when clicking on label (but not when clicking directly on radio container)

### Reproduction Link
https://codepen.io/d

[2017-08-07 04:14] zapping commented on #953
Just noticed something else too. If you use @change.native instead of @change only the change event for the label triggers but not the change event for the radio.

[2017-08-07 21:29] argarak commented on #895
I've recently created a new branch on my fork of vue-material [here](https://github.com/argarak/vue-material/tree/autocomplete-fixes) and I'll see what I can do to fix this. I'm currently working on the menu to appear at the bottom and fill the entire width of the input. Here's how this currently looks:

![screenshot of autocomplete](https://user-images.githubusercontent.com/13645600/29045180-8520

[2017-08-07 23:40] decksterr commented on #953
That seems to be because the native input is disabled intentionally by design and serves only as storage for the selected value. The label being natively tied to the input however isn't disabled and therefore triggers the native @change event when in fact it really shouldn't, cause of the issue actually.

I do believe this will be fixed with #954

[2017-08-07 23:40] #953 closed

[2017-08-08 07:54] argarak commented on #895
So far, I've managed to make the menu responsive while making it fixed to the top. This is because `md-menu` by default moves above the trigger element and this would obscure the input area.

Here's a demonstration:

![autocomplete-auto-resize](https://user-images.githubusercontent.com/13645600/29061669-b7dcc6c4-7c16-11e7-96d1-b93ad3baa68a.gif)

[2017-08-08 11:57] Ashirogi-Muto commented on #943
Did anyone find the solution for this?

[2017-08-08 12:43] superbogy commented on #943
so many bug i want to give up

[2017-08-08 22:21] #896 closed

[2017-08-09 03:38] zapping commented on #944
Is this similar to #482

[2017-08-09 07:46] itswadesh commented on #763
there is no @click method for md-table-head. Can we implement one.

[2017-08-09 09:18] coeneivan commented on #706
Is this fixed? Can't get it to work...

[2017-08-09 11:06] zapping opened #958 "[mdInput] Size of input textarea"
### Steps to reproduce
Is there a way to show the multiline contents of a textarea in full. If the textarea has multiline content then only the first line is displayed initially. When the content in the textarea is edited manually then it shows the contents in full.

### Which browser?
In all browsers, latest version of Vue and Vue-Material

### What is expected?
When the page loads initially the

[2017-08-09 13:32] alexMugen opened #959 "[mdTable] mdTablePagination : Computed property "subTotal" was assigned to but it has no setter."
Hello,

Since i update vue material (^0.7.1 ), i have an error in my console :
[code]

I don't understand because i didn't use subTotal property in my code

Thank you for your help
Alex

[2017-08-09 13:39] alexMugen opened #960 "[core] Can we hide log : [Violation] Added non-passive event listener to a scroll-blocking 'touchstart' event. Consider marking event handler as 'passive' to make the page more responsive."
Hello,

Since i update vue-material i have log violation :

can we hide this log  ? Why do we have this log now  ?

thank you for your help
Alex

[2017-08-09 15:10] wandroll commented on #959
Probably a duplicate of #943 . There is this PR #915  that should resolve your bug.

[2017-08-09 15:26] #959 closed

[2017-08-09 15:28] pablohpsilva commented on #948
I think it's valid.
We'll do it ASAP. Thank you!

[2017-08-09 15:29] #931 closed

[2017-08-09 15:32] pablohpsilva commented on #897
Hello guys! @Bolandish could you please check @zapping codepen?
I'm closing this issue for now. Feel free to reopen it

[2017-08-09 15:32] #897 closed

[2017-08-09 15:34] pablohpsilva commented on #889
Can

[2017-08-09 15:34] #889 closed

[2017-08-09 15:36] pablohpsilva commented on #886
Not yet, my friend... But we're working on it. Thank you!

[2017-08-09 15:37] pablohpsilva commented on #884
The issue here is the menu is not removing the events the right way.
We'll fix it ASAP. Thank you :)

[2017-08-09 15:38] pablohpsilva commented on #880
Very good enhancement. We'll make it happen. Thank you!

[2017-08-09 15:39] #876 closed

[2017-08-09 15:39] pablohpsilva commented on #876
Thank you @martinandersen3d :D

[2017-08-09 15:39] pablohpsilva commented on #960
We'll look into it ASAP. Thank you @alexMugen

[2017-08-09 15:41] pablohpsilva commented on #874
Yeap! That's awesome.

[2017-08-09 15:42] pablohpsilva commented on #873
Hello @Hidejec
vue-material follows the strict material design rules. Can you provide something to support this enhancement from [material design](https://material.io)?

[2017-08-09 15:43] #868 closed

[2017-08-09 15:45] pablohpsilva commented on #834
Thank you! Will fix it ASAP

[2017-08-09 15:46] #823 closed

[2017-08-09 15:47] #820 closed

[2017-08-09 15:48] #819 closed

[2017-08-09 15:52] #799 closed

[2017-08-09 15:53] #824 closed

[2017-08-09 15:54] pablohpsilva commented on #793
Hello @Hidejec
vue-material follows the strict rules from material design. If you can find any component on [material design](https://material.io) that supports your request, we'll implement it.

---
Couldn't you use an mcAutocomplete for it?

[2017-08-09 15:56] #777 closed

[2017-08-09 15:58] #765 closed

[2017-08-09 16:05] #658 closed

[2017-08-09 16:10] #552 closed

[2017-08-10 08:16] alexMugen commented on #959
ok thank you @wandroll

[2017-08-10 11:26] pablohpsilva commented on #943
Hello everyone! I think it was fixed on @d3radicated PR #961

[2017-08-10 11:26] #943 closed

[2017-08-10 11:48] AndersBrohus commented on #31
Do you have anything news on this one? @marcosmoura :)

[2017-08-10 16:40] argarak commented on #895
Currently, keyboard navigation is about 90% complete, with one minor issue still left to fix where `md-menu` has not updated the length of the list.

![autocomplete-key-input](https://user-images.githubusercontent.com/13645600/29181267-6ff165f8-7df2-11e7-8626-f870ba0dca41.gif)

@pablohpsilva I think I will have this completed sometime this week. You can have a look at the commits in my [`autocompl

[2017-08-10 17:03] pablohpsilva commented on #31
Hello @AndersBrohus
We're working on a new vue-material version as we speak. So... Yes. We're on it.

[2017-08-10 17:04] pablohpsilva commented on #895
YOU SIR! YOU!!!!
You rooock!

[2017-08-10 20:31] marcosmoura commented on #948
I was thinking that maybe this will be very good along with a website template. I will think about that.

[2017-08-10 20:32] marcosmoura commented on #960
This is due to a event on mdInkRipple component. This will be fixed soon.

[2017-08-11 03:29] zapping commented on #895
That's just awesome!!!

I would like to add one more please. Can a feature be added so that the list pops out when focus is received? Like in the case where the list might not be painstakingly big or the list can be loaded pretty fast. In such cases it will be helpful to the users to just pickout the option rather than thinking about what to type to get the result. Also performance way it can save

[2017-08-11 07:14] argarak commented on #895
Yeah, that's not a problem, I'll create a new attribute for that. I had to add a new attribute to the `md-menu` element called `md-manual-toggle`, where the element would not automatically open when the trigger element was clicked. What I'll do is keep this attribute on the autocomplete `md-menu` and add a menu open method to `onFocus()`.

![auto-open](https://user-images.githubusercontent.com/136

[2017-08-11 08:06] AndersBrohus commented on #31
Hi @pablohpsilva

Thanks you for the info :-)

[2017-08-11 12:20] GergelyLakatos opened #963 "obligation of md-input hidden type wrapping"
### Steps to reproduce
Just check the console.

### Which browser?
All browsers.

### What is expected?
There should not be Vue warn if I do not wrap the hidden `md-input` element.

### What is actually happening?
In the console there is a vue warn that every `md-input` should be in `md-input-container`, but if I take it in a input container the output will be ugly (the vue generate an empty line

[2017-08-11 12:36] marcosmoura commented on #963
This is not a bug. You should always wrap the md-input in a container. This is because all styles are controlled by the parent itself.
In the case of a input hidden, just use the regular <input> tag.

[2017-08-11 12:38] #963 closed

[2017-08-11 12:39] GergelyLakatos commented on #963
All right. Thanks for the answer!

[2017-08-11 18:56] PreownedFIN commented on #895
Awesome!

I've struggled with #2 myself.

Also it would be convenient to not have to create multiple functions just for the :filter-list prop.

I hope there will be a merge sometime soon. ;)

[2017-08-11 19:24] HerrLoesch opened #965 "[mdTable] Single selection without checkboxes"
I guess the current solution for selection in mdTable is quite handy if you must select multiple elements. But if you just want the user to select only single elements, it seems a bit weird to have a check box at the beginning of each row.

In my case I want to show additional information for each selected row. Thus, the user selects a row and the details are updated based on this selection. It lo

[2017-08-11 21:01] argarak commented on #895
I'm sorry that this is taking a while, however there are still issues to fix and testing to be done. I also have not started writing the documentation yet. As I mentioned in a previous comment, I should have this completed sometime this week.

@pablohpsilva I'm also worried that PR #962 might cause conflicts when I make my pull request, could you look into that please?

[2017-08-12 12:38] pablohpsilva commented on #895
Hello @argarak
I've merged the #962 . Could you please sync your branch with the vue-material's develop branch? Just to make sure its all OK or fix possibles merge conflicts.

[2017-08-12 12:40] pablohpsilva commented on #669
I'm onto it my friends.

[2017-08-12 12:59] pablohpsilva commented on #669
Hello everyone.
I'll keep the input event as it is and create a change event, following the [MDN \<input type="file"\>](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file):

[2017-08-12 13:09] pablohpsilva commented on #923
Hello everyone.
I pretty much did what @dedayoa said and it worked for me just fine. Could you please double check it @MysticSheik ?
I'm closing this issue for now, but fell free to reopen it.

[2017-08-12 13:09] #923 closed

[2017-08-12 13:12] #669 closed

[2017-08-12 13:15] argarak commented on #895
The main issue is not particularly with getting the merge sorted but that I think that some functions @petarpanicVIU implemented might conflict with mine. I'm not saying that his contribution was bad in any way, it's just that I think it would have been more sensible to wait until I had mine sorted.

Here's my comment on the PR:

- Fixed lost focus on input when the menu appeared with the results

[2017-08-12 14:42] argarak commented on #895
That should be the `md-autocomplete` element ready to go, the only thing I need to do now is to write the documentation.

Here's a final example with `callback` and `max-height`:

![autocomplete final example](https://thumbs.gfycat.com/BountifulShoddyLeopardseal-size_restricted.gif)

(The gif is sped up because I could not record the dialog with my normal method because it crashed my computer as I

[2017-08-12 15:46] githrdw commented on #931
@ansonhorse I think your question has not been answered yet?
If I understand your question correctly, you want to change the step number with a function.
I was also looking for it and found a workaround:

1. Give your stepper a reference by giving the `ref`-tag
2. Add the following code to the `mounted()` function:
[code]
Or use the minified way:

[code]

@pablohpsilva Maybe it's possible to add a

[2017-08-13 00:38] reo4 opened #966 "[mdRatio] doesn't work on md-card-media"
Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The source width is 0.

[2017-08-13 00:47] reo4 opened #967 "How to handle click event on a card's cover image ?"

[2017-08-13 03:09] pablohpsilva commented on #967
Hello @reo4
Do you want to handle a click event on a card's cover image? You really meant clicking on the image and getting an click event back or you're talking about the component below?

![screen shot 2017-08-13 at 12 08 58 am](https://user-images.githubusercontent.com/2090635/29245798-a2934d62-7fbb-11e7-9db8-21242b521218.png)

Clicking on the image: no go. It has no click event to catch;
Click

[2017-08-13 03:09] #967 closed

[2017-08-13 03:11] pablohpsilva commented on #966
Hello @reo4
Could you provide a codepen with it? What did you do to get that error?

[2017-08-13 11:06] petarpanicVIU commented on #895
Hey @argarak , here is my response to your response on my PR :)

- Fixed lost focus on input when the menu appeared with the results
  - [has been fixed]
    - I cannot find the commit for fixing this lost focus in the link you provided, so I cannot comment on the method you used vs mine.
- Added max-res prop which can be added to limit the number of results shown in the list
  - [in my opinion th

[2017-08-13 14:20] reo4 commented on #966
<md-card md-with-hover v-for="team in teams">
				<md-card-media-cover  md-text-scrim>
					<md-card-media md-ratio="4:3">
						<img src="images/card-sky.jpg" alt="Skyscraper">
					</md-card-media>
					<md-card-area>
						<md-card-header>
							<span class="md-title" v-if="teams.length">{{team.title}}</span>
						</md-card-header>
						<md-card-content>
							<md-speed-dial md-open="hover"

[2017-08-13 14:27] reo4 commented on #966
![image](https://user-images.githubusercontent.com/20121364/29250535-363d6c4a-8044-11e7-83da-8eb769d3e00c.png)

[2017-08-13 14:29] reo4 commented on #966
![image](https://user-images.githubusercontent.com/20121364/29250552-7531efa2-8044-11e7-8a86-e820633cfcbb.png)

[2017-08-13 16:53] argarak commented on #895
@petarpanicVIU, I fixed the lost focus by adding a prop to `md-menu`, while not being the most elegant solution, `md-autocomplete` does obviously use the same `md-menu` as you would use, say on a button so the requirements do differ slightly. And so you have to tell the `md-menu`
element to not focus somehow and the only way I could do it is with props, unless you can propose a better solution. He

[2017-08-14 07:50] petarpanicVIU commented on #895
Hey @argarak I just refocused the input after the menu gets shown. I think that's simpler as to not dirty the md-menu if it doesn't have any additional use out of that prop and if it adds more complexity to 2 components, instead of just one.

I do understand though, why you had to modify the md-menu for the rest, so that's all ok. I just think there is a an easier, simpler way to do it.

As for th

[2017-08-14 09:28] githrdw opened #968 "[mdStepper] stepHeader not clickable"
### Steps to reproduce
1. Go to the stepper docs
2. The steps are not clickable (I think they are meant to be)

### Which browser?
Windows 10
Chrome, IE11, Edge, Firefox
Last Vue version 0.7.4

### What is expected?
When clicking on a step in the stepHeader the stepper have to jump to that step

### What is actually happening?
Nothing, not even an error

### Reproduction Link
[Stepper docs](http:/

[2017-08-14 15:29] iamdubx commented on #820
So it doesn't work with Nuxt?

[2017-08-14 15:44] argarak commented on #895
@petarpanicVIU, scrap that, what I'll do instead is I'll try to fix conflicts in my pull request (#969) while keeping your changes in `develop`. I'll make sure to test it and you can also review the changes to see if the functionality you added remains.

And regarding the statement about sorting in my previous comment, that's my bad. I should have tested it beforehand.

[2017-08-14 20:44] reo4 opened #970 "menu is closed when i press tab"
in condition that menu have form it should go to next input when i prss tab not to close the menu
https://github.com/vuematerial/vue-material/blob/b802afd4346feb0093fc0a09513e9df9b233b29c/src/components/mdMenu/mdMenuContent.vue#L5

[2017-08-14 20:56] felippeduarte commented on #299
@Hiroki1116 not sure if this is the best approach, but you can add a new line for your second compilation

`
mix.js('resources/assets/js/lib/first.js', 'public/js').sass(...).something(...); //first js
mix.js('resources/assets/js/others/second.js', 'public/js').sass(...).something(...); //second js
`

[2017-08-15 08:53] bisht-richa commented on #481
I dont want to include <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"> in index.html manually. How to solve this issue ?

[2017-08-15 09:19] bisht-richa opened #973 "I do not want to include Material Icons from Google CDN.How can I solve this issue"
### Steps to reproduce

### Which browser?

### What is expected?

### What is actually happening?

### Reproduction Link

[2017-08-15 09:21] HerrLoesch commented on #965
"you could introduce" does not mean, that you have to do it. I would take a try to do it if I would know if this change is appreciated.

[2017-08-15 13:34] pablohpsilva commented on #970
I think that was made so you can close the menu and tab to the next element in a form, for example.

[2017-08-15 13:35] #970 closed

[2017-08-15 13:40] pablohpsilva commented on #973
Hello @bisht-richa :D
Easy, you could use [SVG's](http://vuematerial.io/#/components/icon) or you can download the material icons font and use it on your project. Download [this CSS file](https://fonts.googleapis.com/icon?family=Material+Icons) and then download [this font](https://fonts.gstatic.com/s/materialicons/v28/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2). Put those two in the same f

[2017-08-15 13:40] #973 closed

[2017-08-15 13:48] pablohpsilva commented on #968
Hello @githrdw. How are you? :D
I couldn't find any trace of the information that the steps are clickable on the [Material.io Documentation](https://material.io/guidelines/components/steppers.html#)

The steps are used to show a hint of what you're doing, but the flow is controlled by buttons.

I'm closing this issue for now, OK? If you find that it can be clickable, reopen this issue and let me k

[2017-08-15 13:50] pablohpsilva commented on #820
@iamdubx The error doesn't seems to be related with SSR, like @jerakode said.
We are working on vue-material 1.0 and we have a whole sprint just to make sure it works with SSR though.

[2017-08-15 13:51] pablohpsilva commented on #895
You both are awesome!
I hope @marcosmoura could add you guys on the vue-material team LOL.
Thank you!!!! :D

[2017-08-15 13:51] #895 closed

[2017-08-15 13:52] pablohpsilva commented on #481
I replied to you @bisht-richa on issue #973
:D

[2017-08-15 14:01] githrdw commented on #968
@pablohpsilva Hi I'm fine, how about you?

You're right that the information is not in the documentation (yet?), but I'd rather look at the source.
In [mdStepper.vue](https://github.com/vuematerial/vue-material/blob/master/src/components/mdStepper/mdStep.vue) there is set an `@click` listener with the `setActiveStep`-function.
When I change `@click="setActiveStep()"` to `@click.native="setActiveSt

[2017-08-15 14:07] githrdw commented on #968
And besides, it is described in the Material.io Documentation as ['Editable step'](https://material.io/guidelines/components/steppers.html#steppers-types-of-steps)

[2017-08-15 14:17] pablohpsilva commented on #968
I am great, thank you @githrdw :DD

You're right. I totally missed it. We'll fix it ASAP

[2017-08-16 02:12] iamdubx commented on #820
@pablohpsilva this is great news. 1.0 sounds very exciting!

[2017-08-16 08:02] titouancreach opened #976 "Build the library when installing this package from git."
Feature requested:

Build the library when installing this package from git.
Bugs are often solved on the branch `develop`. This is why I often use the git repo instead of the release in my `package.json`.
[code]
The problem is that the `dist` folder is outdated on the develop branch.
It would be useful to run the `build` script when installing. For now, I have to do `cd node_modules/vue-material

[2017-08-16 09:13] alexMugen opened #978 "Master merge ?"
Hello,

Just quick question , when  _**master**_ will be merged with _**develop**_ ?
I ask this because some bugs are fixed now on develop branch , i use :

I know i can specify develop version but i just want to know  if the merge will comes soon :)

[2017-08-16 12:20] pablohpsilva commented on #978
Don't worry my friend, we're preparing to release it soon. :D

[2017-08-16 12:37] alexMugen commented on #978
@pablohpsilva  thank you a lot and great Job all :1st_place_medal:

[2017-08-16 17:24] cesarzagonel opened #979 "[mdButton] <router-link> raises error when used with tag="md-button" inside <md-tabs>"
### Steps to reproduce
Pen: click on "go to bar"

### Which browser?

vue: 2.1.6
vue-material: 0.7.4
vue-router: 2.7.0
os: macOS
browser: chrome 60.0.3112.90 (Official Build) (64-bit)

### What is expected?
Any error raised.

### What is actually happening?
error raised: Uncaught TypeError: Cannot read property 'scrollWidth' of undefined

### Reproduction Link

https://codepen.io/cesarzagonel/pen/

[2017-08-16 18:11] matheusd opened #980 "Tab key and stepper with form split among various steps"
### Steps to reproduce

https://codepen.io/anon/pen/QMawOe

Click on the first field. Notice the "continue" button is disabled.

Press <tab> twice. The first field on the second step (field named "third field") will be selected. Notice how the step indicator on the top of the stepper is on the wrong step number.

### Which browser?
Latest on any browser

### What is expected?
Shouldn't be able to

[2017-08-16 18:54] matheusd commented on #980
Here is a first fix I was able to write. It's not great because I'm breaking component encapsulation (hence something like this should be done inside md-stepper) but works.

Possible improvement: detect a tab and actually change the step when a tab is pressed and the current step can continue.

The relevant method is shown below (add to the stepper's `@change` event):

[code]

https://codepen.io/a

[2017-08-16 20:59] djayd commented on #414
Just wondering if there has been any updates to this issue?

I'm thinking about building the checkboxes myself in the DOM, but didn't want to do all that if it might be fixed soon.

[2017-08-17 14:08] vrnehot opened #982 "[mdAutocomplete] In mobile browsers, when typing, the keyboard disappears"
### Steps to reproduce
Start typing in the mobile browser, when the selection opens, the keyboard closes

### Which browser?
Android
Moblie browsers
Vue 2.4.2
vue-material 0.7.4

[2017-08-17 15:01] CrixuAMG commented on #836
Possible related issue, I'm getting the same error with `<md-toolbar>`

[2017-08-17 15:42] mrksoftware opened #983 "How to place the scrollbar always below the toolbar"
Hi,
I have a question for you (hope this is the right place):

How can I achieve a page layout like the one I see in all the [vuematerial.io](http://vuematerial.io/#/components/toolbar) website pages (in which the scrollbar is always below the fixed toolbar)?

![image](https://user-images.githubusercontent.com/7292153/29419205-c6a509dc-836e-11e7-9cce-85db0f7b5e80.png)

I've tried to download the s

[2017-08-17 17:35] Samuell1 commented on #983
I think best how to push scrollbar from top is adding padding to body

[2017-08-17 19:34] phil1996s commented on #606
@fergardi How is the status of implementation the swipe-functionality to md-tabs?

[2017-08-17 20:33] argarak commented on #982
This is because there was a bug with `md-autocomplete` losing focus when the menu appeared, we are aware of this and it should be fixed in the next release (you can also build the source from the `develop` branch). [Here](https://github.com/vuematerial/vue-material/pull/969) is the PR.

[2017-08-17 22:39] bluekeys commented on #4
@marcosmoura Is this still in the works? Is there a branch we can check out, maybe help a little with? Or do you have a planned release date?

[2017-08-18 07:09] Samuell1 commented on #4
@bluekeys https://github.com/vuematerial/vue-material/issues/921

[2017-08-18 08:31] bisht-richa commented on #973
Thank you :) Is there any better way to handle this ?

[2017-08-18 09:01] Samuell1 commented on #973
https://github.com/vuematerial/vue-material/issues/701#issuecomment-296571870

[2017-08-18 10:03] CrixuAMG opened #985 "Console errors"
[screenshot](http://imgur.com/AgH777i)

Template:
[code]

[2017-08-18 10:04] VdustR opened #986 "[mdTabs] Feature: `active` event from tab components?"
Please check [this CodePen reproduction](https://codepen.io/VdustR/pen/LjQbYe) first.

1. click E via the tab
2. click A via the button

![peek 2017-08-18 17-49](https://user-images.githubusercontent.com/29639463/29453875-c6286d58-843d-11e7-845d-54dd07381218.gif)

If the tabs what to be changed via another component events, it needed to handle the `tabs change` event to change the `mdActive` value

[2017-08-18 10:15] mrksoftware commented on #983
Your trick works on the [vuematerial.io](http://vuematerial.io/#/components/toolbar) website, but not in the electron app I'm developing.
The scrollbar is not affected by the padding. (I've tried both `body` and `html` selector with no success).

I've managed to find a solution, though:

Simply include this CSS rule under the div selector (I'm talking about the div below the toolbar, of course):

[2017-08-18 10:27] mrksoftware commented on #380
Take a look also at #983
It's a little bit different, but the final result is the same.

[2017-08-18 10:28] mrksoftware commented on #350
Take a look at issue #983

[2017-08-18 10:39] #982 closed

[2017-08-18 13:21] titouancreach opened #988 "Include vue-material.css in the scoped-css"
In single file component (SFC) this is possible to have scoped css, css that work only for the component and it's child. In my case, I want to do a component that use vue-material but I don't want the rest of my website to be affected. I tried something like:

[code]

Unfortunatelly, the css is not applied on the root component.
Note I use WebpackExtractText to put the css in its own file. (Otherw

[2017-08-19 11:54] sijakret commented on #706
not working in 0.7.4..

[2017-08-19 16:00] wbbenatti opened #989 "Backcolor doesn't change"
I'm trying to use Vue-Material for the first time and when I tried to change the background color on the default theme, it simply does not change the color and the background color always turns white. I'm doing the following:

[code]

What is wrong?

[2017-08-21 06:13] aplandev commented on #965
here is my workaround:
button at the last cell.

<md-table v-once>
.......
<md-table-cell>
  <md-button @click="openDialog(item, 'dialog')" class="md-icon-button">
    <md-icon>edit</md-icon>
  </md-button>
</md-table-cell>
....
<md-table>

[2017-08-21 08:30] raahede opened #991 "Page jumps when opening Sidenav component in Chrome"
### Steps to reproduce
Add Sidenav component to a page that's longer than the viewport. Open sidenav component.

### Which browser?
Chrome Version 60.0.3112.90

Probably relates to
https://bugs.chromium.org/p/chromium/issues/detail?id=423155

---

I'm using the sidenav in context of a regular website, and appending it to the DOM dynamically (i.e. the bottom of the DOM). When the code focuses on th

[2017-08-21 08:58] TisteDup opened #993 "Dialog in a component and button to open dialog in an other component?"
Hi,

I'm trying to create a component that contains a dialog, and another component that contains a button to call that dialog. But I don't know how to make it work.

Here's a demo of what I'm trying to do:

"MyDialog" component:
[code]
"CallerButton" component:

[code]

But I don't know how to make the two components communicate.

Can you help me with this please?
Thank you in advance!

[2017-08-21 12:44] iamdubx opened #995 "Property or method "checkbox" is not defined on the instance but referenced during render."
When using with Nuxt I got this error, even if I use SSR false and mounted hook:

[code]

[2017-08-21 15:02] wbbenatti commented on #989
I've seen these issues before, but I still have not been able to solve the problem.
I'm just creating a new Vue-Material project without changing anything except the Theme as it's in the Vue-material documentation.  I did what is shown in the documentation and also what follows below but It doesn't work:

[code]

[2017-08-22 02:42] mak-pun commented on #988
Yes . I would like to know too. Sadly vue-material doesn't have a vue-material.scss file other wise in a scss file you can do:
[code]

[2017-08-22 04:07] zapping commented on #989
As per this #912 its a known issue and its being looked into.

[2017-08-22 04:13] zapping commented on #988
@titouancreach can you check these issues if they work as you require #11 and #899

[2017-08-22 04:56] badbrainz commented on #993
Try giving the dialog element a "ref" attribute and use that to call the "open" method.
[code]

When you want to receive a message, just listen for a custom event from the dialog.
`<app-my-dialog ref="mydialog" @myeventname="onUserAccepted">`

[code]

[2017-08-22 07:53] titouancreach commented on #988
@mak-pun Wow, didn't think of that. It works perfectly. Thanks. I post here my wrapper for future Googler.

[code]

Just wrap your root component:

[code]

Just be sure your webpack loader (or other) are set up to load scss (or other css that support nested) and be sure your bundler is smart enought to not include the same css multiple time if you use the wrapper in multiple place.

Thanks again

[2017-08-22 08:34] TisteDup commented on #993
Thank you @badbrainz :+1:
I did it like this:

"MyDialog" component:
[code]

"CallerButton" component:
[code]

[2017-08-22 08:34] #993 closed

[2017-08-22 09:23] titouancreach commented on #988
I reopened because I've seen a strange thing. My body class is tagged with `md-theme-default` that mean my css cannot be loaded locally. It comes from here: https://github.com/vuematerial/vue-material/blob/develop/src/core/components/mdTheme/dom.js

I just don't understand why `vue-material` force the class in the body. I think is would be a better idea to not tag the body and let the user put the

[2017-08-22 09:36] titouancreach opened #996 "[core] body class has md-theme-xxxx"
In the file: https://github.com/vuematerial/vue-material/blob/develop/src/core/components/mdTheme/dom.js

Vue material add the class md-theme-xxx to the body class. In some case, we want to use vue-material in a section of the page. I think we should let the user put this class where he wants to. This issue only appears in the develop branch.

[2017-08-23 04:51] zapping commented on #996
You can use this and remove it from the body tag.
[code]

[2017-08-23 04:55] marcosmoura commented on #996
Vue Material need that class to theme the body tag, following the guidelines. Maybe a option to disable the body theming will be better for this use case. We will think about a way to change that.

[2017-08-23 07:25] zapping commented on #985
The error log shows vuejs cannot find the `useTheme` function in `beforeMount` hook. It's a function used in vue-material to load/set the theme as in `this.$material.useTheme()`. You need to make sure that:

- all the necessary imports are given
- the vue-material.css is imported
- vue-material plugin in initialized with Vue.use()

 in your script also and not just the template as per http://vuema

[2017-08-23 19:16] gabemule opened #997 "Change v-model on multiselect won`t deselect selected options"
### Steps to reproduce
When you clear the multiselect v-model, the selected options won`t deselect as expected.
The placeholder will change it`s value, but opening the menu will show the previous selected items.

### Which browser?
Chrome

### What is expected?
When clearing the v-model is expected that both placeholders and previously selected options are cleared.

### What is actually happening?

[2017-08-23 21:24] nikkwong commented on #351
Was this added to 0.7.0?

[2017-08-24 03:33] zapping commented on #798
#895

[2017-08-24 07:39] titouancreach commented on #996
@zapping I know this is possible to remove this class. But the issue was more: Does vue-material should theme the body?

[2017-08-24 10:34] VdustR commented on #884
Same issue: #632

[2017-08-24 10:44] VdustR commented on #884
I think they are fixed in develop branch [here](https://github.com/vuematerial/vue-material/commit/ccbd39ac83f892d7f48e122e47cbc505b3b2d9d6#diff-fb3038b03b917990bd88faca7cbed997R210).

[2017-08-24 10:44] VdustR commented on #632
I think they are fixed in develop branch [here](https://github.com/vuematerial/vue-material/commit/ccbd39ac83f892d7f48e122e47cbc505b3b2d9d6#diff-fb3038b03b917990bd88faca7cbed997R210).

[2017-08-24 18:43] SyedAman commented on #546
I have a similar issue where in:

[code]

the `md-flex-offset-large` gets applied to all smaller sizes as well. It doesn't assume 0 for other sizes. There's no way to "disable" the offset for medium sized screen for example.

I tried `md-flex-offset-medium=` `false` and `0` to no avail

[2017-08-24 18:48] SyedAman commented on #808
+1

[2017-08-25 13:19] alexMugen commented on #978
Hello,
any idea for the date of the new Master branch  ?

[2017-08-25 13:22] alexMugen commented on #978
i don't know if its ok if i use  develop branch of vue material in my package.json ?
if it's ok , can you tell me the syntax of it please ?

i have this code
`"dependencies": {
    "axios": "^0.16.2",
    "vue": "^2.3.3",
    "vue-material": "^0.7.1",
    "vue-router": "^2.3.1"
  },`

Thanks a lot

[2017-08-25 13:52] alexMugen opened #1002 "[mdAutocomplete] Error in nextTick: "Error: You should use a `fetch` function prop""
Hello,

i want to use md autocomplete, with list prop and filteredList but i have an error

my code below :
 `<md-autocomplete :min-chars="3" v-model="searchAgenciesQuery" :list="agencies" :filter-list="filteredAgencies" ">`

agencies is the result of my promise
[code]

filteredAgencies is my filter method :
[code]

I don't understand the difference between list prop and fetch prop. I don't use fe

[2017-08-25 14:36] alexMugen commented on #1002
i tried with fetch prop and i have the same problem.

my code :

``
<md-autocomplete :min-chars="3" v-model="searchAgenciesQuery" :fetch="filteredAgencies"></md-autocomplete>
``

[code]
Moreover i have this errors when i click on the field

[2017-08-25 18:34] VdustR commented on #1002
I wrote an [example](https://codepen.io/VdustR/pen/prOJzL) for you.

`filter-list`: Yous should pass a function.
[code]

`fetch`: You should return a promise in your fetch method or declare it as an async function.
[code]

Use `list` and `filter` props if you don't need to do an async method (like ajax) to get the result,
or use `fetch` props if you have to.

It's more likely better to use `list`

[2017-08-25 20:23] cdc1671 commented on #587
Tried Samuell1's idea but I get a "Failed to execute appendChild" error...

[2017-08-26 22:34] evilru opened #1003 "md-autocomplete: focus() and submit form with enter key does not work"
you do awesome work here!
it is a pleasure to work with vue-material - also the documentation feels complete and is easy to understand!

i just found the following minor issues regarding md-autocomplete:

---

i am on 9182c2f5ec04b1b981ec041961fe93d7b35b4b3d (HEAD of develop branch)

while it is possible to set focus() on md-input elements and submit a form by hitting enter, this does not work for

[2017-08-27 19:34] Hjort-e commented on #947
Having the same issue on Vue 2.4.2 with vue-material 0.7.4.
Funnily it applies the theme class to the dialog element but nothing else

[2017-08-28 05:14] gserrg commented on #734
Docs have recursion copy /dist/docs/releases/v0.7.2/docs/releases/v0.7.1/docs/releases/v0.7.1/docs/releases/v0.7.0
/dist/docs/releases/v0.7.1/docs/releases/v0.7.1/docs/releases/v0.7.1

[2017-08-28 06:54] Flugund commented on #482
Hey, this seems to still be a bug. Not working in v0.7.0. Is someone looking in to it?

[2017-08-28 08:10] Bolandish opened #1004 "Components not working with lodash"
Components not working when using [lodash](https://lodash.com/). Its not possible to focus input's or open select-boxes.

No errors in the console.

[2017-08-28 09:15] #1004 closed

[2017-08-28 10:16] alexMugen commented on #1002
Hello,

Thank you for your helping !
I understand now difference between differents props list and fetch but i cannot use it  but I'm sorry i can't make it works, i have this error

[code]

I pass anonymous method to filteredAgencies and my html is the same as before:
`                <md-autocomplete :min-chars="3" v-model="searchAgenciesQuery" :list="agencies" :filter-list="filteredAgencies"></m

[2017-08-28 11:32] VdustR commented on #1002
What error did you got?

Could you please reproduce it in codepen?

[2017-08-28 12:17] alexMugen commented on #1002
here my copend => https://codepen.io/Alex_Mugen/pen/wqYJew?editors=1011

thank you !

[2017-08-28 12:17] alexMugen commented on #1002
my error :

[2017-08-28 12:40] alexMugen commented on #1002
oups , i changed version of dependencies now it'swork on codepend , maybe i will try the same on my project

[2017-08-28 13:10] alexMugen commented on #1002
i think i have an idea , in my console i have first the error concerning filter list props, then , i have my response (200 status) of my promise getAgencies setted in my computed of my vue

[2017-08-28 13:19] alexMugen commented on #1002
i put my filteredAgencies  called by filter-list prop in my computed instead of my methods beause computed is execute before the mounted , i have another error

[2017-08-28 13:26] alexMugen commented on #1002
i really don't understand , i refresh page now i have :

[2017-08-28 13:43] VdustR commented on #1002
[code]

Because the list should be a list of distinct strings.

e.g.
[code]

You put objects in list array.

Thus, the key of the menu is the agency objects. That cause this warning.

It's better to computed a distinct string array list from the original list to pass as `:list`

[2017-08-28 13:47] alexMugen commented on #1002
thank you for your explanation for

I tried differents solutions but i cannot find the right , i have again

while on the copen it works

[2017-08-28 14:04] VdustR commented on #1002
I cannot help you if you don't reproduce it.

[2017-08-28 14:59] VdustR commented on #1002
I misunderstood about the warning:

I check the [code b802afd mdAutocomplete line 26](https://github.com/vuematerial/vue-material/blob/b802afd4346feb0093fc0a09513e9df9b233b29c/src/components/mdInputContainer/mdAutocomplete.vue#L26)

That list should be an object list so it's seem like the warning always happen.

You could decide what property key to show or select by the `:print-attribute`, which

[2017-08-28 15:09] alexMugen commented on #1002
ok thank you for the precision :1st_place_medal:

[2017-08-28 15:39] alexMugen commented on #1002
I cannot understand the mistake..
https://codepen.io/Alex_Mugen/pen/wqYJew?editors=1011 i copy paste the same from my webpack project ( expect method get that calling service but even if i mockup agencies with array static it doesn't work )

i have a template :
`<md-autocomplete :min-chars="3" v-model="searchAgenciesQuery" :list="agencies" :filter-list="filteredAgencies"></md-autocomplete>`

i hav

[2017-08-28 16:18] VdustR commented on #1002
Did you upgrade the modules to latest version?

[2017-08-29 07:55] alexMugen commented on #1002
i think is already the latest version because in my package json i have
`"vue": "^2.3.3",
    "vue-material": "^0.7.1"`

It means that it take the latest right  ?

[2017-08-29 08:06] VdustR commented on #1002
Execute this command in your project directory to check modules installed
[code]

[2017-08-29 08:12] alexMugen commented on #1002
Thank you !
It looks like is ok
[code]

[2017-08-29 08:27] alexMugen commented on #1002
i compare two code again and it's exaclty the same, i set my agencies to a local array as code pen because it s the only difference but it doesn't work :imp:

[2017-08-29 08:39] alexMugen commented on #1002
Sorry i missed something ,

i tested to set a local array like this :
[code]
instead  of set agencies without promise
[code]

now i have the error we talked before

[2017-08-29 08:46] VdustR commented on #1002
It's not a fatal error. I think you could ignore it temporarily.

I have no idea whether this change with the key of the menu item is a good idea or not:
[code]

[2017-08-29 09:09] alexMugen commented on #1002
ok ,  i will use  md-autocomplete if it'ss not a fatal error !

i want to say you thank you a lot :1st_place_medal:

[2017-08-29 09:57] alexMugen opened #1005 "[md-autocomplete] Avoid using non-primitive value as key, use string/number value instead."
Hello,

i have an error when i use md-autocomplete and passing an array of object to the filter-list property of md-autocomplete

`<md-autocomplete :min-chars="3" v-model="searchAgenciesQuery" :list="agencies" :filter-list="filteredAgencies"></md-autocomplete>`

It will be fixed to be less restrictive ? Or we have to be pass string key of our object we use ?

Thank you

[2017-08-29 12:41] fergardi commented on #875
Fixed using the @open event on the mdDialog calling this function:

`fix () {
      setTimeout(() => {
        document.querySelector('#slide1').style.width = '1px' // anything above 0px
      }, 0)
    }`

[2017-08-29 12:49] alexMugen commented on #1005
oups , similar to #930

[2017-08-29 12:54] alexMugen opened #1006 "[RELEASE] Master"
Hello,

What is the date of the new version of Master , with the many fixes of develop ?

Thank you

[2017-08-29 14:26] Franzyval opened #1007 "[md-select] opened and closed event never fired"
Hello and first, thanks for the library :),

I either discovered a bug or misunderstood something, but events stated in doc are not emitted

### Steps to reproduce
https://jsfiddle.net/y7owLuz1/8/

Annotate any md-select with a `v-on:opened` or `@opened`

### Which browser?
latests firefox, chrome, edge and IE

### What is expected?
the event should be fired as indicated in documentation

### What

[2017-08-29 16:32] marcosmoura commented on #1006
In a few days. We will create a pack of bugs!

[2017-08-29 21:18] gkatsanos commented on #203
I made a pull request.

[2017-08-30 01:26] VdustR commented on #1005
I found that it has been fixed in [1ab255dc1fbc037502d2191b592861248b7c045e](https://github.com/vuematerial/vue-material/commit/1ab255dc1fbc037502d2191b592861248b7c045e#diff-ce6ce6895a7f7bde55d0476c7ad2bbadR26)

[2017-08-30 04:03] zapping commented on #1005
It seems a strange issue. This pen, https://codepen.io/zapping/pen/GmVapv , has a working component of autocomplete. In the settings if you replace the vuejs file with https://unpkg.com/vue/dist/vue.js you get the error mentioned above. But if you use https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js it works.

But both the js file has the same version. But one is minified and the other

[2017-08-30 04:49] VdustR commented on #1005
@zapping Warn messages only show in development mode. The minified one is production mode.

[2017-08-30 08:20] Hidejec commented on #793
@pablohpsilva
Ohhh yes yes I was the autocomplete feature. Thanks!

[2017-08-30 08:20] #793 closed

[2017-08-30 14:44] jamesvweston commented on #482
I ran into this issue myself.
The problem is in the component md-table-pagination in the watcher for mdTotal.
The line "this.subTotal = sub > val ? val : sub" is assigning a value to subTotal, but that's a computed property so it fails. Commenting out that line fixes it:

mdTotal (val) {
        //  const sub = this.currentPage * this.currentSize

        //  this.subTotal = sub > val ? val : sub

[2017-08-31 08:20] mlg-ipleic opened #1010 "md-hide-small-and-up triggers on 660px"
when I put my element

`<div class="md-hide-small-and-up">`

to show only on xsmall, it triggers on 660px to show, not on 600px as it is documented by lib that it is its default breakpoint

and that leaves mine other elements for example

`<div class="md-button md-hide-xsmall">Shows</div>`

To exist in the same time like that first div, between 660px and 600px they both exist :S

[2017-08-31 09:25] Flugund commented on #482
This issue seems to be fixed in the develop branch, would be really nice to release it!

[2017-08-31 15:53] dennishu001 opened #1011 "window.scrollTo() disabled"
### Steps to reproduce

Visit any vue-material document page requiring vertical scrolling

Scroll down a little bit and type window.scrollTo(0, 0) in browser console.

### Which browser?

Chrome and Firefox are the two I tested.

### What is expected?

Page should scroll to top.

### What is actually happening?

Nothing happens.

### Reproduction Link

http://vuematerial.io/#/components/list

[2017-08-31 16:00] VdustR commented on #1011
Use `document.querySelector('.main-content').scrollTop = 0`.

Because the element you scrolled down is `.main-content`, not the `body`

[2017-08-31 17:26] johncloud200 opened #1012 "."
.

[2017-09-01 04:31] zapping commented on #1010
Seems similar to #728

[2017-09-01 07:52] Flugund commented on #960
What is the current status for this issue?

[2017-09-02 16:19] rafaelleru opened #1013 "[mdProgress] error by binding progress"
I'm binding the progress to a mdProgress using vuex by v-bind:progress but I get the following error:
`webpack-internal:///1:480 [Vue warn]: Invalid prop: type check failed for prop "mdProgress". Expected Number, got String.`

how I can solve this?

[2017-09-03 07:56] #1012 closed

[2017-09-03 11:05] cukikt0302 opened #1014 "font-awesome fix vertical position"
just .fa { display: flex; }

[2017-09-03 14:39] pablohpsilva commented on #1013
Hello @rafaelleru :)
Use a String instead of a Number, just like the error said.

[2017-09-03 14:39] #1013 closed

[2017-09-04 03:55] #1014 closed

[2017-09-04 14:46] vekexasia commented on #755
:+1: i'm experiencing this as well.

[2017-09-04 18:11] MaximilianLloyd commented on #105
In desperate need of this right now

[2017-09-05 10:06] Aymkdn opened #1016 "md-spinner with IE11"
Hi,

The ` md-spinner` with `md-indeterminate` doesn't look very good with IE11 because IE11 doesn't support animation on stroke-dasharray. It's possible to change the behavior for IE11 by detecting the browser (using [browserhacks.com](http://browserhacks.com/)) and add a special class for it.

Then you can define the new animation for the spinner for IE11 only:
[code]

The result can be found on

[2017-09-05 11:02] cjpit opened #1017 "md-stepper issue with tabbing over input fields"
### Steps to reproduce
Use a standard md-stepper with input fields.  Press tab a few times

### Which browser?
All, latest vue, vue material

### What is expected?
Should stay on the current step, and circle over the fields there.
### What is actually happening?
...stepper gets all confused, goes and focuses something out there in another stepper
### Reproduction Link
https://codepen.io/anon/pen/w

[2017-09-05 11:11] cjpit commented on #1017
yikes https://github.com/vuematerial/vue-material/issues/980 has already been filed, although hasn't been marked as a bug yet.  Feel free to delete if needed.

[2017-09-06 09:19] MRxiongyu commented on #944
I also encountered this problem, when I update md-total, the browser will be error, `Computed property "subTotal" was assigned to but it has no setter.`

[2017-09-06 09:24] MRxiongyu commented on #841
I use the version 0.7.4, or encounter this problem

[2017-09-06 11:10] VisualBean opened #1018 "Floating md-table-header"
It would be amazing to be able to have a sticky/floating table header, so when you scroll, it would stick to the top of the screen.

[2017-09-06 12:21] zapping commented on #1018
Try these:
1. Enclose the table header and table body in separate divs
2. Add the following style to the div of the table body `"height:XXXpx; overflow:auto;"`

Its added to this pen https://codepen.io/zapping/pen/PKvPrP

[2017-09-06 21:52] dixonwille commented on #841
@MRxiongyu I encountered it in 0.7.4. It is on the develop branch now if you build it from there. Will have to wait for another release otherwise.

[2017-09-07 16:30] Belanchuk opened #1019 "Disable md-button-back in md-step"
How?

[2017-09-08 19:48] nikkwong opened #1020 "Expose 'opened' property on md-dialog"
Hi,

Right now if you want to keep md-dialog's open state in a store, you have to use `watch` somewhere in a component to trigger the method `this.$refs.dialog.open`, which is clunky. It would be nice if there was a public property `open` on the dialog so it would could watch a value in the store and open and close itself based on that.

This, for one, seems enormously clunky...

[code]

Thanks.

[2017-09-09 01:34] nikkwong opened #1021 "Change display order of 'continue' and 'back' in md-stepper"
Hi, currently 'back' comes after 'continue' in `md-stepper`, which does not seem intuitive. In english and in most UI's, `next` comes after `back`.

Can we fix this or at least add it as an option?

[2017-09-09 02:06] maac4422 commented on #4
Hi,If @marcosmoura permit me I have a temporal solution if you want can go to this repository
https://github.com/maac4422/example-datepicker-vue-material. Hope help someone.

[2017-09-09 17:13] Linzdigr commented on #591
It seems https://github.com/vuematerial/vue-material/blob/b802afd4346feb0093fc0a09513e9df9b233b29c/src/components/mdSnackbar/mdSnackbar.vue#L97 is called when the snackbar ends its open animation, so I guess the eventListener on _transitionend_ (initiated at https://github.com/vuematerial/vue-material/blob/b802afd4346feb0093fc0a09513e9df9b233b29c/src/components/mdSnackbar/mdSnackbar.vue#L106) is n

[2017-09-10 18:51] 5an1ty opened #1027 "Any example how to use vue-material for a mobile app?"
This doesn't look very well when you set your browser to simulate an iphone or android device:

https://codepen.io/vue-material/pen/VmMrYW

[2017-09-11 04:35] zapping commented on #1027
I am not very sure when you say 'doesn't look very well'. I guess you must be referring to the font or text that is not scaling properly on the device screens. For that try adding the following to the head tag
`<meta name="viewport" content="width=device-width, initial-scale=1.0" />` .

On a Codepen I guess you can only just resize the view area. To check try copy-paste the following to a html fil

[2017-09-11 07:48] 5an1ty commented on #1027
That is exactly what I mean, thanks for the clarification and reading into my obscure question 😄!
Amazing library, thanks for the continued development!

[2017-09-11 07:48] #1027 closed

[2017-09-11 09:24] alexMugen commented on #1006
Hello,

Any news for this ticket ?

Thanks !

[2017-09-11 11:21] jan-swiecki commented on #728
Same problem.

[code]

[2017-09-11 13:40] Fleeck commented on #825
@pablohpsilva Tilda didn't work for me either, however any other images are imported properly.

[2017-09-11 15:22] robgev commented on #1007
+1 here

[2017-09-12 16:51] Eder87rh commented on #44
@marcosmoura @mixedCase

transform: translate3d(0, 0, 0) !important;

works for me only qith the !important css text :) thanks

this is my component
`<template>
    <div class="container">
        <md-toolbar>
            <md-button class="md-icon-button" @click="toggleMainSidebar">
                <md-icon>menu</md-icon>
            </md-button>

            <h2 class="md-title" style="flex: 1">C

[2017-09-12 21:29] vad11 commented on #80
Please add RTL switch to theme definition.

[2017-09-12 22:54] #734 closed

[2017-09-13 03:14] suhair commented on #716
I have tabs with multiple sections containing input elements. Moving through tab keys completely breaks the tabs as said by @vdmrox. My temporary fix is to hide the other tab panel contents based on the activetab index. This prevents breaking the tabs, at least.

[2017-09-13 06:11] praveenpuglia commented on #752
Any update on this?

[2017-09-13 06:55] S9uare opened #1030 "[md-textarea] Name attribute not applied to textarea"
Hello, first thanks for this nice framework :)

The issue is the `name` attribute set to `md-textarea` is not applied to `textarea`.

### Steps to reproduce
Create a md-textarea with name attribute.

### Which browser?

Latest vue, vue material
chrome 60.0.3112.113
firefox 55.0.3
IE 11

### What is expected?
name attribute applied to textarea correctly

### What is actually happening?
name attribu

[2017-09-13 08:53] Linzdigr opened #1032 "[mdMenu] Bad vertical position when position: fixed parent"
### Steps to reproduce
Put a md-menu in a fixed portion/parent of the display (ex: header bar), scroll down a bit and open the menu.
In my case with props:
`md-size="4" ref="userMenu" md-align-trigger md-direction="bottom left"`
### Which browser?
Chrome / Mozilla - Latest

### What is expected?
Position menu to be next to the trigger according to position props.

### What is actually happening?
V

[2017-09-13 10:07] nishantha-kumara commented on #112
@marcosmoura I have same problem in Vue Material. getting error this
`<div v-if="isLogged">
<md-menu md-direction="bottom left" >
                                <md-button md-menu-trigger >Bottom Left</md-button>
                                <md-menu-content>
                                    <md-menu-item>My Item 1</md-menu-item>
                                    <md-menu-item>My Item 2</

[2017-09-14 04:25] phongle318 opened #1035 "[mdSelect]Is there a way input from keyboard?"
I had tried autoComplete input, but I'd like to see what in the list before I enter some words.

[2017-09-14 04:46] VdustR commented on #1035
Assign it `0`:

[code]

[2017-09-14 04:49] VdustR commented on #1035
Assign it `0`:
[code]

[2017-09-14 08:48] phongle318 commented on #1035
Thanks @VdustR

[2017-09-14 08:48] #1035 closed

[2017-09-14 16:13] SergioReis97 opened #1036 "[mdSelect] Allow clear"
Add possibility to clear select with an easy prop

Q- What will it allow you to do that you can't do today?
A- Save about 1 minute per select
Q- How will it make current work-arounds straightforward?
A- Instead of having to put an icon button in the container and manually clear the select through an @click just pass it at prop
Q- What potential bugs and edge cases does it help to avoid?
A- Can't s

[2017-09-15 12:30] Aymkdn opened #1037 "md-radio doesn't behave like a input:radio"
### Steps to reproduce

Go to https://codepen.io/Aymkdn/pen/veOdRb

Click on one radio button, and then on another one.

### Which browser?

Firefox, Chrome, IE11

### What is expected?

When several `md-radio` have the same name, the expected behavior is to remove the `md-checked` when another radio button with the same name is checked.

### What is actually happening?

`md-radio` behaves as a `m

[2017-09-15 13:05] Aymkdn commented on #1037
I've been able to make it work by changing the `v-model`... Instead of using a `data` from my component I had to use an `object` passed thru `props` from the parent: https://codepen.io/Aymkdn/pen/BwNrpQ

Not sure if it's a bug or not, so I'll close it for future reference if someone ends with the same issue.

[2017-09-15 13:05] #1037 closed

[2017-09-15 15:01] SergioReis97 commented on #1002
Kept getting the error

Tinkered around and got it to work like this
`<md-autocomplete name="autoComplete" id="autoComplete" :filterList="someFunction" :min-chars="0" :list="[{name:''}]"  v-model="myModel"></md-autocomplete>`

.
.
.
[code]
Using name since its default but can be changed in 'print-attribute' prop

[2017-09-17 16:43] mlg-ipleic commented on #686
Anyone found solution to this, latest release is not working for me :/ still reproducible

[2017-09-17 19:38] strujillo6 commented on #728
To solve the problem, you should look in the Css section of breakpoints, and place at each point a limitation, for example in the small one, you must put @media (min-width: 601px) and (max-width: 944px) , for the medium @media (min-width: 945px) and (max-width: 1264px) and large @media (min-width: 1265px) and (max-width: 1903px).
Sorry for my English

[2017-09-18 05:57] KellerLong opened #1040 "No date picker component?"
I wish there were some other components. such as Date Picker component or  Page Index.

[2017-09-18 06:16] KellerLong opened #1041 "Ok! I found some new problems again!"
md-input-container:
When the cursor is in the middle of the text and constantly input, It doesn't automatically get bigger and text have overlap.
tabs:
 It's indicator, Once the rendering is done, it will be rendered again, and When use inspect of chrome, It becomes two.

[2017-09-18 06:55] lucasm-iRonin commented on #960
@pablohpsilva @marcosmoura what is the status of this ticket? Which versions are affected?

Thanks in advance!

[2017-09-18 08:57] Samuell1 commented on #1040
https://github.com/vuematerial/vue-material/issues/4

[2017-09-18 14:35] vizv commented on #686
Well, PR #911 is a little bit different case. Could you guys check `active` state of `md-list-expand`. I think it might be the `active` state is somehow be set to `true`.

[2017-09-19 14:04] bobo opened #1043 "mdSelect fix code example"
The example code for select is missing an / in the closing <md-select> tag.

[code]

http://vuematerial.io/#/components/select

[2017-09-19 23:39] pablohpsilva commented on #1006
new version 0.7.5 was release a few days ago :)

[2017-09-20 08:30] Samuell1 commented on #1041
Better will be include jsfiddle/codepen example or screenshot, gif.

[2017-09-20 09:23] alexMugen commented on #1006
thanks a lot ! GREAT JOB :1st_place_medal:

[2017-09-20 11:39] Frizz925 commented on #808
Any update on this?

[2017-09-20 12:56] mix3d commented on #808
I doubt it. Most effort seems to be in the from-scratch overhaul.

[2017-09-20 19:59] jeffbaumes opened #1045 "mdSelect bare <select> element is sometimes visible"
### Steps to reproduce
* Make a md-select in the last of a set of wide md-tab elements.
* Make a wide browser window and click on the tabs - it shows up on one of them.

### Which browser?
At least Chrome. Shows up on https://unpkg.com/vue-material@latest

### What is expected?
The select should not be visible, but it seems to arbitrarily choose `left: -999em` to attempt to hide itself.

### What

[2017-09-21 03:47] redimongo commented on #1040
Yeah this would be a good one to have, as I need an easy to use date picker for users to select their birthday and other important dates like travel dates.

[2017-09-21 04:21] VdustR commented on #1045
Another solution:
[code]

[2017-09-21 12:11] Bolandish opened #1046 "Add paste-event listener :)"

[2017-09-21 12:12] Bolandish opened #1047 "Add paste-event listener to input"
Please add the ability to set an v-on:paste on the input and textarea-fields :)

[2017-09-21 12:12] #1046 closed

[2017-09-21 13:17] KevinNTH opened #1048 "[MdChips] There is no props for `md-editable`"
Using this following example:
[code]

There is no props `md-editable` to be set to `true` or `false`, and then `MdChips` component always set `MdChip` with props `md-editable` to `true`.

[2017-09-22 05:50] gywgithub commented on #686
I have the same problem.
`md-liste-expand ` opens automatically
version: 0.7.5
Code snippet:
[code]

[2017-09-22 06:48] waratah commented on #985
have a problem with my themes and I suddenly got this.

'background' is not a valid item in a theme and it gives this message.  Error in callback for watcher "styles": "TypeError: Cannot read property '500' of undefined"

default: {
primary: 'blue',
accent: 'pink',
background: 'rgb( 28,45,63 )'
},

Preferred option: 'background is not valid in a theme' error.

Now I have to figure out how theming

[2017-09-22 10:10] giko45 opened #1049 "SpeedDial does not expand second time on hover after clicking on expanded item"
### Steps to reproduce

1. goto: http://vuematerial.io/#/components/speed-dial
2. hover over the light blue speeddail in the first demo -> speeddail expands upward (OK)
3. click on the mail icon (first expanded item)-> speeddail closes (OK)
4. after click move mouse pointer in a strait line down to the speed dail -> speeddail does NOT expand upward (Error)
moving away from the speeddial and the pl

[2017-09-22 13:54] KevinNTH opened #1050 "Native instruction on event is still needed (dragstart)"
I still do need to have `native` instruction for this event: `@dragstart.native=""`

I am on `0.7.5` version.

[2017-09-22 17:48] vizv commented on #686
@gywgithub I just checked, on button clicked `md-list-expand` has `style="margin-bottom: 0;"` which cause the list looks like expanded. I'll look into this issue later.

[2017-09-22 18:11] vizv commented on #686
I found the problem:

When the page loads, `margin-bottom` was set to its height:

[code]
[mdListItemExpand.vue Line 49](https://github.com/vuematerial/vue-material/blob/28e73c7d20029affcf1ff3881e7024e241d56ab7/src/components/mdList/mdListItemExpand.vue#L49)

and the height was calculated from:

[code]

[mdListItemExpand.vue Line 67](https://github.com/vuematerial/vue-material/blob/28e73c7d20029af

[2017-09-22 18:19] vizv commented on #686
@gywgithub actually, if you change `v-show` to `v-if`, the problem will be solved.

[2017-09-22 18:40] vizv commented on #686
@arnoldmq I can't fix it due to current `mdDialog` implementation.

But one (ugly?) hack I can think of is:

add a line to `openDialog(ref)` method:

[code]

[2017-09-22 22:45] mismith opened #1051 "`<md-switch>` within a `<md-list-item>` with `@click` handler?"
Is it not possible to have a switch within a list item button?

[code]

### Steps to reproduce
1. Visit: https://codepen.io/mismith/pen/qPagoE?editors=1011#
2. Click/touch a switch

### Which browser?
All, AFAIK.

### What is expected?
- Switches should flip
- Parent list item's click should *not* fire, nor should the ink ripple expand

### What is actually happening?
- Switches are ignored entire

[2017-09-22 23:14] waratah commented on #202
This feature is committed to the npm module version.   It needs to be documented.

[2017-09-22 23:28] waratah commented on #1003
This is the same problem as above.  I have an autocomplete on a list item and I want to focus the title input.  I would be nice if there was a way to ref the input, even if it was a second autognerated ref like 'autocomplete-input'

    <div class="md-menu md-autocomplete-menu">
        <input type="text" md-menu-trigger="" class="md-input">
     </div>

[2017-09-23 08:56] janory opened #1052 "text alignment is not working for numeric table cells"
### Steps to reproduce
Just use the `md-numeric` attribute in the `md-table-cell` tag as it's suggested in the http://vuematerial.io/#/components/table example.

### System info
OS: macOS Sierra, Version 10.12.6
Browser: Google Chrome, Version 60.0.3112.113
Vue Version: 2.4.2
Vue Material Version: 0.7.5

### What is expected?
The numeric values are aligned to the right.

### What is actually happe

[2017-09-23 10:27] janory commented on #1052
I've just added a PR to fix this.
By the way is was correct in the [mdTable.old](https://github.com/vuematerial/vue-material/blob/b992c27a3b6407ae2fc836345dc91bcd32c1f379/src/components/mdTable/mdTable.old.scss#L155), so somebody probably just oversight this.

[2017-09-24 03:27] waratah opened #1054 "MD autocomplete giving an error on focus if text is empty"
In md autocomplete the following is done on focus.  the issue is that initially the this.query is undefined somehow.   This leads to an error:

   TypeError: Cannot read property 'length' of undefined
      at VueComponent.onFocus (main.a3d8ed9c5bae4a0dfb5d.js:32306)
      at boundFn (main.a3d8ed9c5bae4a0dfb5d.js:1161)
      at HTMLInputElement.invoker (main.a3d8ed9c5bae4a0dfb5d.js:2793)

    onFo

[2017-09-24 04:02] waratah commented on #1054
Also I cannot get the focus event for the auto lookup.  It is somehow suppressed.   I am capturing focus for the div over my component.  It works for the md-input but not the md-autocomplete.

I notice on refresh the empty input is shrunk to the top.  clicking in and out restores the correct format.

[2017-09-24 09:49] gywgithub commented on #686
@vizv
Thank you very much for the perfect solution to my problems .

[2017-09-25 03:54] zapping commented on #985
You will need to use the [material color palettes](https://material.io/guidelines/style/color.html#color-color-palette) to define your colors.

default: {
primary: 'blue',
accent: 'pink',
background: {color:'grey' , hue:900)
},

More details can be had from the theme doc page http://vuematerial.io/#/themes/configuration

[2017-09-25 09:30] jinnchen opened #1055 "[onboarding]Could I change the position of the navigation on onboarding?"
![z005_p3 km6 gz9ljc d5](https://user-images.githubusercontent.com/12912348/30801823-1cfb325e-a217-11e7-9914-a6f57d50671e.png)

like the dots?

[2017-09-25 18:11] mburke05 commented on #482
Any updates on whether this has made it in the next scheduled release?

[2017-09-25 22:49] cburwell opened #1056 "md-boards-navigation buttons showing "FIBER_MANUAL_RECORD""
As stated in the title, the OnBoarding component example directly from vuematerial.io shows the carousel and operates correctly but where I assume are supposed to be navigation buttons I just have a bunch of overlapping text that says "FIBER_MANUAL_RECORD" at the bottom-right corner of the md-board. It is a pink color in the following screenshot:

![button_bug](https://user-images.githubuserconten

[2017-09-25 22:52] cburwell commented on #1056
Disregard. I am new to vue-material and I'm not sure if this is in the documentation, but my issue was occurring because I had two elements within the <md-board> tag (<img> and <p>). Wrapping these in a single <div> solved this issue for me.

[2017-09-25 23:48] egortsaryk9 commented on #550
+1 It would be very useful improvement

[2017-09-26 00:06] waratah opened #1057 "[mdCheckbox] change called before value set."
### Steps to reproduce

       <md-layout md-flex='50'>
            <md-checkbox class="md-primary" v-model='reports.traveller' @change='ReportChange'>Traveller Analysis Report</md-checkbox>
        </md-layout>
        <md-layout md-flex='50'>
            <md-checkbox class="md-primary" v-model='reports.spend' @change='ReportChange'>Spend Comparison Report</md-checkbox>
        </md-layout>

[2017-09-26 13:23] MaximVanhove opened #1058 "Request: Multi line tooltip"
Is it possible to add multi line tooltips?

[code]

And maybe a new property `md-text-direction="center"`

[2017-09-26 15:38] mismith commented on #1051
Anyone home?

[2017-09-26 23:40] #1055 closed

[2017-09-27 04:59] zapping commented on #1058
Try setting the tooltip with a `div` tag instead of `span` like this
[code]
Then add this to your css and override the height attribute of tooltip
`.md-tooltip{height:auto}`

[2017-09-27 10:16] waratah commented on #985
The issue is that the code references a palette name that is undefined.   I will have to work out a pull request for this one.

PS: Using typescript definitions helped a lot for this.

[2017-09-27 15:33] mismith commented on #1051
While that will work, technically, I _need_ the click handler, so it doesn't solve the problem, overall.

I dug into it a little more, and the issue seems to be that an `.md-ghost-button` is overlaid on top of the list item button contents, meaning the switch never receives a click. A quick (hacky?) workaround is to make the `z-index` of the `<md-switch>` to something higher than the `.md-ghost-bu

[2017-09-27 19:53] whatjakecodes opened #1059 "md-autocomplete default input value does not work"
### Steps to reproduce
Launch code pen
In the `data()` function, notice I tried to initialize the default value:
`colorValue: 'this-default-value-should-show',`

### Which browser?
Chrome on Macos

### What is expected?
Default value should pre-populate the input value

### What is actually happening?
Default value does not show up in the input

### Reproduction Link
https://codepen.io/jakesinthep

[2017-09-28 04:43] zapping commented on #1051
Maybe you can also try and include them in separate `div`, something like this

[code]

[2017-09-28 08:57] S9uare opened #1060 "[mdCheckbox] documentation showing incorrect version"
Hi,
I noticed that the feature requested here https://github.com/vuematerial/vue-material/issues/414 seems to be added recently.

And according to the docs here, it's working fine and nicely.
http://vuematerial.io/#/components/checkbox

However it doesn't seem to be available in 0.7.5 distribution, despite that in the right top corner of the documentation shows `0.7.5`.

* I confirmed the source c

[2017-09-28 14:53] mismith commented on #1051
Haven't tried it, but I would assume that would break the underlying ink ripple, not to mention make styling things even more finicky given margins/padding etc.

[2017-09-28 16:47] hanxue opened #1061 "Reduce size of dependency when installed using npm"
I am using vue-material 0.7.4, and the total size of `node_modules/vue-material` comes in at a hefty 111.3 MB

Specifically there seems to be older versions under `dist/docs/releases`

[code]

Is there any way to remove those older versions?

[2017-09-28 19:59] adefelicibus commented on #965
@HerrLoesch I'm trying to do something similar to you. Have you done something new to face it? Thank you.

[2017-09-29 02:46] hoopyfrood commented on #894
+1

[2017-09-29 04:57] bogish commented on #802
Not only about <li>, also ` img { max-width: 100% }` as example

[2017-09-30 20:39] hanxue opened #1062 "md-card does not work if enclosed with div or span"
I am using Vue's interpolator to dynamically generate `md-card` for each item in an array. The code below is from [vuetable-2's Detail Row template](https://github.com/ratiw/vuetable-2-tutorial/wiki/lesson-12)

[code]

![image](https://user-images.githubusercontent.com/760008/31049244-c9bd898a-a661-11e7-8743-8e15ccc3fed5.png)

Because `<md-card>` is enclosed with `<span v-html="displayEachReview()

[2017-09-30 20:57] stgunholy opened #1063 "Enchantments to md-chips"
Hi.
I am really enjoying using your library, but I have couple of suggestions that can improve usability of md-chips for example.
1) I think it can be great, if the keys that add the chip to array can be configurable... something like
md-add-keys="[',', ';']" - so when user presses , or ; the chip is created and added to array
2) Also I think that allowing to use md-chips inside md-input-container

[2017-10-01 01:06] murilodag commented on #728
Hello @pablohpsilva, could you enroll to the Hacktoberfest? I think it would help to encourage people to fix these issues.

[2017-10-02 10:37] KevinNTH opened #1064 "[Snackbar] Does'nt work anymore after switching routes"
I have this issue since upgrading vue-material from 0.7.2 to 0.7.5

Anyway, this lib seems to not be maintained anymore. I have encountered so many bugs and regressions from the lib.

[2017-10-02 18:49] ezyyinc opened #1065 "ref attribute not working with md-button component"
### Steps to reproduce

### Which browser?

### What is expected?

### What is actually happening?

### Reproduction Link

Ref attribute works  as expected  using button tag but md-button   seems to    remove the tag. Any idea why?  Refs called in method returns undefined  when using md-button button works though

[2017-10-03 04:24] zapping commented on #1065
Please check this pen https://codepen.io/zapping/pen/xLOjBp?editors=1011 . A ref attribute has been added to the previous and next buttons. The status of the buttons are accessed in the previous and next step functions.

[2017-10-03 04:31] zapping commented on #1064
https://github.com/vuematerial/vue-material/issues/921

[2017-10-03 06:16] zapping commented on #1062
Why do  you need to output rawHTML when you can do the Vue way directly like this

[code]

In fact Vue recommends to avoid it. https://vuejs.org/v2/guide/syntax.html#Interpolations

[2017-10-03 07:56] #1030 closed

[2017-10-03 08:17] S9uare opened #1066 "Tooltip in a stepper throwing error"
### Steps to reproduce
Create a stepper and place a tooltip into any step other than first step.

### Which browser?
Latest vue, vuematerial
IE, FF latest, Chrome latest

### What is expected?
No error.

### What is actually happening?
An error `"[Vue warn]: Error in beforeDestroy hook: 'TypeError: Cannot read property 'parentNode' of undefined'` appears when placing tooltip into a stepper.

The p

[2017-10-03 08:18] #1065 closed

[2017-10-03 08:19] ezyyinc commented on #1065
Thank you! Must be a bug in my code. Im a new vue

[2017-10-04 01:17] miclefebvre commented on #44
Needed the !important too. Thanks

[2017-10-04 01:19] Doodlepants commented on #1066
This may help pinpoint, the issue, the error doesn't appear when removing **md-vertica**l from :
**`<md-stepper md-vertical>`**

[2017-10-04 08:46] screwt opened #1067 "Ratin bar is buggy on MS Edge"
Strange behavior of rating bars on Ms Edge.
Tested on
Win 10
Microsoft Edge 38.14393.1066.0
Microsoft EdgeHTML 14.14393
Teste page:
http://vuematerial.io/#/components/rating-bar

[2017-10-04 19:42] gquintana opened #1069 "[mdInputContainer] use custom element has mdInput"
In order to use same syntax for editable fields and non editable fields, I'd like to write something like:
[code]
It nearly renders as a MdInputContainer containing a MdInput, so I am not far from my goal.
However:
* I have to handle the md-has-value by myself
* The  `{{ msg }}` in the above example is not updated in the example below:

[code]
When I change the value of the md-input, the <h1> is u

[2017-10-04 20:57] #1056 closed

[2017-10-05 17:11] hanxue commented on #1062
@zapping  Many thanks for showing how to do it using Vue directly. I am using it now.

I manage to find a workaround by removing the `<span>` in the original

[code]

to

[code]

Since rawHTML should be avoided, I am using Vue directly with [v-for](https://vuejs.org/v2/guide/list.html#v-for-on-a-lt-template-gt).

[2017-10-05 17:11] #1062 closed

[2017-10-06 03:42] hanxue opened #1071 "Unable to dynamically insert element with vuetable-2's callback"
I am using vuetable-2 with vue-material, and I wish to dynamically render icons and tooltips for each row of data that is retrieved.

The relevant code is:

[code]

The `<template slot="actions" scope="props">` section that is pre-defined renders correctly, but the `stageIcon(status)` callback does not render correctly.

![image](https://user-images.githubusercontent.com/760008/31262106-337ef6c4-a

[2017-10-06 06:14] zapping commented on #1071
I don't think that will workout because as callback you probably require something that can be rendered directly to a browser like html or javascript. But here you are using vue component that requires preprocessing before it can be rendered to the browser.

This is best asked on the vuetable-2 support. But on initial review I think what you need here is a __slot or __component that will process t

[2017-10-06 11:53] vitorcominato commented on #728
Same problem here

[2017-10-06 16:42] SergioReis97 commented on #1060
Having same problem, can't use array of checkboxes,
trying to bind the checkboxes to a model returns the following error

And the value of the variable is then returned as true or false.

Maybe some PR overwrote this one? https://github.com/vuematerial/vue-material/pull/1029/

[2017-10-07 14:04] hanxue commented on #1071
Ah, thanks for the explanation @zapping ! Using vue component is not possible, so I did switch to `__slot` and that worked.

[2017-10-07 14:04] #1071 closed

[2017-10-07 17:44] Kustopher commented on #824
Hi, I'm struggling with the md tabs as well. Thanks for the code! The switching between tabs works fine, but it's not working on page load. No matter if I load /page1 or /page2 or /page3 it's always loading /page1. This is because the change event is called on page load, and beeing the tabIndex=0 at this moment, it's loading /page1. Any idea how to prevent the change event to be fired on page load

[2017-10-07 20:41] vjoao opened #1072 "Creating a horizontal scroll"
Tried to add `overflow: auto` to a `<md-layout md-row>` with 10s of `<md-whiteframe>` to make them scroll horizontally. They seem to overflow, but I can't scroll the container. What am I doing wrong?

[2017-10-07 21:20] dtruel commented on #683
Agreed.  It makes sense that when the changed function is called, the new value would be available.  When listening for a change, the old value is not very useful.

[2017-10-08 11:10] martinandersen3d commented on #824
Vie router Google it

[2017-10-08 11:11] martinandersen3d commented on #824
Vue

[2017-10-08 14:18] Kustopher commented on #824
I do use vue router, otherwise not even the switching from tab to tab would work.... The problem is the change event of md-tabs beeing triggered on page load although apparently no change happend at all.

[2017-10-08 17:24] Kustopher commented on #824
Hi, I found a workaround by creating a variable on the `mounted` instance:

[https://codepen.io/kustopher/pen/dVmOgP](https://codepen.io/kustopher/pen/dVmOgP)
(check the console, here you can see what I mean by the change event beeing triggered on page load)

[2017-10-09 01:46] hanxue opened #1075 "flatpickr date picker broken due to md-input-container font size"
The following code is broken, and the selected date is not displayed:

[code]

[jsfiddle link](https://jsfiddle.net/hanxue/ccpownfq/1/)

The date will only be displayed in `<md-input>` if `<md-input-container>` is replaced with a `<div>`

[code]

[jsfiddle link](https://jsfiddle.net/ankurk91/r1en6te0/)

An alternative is to set the font size:

[code]

[jsfiddle link](https://jsfiddle.net/ankurk91/

[2017-10-09 03:37] rcovell commented on #358
@marcosmoura wanted to check on the status of this.  I am on the latest code base and tabbing does not affect select components.

[2017-10-09 12:29] #1072 closed

[2017-10-09 12:44] happyleavesaoc commented on #1060
Same problem on `0.7.5`. The documentation says it's possible, but it isn't!

[2017-10-09 16:43] rcovell commented on #358
@ascarpello were you able to find a resolution for this issue?

[2017-10-09 19:27] phil1996s commented on #1021
I have improvised with this css:
`.md-step-actions button:first-child{
  float: right;
}

.md-step-actions button:nth-child(2){
  float: left;
}`

[2017-10-09 20:53] EricTran5791 opened #1076 "mdAutocomplete example is broken"
### Steps to reproduce
1. Go to the docs, then Component > Input
2. Go to the autocomplete example at the bottom
3. Change the input to aqua
4. Change the input to red
5. Notice that the square color is still aqua

### Which browser?
All

### What is expected?
We expect the square color to change from aqua to red.

### What is actually happening?
The input correctly changes to red but the square c

[2017-10-09 21:13] EricTran5791 commented on #1075
Looks like md-input-container is applying a font-size of 1px, which seems unnecessary. Testing a fix right now.

[2017-10-09 21:42] EricTran5791 commented on #1075
I don't think you need to use md-input-container because you're not using md-input, md-autocomplete, or md-textarea.

[2017-10-10 03:20] hanxue commented on #1075
@EricTran5791 thanks for looking at this issue. Although `<flat-pickr>` is a custom component, it is a type of `<input>`. If I don't nest it in `<md-input-container>`, this is how it will look like

![image](https://user-images.githubusercontent.com/760008/31367917-fb8cafc0-adac-11e7-9b06-28e2112bb2fc.png)

This is the rendered HTML output:

[code]

[2017-10-10 03:46] zapping commented on #1075
Since you are not using `<md-input>` of vue-material the `<md-input-container>` cannot process or check the value inside its child. As a work around try setting the container with the class statically like this

[code]

[2017-10-10 04:22] zapping commented on #1069
You can use the disabled or readonly property of the `<md-input>` to show the non-editable fields like this

[code]

[2017-10-10 04:49] zapping commented on #1072
Try with this
[code]

[2017-10-10 05:45] hanxue commented on #1075
@zapping Adding `class="md-has-value"` works! Thank you for your explanation

[2017-10-10 05:47] gquintana commented on #1069
I know I can do that. But an input field still is an input field even when readonly/disabled, it looks and behaves as such (focus), and it can still be enabled in the browser.

I also would like to us checkboxes and custom components.

[2017-10-10 13:45] SergioReis97 commented on #1060
@happyleavesaoc Not really recomended but you can pull the project, make this changes https://github.com/vuematerial/vue-material/pull/1029 , build it and replace the dist folder with the one you build and it will work as said in the documentation. I'm not doing a P.R. for this because i'm not sure if the maintainers purposely removed this feature or if there is some other reason for it not to be

[2017-10-10 14:34] SergioReis97 commented on #1075
For others that might land here.

[code]
Adding the ternary expression to class makes so that the pretty effect of the label going up happens with the change of the date

[2017-10-11 02:05] lasthrun opened #1079 "The menu close will call tooltips"
### Steps to reproduce

### Which browser?
chrome, vue 2.3.4,  vue-material 0.7.4

### What is expected?
when menu is open, if you click outside to close the menu, it should not call the tooltips

### What is actually happening?
when menu close, it call the tooltips

### Reproduction Link
https://codepen.io/lasthrun/pen/eGKpaa

[2017-10-11 03:41] zapping commented on #1069
Try this for the non-editable fields
[code]

[2017-10-11 05:03] daewooLeeNy opened #1080 "supports requirejs-vuejs."
Hi.

I using vuejs, vue-material in my simple standalong(browser) project.
When i include require-vuejs(https://github.com/edgardleal/require-vuejs) in my project, did not work caused by conflict by vue-material and require-vuejs.

The following error occurred.

(I guess vue-material refer to 'vue' using define())

Is require-vuejs possible support in VueMaterial?

`
!(function(t, e) { "object" ==

[2017-10-11 14:04] felipekm commented on #243
Hey @marcosmoura, any plan to release it?
I see a lot of devs moving to vuetify becase of this case.

[2017-10-11 14:28] marcosmoura commented on #243
Yep. I know. The new version is coming. With SSR Support. Finally!

[2017-10-11 17:59] ram-you commented on #243
@felipekm
Its a little late. I have already migrated all my existing projects and those that are under development towards Vuetify.
Because I prefer VueMaterial spirit, perhaps, no I'm sure, it will be for future projects.

[2017-10-11 18:02] felipekm commented on #243
Yeah @ram-you same feeling here, anyway I will wait for few days.
@marcosmoura let us know if any help is needed, let's make it happen.

[2017-10-11 18:18] marcosmoura commented on #243
Any kind of help will be appreciated. I will create a roadmap this week for
you guys follow the progress.

On Wed, Oct 11, 2017, 15:02 Kautzmann <notifications@github.com> wrote:

--
Marcos Moura
Front End Engineer
GitHub <http://github.com/marcosmoura> - LinkedIn
<http://linkedin.com/in/marcosvmmoura/>
+55 31 99212-7004 <(31)%2099212-7004>

[2017-10-11 19:46] iamdubx commented on #243
@ram-you you forget to mention, that it could be late for you, but not the others.
@marcosmoura cool, will wait for updates. For some reason, I like `vue-material` better then `vuetify` :smile:

[2017-10-11 19:51] marcosmoura commented on #243
@iamdubx Me too! :P

[2017-10-11 22:19] marcosmoura opened #1081 "Roadmap for Vue Material beta!"
# Roadmap for Vue Material beta!

As I told [couple months ago](https://github.com/vuematerial/vue-material/issues/921), I am developing a new Vue Material from scratch, with better support, an easy way to integrate and way more reliable. And this new version is just around the corner.
I received a lot of issues and complains regarding support for SSR, validation, integration with 3rd party libs a

[2017-10-11 22:34] marcosmoura commented on #1081
* Mostly of non-done components are only demanding a new docs page.

[2017-10-11 22:54] Yatima-Kagurazaka commented on #1081
Woohoooooooo ⤴️
So, I want to translate new coming docs into Japanese!

[2017-10-11 23:08] marcosmoura commented on #1081
@Yatima-Kagurazaka Ah yeah. That would be freaking awesome. The new docs will come with i18n support. I will translate to portuguese too.

I need to translate to Chinese too, But I barely speak English. Chinese then... Hahahaha
Someone?

[2017-10-12 07:04] ram-you commented on #243
@iamdubx of course for me. Never late for the community.

[2017-10-12 13:16] vjoao commented on #1081
I can help you `en_US -> pt_Br`

[2017-10-12 13:21] vjoao commented on #1060
@SergioReis97 but this feature is awesome! Especially with the new Firebase Firestore (to save an array of selected items).

[2017-10-12 13:51] SergioReis97 commented on #1060
These changes were not dont by me btw. I just saw them in the PR. Since a road map is already planned ( https://github.com/vuematerial/vue-material/issues/1081 ) maybe this feature will be available on next release. @pablohpsilva Could you please clarify us?

[2017-10-12 14:17] Earlybug commented on #1081
yeah~ I am the one who can help to translate to Chinese :)

[2017-10-12 14:22] marcosmoura commented on #1081
@Earlybug this will be awesome!!!

[2017-10-13 01:23] waratah commented on #1069
does https://github.com/vuematerial/vue-material/issues/1075 help you?  Seems to be a similar question.

[2017-10-13 01:32] waratah commented on #1059
I tried this on my component.   When I entered an empty string.  It have my prompt in large text on the screen.   Once I initialised to 'test' the prompt was smaller text (ie as per when you click or you have a value) but 'test' . did not appear on the screen.   This bug is verified.   Will see if I can work it out.

[2017-10-13 01:38] waratah commented on #1041
@KellerLong   Please give this bug a valid heading that describes the problem.  and flag it with a component name.

I also cannot figure out if you have two issues in which case there should be two bugs or just one.

[2017-10-13 01:41] waratah commented on #1036
Why would you not use type ahead for this sort of thing?

[2017-10-13 01:41] don41382 commented on #37
@marcosmoura

I have the same problem as @fleumari. How did you increase the font-size of the input-field, like you displayed in your screenshot (Vintage 50)

[2017-10-13 04:27] ORoy commented on #728
+1

[2017-10-13 05:47] waratah commented on #1059
I updated the autocomplete.vue logic as follows:

  mounted() {
      this.$nextTick(() => {
        this.value = this.query;   // <<< .  added this

This is slightly better in the sense that the prompt is full height in the input area and when you click it shows the value primed with my initial text.   I don't think this is a proper fix though.

[2017-10-13 05:59] waratah commented on #1003
I ended up doing focus by this:  (this.$refs.title as Vue).$el.querySelector('input').focus();

look at $refs for my name (title) and then find input and focus on it.

[2017-10-13 06:38] gquintana commented on #1069
Yes this is what I am doing, look at my code sample: but it's not documented, and value is not updated.

[2017-10-13 11:14] waratah commented on #662
I am using Typescript.   There is a couple of other places to grab some definitions.   Will helpi with this,  self interest.

[2017-10-13 11:53] akaSybe commented on #662
@waratah could you please share links to definitions you talk about?

[2017-10-13 22:43] waratah opened #1083 "[md-select] - Console error"
### Steps to reproduce

Create an md select inside a td with no class variables.

main.236a1a6d88ded0bb675c.js:1207 [Vue warn]: Error in mounted hook: "TypeError: Cannot read property 'contains' of undefined"

### Which browser?
Chrome

### What is expected?

no errors

### What is actually happening?

main.236a1a6d88ded0bb675c.js:1207 [Vue warn]: Error in mounted hook: "TypeError: Cannot read pro

[2017-10-14 02:47] waratah commented on #1083
This is in getClosestVueParent when the class list is not defined.

if ($parent.$el.classList.contains(cssClass)) {
    return $parent;
 }

I have replaced this with:

if ($parent.$el.classList && $parent.$el.classList.contains(cssClass)) {
    return $parent;
  }

[2017-10-14 04:11] waratah commented on #1075
Although not entirely relevant, just referencing implement data picker task for other searchers through issues:

https://github.com/vuematerial/vue-material/issues/4 . - implement date picker

[2017-10-14 10:27] Miguel-Frazao opened #1084 "Dropdown menu (toolbar/sidenav)"
I was wondering if you some 'built-in' for a dropdown menu similar to what you have on http://vuematerial.io/#/ (themes/components/ui elements).

I am doing a boilerplate with vuejs + material  and I really liked this project. I want to avoid doing this 'manually' so the code can be cleaner.

This branch can be found on https://github.com/Miguel-Frazao/vuejs-starter-example/tree/material

[2017-10-14 14:09] #691 closed

[2017-10-15 20:17] #1084 closed

[2017-10-15 20:19] Miguel-Frazao commented on #1084
Just went to https://github.com/vuematerial/vue-material/blob/master/docs/src/App.vue , and checked how to do it from there, should thought about that earlier. Sorry to bother

[2017-10-16 02:19] waratah commented on #1083
I have also found this to be caused by not containing md-list-item inside md-list.  This cause parent to be just false which is in turn not handled by mdlistitemexpand.

Short term I have injected these lines into resetSiblings to handle this issue.

 resetSiblings() {
        if( this.parentList === false ) {
          throw "resetSiblings called without parent list being constructed, md-list-ite

[2017-10-16 14:48] xxRockOnxx opened #1086 "[Request + Temporary Solution] Autocomplete [{ text: '', value: ''}] as options."
- What will it allow you to do that you can't do today?
    - have v-model return the value specified.
  - How will it make current work-arounds straightforward?
    - Have the value inside v-model automatically instead of manually setting in a callback for `@selected`
  - What potential bugs and edge cases does it help to avoid?
    - None.

I can make a PR when I got the time.

# Temporary Worka

[2017-10-17 04:02] zapping commented on #1086
It does already set the v-model automatically. Do check this pen https://codepen.io/zapping/pen/GmVapv and try selecting a state.

[2017-10-17 04:48] xxRockOnxx commented on #1086
the value passed to `v-model` is just the text identified by `print-attribute`

[2017-10-17 05:48] Embraser01 commented on #1081
I can also help translate to French :)

[2017-10-17 05:58] marcosmoura commented on #1081
I will change the documentation to have all strings inside i18n files and then I will open an issue on the experiments repository, with the progress of translations.

[2017-10-17 10:12] daewooLeeNy commented on #98
In my case, the nextTick() did not work for focus styles.

https://jsfiddle.net/lsinji/cxfrxjg1/5/

[2017-10-17 12:12] JoryOne commented on #728
Version 0.7.5  still has the same problem, md-flex-xsmall & md-flex-medium works fine, but md-flex-small not

[2017-10-17 20:16] monochromatique opened #1088 "[md-select] - how to bind object to value?"
I did not find anything in the documentation about this.

Actually - I can bind the object to a value - I can not get it selected when updating the component.

In AJS there was such a feature - "track by"

In :key attribute I can not set NOT plain object. I tried to set it to `:key={key:role.key}`

Is there a way?

[code]

[2017-10-18 00:18] rrki commented on #752
Any updates?

[2017-10-18 00:29] Morgul commented on #752
This is on the [Roadmap](https://github.com/vuematerial/vue-material/issues/1081) for post `v1.0.0`.

[2017-10-18 07:40] deivan commented on #965
@HerrLoesch i join to your opinion, a possibility for selection only one item is very important..
Now, i hide first cell with selector via CSS:
`td.md-table-cell.md-table-selection.md-has-action {
    display: none;
}`

[2017-10-18 13:38] v0l opened #1089 "Component not rendered in slot"
Hi,

Not sure if I've done something wrong or not here please let me know if i have, help would be appreciated.

For some reason the html renders to nothing, static html works fine, but when i try some of the ui components it wont render.

Component seems to work fine but its never created on the DOM

![](https://void.cat/ff8de0e050595ef49c1dee1892f6652aa4820ea2)
[code]

[2017-10-18 23:00] monochromatique commented on #1088
[code]

This code work as expect. I can't get it work with md-select

[2017-10-19 14:15] Linzdigr opened #1090 "[mdAutocomplete] Using md-autocomplete with Axios"
In spite of the doc, I haven't find out yet how to get md-autocomplete work with a fetch function returning a promise (Axios).

Here is the code:

**Template:**
[code]

**The method:**

[code]

**Remote response format:**

[code]

What am I missing?

[2017-10-19 14:41] zapping commented on #1090
Can you please mention what you get now too? Like any errors, warnings or unexpected results.

[2017-10-19 14:48] Linzdigr commented on #1090
Sure! When I input something into the field, no error nor warning, the fetchSuggestion is correctly fired and results occured in the network stack as expected but nothing happen next. Is returning simply the promise to fetch props is enough?

[2017-10-19 15:28] Linzdigr commented on #1090
Finally get it working passing prepareResponseData function props to format data. The first try with was unsuccessful because I was using a then() on the promise before returning it to fetchSuggestion (resulting in undefined value).
Thanks anyway!

[2017-10-19 15:28] #1090 closed

[2017-10-19 15:45] Linzdigr opened #1091 "[mdAutocomplete] Clearable container generates error"
### Steps to reproduce
Use a md-autocomplete component inside a `md-input-container` with `md-clearable` prop set:

[code]

Click on the empty button

### Which browser?
Chrome latest

### What is expected?
Input to be cleared

### What is actually happening?
Got errors:

[code]

### Reproduction Link

[2017-10-19 15:50] djayd opened #1092 "NPM VueMaterial Missing Code"
It appears that code is missing from the VueMaterial v0.7.5 NPM package. We referenced the Md-Checkbox component, but it's missing the array functionality. When you view the NPM source code you can see that the "Array" type is missing, but whenever you download the 0.7.5 source code from the site directly, it is there.

I've also tried to use the newer layout attributes and they appear to be missi

[2017-10-19 16:10] ansonhorse opened #1093 "When scroll the page, elements "re-rendered""
First of all, thanks for the great contributions!

The following description has been bothering me for some time.
Please see the gif: a table with about 200 items, and when scroll the page, the elements are re-rendered.

![vuematerial-issue](https://user-images.githubusercontent.com/7548142/31780800-5bc2e5b6-b529-11e7-91cf-3a57d10d1dd4.gif)

### Steps to reproduce
Please see the codepen below
###

[2017-10-20 05:11] VdustR commented on #1092
I checked the network graph and found that it's added after `0.7.5` released in the master branch.

I think the official documentation should stay in tag `0.7.5` instead of `master` branch.

I mentioned about this in slack channel `#random`.

[2017-10-20 15:31] jfwilkus opened #1094 "md-list-item highlighted after route transition"
### Steps to reproduce

I'm working on a Cordova app using Vue, Vue Router and Vue Material. Whenever I transition between between routes and if the new route contains an md-list-item in the position of the screen touch of the last route then the md-list-item is highlighted.

I've tried adding `document.activeElement.blur()` to my route transition hoping to clear the touch position but that didn't

[2017-10-22 00:05] xxRockOnxx opened #1095 "[Bug] Onboarding automatic mode, clicked dot active state not removed."
### Steps to reproduce
Go to [demo page](http://vuematerial.io/#/components/onboarding)

### Which browser?

Chrome/Firefox GNOME

### What is expected?
After a dot is clicked and moved to the next page, it's active state should be gone.

### What is actually happening?
When a dot is clicked, active state remains even if the page changes unless you click outside the dots to remove the focus.

[2017-10-23 06:38] ansonhorse commented on #1093
Anybody else meet this problem?

[2017-10-23 06:48] Samuell1 commented on #1093
Looks like issue with chrome, this is gif from firefox nightly
![2017-10-23_08-47-31](https://user-images.githubusercontent.com/3110002/31875530-e13e58a4-b7ce-11e7-9f93-0eca020e6287.gif)

[2017-10-23 08:39] Linzdigr opened #1097 "[md-select] in md-dialog stays open"
### Steps to reproduce
Implement an md-select into a md-dialog, then open the select and close the dialog by clicking outside of it.

### Which browser?
Chrome latest

### What is expected?
The whole to be closed and disappear.

### What is actually happening?
The modal is closed but the select menu stays open until you click one of its items.

Is there a way to provide a close event on the md-sel

[2017-10-24 01:29] VdustR commented on #1097
Could you reproduce it in [codepen](https://codepen.io)?

The select menu would be closed at the first click before closing the dialog.

Here is my [code](https://codepen.io/VdustR/pen/BweOXb).

[2017-10-24 08:13] Linzdigr commented on #1097
Thanks for your time it helps me to understand, actually the backdrop was not filling all the display because of a `height: 100%` set to `body` ..
Deleting this solved this issue.

Thanks again ;)

[2017-10-24 08:13] #1097 closed

[2017-10-24 10:04] Aymkdn opened #1099 "[snackbar] "TypeError: Object doesn't support this action" in IE11"
### Steps to reproduce
Go to the documentation website [http://vuematerial.io/#/components/snackbar](http://vuematerial.io/#/components/snackbar) into IE11.
Open the web console (F12).
The console says:
[code]

### Which browser?

VueMaterial 0.7.5
Internet Explorer 11

### What is expected?

No warning message.

[2017-10-24 15:56] #1054 closed

[2017-10-24 15:57] #1095 closed

[2017-10-24 17:07] aokihu commented on #1081
Hi, the projects is awesome, but why do you want  deprecate theme component? It is easy to use, if it turn to SASS, it will be so difficult to use

[2017-10-24 17:31] marcosmoura commented on #1081
@aokihu I'm not going to deprecate the theme component. There is some reasons why I changed this:
The main changes was related to Performance, SSR Needs and Caching.

- SSR. Period.
- The theme engine, inside Vue code, will remain the same. We will still have the `md-theme` component and `md-theme` attributes. It is the same that we have today.
- The initial parse of themes on the initial payload,

[2017-10-24 17:37] marcosmoura commented on #1081
Take a look at this issues, specially the #796:
#996 #947 #912 #831

[2017-10-24 17:37] #1081 closed

[2017-10-24 17:56] marcosmoura commented on #1081
It is easy to generate themes with scss:
[code]

With css only is way easier!
:root {
  --md-theme-default-primary: #448aff;
  --md-theme-default-accent: #c2185b;
}

[2017-10-24 19:51] marcosmoura commented on #1092
I released a new version today. It was mistakenly upload from master. Should be stable now!
Shame on me!

[2017-10-24 19:51] #1092 closed

[2017-10-25 00:22] #1076 closed

[2017-10-25 00:33] aokihu commented on #1081
Hey, your method is better than MUSE-UI, that is too difficult to use, so I choose your's project to use

[2017-10-25 01:18] alexwohlbruck opened #1100 "Generate color theme from image"
An API built-in to Vue Material that extracts a color palette and theme from a given image ([Palette, Android](https://developer.android.com/training/material/palette-colors.html)) would be super useful. Right now the only JS library that does this is [Vibrant.js](https://jariz.github.io/vibrant.js), but it's frankly not very good compared to Android's native implementation of this. I think this f

[2017-10-25 01:27] marcosmoura commented on #1100
This is a great idea. I started to explore something in this area. Right now, what we have is the ability to pick the correct ratio of bightness/constrast of an image and decide if we need to show a gradient background or not. This is implemented inside cards logic. I will definitely take a look at some implementations about that. I do not plan to use another framework inside Vue Material, to bloa

[2017-10-25 01:39] isafesoft commented on #1081
Great!
Could you accelerate the release of 1.0.0 new version?
I am waiting for the datetime picker.
Further more, could I make the Chinese translation for you?

[2017-10-25 01:47] marcosmoura commented on #1081
@isafesoft
The new release will be available in November. First week. The Datepicker will be available, but the time picker will be delayed to 1.1.0.
And YES! Of course you can help. That would be awesome!

[2017-10-25 04:39] HelloDeadline commented on #873
Hi @pablohpsilva
I have similar case - I need to place checkboxes to the right. The reason is that first column will contain small images (avatars) and I want to balance visual weight.
I think that it is great to follow strict guidelines, but it is also great to have and option to sometimes break rules :)

[2017-10-25 05:11] RedTn opened #1102 "0.8.0 MdIconButton color defaulting to black instead of white"
### Steps to reproduce
From 0.7.5 -> 0.8.0, it seems all the icon buttons are being rendered in black instead of white on a default toolbar theme.

      <md-toolbar>
      <md-button class="md-icon-button" @click="toggleLeftSidenav">
        <md-icon>menu</md-icon>
      </md-button>
      .....
      <md-button class="md-icon-button" @click="transition('users')">
        <md-icon>account_circle<

[2017-10-25 05:14] marcosmoura commented on #1102
#1101

[2017-10-25 05:14] #1102 closed

[2017-10-25 05:51] cars10 opened #1103 "Changelog?"
Hi, could you provide a changelog please? It's annoying to find out by trial & error what changed between the versions.

[2017-10-25 07:55] S9uare commented on #1066
This problem is not happening in 0.8.1.
Closing the ticket, thanks everyone's support

[2017-10-25 07:55] #1066 closed

[2017-10-25 07:57] IsaevMaksimDeveloper commented on #1081
Hi, my name is Max. I want to start contribute in Vue Material. Can anybody help me?

[2017-10-25 11:01] vjoao commented on #1081
How will it be the friction to change from 0.7.5 to 1.0.0? Many breaking changes on the API? I have an ongoing project with 0.7.5 and might be tempted to check 1.0.0 to use some better components.

[2017-10-25 14:46] deivan commented on #1081
I feel sad without Datepicker component.. could you add it?..

[2017-10-25 17:24] adefelicibus commented on #965
@marcosmoura Any ideas about it?

[2017-10-25 18:27] Samuell1 commented on #1081
@vjoao breaking changes will be only for components that are labeled `NEW API` or `NEW`

[2017-10-25 18:42] marcosmoura commented on #1081
I will release a migration guide comparing the components and features.

[2017-10-25 20:44] alxpez commented on #1103
It seems like the [changelog](http://vuematerial.io/#/changelog) got stuck on version 0.7.1

[2017-10-25 20:47] marcosmoura commented on #1103
I agree with you. I will provide the changelog for the new versions, with a automatic changelog.

[2017-10-25 20:50] alxpez commented on #1103
Nonetheless, great job @marcosmoura, really looking forward to see the 1.0.0 version!

[2017-10-25 20:53] marcosmoura commented on #1103
Two weeks!

[2017-10-25 20:58] iamdubx commented on #1081
Super exciting!!!

[2017-10-25 21:23] marcosmoura commented on #965
Let's discuss this a little bit. With the new 1.0.0 beta around the corner, we will have a new md-table component. This will introduce a new API, way easier to implement. At least I think it will be easier. For this particular feature, I was thing in something like this:
For multiple selections with checkboxes and a select action inside the entire row:
[code]
Or
[code]
-----

For single selection,

[2017-10-25 22:11] jacquescrocker commented on #698
I'm running into this issue also. The material css styles are pretty heavy handed. E.g
[code]

There needs to be a better way to scope these styles instead of applying it to the body automatically.

Anyone have a better solution to prevent md-theme component from adding `md-theme-default` to the body?

[2017-10-25 22:20] jacquescrocker commented on #698
I added this callback to my top level Vue app. It's a hack but whatever, I guess it works for now:

[code]

[2017-10-26 00:56] marcosmoura commented on #698
I have to say that in the new version we won't face those problems. We will have a toggle to disable the body class.
This class needs to be set to apply base styles to body tag itself. But there'll be a toggle configuration to change this behavior. True to add a body tag and false to bypass this. All components will be themed no matter what

[2017-10-26 02:49] VdustR commented on #1079
It happens because closing menu trigger button focused, and button focused make tooltip active.

I tried removing the focus and blur listener in the tooltip component, but still got issues.

![peek 2017-10-26 10-28](https://user-images.githubusercontent.com/29639463/32032220-92a0d138-ba38-11e7-88bc-2f79a55cbe41.gif)

And I think removing the menuTrigger focus event in the menu close method is not

[2017-10-26 04:44] GillesBodart commented on #1081
Waw cool I needed so much the date component, can we already use the beta ?

[2017-10-26 14:24] ryuhiro commented on #1081
How about translate to Indonesian too? xD

[2017-10-26 14:28] marcosmoura commented on #1081
@GillesBodart It will be available in November.

[2017-10-26 14:28] marcosmoura commented on #1081
@ryuhiro wow! Yes. Of course. That would be awesome!

[2017-10-26 19:23] akashdeep-singh commented on #1081
Hey, @marcosmoura. Thanks for the update and the extraordinary efforts. I have one question. Do you think this version could include #260 ?

[2017-10-26 20:09] marcosmoura commented on #1081
@akashdeep-singh Yes!

[2017-10-27 15:21] megrxu commented on #1100
I think this feature could be really impressive. 😋

[2017-10-28 05:09] migueldiganchi commented on #1081
How can I upgrade to the latest version?

Regards! (sorry about my english)

[2017-10-28 13:42] marcosmoura commented on #1081
It's not available yet. Soon! :D

[2017-10-28 21:54] mikestokes commented on #1081
We have a large social media application built on 0.7.5, very exciting news about 1.0 :) Very happy to help test in a migration from 0.7.5 -> 1.0

[2017-10-29 03:26] ansonhorse commented on #1093
@Samuell1 Thanks for the reply.
Actually this's an page on a chrome extension I wrote, so I've never tested it on other browsers before.

[2017-10-29 23:15] waratah opened #1105 "[MD-autocomplete] $el not defined"
### Steps to reproduce

[Vue warn]: Error in nextTick: "TypeError: Cannot read property 'value' of undefined"
found in
---> <MdAutocomplete>
I get a continual stream of these messages.

Unable to define exact context.  Collecting information here.  I am adding fields dynamically.

### Which browser?
Chrome

### What is expected?

Some sort of error...

### more information

This link may be releva

[2017-10-30 19:02] phil1996s opened #1106 "[md-autocomplete] Change direction of results menu"
Hi,

I want to show an autocomplete input field fixed at the bottom of the page. Now the menu with the autocomplete is shown always at bottom left, so how can I show the results in top of the input field?

@pablohpsilva

[2017-10-30 22:05] rayfoss commented on #1060
works on the stable 0.8.1, however the model needs to be pre initialized to an array. Initializing to null or undefined won't work

[2017-10-30 22:54] #1060 closed

[2017-10-31 18:50] xxRockOnxx commented on #1093
Tried pen on chrome. Looks good to me.

[2017-10-31 18:56] xxRockOnxx commented on #1088
What is `item.roles`? and `roles` also Can you provide more details?

[2017-10-31 19:01] Samuell1 commented on #1093
It can be missing GPU drivers

[2017-10-31 19:15] monochromatique commented on #1088
Thanks for replay. Nevermind anyway. Switch to vuetify solved many problems.

[2017-10-31 19:52] eyalcohen4 commented on #1081
Hey @marcosmoura! Great project. would love helping with bringing the beta live.
I'm going to start a project with vuematerial, will there be a big migration from 0.8.1 to 1.0?

[2017-10-31 20:38] marcosmoura commented on #1081
All the components that have `NEW` or `NEW API` will need an manual effort to migrate. I will create a migration guide to help with that.
The md-theme, md-table, md-steppers, md-autocomplete and others we're created from scratch. This is due to old implementations of Vue Material and to take advantage of newest features from Vue.js
Let me know if you have any questions! :D

[2017-10-31 21:39] gabemule opened #1108 "MD-Tabs double trigger on change"
When setting a md-tabs with @change event and md-tab with :md-active, the event runs twice, how to avoid It?

[2017-11-01 04:26] marcosmoura commented on #1081
### Release Date Announcement

Book it on your calendar. Vue Material 1.0 beta will be released in **08/11/2017**.

<sub><sub><sub><sup>I hope to be able to comply with this schedule, but if something goes wrong in the middle of the way, I'll let you know! </sup></sub></sub></sub>

[2017-11-02 04:04] hello-word-12138 commented on #1081
It is a great jop ,I am a chinese guy but poor in English.I want helped but I don't konw what can I do for it.

[2017-11-02 05:06] marcosmoura commented on #1081
@hello-word-12138 You can help testing the new version when it comes out. It will be a great start for you and you will help me a lot.
I need people to test this version more than ever. :smiley:

[2017-11-02 07:53] p0rsche commented on #960
+1 What is the status of this? I'm on 0.8.1 and the message still exists.

[2017-11-02 17:37] iamdubx commented on #1081
Count me in!

[2017-11-03 00:50] EthraZa commented on #1081
I've just started a [project](https://github.com/EthraZa/Borg-Data-Node) to learn Vue.js/Vue-Material and will port it at Vue-Material 1.0.0 launch day.

Vlw mano!

[2017-11-03 01:33] marcosmoura commented on #1081
@EthraZa Hey man. Tell me if you need anything, mano. Hahaha

[2017-11-03 08:26] rony13 opened #1110 "Ink Ripple doesn't work"
hi, my tools are:

- vue-material 0.8.1
- vue 2.4.2
- chrome, the latest version

i just follow the demo：
[code]
 but the ink ripple component doesn't work. BTW card-ripple works well
i have no idea of handling it, please give me a hand

[2017-11-03 13:52] GillesBodart commented on #1081
Same as @EthraZa I'm starting a dashboard project and I'll directly migrate it to 1.0.0 !! :)

[2017-11-03 19:30] EthraZa commented on #645
Is this happening yet?
I'm trying to do something like [this pen](https://codepen.io/zapping/pen/PKvPrP) but the table is losing the width and I can't find how to fix it.

[2017-11-03 19:41] marcosmoura commented on #645
This is already done in the new 1.0 that will come in couple days.

[2017-11-03 20:39] EthraZa commented on #645
Oh. Gonna stop wrestling it so. Thx

[2017-11-03 21:59] marcosmoura commented on #645
Join our Slack community. I will send you a video demo with this functionality :)

[2017-11-03 22:23] dima74 opened #1111 "Maybe error in example for md-gutter"
### Steps to reproduce
There is example of `md-gutter` in [layout docs](http://vuematerial.io/#/ui-elements/layout):

[code]
[Link to source code for this example](https://github.com/vuematerial/vue-material/blob/master/docs/src/pages/ui-elements/Layout.vue#L649-L657)

But this doesn't work: [codepen](https://codepen.io/dima74/pen/OONRKG).
However in [docs code](https://github.com/vuematerial/vue-

[2017-11-03 23:31] EthraZa commented on #645
Dude, I come back in shame. I looked at the manual, I searched at GihHub, I googled it! But can't find how to join a Slack community. The slack site says I need an invitation, what is kind of cumbersome, thinking about and comparing to Gitter. o.O

[2017-11-03 23:36] marcosmoura commented on #645
It is in README, but here it is:
https://join.slack.com/t/vuematerial/shared_invite/MTgzMzU2NDQ5ODkwLTE0OTQ4MDI3MDAtNWYyZjhkNzEzMA

[2017-11-03 23:36] #645 closed